Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 테스트 모드 감지 디버그 로깅 강화
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: E2E 테스트 쿠키 SameSite 설정 개선 (None → Lax)
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔍 debug: E2E 테스트 요청 인터셉션 추가 - 쿠키 전송 확인
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 대시보드 테스트 모드 접근 제어 버그 수정 - E2E 테스트 통과
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: E2E 테스트용 로딩 상태 스킵 추가 - Line 602
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🧪 test: E2E 셀렉터 불일치 수정 - data-testid 추가
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🧪 test: E2E helper 타이밍 개선 - networkidle 대기 및 타임아웃 증가
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: ensure Playwright cookie transmission (domain → url)
  tests/e2e/admin-mode-improved.spec.ts
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧪 test: E2E 테스트 인프라 개선 완료 (Phase 1-3)
  src/components/profile/components/AdminAuthModal.tsx
  src/components/profile/components/ProfileMenuItem.tsx
  src/components/shared/UnifiedProfileHeader.tsx
  tests/e2e/admin-mode-improved.spec.ts
  tests/e2e/admin-page-access.spec.ts
  tests/e2e/ai-assistant-button-test.spec.ts
  tests/e2e/ai-sidebar-simple.spec.ts
  tests/e2e/basic-frontend.spec.ts
  tests/e2e/comprehensive-ui-ux-test.spec.ts
  tests/e2e/comprehensive-user-flow.spec.ts
  tests/e2e/detailed-frontend-check.spec.ts
  tests/e2e/guest-mode-comprehensive.spec.ts
  tests/e2e/helpers/README.md
  tests/e2e/helpers/admin.ts
  tests/e2e/helpers/config.ts
  tests/e2e/helpers/timeouts.ts
  tests/e2e/helpers/ui-flow.ts
  tests/e2e/helpers/vercel-test-auth.ts
  tests/e2e/middleware-critical-bugfix.spec.ts
  tests/e2e/web-vitals-real.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: AI Wrapper 스크립트 및 Multi-AI MCP 서버 추가
  .mcp.json
  .nvmrc
  .vercelignore
  AGENTS.md
  CLAUDE.md
  docs/analysis/codex-timeout-analysis-2025-10-05.md
  docs/claude/environment/ai-tools-setup.md
  docs/claude/environment/mcp/mcp-configuration.md
  docs/claude/environment/multi-ai-strategy.md
  packages/multi-ai-mcp/.env.example
  packages/multi-ai-mcp/README.md
  packages/multi-ai-mcp/package-lock.json
  packages/multi-ai-mcp/package.json
  packages/multi-ai-mcp/src/ai-clients/codex.ts
  packages/multi-ai-mcp/src/ai-clients/gemini.ts
  packages/multi-ai-mcp/src/ai-clients/qwen.ts
  packages/multi-ai-mcp/src/config.ts
  packages/multi-ai-mcp/src/index.ts
  packages/multi-ai-mcp/src/synthesizer.ts
  packages/multi-ai-mcp/src/types.ts
  packages/multi-ai-mcp/src/utils/timeout.ts
  packages/multi-ai-mcp/src/utils/validation.ts
  packages/multi-ai-mcp/tests/synthesizer.test.ts
  packages/multi-ai-mcp/tests/timeout.test.ts
  packages/multi-ai-mcp/tests/validation.test.ts
  packages/multi-ai-mcp/tsconfig.json
  packages/multi-ai-mcp/vitest.config.ts
  scripts/ai-auto-recovery.sh
  scripts/ai-cli-verification.sh
  scripts/ai-cross-verification-real.sh
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/ai-subagents/qwen-wrapper.sh
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: Multi-AI MCP 사용 전략 및 설정 가이드 추가 (v5.80.0)
  CLAUDE.md
  package.json
  packages/multi-ai-mcp/CHANGELOG.md
  packages/multi-ai-mcp/README.md
  packages/multi-ai-mcp/SETUP-GUIDE.md
Due: prettier --write

🐛 fix: Multi-AI MCP 재시도 메커니즘 Critical 버그 4개 수정
  packages/multi-ai-mcp/src/__tests__/config.test.ts
  packages/multi-ai-mcp/src/__tests__/retry.test.ts
  packages/multi-ai-mcp/src/config.ts
  packages/multi-ai-mcp/src/utils/retry.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Qwen Wrapper v1.1.0 타임아웃 개선 및 문서 업데이트
  CLAUDE.md
  docs/claude/environment/ai-tools-setup.md
  docs/claude/environment/multi-ai-strategy.md
  scripts/ai-subagents/qwen-wrapper.sh
Due: prettier --write

📚 docs: Multi-AI MCP 타임아웃 개선 문서화
  packages/multi-ai-mcp/CHANGELOG.md
  packages/multi-ai-mcp/README.md
  packages/multi-ai-mcp/SETUP-GUIDE.md
  packages/multi-ai-mcp/TIMEOUT-IMPROVEMENTS.md
  packages/multi-ai-mcp/src/ai-clients/codex.ts
  packages/multi-ai-mcp/src/ai-clients/gemini.ts
  packages/multi-ai-mcp/src/ai-clients/qwen.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: Multi-AI MCP 우선 정책 및 서브에이전트 분석 완료
  CLAUDE.md
  docs/claude/architecture/ai-cross-verification.md
  docs/claude/subagent-analysis-2025-10-05.md
Due: prettier --write

♻️ refactor: API route 보안 및 복잡도 개선 (93→97/100)
  src/app/api/servers/all/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: Multi-AI MCP v1.2.0 히스토리 자동 저장 기능 추가
  packages/multi-ai-mcp/CHANGELOG.md
  packages/multi-ai-mcp/README.md
  packages/multi-ai-mcp/history/2025-09-12-ai-cross-verification-complete.md
  packages/multi-ai-mcp/history/2025-10-01-ai-verification-summary.md
  packages/multi-ai-mcp/history/2025-10-01-final-validation-report.md
  packages/multi-ai-mcp/history/2025-10-01-side-effect-analysis.md
  packages/multi-ai-mcp/history/2025-10-01-side-effects-analysis.md
  packages/multi-ai-mcp/history/2025-10-02-00-22-claude-code-v2.0.1.md
  packages/multi-ai-mcp/history/2025-10-02-01-13-performance-optimization-backfill-system.md
  packages/multi-ai-mcp/history/2025-10-02-01-24-test.md
  packages/multi-ai-mcp/history/2025-10-02-02-38-mcp-performance-security-enhancement.md
  packages/multi-ai-mcp/history/2025-10-02-11-33-vercel-test-system.md
  packages/multi-ai-mcp/history/2025-10-02-14-30-subagent-settings-verification.md
  packages/multi-ai-mcp/history/2025-10-02-21-27-v1.1.0-performance-optimization.md
  packages/multi-ai-mcp/history/2025-10-03-01-29-ai-api-auth-debug-cleanup.md
  packages/multi-ai-mcp/history/2025-10-05-15-14-multi-ai-mcp-retry-mechanism.md
  packages/multi-ai-mcp/history/README.md
  packages/multi-ai-mcp/history/ai-cross-verification-dashboard-access-2025-09-16.md
  packages/multi-ai-mcp/history/ai-cross-verification-typescript-types-2025-09-30.md
  packages/multi-ai-mcp/history/verification-index.json
  packages/multi-ai-mcp/package.json
  packages/multi-ai-mcp/src/config.ts
  packages/multi-ai-mcp/src/history/manager.ts
  packages/multi-ai-mcp/src/index.ts
  packages/multi-ai-mcp/src/utils/validation.ts
  packages/multi-ai-mcp/tests/validation.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: Multi-AI MCP 우선 정책 및 서브에이전트 분석 완료
  .claude/agents/multi-ai-verification-specialist.md
  .claude/agents/verification-recorder.md
  AGENTS.md
  CLAUDE.md
  docs/claude/architecture/ai-cross-verification.md
  docs/claude/environment/multi-ai-strategy.md
  docs/claude/environment/workflows.md
Due: prettier --write

♻️ refactor: 서버 메트릭 시스템 최적화 및 코드 정리
  src/lib/server-validation/ServerDataValidator.ts
  src/services/metrics/variation-generator.ts
  src/services/scenario/scenario-loader.ts
  src/types/server-metrics.ts
  src/utils/cache/file-cache.ts
  tests/api/servers-all-route.test.ts
  tests/api/servers/all.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: CLAUDE.md 최적화 (73% 감소) + Vercel OAuth 패치 반영
  CLAUDE.md
  docs/claude/environment/mcp/mcp-configuration.md
Due: prettier --write

⚡ perf: CLAUDE.md 균형점 최적화 (71% 토큰 절감)
  CLAUDE.md
Due: prettier --write

⚡ perf: Multi-AI MCP v1.7.0 디버깅 시스템 + Qwen 타임아웃 개선
  packages/multi-ai-mcp/CHANGELOG.md
  packages/multi-ai-mcp/package.json
  packages/multi-ai-mcp/src/config.ts
  packages/multi-ai-mcp/src/index.ts
  packages/multi-ai-mcp/tests/validation.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🗑️ chore: WSL 중복 스크립트 정리 + .wslconfig 최적화
  config/.wslconfig
  scripts/create-clean-wslconfig.bat
  scripts/fix-wslconfig.ps1
  scripts/mcp/mcp-health-check.sh
  scripts/optimize-wsl-config.ps1
  scripts/platform/run-wsl-script.ps1
  scripts/wslconfig-optimized-for-mcp.txt
Due: none

🐛 fix: Multi-AI MCP v2.0.0→v2.2.0 안정성 개선
  GEMINI.md
  QWEN.md
  packages/multi-ai-mcp/CHANGELOG.md
  packages/multi-ai-mcp/README.md
  packages/multi-ai-mcp/TROUBLESHOOTING.md
  packages/multi-ai-mcp/package.json
  packages/multi-ai-mcp/src/ai-clients/gemini.ts
  packages/multi-ai-mcp/src/ai-clients/qwen.ts
  packages/multi-ai-mcp/src/config.ts
  packages/multi-ai-mcp/src/history/manager.ts
  packages/multi-ai-mcp/src/index.ts
  packages/multi-ai-mcp/src/utils/retry.ts
  packages/multi-ai-mcp/src/utils/validation.ts
  packages/multi-ai-mcp/tests/validation.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Multi-AI 서브에이전트 역할 구분 명확화 + v2.3.0 문서화
  .claude/agents/multi-ai-verification-specialist.md
  docs/claude/architecture/ai-cross-verification.md
  packages/multi-ai-mcp/CHANGELOG.md
  packages/multi-ai-mcp/package.json
  packages/multi-ai-mcp/src/history/manager.ts
  packages/multi-ai-mcp/src/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 refactor: Multi-AI MCP v3.0.0 - 관심사 분리 (SoC) 아키텍처
  .claude/agents/multi-ai-verification-specialist.md
  docs/ai-verifications/README.md
  docs/ai-verifications/TEMPLATE.md
  docs/claude/architecture/ai-cross-verification.md
  packages/multi-ai-mcp/CHANGELOG.md
  packages/multi-ai-mcp/README.md
  packages/multi-ai-mcp/REMOVED/manager.ts
  packages/multi-ai-mcp/REMOVED/query-analyzer.ts
  packages/multi-ai-mcp/REMOVED/query-splitter.ts
  packages/multi-ai-mcp/REMOVED/synthesizer.ts
  packages/multi-ai-mcp/package.json
  packages/multi-ai-mcp/src/history/basic.ts
  packages/multi-ai-mcp/src/index.ts
  packages/multi-ai-mcp/src/types.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: Multi-AI MCP v3.0.0 문서 업데이트 (제거된 도구 참조 제거)
  docs/claude/architecture/ai-cross-verification.md
  docs/claude/environment/mcp/mcp-configuration.md
  docs/claude/environment/multi-ai-strategy.md
Due: prettier --write

🔧 fix: Multi-AI MCP v3.0.0 테스트 및 타임아웃 개선
  packages/multi-ai-mcp/src/utils/retry.ts
  packages/multi-ai-mcp/tests/synthesizer.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 perf: Multi-AI MCP v3.0.0 성능 및 안정성 개선
  packages/multi-ai-mcp/src/__tests__/config.test.ts
  packages/multi-ai-mcp/src/ai-clients/codex.ts
  packages/multi-ai-mcp/src/ai-clients/gemini.ts
  packages/multi-ai-mcp/src/ai-clients/qwen.ts
  packages/multi-ai-mcp/src/config.ts
  packages/multi-ai-mcp/src/utils/memory.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: Multi-AI MCP v3.0.0 검증 결과 문서화
  packages/multi-ai-mcp/docs/ai-verifications/2025-10-06-multi-ai-mcp-v3-validation.md
Due: prettier --write

♻️ refactor: Multi-AI MCP v3.1.0 - Unified Memory Guard Middleware
  docs/ai-verifications/2025-10-06-multi-ai-mcp-v3-validation.md
  packages/multi-ai-mcp/README.md
  packages/multi-ai-mcp/docs/ai-verifications/2025-10-06-unified-memory-guard-implementation.md
  packages/multi-ai-mcp/docs/ai-verifications/2025-10-06-unified-memory-guard-test.md
  packages/multi-ai-mcp/package.json
  packages/multi-ai-mcp/src/ai-clients/codex.ts
  packages/multi-ai-mcp/src/ai-clients/gemini.ts
  packages/multi-ai-mcp/src/ai-clients/qwen.ts
  packages/multi-ai-mcp/src/middlewares/memory-guard.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: Gemini CLI 호출 방식 수정 - OAuth 무료티어 지원
  packages/multi-ai-mcp/src/ai-clients/gemini.ts
  packages/multi-ai-mcp/src/config.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: AI 메모리 파일 최적화 + Gemini Pro → Flash fallback
  AGENTS.md
  GEMINI.md
  QWEN.md
  packages/multi-ai-mcp/src/config.ts
Due: eslint --fix --max-warnings 0, prettier --write

⚡ perf: Multi-AI MCP v3.1.0 테스트 최적화 + 성능 분석 완료
  packages/multi-ai-mcp/CHANGELOG.md
  packages/multi-ai-mcp/PERFORMANCE_ANALYSIS.md
  packages/multi-ai-mcp/TEST_OPTIMIZATION.md
  packages/multi-ai-mcp/src/__tests__/retry.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: Multi-AI MCP 통합 테스트 + 메모리 최적화 가이드
  packages/multi-ai-mcp/MCP_INTEGRATION_TEST_REPORT.md
  packages/multi-ai-mcp/MEMORY_OPTIMIZATION_GUIDE.md
Due: prettier --write

🤖 feat: Multi-AI MCP 교차검증 완료 + 4GB heap 효과 검증
  packages/multi-ai-mcp/AI_CROSS_VERIFICATION_RESULT.md
Due: prettier --write

📊 test: Multi-AI MCP 재테스트 완료 - 4GB heap 검증 + 타임아웃 이슈 분석
  packages/multi-ai-mcp/MCP_RETEST_RESULTS.md
Due: prettier --write

♻️ refactor: Memory Guard 개선 - Codex 권장사항 적용
  packages/multi-ai-mcp/src/middlewares/memory-guard.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: Multi-AI MCP v3.2.0 준비 - Rate Limit 회피 + 사후 검증 설계
  packages/multi-ai-mcp/ROADMAP_v3.2.0.md
  packages/multi-ai-mcp/src/ai-clients/qwen.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
