Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.83.3
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: remove Multimodal (Audio I/O) from roadmap - 불필요 판정
  docs/planning/TODO.md
  docs/planning/analysis/ai-architecture-report.md
Due: prettier --write

fix: resolve code review issues from AI review
  cloud-run/ai-engine/src/agents/analyst-agent.ts
  scripts/code-review/auto-ai-review.sh
Due: eslint --fix --max-warnings 0, prettier --write

refactor(feature-cards): 카드 설명 개선 및 과장 표현 수정
  src/components/shared/FeatureCardModal.tsx
  src/data/feature-cards.data.ts
  src/data/tech-stacks.data.ts
  src/utils/TechStackAnalyzer.database.ts
  src/utils/TechStackAnalyzer.parser.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove unused TechStackAnalyzer system (~1,500 lines)
  src/components/ui/TechStackDisplay.tsx
  src/utils/TechStackAnalyzer.analyzer.ts
  src/utils/TechStackAnalyzer.categories.ts
  src/utils/TechStackAnalyzer.database.ts
  src/utils/TechStackAnalyzer.parser.ts
  src/utils/TechStackAnalyzer.ts
  src/utils/TechStackAnalyzer.types.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(rag): add BM25 text search for hybrid Vector + Text + Graph RAG
  docs/planning/TODO.md
  src/services/rag/graph-rag-service.ts
  src/types/rag/graph-rag-types.ts
  supabase/migrations/20251219_add_bm25_text_search.sql
Due: eslint --fix --max-warnings 0, prettier --write

fix(migration): sync BM25 text search with deployed DB fixes
  supabase/migrations/20251219_add_bm25_text_search.sql
Due: none

fix(auth): resolve OAuth fetch error and guest login cookie issues
  src/lib/auth/auth-state-manager.ts
  src/lib/supabase/client.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): enhance PKCE error handling and add RAG table compatibility
  src/app/auth/callback/page.tsx
  src/app/auth/success/page.tsx
  src/app/login/LoginClient.tsx
  src/hooks/useSupabaseSession.ts
  src/services/rag/graph-rag-service.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): consume sessionStorage redirect target in OAuth callback
  src/app/auth/callback/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(auth): apply lint formatting to callback error handling
  src/app/auth/callback/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): add SVG mini charts to compact mode server cards
  src/components/dashboard/EnhancedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(migration): sync BM25 text search with deployed DB fixes
  supabase/migrations/20251218_unify_server_data_with_vercel.sql
Due: none

chore(cloud-run): remove redundant static data files (~3MB)
  .gitignore
  cloud-run/ai-engine/data/hourly-data/hour-00.json
  cloud-run/ai-engine/data/hourly-data/hour-01.json
  cloud-run/ai-engine/data/hourly-data/hour-02.json
  cloud-run/ai-engine/data/hourly-data/hour-03.json
  cloud-run/ai-engine/data/hourly-data/hour-04.json
  cloud-run/ai-engine/data/hourly-data/hour-05.json
  cloud-run/ai-engine/data/hourly-data/hour-06.json
  cloud-run/ai-engine/data/hourly-data/hour-07.json
  cloud-run/ai-engine/data/hourly-data/hour-08.json
  cloud-run/ai-engine/data/hourly-data/hour-09.json
  cloud-run/ai-engine/data/hourly-data/hour-10.json
  cloud-run/ai-engine/data/hourly-data/hour-11.json
  cloud-run/ai-engine/data/hourly-data/hour-12.json
  cloud-run/ai-engine/data/hourly-data/hour-13.json
  cloud-run/ai-engine/data/hourly-data/hour-14.json
  cloud-run/ai-engine/data/hourly-data/hour-15.json
  cloud-run/ai-engine/data/hourly-data/hour-16.json
  cloud-run/ai-engine/data/hourly-data/hour-17.json
  cloud-run/ai-engine/data/hourly-data/hour-18.json
  cloud-run/ai-engine/data/hourly-data/hour-19.json
  cloud-run/ai-engine/data/hourly-data/hour-20.json
  cloud-run/ai-engine/data/hourly-data/hour-21.json
  cloud-run/ai-engine/data/hourly-data/hour-22.json
  cloud-run/ai-engine/data/hourly-data/hour-23.json
  cloud-run/rust-inference/data/fixed-24h-data.json
Due: prettier --write

docs(architecture): add Data Architecture section with stateless Cloud Run design
  docs/architecture/hybrid_split.md
Due: prettier --write

style(login): improve UI/UX accessibility and visual hierarchy
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.83.4
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(lint): remove unused variables in dashboard-server-cards.spec.ts
  tests/e2e/dashboard-server-cards.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(e2e): improve type safety and standardize timeouts
  package-lock.json
  package.json
  tests/e2e/dashboard-ai-sidebar.spec.ts
  tests/e2e/dashboard-server-cards.spec.ts
  tests/e2e/helpers/network-monitor.ts
  tests/e2e/helpers/timeouts.ts
  tests/e2e/helpers/vercel-test-auth.ts
  tests/e2e/smoke.spec.ts
  tests/e2e/system-boot.spec.ts
  tests/e2e/test-runner.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(auth): add auth strategy utility for environment-based auth method
  src/lib/auth/auth-strategy.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): update Gemini models to 2.5 series for 2025 free tier
  src/app/api/ai/google-ai/generate/route.ts
  src/config/fallback-data.ts
  src/config/google-ai-usage-limits.ts
  src/hooks/api/useGoogleAIStatus.ts
  src/lib/ai/google-ai-client.ts
  src/lib/mock/providers/GoogleAIMock.ts
  src/modules/third-party-ai-chat/core/AIConversationManager.ts
  src/schemas/ai.schema.ts
  src/schemas/api.ai.schema.ts
  src/utils/dev-key-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: add comprehensive Gemini API 2025 model policy
  docs/AI_MODEL_POLICY.md
  scripts/test-gemini-models.mjs
Due: prettier --write

refactor(ai): update all Gemini model references to 2.5-flash
  .github/workflows/simple-deploy.yml
  cloud-run/ai-engine/src/config/models.ts
  cloud-run/ai-engine/src/lib/model-config.ts
  src/components/unified-profile/components/ProfileAvatar.tsx
  src/config/ai-engine.ts
  src/config/google-ai-usage-limits.ts
  tests/TESTING.md
  tests/e2e/dashboard-server-cards.spec.ts
  tests/e2e/smoke.spec.ts
  tests/e2e/system-boot.spec.ts
  tests/integration/ai-metrics-integration.test.ts
  tests/setup/env-setup.js
  tests/setup/env-template.env
Due: eslint --fix --max-warnings 0, prettier --write

docs(ai): add Groq Cloud (Llama 3) model section to AI_MODEL_POLICY
  docs/AI_MODEL_POLICY.md
Due: prettier --write

chore(cleanup): remove broken archive/deprecated tests and legacy code
  archive/deprecated/ai-sidebar-v3/AISidebarV3.test.tsx
  archive/deprecated/ai-sidebar-v3/AISidebarV3.tsx
  archive/deprecated/ai-sidebar-v3/DEPRECATION_NOTICE.md
  archive/deprecated/metrics-generation-systems/DEPRECATION_NOTICE.md
  archive/deprecated/metrics-generation-systems/legacy-hourly-system/README.md
  archive/deprecated/metrics-generation-systems/legacy-hourly-system/generate-hourly-metrics.js
  archive/deprecated/metrics-generation-systems/legacy-simple-cycle/generate-static-metrics-standalone.ts
  archive/deprecated/metrics-generation-systems/legacy-simple-cycle/generate-static-metrics.js
Due: eslint --fix --max-warnings 0, prettier --write

refactor(test): apply co-location pattern for unit tests
  src/components/__snapshots__/ProgressLabel.test.tsx.snap
  src/components/__snapshots__/StatusIcon.test.tsx.snap
  src/components/ai/AIAssistantIconPanel.test.tsx
  src/components/ai/AIWorkspace.test.tsx
  src/components/ai/MonitoringResults.test.tsx
  src/components/ai/ResultCard.test.tsx
  src/components/ai/ThinkingProcessVisualizer.test.tsx
  src/components/dashboard/AIAssistantButton.test.tsx
  src/components/dashboard/DashboardAIInteraction.test.tsx
  src/components/dashboard/EnhancedServerModal.test.tsx
  src/components/dashboard/ImprovedServerCard.test.tsx
  src/components/dashboard/ProgressLabel.test.tsx
  src/components/dashboard/ServerDashboard.integration.test.tsx
  src/components/dashboard/StatusIcon.test.tsx
  src/config/config.test.ts
  src/config/env.test.ts
  src/config/fallback-data.test.ts
  src/config/serverConfig.test.ts
  src/hooks/useAIChatSync.test.ts
  src/hooks/useDataRetention.test.ts
  src/hooks/useFixed24hMetrics.test.ts
  src/hooks/useServerDashboard.test.ts
  src/hooks/useUserPermissions.test.ts
  src/lib/auth/auth-state-manager.test.ts
  src/lib/auth/auth-strategy.test.ts
  src/lib/cache/cache-helper.test.ts
  src/lib/error-handler.test.ts
  src/lib/errorHandler.test.ts
  src/lib/project-meta.test.ts
  src/lib/utils/time.test.ts
  src/safe-format.test.ts
  src/services/IntelligentMonitoringService.test.ts
  src/utils/environment-security.test.ts
  src/utils/metricValidation.test.ts
  src/utils/type-guards.test.ts
  src/utils/utils-functions.test.ts
  src/validators/paginationQuerySchema.test.ts
  tests/api/api-contract.test.ts
  tests/unit/utils-functions.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(test): remove legacy __tests__ directories
  src/components/dashboard/__tests__/DashboardAIInteraction.test.tsx
  src/hooks/__tests__/useFixed24hMetrics.test.ts
  src/lib/auth/__tests__/auth-state-manager.test.ts
  src/utils/__tests__/metricValidation.test.ts
  src/utils/__tests__/utils-functions.test.ts
  tests/TESTING.md
Due: eslint --fix --max-warnings 0, prettier --write

docs: reorganize documentation structure
  docs/archive/completed/2025-09-e2e-dom-structure-analysis.md
  docs/archive/completed/2025-09-pin-authentication-test-scenario.md
  docs/archive/completed/2025-10-11-multi-ai-mcp-removal-qa-test.md
  docs/archive/completed/coverage-analysis-report.md
  docs/archive/completed/guest-mode-e2e-test-report.md
  docs/archive/testing/vercel-manual-test-guide.md
  docs/core/architecture/hybrid_split.md
  docs/core/architecture/infrastructure/cloud_run_cost_analysis.md
  docs/core/architecture/infrastructure/rust-ml-service.md
  docs/environment/wsl/wsl-setup-guide.md
Due: prettier --write

docs(testing): update and consolidate test documentation
  docs/development/testing/README.md
  docs/development/testing/StaticDataLoader-테스트-보고서.md
  docs/development/testing/admin-mode-manual-test-guide.md
  docs/development/testing/co-location-guide.md
  docs/development/testing/subagent-integration-summary.md
  docs/development/testing/system-consistency-analysis-report.md
  docs/development/testing/test-infrastructure-summary.md
  docs/development/testing/test-strategy-guide.md
  docs/development/testing/universal-vitals-setup-guide.md
  docs/development/testing/universal-vitals-summary.md
  docs/development/testing/vercel-first-strategy.md
  docs/development/testing/vitest-playwright-config-guide.md
Due: prettier --write

chore(config): update test configuration for co-location
  config/testing/vitest.config.minimal.ts
  src/mocks/handlers/nextjs/api-routes.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(core/architecture): add frontmatter to architecture docs
  docs/core/architecture/MEMORY-REQUIREMENTS.md
  docs/core/architecture/db/optimization.md
  docs/core/architecture/db/queries.md
  docs/core/architecture/db/schema.md
  docs/core/architecture/domain-driven-design.md
  docs/core/architecture/module-structure.md
  docs/core/architecture/react-hooks-standards.md
Due: prettier --write

docs(development/ai): add frontmatter to AI documentation
  docs/development/ai/README.md
  docs/development/ai/claude-code/README.md
  docs/development/ai/claude-code/subagents-complete-guide.md
  docs/development/ai/claude-code/weekly-subagent-reminder.md
  docs/development/ai/common/README.md
  docs/development/ai/common/ai-benchmarks.md
  docs/development/ai/common/ai-coding-standards.md
  docs/development/ai/common/ai-collaboration-architecture.md
  docs/development/ai/common/ai-usage-guidelines.md
  docs/development/ai/common/ai-wrappers-guide.md
  docs/development/ai/common/cli-strategy.md
  docs/development/ai/common/verification.md
  docs/development/ai/common/workflow.md
Due: prettier --write

docs(development/mcp): add frontmatter to MCP documentation
  docs/development/mcp/README.md
  docs/development/mcp/advanced.md
  docs/development/mcp/mcp-configuration.md
  docs/development/mcp/mcp-priority-guide.md
Due: prettier --write

docs(development/standards): add frontmatter to standards docs
  docs/development/standards/commit-conventions.md
  docs/development/standards/documentation-standard.md
  docs/development/standards/git-hooks-best-practices.md
  docs/development/standards/health-check-policy.md
  docs/development/standards/typescript-rules.md
Due: prettier --write

docs(development): add frontmatter to workflows and guides
  docs/development/FRAMEWORK_UPGRADE_CHECKLIST.md
  docs/development/README.md
  docs/development/claude-code-v2.0.31-best-practices.md
  docs/development/claude-workflow-guide.md
  docs/development/documentation-automation.md
  docs/development/playwright-mcp-setup-guide.md
  docs/development/pm2-workflow-guide.md
  docs/development/serena-anti-pattern-detection.md
  docs/development/side-effects-optimization-guide.md
  docs/development/workflows/auto-code-review.md
  docs/development/workflows/progressive-lint-guide.md
Due: prettier --write

docs(planning): add frontmatter to planning documents
  docs/planning/README.md
  docs/planning/TODO.md
  docs/planning/analysis/README.md
  docs/planning/analysis/ai-architecture-report.md
  docs/planning/analysis/ai-tool-comparison.md
  docs/planning/analysis/component-interaction.md
  docs/planning/analysis/ui-ux-analysis.md
  docs/planning/document-inspection-plan-2025-12-19.md
Due: prettier --write

docs: add best-practices and ops documentation
  docs/development/best-practices/WSL_VIBE_CODING_BEST_PRACTICES.md
  docs/ops/testing/403-authentication-fix-v2.md
  docs/ops/testing/README.md
  docs/ops/testing/TESTING.md
  docs/ops/testing/co-location-guide.md
  docs/ops/testing/e2e-testing-guide.md
  docs/ops/testing/local-test-limitations.md
  docs/ops/testing/msw-guide.md
  docs/ops/testing/react-component-testing-guide.md
  docs/ops/testing/subagent-integration-summary.md
  docs/ops/testing/subagent-testing-guide.md
  docs/ops/testing/supertest-integration-guide.md
  docs/ops/testing/test-strategy-guide.md
  docs/ops/testing/test-templates.md
  docs/ops/testing/testing-philosophy-detailed.md
  docs/ops/testing/type-level-testing-guide.md
  docs/ops/testing/universal-vitals-setup-guide.md
  docs/ops/testing/vercel-ai-testing-guide.md
  docs/ops/testing/vercel-first-strategy.md
  docs/ops/testing/vitest-playwright-config-guide.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
