Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix(deploy): CEREBRAS_API_KEY secret 추가
  cloud-run/ai-engine/deploy.sh
Due: none

feat(ai-engine): RCA + Capacity Agent 구현 완료
  cloud-run/ai-engine/.dockerignore
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/src/agents/capacity-agent.ts
  cloud-run/ai-engine/src/agents/rca-agent.ts
  cloud-run/ai-engine/src/agents/reporter-agent.ts
  cloud-run/ai-engine/src/lib/model-config.ts
  cloud-run/ai-engine/src/lib/shared-context.ts
  cloud-run/ai-engine/src/lib/state-definition.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): Tool calling 오류 감지 및 Groq 폴백 추가
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai-engine): DuckDuckGo → Tavily 웹검색 교체 + 시크릿 그룹화
  cloud-run/ai-engine/deploy.sh
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/lib/config-parser.ts
  cloud-run/ai-engine/src/tools/web-search.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): getUpstashConfig()에 KV_CONFIG 우선 참조 추가
  cloud-run/ai-engine/src/lib/config-parser.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai-engine): Phase 5.2 Agent Dependency System 구현
  cloud-run/ai-engine/src/lib/checkpointer.ts
  cloud-run/ai-engine/src/lib/shared-context.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  docs/ai-model-policy.md
  docs/core/architecture/ai/ai-engine-architecture.md
  docs/development/ai/multi-agent-redesign-plan.md
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai-engine): Supervisor 프롬프트 의존성 규칙 강화
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  docs/development/ai/multi-agent-redesign-plan.md
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai-engine): LangGraph 최적화 - 데드코드 제거 및 캐싱 추가
  cloud-run/ai-engine/src/lib/checkpointer.ts
  cloud-run/ai-engine/src/lib/nlq-state.test.ts
  cloud-run/ai-engine/src/lib/nlq-state.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  cloud-run/ai-engine/src/services/langgraph/nlq-subgraph.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(ai): Phase 5.6 LangGraph 최적화 문서 추가
  docs/development/ai/multi-agent-redesign-plan.md
Due: prettier --write

chore(deploy): Cloud Run 리비전 정리 추가 및 Dockerfile v2.1
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/deploy.sh
Due: none

fix(ai-engine): Reporter 프롬프트 DuckDuckGo → Tavily 수정
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: v5.91.0 아키텍처 문서 업데이트
  docs/core/architecture/ai/ai-engine-architecture.md
  docs/status.md
Due: prettier --write

feat(ai-engine): Phase 5.7 하이브리드 Verifier 검증 전략 구현
  cloud-run/ai-engine/src/agents/verifier-agent.ts
  cloud-run/ai-engine/src/lib/state-definition.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai-engine): Langfuse 제거 - createReactAgent 콜백 전파 제한
  cloud-run/.env.example
  cloud-run/ai-engine/README.md
  cloud-run/ai-engine/deploy.sh
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/lib/config-parser.ts
  cloud-run/ai-engine/src/lib/langfuse-handler.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  cloud-run/ai-engine/src/types/langfuse-langchain.d.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: 오래된 Langfuse 구현 계획 문서 삭제
  docs/plans/promptfoo-langfuse-implementation-plan.md
Due: prettier --write

docs: AI Engine 개선 작업 계획서 v5.84 작성
  docs/plans/ai-engine-improvement-plan-v5.84.md
Due: prettier --write

feat(ai-engine): Precomputed State 최적화 구현
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/agents/analyst-agent.ts
  cloud-run/ai-engine/src/agents/capacity-agent.ts
  cloud-run/ai-engine/src/agents/nlq-agent.ts
  cloud-run/ai-engine/src/agents/rca-agent.ts
  cloud-run/ai-engine/src/data/fixed-24h-metrics.ts
  cloud-run/ai-engine/src/data/precomputed-state.ts
  cloud-run/ai-engine/src/server.ts
  cloud-run/ai-engine/src/services/scenario/scenario-loader.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(ai-engine): precomputed states 빌드 스크립트 추가
  cloud-run/ai-engine/scripts/build-precomputed-states.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(scripts): 서버 데이터 동기화 스크립트 추가
  scripts/sync-server-data.sh
  scripts/test-data-consistency.sh
Due: none

feat(ai-engine): @ai-sdk-tools/agents 기반 멀티-에이전트 시스템 구현
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/lib/cache-layer.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/advisor-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/analyst-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/index.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/nlq-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/reporter-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/model-provider.ts
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
  cloud-run/ai-engine/tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

docs(ai-engine): v5.92.0 아키텍처 문서 및 테스트 최신화
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.test.ts
  docs/core/architecture/ai/ai-engine-architecture.md
  docs/development/ai/TODO.md
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai-engine): 데드 코드 8개 파일 제거
  cloud-run/ai-engine/src/lib/cache-monitor.ts
  cloud-run/ai-engine/src/lib/circuit-breaker.ts
  cloud-run/ai-engine/src/lib/errors.ts
  cloud-run/ai-engine/src/lib/hybrid-cache.ts
  cloud-run/ai-engine/src/lib/metrics/variation-generator.ts
  cloud-run/ai-engine/src/lib/shared-context.ts
  cloud-run/ai-engine/src/lib/utils/type-converters.ts
  cloud-run/ai-engine/src/server-simple.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai-engine): 라우트 모듈화 및 에러 핸들링 통합
  cloud-run/ai-engine/src/lib/error-handler.ts
  cloud-run/ai-engine/src/routes/analytics.ts
  cloud-run/ai-engine/src/routes/approval.ts
  cloud-run/ai-engine/src/routes/embedding.ts
  cloud-run/ai-engine/src/routes/generate.ts
  cloud-run/ai-engine/src/routes/graphrag.ts
  cloud-run/ai-engine/src/routes/index.ts
  cloud-run/ai-engine/src/routes/supervisor.ts
  cloud-run/ai-engine/src/server.ts
  cloud-run/ai-engine/src/types/api-response.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(docker): BuildKit mount syntax 제거 - Cloud Build 호환성
  cloud-run/ai-engine/Dockerfile
Due: none

fix(deps): package-lock.json 동기화 (redis 의존성)
  cloud-run/ai-engine/package-lock.json
Due: prettier --write

fix(agents): Graceful degradation - API 키 없을 때 서버 시작 실패 방지
  cloud-run/ai-engine/src/services/ai-sdk/agents/advisor-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/analyst-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/nlq-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/reporter-agent.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(model-provider): config-parser의 중앙집중식 API 키 getter 사용
  cloud-run/ai-engine/src/services/ai-sdk/model-provider.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(supervisor): Cloud Run JSON 응답 처리 - 스트리밍 파서 대신 JSON 직접 처리
  src/app/api/ai/supervisor/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(api): incident-report API에서 supabaseAdmin 사용
  src/app/api/ai/incident-report/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: 코드 품질 개선 및 deprecated 엔드포인트 정리
  scripts/test-ai-endpoints.sh
  src/app/api/ai/korean-nlp/route.ts
  src/app/api/ai/ml-analytics/route.ts
  src/app/api/auth/debug/route.ts
  src/components/dashboard/DashboardContent.tsx
  src/types/next.d.ts
  src/types/styled-jsx.d.ts
Due: eslint --fix --max-warnings 0, prettier --write

upgrade: Next.js 16.1.1 (stable) 업그레이드
  package-lock.json
  package.json
  src/app/api/ai/approval/route.ts
  src/app/api/ai/supervisor/route.ts
  src/app/api/dashboard/route.ts
  src/lib/supabase/middleware.ts
  src/types/next.d.ts
  src/utils/supabase/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: Biome 경고 해결 - 미사용 import/function 정리
  src/app/api/ai/supervisor/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: 코드 품질 개선 - 불필요한 파일 및 주석 정리
  src/types/supabase.ts
  src/utils/metricValidation.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: stale TODO 정리 및 설계 문서화
  src/services/metrics/EnrichedMetricsGenerator.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: TODO 주석 정리 및 코드 간소화
  src/components/error/ServerCardErrorBoundary.tsx
  src/lib/redis/circuit-breaker.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: 작업 계획서 정리 및 가이드 수립
  .gitignore
  docs/development/ai/TODO.md
  reports/README.md
  reports/planning/README.md
  reports/planning/TODO.md
  reports/planning/analysis/README.md
  reports/planning/analysis/ai-architecture-report.md
  reports/planning/analysis/ai-assistant-static-analysis-2025-12-23.md
  reports/planning/analysis/ai-tool-comparison.md
  reports/planning/analysis/component-interaction.md
  reports/planning/analysis/inspection-report-2025-12-18.md
  reports/planning/analysis/ui-ux-analysis.md
  reports/planning/archive/2025-12/completed/ai-engine-improvement-plan-v5.84.md
  reports/planning/archive/2025-12/completed/architecture-improvements-plan.md
  reports/planning/archive/2025-12/completed/context-compression-implementation-plan.md
  reports/planning/archive/2025-12/completed/job-queue-implementation-plan.md
  reports/planning/archive/2025-12/completed/langchain-to-vercel-ai-sdk-migration-plan.md
  reports/planning/archive/2025-12/completed/multi-agent-redesign-plan.md
  reports/planning/archive/2025-12/completed/upstash-redis-integration-plan.md
  reports/planning/archive/2025-12/docs-structure-improvement-plan-2025-12-19.md
  reports/planning/archive/2025-12/document-inspection-plan-2025-12-19.md
  reports/planning/archive/2025-12/improvement-workplan-2025-12-18.md
  reports/planning/archive/2025-12/templates/work-plan-template.md
Due: prettier --write

refactor(ui): LangGraph 표현을 AI SDK로 업데이트
  src/app/page.tsx
  src/data/feature-cards.data.ts
  src/data/tech-stacks.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(data): 데이터 파일 테스트 추가
  src/data/__tests__/feature-cards.data.test.ts
  src/data/__tests__/tech-stacks.data.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(rag): 프로젝트 특화 RAG 지식베이스 개선
  config/ai/registry-core.yaml
  src/scripts/seed-knowledge-base.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
