Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.83.7
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai-ui): add ChatGPT-style UX features to AI chat
  src/app/api/ai/feedback/route.ts
  src/components/ai/AIWorkspace.tsx
  src/components/ai/MarkdownRenderer.tsx
  src/components/ai/MessageActions.tsx
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(rust-inference): add feedback analysis API endpoints
  cloud-run/rust-inference/src/handlers/feedback.rs
  cloud-run/rust-inference/src/handlers/mod.rs
  cloud-run/rust-inference/src/main.rs
  cloud-run/rust-inference/src/ml/feedback.rs
  cloud-run/rust-inference/src/ml/mod.rs
Due: none

feat(auth): add Google OAuth login support
  docs/core/ai/ai-architecture.md
  docs/core/architecture/ai/ai-engine-architecture.md
  docs/core/architecture/ai/ai-routing-architecture.md
  docs/development/testing/vercel-ai-testing-guide.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/ai/feedback/route.ts
  src/app/login/LoginClient.tsx
  src/app/main/components/LoginPrompt.tsx
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/AIWorkspace.tsx
  src/components/ai/MarkdownRenderer.tsx
  src/components/auth/GoogleLoginButton.tsx
  src/components/shared/UnifiedProfileHeader.tsx
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/lib/auth/supabase-auth.ts
  tests/e2e/ai-fullscreen.spec.ts
  tests/e2e/error-boundary.spec.ts
  tests/e2e/helpers/README.md
  tests/e2e/helpers/ui-flow.ts
  tests/e2e/helpers/vercel-test-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

style: apply Biome formatting fixes
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor: remove unused imports and parameters
  src/app/login/LoginClient.tsx
  src/components/ai/MarkdownRenderer.tsx
  src/components/auth/GoogleLoginButton.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(login): 로그인 페이지 다크 슬레이트 디자인 적용
  next.config.mjs
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(useSystemStart): React 렌더링 규칙 준수하여 router.push 분리
  src/app/main/hooks/useSystemStart.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(EnhancedServerCard): compact 모드 차트 레이아웃 개선 (4열→2열)
  src/components/dashboard/EnhancedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(dashboard): UI/UX 대대적 최적화 - 공간 효율성 향상
  src/components/dashboard/DashboardContent.tsx
  src/components/dashboard/DashboardSummary.tsx
  src/components/dashboard/EnhancedServerCard.tsx
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(dashboard): Biome 자동 포맷팅 적용 (들여쓰기 정리)
  src/components/dashboard/DashboardContent.tsx
  src/components/dashboard/DashboardSummary.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): Hydration 불일치 및 접근성 이슈 수정
  src/components/dashboard/DashboardContent.tsx
  src/components/dashboard/EnhancedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-tools): nvm prefix 충돌 해소 로직 추가
  scripts/ai/health/ai-tools-auto-update.sh
  scripts/ai/health/check-ai-tools-updates.sh
Due: none

fix(test): 테스트 키 길이 수정 및 스냅샷 업데이트
  src/components/dashboard/__snapshots__/ProgressLabel.test.tsx.snap
  src/components/dashboard/__snapshots__/StatusIcon.test.tsx.snap
  src/utils/environment-security.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(tests): clean up failing tests and reorganize scripts
  config/testing/vitest.config.main.ts
  scripts/ai/health/ai-tools-health-check.sh
  scripts/check-mcp-env.js
  scripts/dev/cleanup-ports.sh
  scripts/docs/generate-diagrams.sh
  scripts/generators/generate-hourly-failure-scenarios.ts
  scripts/generators/generate-server-data.ts
  scripts/maintenance/fix-floating-promises.sh
  scripts/maintenance/fix-unused-imports.sh
  scripts/test-chrome-fedcm.mjs
  scripts/test-gemini-models.mjs
  src/components/ai/AIAssistantIconPanel.test.tsx
  src/components/dashboard/DashboardAIInteraction.test.tsx
  src/components/dashboard/ServerDashboard.integration.test.tsx
  src/hooks/useFixed24hMetrics.test.ts
  src/hooks/useServerDashboard.test.ts
  src/hooks/useUserPermissions.test.ts
  src/lib/auth/auth-state-manager.test.ts
  src/lib/errorHandler.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(security): improve API key masking in test scripts
  scripts/test-gemini-models.mjs
  scripts/test/tavily-key-loader.cjs
Due: none

fix(modal): 서버 상세 모달 콘텐츠 렌더링 버그 수정
  src/components/dashboard/EnhancedServerModal.tsx
  src/styles/globals.css
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove unused import
  src/components/dashboard/EnhancedServerModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(data): Vibe Coding 카드 정리
  src/data/tech-stacks.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(data): 히스토리에서 날짜 정보 제거
  src/data/tech-stacks.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(dashboard): 서버 카드 그리드 최소 너비 확장
  src/components/dashboard/VirtualizedServerList.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(hooks): pre-commit 문서/테스트 검증 제거
  .husky/pre-commit
Due: none

chore(hooks): pre-commit-doc-validation 스크립트 삭제
  .husky/pre-commit-doc-validation
Due: none

fix(scripts): 삭제된 subagent 스크립트 참조 제거
  package.json
Due: prettier --write

docs: 삭제된 subagent/hook 참조 정리
  docs/core/architecture/features/ai-system.md
  docs/core/architecture/features/mcp.md
  docs/development/ai/claude-code/best-practices.md
  docs/development/ai/common/ai-collaboration-architecture.md
  docs/development/ai/common/ai-wrappers-guide.md
  docs/development/documentation-automation.md
  docs/development/workflows/auto-code-review.md
Due: prettier --write

refactor: AI 래퍼/교차검증 용어 정리 및 폴더 구조 개선
  .claude/skills/ai-code-review/skill.md
  .claude/skills/ai-report-export/skill.md
  docs/core/architecture/system/mcp-connection-pool-optimization.md
  docs/development/ai/common/ai-usage-guidelines.md
  docs/development/ai/common/ai-wrappers-guide.md
  docs/development/ai/common/cli-strategy.md
  docs/development/mcp/advanced.md
  docs/environment/troubleshooting/system-recovery-guide-2025.md
  logs/ai-decisions/README.md
  scripts/ai-verification/README.md
  scripts/ai-wrappers/analyze-perf-logs.sh
  scripts/ai-wrappers/codex-wrapper.sh
  scripts/ai-wrappers/extract-summary.sh
  scripts/ai-wrappers/gemini-wrapper.sh
  scripts/ai-wrappers/qwen-wrapper.sh
  scripts/ai-wrappers/wrapper-verification-suite.sh
  scripts/ai/README.md
  scripts/ai/analysis/ai-review-stats.sh
  scripts/code-review/auto-ai-review.sh
  scripts/code-review/lib/ai-review-core.sh
  scripts/maintenance/monthly-wrapper-verification.sh
  scripts/update/smart-commit-with-review.js
  scripts/update/smart-pre-commit.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(deps): Biome Linux 전용 패키지를 devDependencies에서 제거
  package-lock.json
  package.json
Due: prettier --write

fix(security): 테스트 파일 및 가짜 키 패턴 제외
  scripts/env/check-hardcoded-secrets.js
Due: eslint --fix --max-warnings 0, prettier --write

refactor: 미사용 IntentClassifier 제거 및 아키텍처 문서 현행화
  docs/core/architecture/design/module-structure.md
  docs/core/architecture/system/system-architecture-current.md
  src/modules/ai-agent/processors/IntentClassifier.ts
  src/types/rule-based-engine.types.ts
  tests/integration/mcp-analysis.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(rate-limit): Cloud Run 무료 티어 최적화를 위한 일일 제한 추가
  src/app/api/ai/supervisor/route.ts
  src/lib/security/rate-limiter.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf(ai): LangGraph 에이전트 프롬프트 최적화 (토큰 비용 절감 + 타임아웃 방지)
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  docs/planning/TODO_AI_OPTIMIZATION.md
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.83.8
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(cloud-run): 환경변수 일관성 개선 및 시크릿 마운트 수정
  cloud-run/ai-engine/deploy.sh
  cloud-run/ai-engine/src/lib/checkpointer.ts
  src/env.ts
  src/lib/ai/google-ai-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai-engine): 이상탐지 알고리즘 6시간 윈도우로 최적화
  cloud-run/ai-engine/src/agents/analyst-agent.ts
  cloud-run/ai-engine/src/lib/ai/monitoring/SimpleAnomalyDetector.ts
  cloud-run/ai-engine/src/server.ts
  cloud-run/ai-engine/src/services/scenario/scenario-loader.ts
  src/app/api/ai/incident-report/route.ts
  src/app/api/ai/intelligent-monitoring/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(db): MetricsProvider SSOT 도입 및 미사용 테이블 정리
  scripts/supabase/cleanup-unused-tables.sql
  src/app/api/metrics/route.ts
  src/app/api/servers-unified/route.ts
  src/services/metrics/MetricsProvider.ts
  supabase/migrations/20250116_create_template_backup_tables.sql
  supabase/migrations/20250807_create_hourly_server_states.sql
  supabase/migrations/20251124_rate_limits_table.sql
  supabase/migrations/archived/20241213_langgraph_checkpoints.sql
  supabase/migrations/archived/20250807_create_hourly_server_states.sql
  supabase/migrations/archived/20251017_create_portfolio_server_tables.sql
  supabase/migrations/archived/20251017_seed_portfolio_server_data.sql
  supabase/migrations/archived/20251204_create_ml_training_results_table.sql
  supabase/migrations/archived/20251213_create_langgraph_checkpoints.sql
  supabase/migrations/archived/README.md
Due: eslint --fix --max-warnings 0, prettier --write

perf(api): 고정 메트릭 데이터용 CDN 캐시 최적화
  src/app/api/metrics/route.ts
  src/app/api/servers-unified/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(metrics): MetricsProvider 단위 테스트 추가 (28개)
  src/services/metrics/MetricsProvider.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): MetricsProvider 테스트 개선 (Codex 리뷰 반영)
  src/services/metrics/MetricsProvider.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: API 엔드포인트 마이그레이션 unified-stream → supervisor
  docs/api/endpoints.md
  docs/core/ai/README.md
  docs/core/ai/ai-architecture.md
  docs/core/architecture/ai/ai-assistant-sidebar-architecture.md
  docs/core/architecture/ai/ai-engine-architecture.md
  docs/core/architecture/ai/ai-routing-architecture.md
  docs/core/architecture/system/system-overview.md
  docs/development/ai/common/ai-benchmarks.md
  public/test-google-ai.html
  tests/api/core-endpoints.integration.test.ts
  tests/e2e/helpers/README.md
  tests/integration/basic-flow-e2e.test.ts
  tests/utils/mockEnterpriseHit.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
