Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix: useRealtimeServers 타입 에러 부분 개선
  src/hooks/api/useRealtimeServers.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: 📚 서브 에이전트 및 MCP 서버 문서 개선
  .claude/agents/central-supervisor.md
  CHANGELOG.md
  CLAUDE.md
  docs/technical/ai-engines/sub-agents-comprehensive-guide.md
Due: prettier --write

refactor: 서브에이전트 시스템 최적화 및 SimplifiedQueryEngine 안전성 개선
  .claude/agents/central-supervisor.md
  .claude/agents/code-review-specialist.md
  .claude/agents/debugger-specialist.md
  .claude/agents/quality-control-checker.md
  .claude/agents/structure-refactor-agent.md
  CHANGELOG.md
  CLAUDE.md
  docs/statusline-optimization-guide.md
  reports/sub-agents-improvement-report-2025-08.md
  src/services/ai/SimplifiedQueryEngine.processors.command.ts
  src/services/ai/SimplifiedQueryEngine.processors.local.ts
  src/services/ai/SimplifiedQueryEngine.utils.ts
  tests/unit/ai-engine-thinkingsteps-safety.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Claude Code 상태표시줄 설정 추가
  .claude/settings.json
Due: prettier --write

refactor: statusLine 설정을 ccusage statusline으로 변경
  .claude/settings.json
Due: prettier --write

fix: Vercel 배포 실패 해결 - Edge Runtime 호환성 개선
  src/app/api/ai/performance/benchmark/route.ts
  src/app/api/ai/query/route.ts
  src/app/api/cache/optimize/route.ts
  src/app/api/cache/stats/route.ts
  src/app/api/mcp/query/route.ts
  src/lib/unified-cache.ts
  src/services/ai/SimplifiedQueryEngine.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Claude Code statusLine 설정 최적화 및 문서 개선
  .claude/settings.json
  CLAUDE.md
  src/components/ai/ChatSection.tsx
  src/domains/ai-sidebar/components/AIEnhancedChat.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: ESLint 설정 최적화로 Husky 통과 가능하도록 개선
  eslint.config.mjs
Due: none

fix: ESLint 에러 실질적 해결 - 임시 조치 없이 코드 품질 개선
  eslint.config.mjs
  src/app/api/mcp/context-integration/sync/route.ts
  src/app/auth/callback/page.tsx
  src/app/auth/success/page.tsx
  src/app/layout.tsx
  src/app/main/page.optimized.tsx
  src/app/main/page.tsx
  src/app/page.tsx
  src/app/test/supabase-realtime/page.tsx
  src/components/admin/LogDashboard.LogViewer.tsx
  src/hooks/api/useRealtimeQueries.ts
  src/lib/utils-functions.ts
  src/mock/index.ts
  src/services/time/TimeRotationService.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: 구조적 문제 해결을 위한 리팩토링 Phase 1 시작
  src/core/events/SystemEventHandler.ts
  src/core/interfaces/SystemEventBus.ts
  src/services/ai/core/AIEngineInterface.ts
  src/services/ai/core/QueryProcessorBase.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: serverCommandsConfig.ts 모듈화 완료 (947줄 → 11개 파일)
  CHANGELOG.md
  CLAUDE.md
  src/config/commands/app-server-commands.ts
  src/config/commands/command-utils.ts
  src/config/commands/common-commands.ts
  src/config/commands/dangerous-patterns.ts
  src/config/commands/database-commands.ts
  src/config/commands/index.ts
  src/config/commands/storage-commands.ts
  src/config/commands/types.ts
  src/config/commands/web-server-commands.ts
  src/config/serverCommandsConfig.ts
  src/core/system/ProcessManager.refactored.ts
  src/core/system/SystemBootstrapper.ts
  src/core/system/SystemWatchdog.refactored.ts
  src/core/system/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: Phase 5 완료 - 클라우드 네이티브 모니터링 및 프로덕션 준비
  .claude/issues/gcp-vm-backend-analysis-2025-08-13.md
  .claude/issues/vercel-platform-analysis-2025-08-13-1848.md
  analyze-supabase-db.js
  detailed-db-analysis.js
  docs/performance-optimization-report.md
  execute-optimization.js
  optimize-supabase-security.sql
  package.json
  scripts/deploy-production.sh
  scripts/validate-env.js
  src/app/api/ai/edge-v2/route.ts
  src/app/api/ai/query/route.ts
  src/app/api/mcp/query/route.ts
  src/config/commands/command-utils.ts
  src/config/commands/index.ts
  src/domains/ai-sidebar/components/AIChatMessages.tsx
  src/domains/ai-sidebar/components/AIEngineDropdown.tsx
  src/domains/ai-sidebar/components/AISidebarV2.refactored.tsx
  src/domains/ai-sidebar/components/AIThinkingDisplay.tsx
  src/domains/ai-sidebar/components/index.ts
  src/domains/ai-sidebar/hooks/index.ts
  src/domains/ai-sidebar/hooks/useAIEngine.ts
  src/domains/ai-sidebar/hooks/useAIThinking.ts
  src/domains/ai-sidebar/index.ts
  src/domains/ai-sidebar/types/ai-sidebar-types.ts
  src/domains/ai-sidebar/types/index.ts
  src/domains/ai-sidebar/utils/aiQueryHandlers.ts
  src/domains/ai-sidebar/utils/index.ts
  tests/ai-sidebar/AIEngineSelector.test.tsx
  tests/ai-sidebar/ChatMessageItem.test.tsx
  tests/ai-sidebar/aiQueryHandlers.test.ts
  tests/ai-sidebar/useAIEngine.test.ts
  tests/api/ai-query.integration.test.ts
  tests/api/servers.integration.test.ts
  tests/e2e/basic-flow.e2e.test.ts
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: TypeScript 타입 에러 65개 해결
  src/domains/ai-sidebar/components/AISidebarV2.refactored.tsx
  src/hooks/api/useRealtimeServers.ts
  src/stores/useAISidebarStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 chore: 코드 품질 개선 - const 사용 및 타입 안전성 강화
  analyze-supabase-db.js
  src/core/events/SystemEventHandler.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: Vibe Coding 모달에 Qwen CLI 정보 추가
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

📊 docs: 3개 AI 도구로 코드베이스 종합 분석 완료
  CHANGELOG.md
  reports/ai-analysis-summary-2025-01-13.md
  reports/ai-codebase-analysis-2025-01-13.md
  reports/improvement-roadmap-2025-01-13.md
Due: prettier --write

📝 docs: Qwen CLI 설명을 "오픈소스 무료"로 개선
  .claude/agents/qwen-cli-collaborator.md
  CLAUDE.md
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Git 워크플로우 간소화 - heredoc 제거, 1-3줄 커밋 메시지
  .claude/commands/commit.md
  .claude/commands/pr.md
  CLAUDE.md
  docs/git-workflow-simplified-guide.md
Due: prettier --write

docs: Git 워크플로우 개선 보고서 추가
  reports/git-workflow-improvement-2025-01-13.md
Due: prettier --write

fix: Qwen 사용량 제한 정보 수정 - 2,000회/일, 60회/분
  .claude/agents/qwen-cli-collaborator.md
  CLAUDE.md
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: Qwen CLI 목적 재정의 - 병렬 협업 및 제3의 시선 중심
  .claude/agents/qwen-cli-collaborator.md
  CLAUDE.md
Due: prettier --write

docs: AI 협업 전략 재정의 보고서 추가
  reports/ai-collaboration-redefinition-2025-01-13.md
Due: prettier --write

fix: 중국어 완전 차단 시스템 구축 및 Qwen 사용량 수정
  .claude/agents/qwen-cli-collaborator.md
  package.json
  scripts/check-chinese-characters.js
  src/services/ai/__tests__/query-complexity-analyzer.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Pre-commit 실패 핵심 문제 해결
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.js
  docs/git-workflow-optimization-guide.md
  test-file.js
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: Vercel Platform A+ 성능 최적화 완료
  .github/workflows/lighthouse.yml
  package-lock.json
  package.json
  src/app/layout.tsx
  test-file.js
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

feat: 환경별 설정 통합 및 자동화 시스템 구축
  docs/environment-configuration-complete.md
  docs/environment-setup-guide.md
  docs/environment-testing-report.md
  scripts/test-env-config.js
  src/app/api/health/route.ts
  src/components/EnvironmentBadge.tsx
  src/hooks/useApiConfig.ts
  src/lib/api-config.ts
  src/lib/env-config.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Husky 검증 시스템 간소화 및 ESLint 설정 완화
  .husky/pre-push
  .lintstagedrc.js
  docs/husky-validation-guide.md
  eslint.config.mjs
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

feat: Windows GCP VM 원격 개발 환경 구축
  .husky/pre-push
  .vscode/tasks.json
  enhanced-vm-control.ps1
  eslint.config.mjs
  remote-dev-setup.ps1
  scripts/minimal-test.js
  src/app/api/admin/backup-status/route.ts
  src/app/layout.tsx
  src/components/admin/GCPQuotaMonitoringDashboard.tsx
  src/types/recharts.d.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: 한자 포함 파일 정리 및 중국어 차단 정책 강화
  .claude/agents/qwen-cli-collaborator.md
  gcp-functions/enhanced-korean-nlp/__pycache__/main.cpython-312.pyc
  scripts/serena/resources/serena-icons.cdr
  scripts/serena/resources/serena-logo.cdr
  scripts/serena/src/serena/resources/dashboard/serena-icon-16.png
  scripts/serena/src/serena/resources/dashboard/serena-icon-32.png
  scripts/serena/src/serena/resources/dashboard/serena-icon-48.png
  scripts/serena/src/serena/resources/dashboard/serena-logs-dark-mode.png
Due: prettier --write

feat: 자동 수정 및 재시도 시스템 구축 완료
  .husky/pre-push-auto-fix
  package.json
  qwen-chinese-blocker.js
  scripts/auto-fix-and-commit.ts
  src/app/api/vm-dashboard/route.ts
  src/components/admin/GCPQuotaMonitoringDashboard.tsx
  src/components/ai/AssistantLogPanel.tsx
  src/components/performance/LazyComponentLoader.tsx
  src/components/performance/PerformanceMonitor.tsx
  src/components/system/SystemStatusMinimal.tsx
  src/core/events/SystemEventHandler.ts
  src/core/system/SystemBootstrapper.ts
  src/core/system/SystemWatchdog.refactored.ts
  src/domains/ai-sidebar/components/AIEnhancedChat.tsx
  src/domains/ai-sidebar/components/ChatMessageItem.tsx
  src/hooks/useAIAssistantData.ts
  src/lib/bundle-optimization.tsx
  test-app.js
  test-vm-api.js
  vm-management-api-minimal.js
  vm-management-api.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: TypeScript TS1109 에러 근본적 해결 및 개발 도구 개선
  .github/pull_request_template.md
  package.json
  scripts/auto-fix-and-commit.ts
  scripts/git-push-monitor.js
  scripts/quick-ts-fix.js
  scripts/smart-test.js
  src/components/performance/LazyComponentLoader.tsx
  src/components/performance/PerformanceMonitor.tsx
  src/core/system/SystemBootstrapper.ts
  src/core/system/SystemWatchdog.refactored.ts
  src/domains/ai-sidebar/components/AIEnhancedChat.tsx
  src/domains/ai-sidebar/components/ChatMessageItem.tsx
  src/hooks/useAIAssistantData.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: CLAUDE.md 개선 및 동작 검증 완료
  .claude/commands/commit.md
  .claude/commands/refactor.md
  .claude/commands/security.md
  .claude/commands/test-tdd.md
  CLAUDE.md
  docs/claude/mcp-servers-complete-guide.md
  docs/claude/sub-agents-comprehensive-guide.md
  docs/claude/tdd-practical-guide.md
  docs/claude/type-first-development-guide.md
  src/test-claude/calculator.refactored.ts
  src/test-claude/calculator.test.ts
  src/test-claude/calculator.ts
  src/test-claude/calculator.types.ts
Due: eslint --fix --max-warnings 0, prettier --write

♻️ refactor: 프로젝트 종합 정리 및 MCP 문서 구조화
  .claude/settings.json
  .claude/settings.json.failed
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/MCP-SETUP-GUIDE.md
  docs/MCP-USAGE-GUIDE.md
  docs/archive/MCP-COMPLETE-GUIDE-legacy.md
  docs/archive/MCP-GUIDE-legacy.md
  docs/archive/SUPABASE-MCP-SETUP-legacy.md
  docs/archive/mcp-test-report-2025-08-14-legacy.md
  docs/archive/root-cleanup-2025-08-14/CLOUD-SHELL-VM-ACCESS.md
  docs/archive/root-cleanup-2025-08-14/DEPLOY-NOW.md
  docs/archive/root-cleanup-2025-08-14/VM-API-SUMMARY.md
  docs/archive/root-cleanup-2025-08-14/VM-DEPLOY-GUIDE.md
  docs/archive/root-cleanup-2025-08-14/auto-fix-report.md
  docs/archive/root-cleanup-2025-08-14/bundle-optimization-report.md
  docs/archive/root-cleanup-2025-08-14/cloud-shell-access.md
  docs/archive/root-cleanup-2025-08-14/deploy-vm-api.md
  docs/archive/root-cleanup-2025-08-14/dev-workflow.md
  docs/archive/root-cleanup-2025-08-14/git-status-analysis.md
  docs/archive/root-cleanup-2025-08-14/manual-ssh-key-setup.md
  docs/archive/root-cleanup-2025-08-14/ssh-quick-fix.md
  docs/archive/root-cleanup-2025-08-14/windows-ssh-setup.md
  docs/claude/statusline-setup-guide.md
  docs/claude/sub-agents-comprehensive-guide.md
  docs/statusline-optimization-guide.md
  scripts/fix-statusline-session.ps1
  scripts/setup-claude-korea.ps1
  scripts/setup-supabase-env.ps1
  scripts/smart-statusline-recovery.ps1
  src/app/dashboard/DashboardClient.tsx
  src/app/test/supabase-realtime/page.tsx
  src/components/admin/LogAnalyticsDashboard.tsx
  src/components/admin/LogDashboard.charts.tsx
  src/services/ai/core/AIEngineInterface.ts
  src/test-claude/calculator.ts
  src/types/ai-service-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

⚙️ chore: Claude Code 설정 및 Statusline 최적화 도구 추가
  .claude/settings.json
  scripts/optimize-statusline.ps1
  scripts/set-statusline-env.ps1
Due: prettier --write

⚙️ chore: Claude Code statusline 명령어 npx 방식으로 수정
  .claude/settings.json
Due: prettier --write

🔧 fix: ccusage statusline session N/A 문제 해결
  .claude/settings.json
  scripts/ccusage-simple-status.js
  scripts/ccusage-statusline-wrapper.js
  scripts/set-claude-env.bat
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
