Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

docs: consolidate claude-code documentation
  docs/development/ai/claude-code/best-practices.md
  docs/development/ai/claude-code/hooks-guide.md
  docs/development/ai/claude-code/workflow-guide.md
  docs/development/ai/claude-code/wsl-guide.md
  docs/planning/docs-structure-improvement-plan-2025-12-19.md
Due: prettier --write

feat(review): add doc/test validation to AI review pipeline
  scripts/code-review/auto-ai-review.sh
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/doc-test-validator.sh
Due: none

feat(claude-code): add /review command and update skills
  .claude/commands/review.md
  .claude/skills/ai-code-review/skill.md
  .claude/skills/ai-report-export/skill.md
  .claude/skills/lint-smoke/skill.md
  .claude/skills/next-router-bottleneck/skill.md
  .claude/skills/playwright-triage/skill.md
  .claude/skills/security-audit-workflow/skill.md
  .claude/skills/validation-analysis/skill.md
  scripts/code-review/lib/ai-review-split.sh
Due: prettier --write

fix(skill): improve playwright-triage script robustness
  .claude/skills/playwright-triage/skill.md
Due: prettier --write

refactor(docs): reorganize archive to history folder
  docs/archive/README.md
  docs/archive/architecture-v5.71/README.md
  docs/archive/architecture-v5.71/system-architecture-ai.md
  docs/archive/architecture-v5.71/test-automation-architecture.md
  docs/archive/planning/24h-data-deployment-srcdata-2025-10.md
  docs/archive/planning/data-flow-fnv1a-2025-09.md
  docs/archive/planning/react-nextjs-upgrade-analysis-2025-12-completed.md
  docs/archive/planning/side-effects-guest-mode.md
  docs/archive/realtime-monitoring-v5.71.0.md
  docs/archive/reports/TEST_INFRASTRUCTURE_ANALYSIS.md
  docs/archive/reports/completed/2025-09-e2e-dom-structure-analysis.md
  docs/archive/reports/completed/2025-09-pin-authentication-test-scenario.md
  docs/archive/reports/completed/2025-10-11-multi-ai-mcp-removal-qa-test.md
  docs/archive/reports/completed/2025-12-ai-health-check-optimization-completed.md
  docs/archive/reports/completed/2025-12-image-optimization-completed.md
  docs/archive/reports/completed/2025-12-rag-refactoring-completed.md
  docs/archive/reports/completed/2025-12-script-consolidation-completed.md
  docs/archive/reports/completed/2025-12-unified-ai-processor-v3.3.0-completed.md
  docs/archive/reports/completed/2025-biome-warnings-completed.md
  docs/archive/reports/completed/2025-major-version-upgrade-completed.md
  docs/archive/reports/completed/coverage-analysis-report.md
  docs/archive/reports/completed/guest-mode-e2e-test-report.md
  docs/archive/testing-legacy/vercel-manual-test-guide.md
  docs/history/2025-11-claude-code-skills-adoption.md
  docs/history/README.md
  docs/history/ai-engine-comprehensive-status-2025-11-22.md
  docs/history/ai-improvements-summary-2025-11-23.md
  docs/history/completed/2025-11-ai-architecture-analysis-completed.md
  docs/history/completed/2025-11-free-tier-monitor-deprecated.md
  docs/history/completed/2025-11-mode-selection-removal-completed.md
  docs/history/gpu-animation-validation.md
  docs/history/planning/FEATURE-CARDS-REVIEW.md
  docs/history/planning/server-card-rendering-strategy-optimization-actionable-recommendations.md
  docs/history/planning/system-architecture-review-2025-11.md
  docs/history/planning/user-profile-edit.md
  docs/history/qwen-timeout-analysis-and-fix.md
  docs/history/typescript-any-removal-project-report.md
Due: prettier --write

refactor(docs): separate docs and reports folders
  CLAUDE.md
  docs/README.md
  docs/development/README.md
  docs/history/2025-11-claude-code-skills-adoption.md
  docs/history/README.md
  docs/history/ai-engine-comprehensive-status-2025-11-22.md
  docs/history/ai-improvements-summary-2025-11-23.md
  docs/history/completed/2025-11-ai-architecture-analysis-completed.md
  docs/history/completed/2025-11-free-tier-monitor-deprecated.md
  docs/history/completed/2025-11-mode-selection-removal-completed.md
  docs/history/gpu-animation-validation.md
  docs/history/planning/FEATURE-CARDS-REVIEW.md
  docs/history/planning/server-card-rendering-strategy-optimization-actionable-recommendations.md
  docs/history/planning/system-architecture-review-2025-11.md
  docs/history/planning/user-profile-edit.md
  docs/history/qwen-timeout-analysis-and-fix.md
  docs/history/typescript-any-removal-project-report.md
  docs/planning/README.md
  docs/planning/TODO.md
  docs/planning/analysis/README.md
  docs/planning/analysis/ai-architecture-report.md
  docs/planning/analysis/ai-tool-comparison.md
  docs/planning/analysis/component-interaction.md
  docs/planning/analysis/inspection-report-2025-12-18.md
  docs/planning/analysis/ui-ux-analysis.md
  docs/planning/docs-structure-improvement-plan-2025-12-19.md
  docs/planning/document-inspection-plan-2025-12-19.md
  docs/planning/improvement-workplan-2025-12-18.md
  docs/planning/templates/work-plan-template.md
Due: prettier --write

fix(scripts): update path reference to reports/planning
  scripts/ai-subagents/extract-summary.sh
Due: none

chore(release): 5.83.5
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(paths): update remaining path references from docs reorganization
  docs/ops/testing/README.md
  scripts/dev/run-tests.sh
Due: prettier --write

fix(e2e): add waitFor to server card loading in guest test
  tests/e2e/guest.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(docs): move testing docs to docs/development/testing
  docs/development/testing/403-authentication-fix-v2.md
  docs/development/testing/README.md
  docs/development/testing/TESTING.md
  docs/development/testing/co-location-guide.md
  docs/development/testing/e2e-testing-guide.md
  docs/development/testing/local-test-limitations.md
  docs/development/testing/msw-guide.md
  docs/development/testing/react-component-testing-guide.md
  docs/development/testing/subagent-integration-summary.md
  docs/development/testing/subagent-testing-guide.md
  docs/development/testing/supertest-integration-guide.md
  docs/development/testing/test-strategy-guide.md
  docs/development/testing/test-templates.md
  docs/development/testing/testing-philosophy-detailed.md
  docs/development/testing/type-level-testing-guide.md
  docs/development/testing/universal-vitals-setup-guide.md
  docs/development/testing/vercel-ai-testing-guide.md
  docs/development/testing/vercel-first-strategy.md
  docs/development/testing/vitest-playwright-config-guide.md
  docs/environment/troubleshooting/README.md
  scripts/dev/auto-update-docs.mjs
Due: prettier --write

docs: consolidate testing documentation structure
  docs/archive/testing/403-authentication-fix-v2.md
  docs/archive/testing/subagent-integration-summary.md
  docs/development/testing/README.md
  docs/development/testing/TESTING.md
  docs/development/testing/subagent-testing-guide.md
Due: prettier --write

fix(docs): correct broken documentation links
  docs/archive/testing/subagent-integration-summary.md
  docs/core/performance/README.md
  docs/development/testing/subagent-testing-guide.md
Due: prettier --write

chore: remove PM2 from project (unused dependency)
  docs/archive/pm2/pm2-workflow-guide.md
  docs/development/standards/health-check-policy.md
  docs/environment/wsl/wsl-restore-guide.md
  ecosystem.config.js
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove PM2 from WSL snapshot script
  scripts/environment/create-wsl-snapshot.sh
Due: none

docs: standardize file naming to kebab-case (Phase 4)
  .vercelignore
  README.md
  docs/ai-model-policy.md
  docs/core/README.md
  docs/core/architecture/README.md
  docs/core/architecture/ai-assistant-sidebar-architecture.md
  docs/core/architecture/ai-engine-architecture.md
  docs/core/architecture/ai-routing-architecture.md
  docs/core/architecture/data-architecture.md
  docs/core/architecture/domain-driven-design.md
  docs/core/architecture/folder-structure.md
  docs/core/architecture/memory-requirements.md
  docs/core/architecture/module-structure.md
  docs/core/architecture/react-hooks-standards.md
  docs/core/architecture/system-architecture-current.md
  docs/core/platforms/deploy/README.md
  docs/development/best-practices/wsl-vibe-coding-best-practices.md
  docs/development/framework-upgrade-checklist.md
  docs/environment/wsl/wsl-optimization.md
  src/services/data/UnifiedServerDataSource.ts
  src/services/scenario/scenario-loader.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: remove unused imports and deprecated method
  src/services/data/UnifiedServerDataSource.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(architecture): reorganize docs/core/architecture structure (Phase 5)
  README.md
  docs/core/architecture/README.md
  docs/core/architecture/ai/ai-assistant-sidebar-architecture.md
  docs/core/architecture/ai/ai-engine-architecture.md
  docs/core/architecture/ai/ai-routing-architecture.md
  docs/core/architecture/data/data-architecture.md
  docs/core/architecture/design/domain-driven-design.md
  docs/core/architecture/design/module-structure.md
  docs/core/architecture/design/react-hooks-standards.md
  docs/core/architecture/infrastructure/cloud-dependency-risk-assessment.md
  docs/core/architecture/infrastructure/hybrid_split.md
  docs/core/architecture/system/mcp-connection-pool-optimization.md
  docs/core/architecture/system/memory-requirements.md
  docs/core/architecture/system/system-architecture-current.md
  docs/core/architecture/system/system-architecture-deployment.md
  docs/core/architecture/system/system-overview.md
  docs/core/architecture/system/type-system-consistency.md
  docs/core/platforms/deploy/README.md
  docs/development/README.md
  src/services/data/UnifiedServerDataSource.ts
  src/services/scenario/scenario-loader.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: implement Knowledge Externalization (Phase 1)
  src/config/rules/index.ts
  src/config/rules/loader.ts
  src/config/rules/system-rules.json
  src/config/rules/types.ts
  src/constants/serverStatusColors.ts
  src/services/ai/IncidentReportService.ts
  src/services/data/UnifiedServerDataSource.ts
  src/services/websocket/WebSocketManager.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(rules): implement Supabase integration (Phase 2)
  src/app/api/rules/route.ts
  src/config/rules/loader.ts
  src/constants/serverStatusColors.ts
  src/services/ai/IncidentReportService.ts
  src/services/data/UnifiedServerDataSource.ts
  src/services/websocket/WebSocketManager.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove Tavily references from Cloud Run deployment
  cloud-run/ai-engine/src/lib/model-config.ts
  src/app/api/rules/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): improve Reporter model type safety and add fallback
  cloud-run/ai-engine/src/lib/model-config.ts
  src/services/websocket/WebSocketManager.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: fix Core docs quality issues (Phase 1)
  docs/core/README.md
  docs/core/ai/README.md
  docs/core/ai/ai-architecture.md
  docs/core/architecture/ai/ai-assistant-sidebar-architecture.md
  docs/core/architecture/ai/ai-routing-architecture.md
  docs/core/architecture/design/system.md
  docs/core/architecture/features/ai-system.md
  docs/core/architecture/features/mcp.md
  docs/core/architecture/features/monitoring.md
  docs/core/architecture/infrastructure/api.md
  docs/core/architecture/infrastructure/deployment.md
  docs/core/architecture/system/system-architecture-current.md
  docs/core/architecture/system/system-architecture-deployment.md
  docs/core/performance/README.md
  docs/core/platforms/deploy/README.md
Due: prettier --write

docs: fix Development docs quality issues (Phase 2)
  docs/development/ai/README.md
  docs/development/ai/claude-code/README.md
  docs/development/ai/claude-code/hooks-guide.md
  docs/development/ai/claude-code/subagents-complete-guide.md
  docs/development/ai/claude-code/weekly-subagent-reminder.md
  docs/development/ai/claude-code/wsl-guide.md
  docs/development/ai/common/ai-collaboration-architecture.md
  docs/development/ai/common/workflow.md
  docs/development/best-practices/README.md
  docs/development/mcp/advanced.md
  docs/development/playwright-mcp-setup-guide.md
  docs/development/serena-anti-pattern-detection.md
  docs/development/side-effects-optimization-guide.md
  docs/development/standards/README.md
  docs/development/standards/git-hooks-best-practices.md
  docs/development/testing/README.md
  docs/development/testing/co-location-guide.md
  docs/development/testing/local-test-limitations.md
  docs/development/workflows/README.md
  docs/development/workflows/auto-code-review.md
  docs/development/workflows/progressive-lint-guide.md
Due: prettier --write

docs: fix API and Environment docs quality issues (Phase 3)
  docs/api/README.md
  docs/api/endpoints.md
  docs/environment/README.md
  docs/environment/troubleshooting/README.md
  docs/environment/wsl/wsl-optimization.md
  docs/environment/wsl/wsl-restore-guide.md
Due: prettier --write

docs: fix root docs version references (Phase 4)
  docs/DEVELOPMENT.md
  docs/README.md
Due: prettier --write

feat(docs): generate Mermaid diagrams with mmdc CLI
  docs/core/architecture/system/dashboard-architecture.png
  docs/core/architecture/system/diagrams/README.md
  docs/core/architecture/system/diagrams/dashboard-architecture.png
  docs/core/architecture/system/diagrams/dashboard-architecture.svg
Due: prettier --write

feat(skills): add mermaid-diagram skill for architecture visualization
  .claude/skills/mermaid-diagram/skill.md
Due: prettier --write

refactor(cloud-run): cleanup unused code and improve documentation
  cloud-run/ai-engine/src/lib/model-config.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.83.6
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(auth): allow unauthenticated access to main page with login button
  docs/core/security/github-oauth.md
  src/app/main/page.tsx
  src/app/page.tsx
  src/components/shared/UnifiedProfileHeader.tsx
  src/hooks/useInitialAuth.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(bootstrap): prevent infinite polling loop in SystemBootstrap
  src/components/system/SystemBootstrap.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): correct invalid Tailwind CSS class w-22 to w-20
  src/components/dashboard/EnhancedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(routing): move landing page from /main to root /
  src/app/500.tsx
  src/app/dashboard/DashboardClient.tsx
  src/app/global-error.tsx
  src/app/main/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/auth/AuthTokenHandler.tsx
  src/components/shared/UnauthorizedAccessUI.tsx
  src/hooks/useDashboardLogic.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(hydration): resolve SSR/client HTML mismatch issues
  src/components/performance/OptimizedLazyLoader.tsx
  src/components/shared/RealtimeClock.tsx
  src/utils/text-rendering.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): update routing paths from /main to / in tests
  tests/e2e/dashboard-ai-sidebar.spec.ts
  tests/e2e/dashboard-server-cards.spec.ts
  tests/e2e/helpers/guest.ts
  tests/e2e/middleware-critical-bugfix.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(routing): update remaining /main references to / across codebase
  src/app/auth/success/page.tsx
  src/app/dashboard/DashboardClient.tsx
  src/app/dashboard/error.tsx
  src/app/login/LoginClient.tsx
  src/components/shared/ErrorBoundary.tsx
  src/components/ui/ErrorMessage.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(proxy): add automatic local Docker detection for development
  src/lib/ai-proxy/proxy.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(cloud-run): add embedding and generate services to AI Engine
  .gitignore
  cloud-run/ai-engine/src/server.ts
  cloud-run/ai-engine/src/services/embedding/embedding-service.ts
  cloud-run/ai-engine/src/services/generate/generate-service.ts
  cloud-run/docker-compose.yml
  src/app/api/ai/google-ai/generate/route.ts
  src/config/fallback-data.ts
  src/lib/ai/google-ai-client.ts
  src/lib/ai/google-ai-manager.ts
  src/lib/security/encryption.ts
  src/modules/third-party-ai-chat/core/AIConversationManager.ts
  src/services/ai/embedding-service.ts
  src/utils/dev-key-manager.ts
  src/utils/google-ai-key-resolver.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(proxy): improve local Docker priority in development mode
  cloud-run/docker-compose.yml
  src/lib/ai-proxy/proxy.ts
Due: eslint --fix --max-warnings 0, prettier --write
