Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

feat(data): add uPlot and Prometheus Format to tech stack (#132)
  docs/analysis/chart-architecture-analysis.md
  docs/analysis/prometheus-migration-changelog.md
  src/data/feature-cards.data.ts
  src/data/tech-stacks.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(data): add Prometheus best practice comparison and PromQL reference mapping
  docs/reference/architecture/data/prometheus-comparison.md
  src/config/rules/loader.ts
  src/config/rules/system-rules.json
  src/config/rules/types.ts
  src/data/hourly-data/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(data): add server-services-map for automatic service inference
  src/config/server-services-map.ts
  src/services/data/UnifiedServerDataSource.ts
  src/services/scenario/scenario-loader.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 7.1.4
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  package-lock.json
  package.json
Due: prettier --write

fix: codebase quality improvements (P0+P1 — 8 items)
  src/app/api/ai/status/route.ts
  src/app/api/auth/revoke-github-token/route.ts
  src/app/api/database/route.ts
  src/components/dashboard/EnhancedServerModal.tsx
  src/components/dashboard/EnhancedServerModal.utils.ts
  src/lib/ai/cache/ai-response-cache.ts
  src/lib/api/parse-json-body.ts
  src/lib/cache/cache-helpers.ts
  src/lib/cache/unified-cache.ts
  src/services/performance/PerformanceService.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: move demo screenshots to docs/screenshots/ and gitignore
  .gitignore
Due: none

test: add tests for parse-json-body and cache-helpers to fix coverage threshold
  src/lib/api/parse-json-body.test.ts
  src/lib/cache/cache-helpers.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: add PromQL ADR and update prometheus comparison
  docs/reference/architecture/data/prometheus-comparison.md
  docs/reference/architecture/decisions/adr-003-promql-vs-js-array-filtering.md
  src/lib/promql/promql-engine.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): lower coverage thresholds to 8% for WSL worker timeout resilience
  config/testing/vitest.config.main.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: singleton lifecycle improvements and DI dead code removal
  src/app/api/database/route.ts
  src/config/rules/loader.ts
  src/lib/ai/circuit-breaker.ts
  src/lib/cache/unified-cache.ts
  src/lib/di-container.ts
  src/lib/interfaces/services.ts
  src/lib/service-registry.ts
  src/services/LoggingService.ts
  src/services/data/UnifiedServerDataSource.ts
  src/services/metrics/MetricsProvider.ts
  src/services/performance/PerformanceService.ts
  src/services/realtime/CentralizedDataManager.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: dead code removal, CORS hardening, and Zod API validation
  src/app/api/ai/feedback/route.ts
  src/app/api/ai/incident-report/route.ts
  src/app/api/database/route.ts
  src/app/api/security/csp-report/route.ts
  src/app/api/sentry-tunnel/route.ts
  src/app/api/servers/next/route.ts
  src/app/api/universal-vitals/route.ts
  src/app/api/web-vitals/route.ts
  src/config/server-status-thresholds.ts
  src/lib/api/cors.ts
  src/lib/api/zod-middleware.ts
  src/lib/bundle-optimization.tsx
  src/utils/VercelPlanDetector.ts
  src/utils/utils-functions.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: remove multi-AI code review infrastructure
  .claude/README.md
  .claude/commands/review.md
  .claude/rules/ai-tools.md
  .claude/skills/ai-code-review/SKILL.md
  .claude/skills/ai-code-review/scripts/move-to-history.sh
  .claude/skills/ai-report-export/SKILL.md
  .claude/skills/cloud-run-deploy/SKILL.md
  .claude/skills/commit-commands/SKILL.md
  .claude/skills/next-router-bottleneck/SKILL.md
  .claude/skills/observability-check/SKILL.md
  .claude/skills/validation-analysis/SKILL.md
  scripts/ai-wrappers/codex-wrapper.sh
  scripts/ai-wrappers/gemini-wrapper.sh
  scripts/code-review/auto-ai-review.sh
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-split.sh
  scripts/code-review/lib/ai-review-utils.sh
  scripts/code-review/lib/doc-test-validator.sh
  scripts/code-review/review-issue-tracker.sh
  scripts/code-review/review-tracker.sh
  scripts/hooks/post-commit.js
Due: eslint --fix --max-warnings 0, prettier --write

refactor: use rulesLoader for thresholds, add disk metric to server card
  .gitignore
  src/components/ai/pages/auto-report/AutoReportPage.tsx
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs(claude): add Agent Teams 3-team configuration
  .claude/rules/ai-tools.md
  .claude/settings.json
  CLAUDE.md
Due: prettier --write

fix(security): remove hardcoded Sentry DSN, tighten CORS, and cleanup dead code
  biome.json
  src/app/api/database/route.ts
  src/app/api/sentry-tunnel/route.ts
  src/app/api/universal-vitals/route.ts
  src/config/rules/loader.ts
  src/lib/api/cors.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: replace unsafe type casting with Zod validation, add demo mode labels
  src/app/api/database/route.ts
  src/config/rules/loader.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add concrete incident-report types and infrastructure topology diagram
  src/app/api/ai/incident-report/route.ts
  src/components/dashboard/DashboardContent.tsx
  src/data/architecture-diagrams.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: consistent logging, remove unsafe cast and dead code
  src/app/api/sentry-tunnel/route.ts
  src/hooks/useFixed24hMetrics.ts
  src/services/metrics/MetricsProvider.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(security): add auth + input validation to metrics API, async fs, remove dead code
  next.config.mjs
  src/app/api/ai/raw-metrics/route.ts
  src/app/api/debug/env/route.ts
  src/app/api/metrics/route.ts
  src/lib/api/development-only.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: clamp trend prediction values to 0-100% for percentage metrics
  cloud-run/ai-engine/src/lib/ai/monitoring/TrendPredictor.ts
  cloud-run/ai-engine/src/tools-ai-sdk/analyst-tools.ts
  src/components/ai/analysis/TrendCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: clamp predicted values in SystemSummarySection to 0-100%
  src/components/ai/analysis/SystemSummarySection.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: silence sentry-tunnel 503 and return UIMessageStream errors in AI chat
  src/app/api/ai/supervisor/stream/v2/route.ts
  src/app/api/sentry-tunnel/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ui): Stitch-based design improvements with code review fixes
  src/app/main/components/SystemStartSection.tsx
  src/components/ai-sidebar/AISidebarV4.tsx
  src/components/ai/MessageActions.tsx
  src/components/ai/WelcomePromptCards.tsx
  src/components/dashboard/DashboardContent.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(infra): switch Vercel from Hobby to Pro tier configuration
  .claude/rules/deployment.md
  src/app/api/ai/feedback/route.ts
  src/app/api/ai/incident-report/route.ts
  src/app/api/ai/intelligent-monitoring/route.ts
  src/app/api/ai/jobs/[id]/stream/route.ts
  src/app/api/ai/jobs/route.ts
  src/app/api/ai/raw-metrics/route.ts
  src/app/api/ai/status/route.ts
  src/app/api/ai/supervisor/route.ts
  src/app/api/ai/supervisor/stream/v2/route.ts
  src/config/ai-proxy.config.ts
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

style(ui): add hover/active/focus interactions to base components
  src/components/dashboard/AIAssistantButton.tsx
  src/components/dashboard/DashboardSummary.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(build): switch to Turbopack and suppress noisy build logs
  next.config.mjs
  package.json
  src/config/versions.ts
  src/lib/empty-module.js
  src/lib/runtime/edge-runtime-utils.ts
  src/lib/security/in-memory-rate-limiter.ts
  src/utils/vercel-optimization.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(ui): add hover/active/focus interactions to remaining components
  src/components/ai-sidebar/CloudRunStatusIndicator.tsx
  src/components/ai/SystemContextPanel.tsx
  src/components/ai/WelcomePromptCards.tsx
  src/components/dashboard/transition/ChecklistItem.tsx
  src/components/home/FeatureCardsGrid.tsx
  src/components/system/ServerStartButton.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ux): harden DevTools polish and interviewer-facing UX
  src/app/api/ai/supervisor/error-handler.ts
  src/app/globals.css
  src/app/system-boot/SystemBootClient.tsx
  src/components/dashboard/SessionCountdown.tsx
  src/lib/logging/browser.ts
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

fix(ux): resolve boot chat-wipe, CSP conflict, and session expiry redundancy
  src/app/dashboard/DashboardClient.tsx
  src/app/system-boot/SystemBootClient.tsx
  src/components/dashboard/SessionCountdown.tsx
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: remove debug logs, add localStorage/JSON.parse safety
  src/app/api/ai/supervisor/stream/v2/upstash-resumable.ts
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(dashboard): optimize layout spacing and remove redundant UI elements
  src/components/dashboard/DashboardContent.tsx
  src/components/dashboard/ServerDashboard.tsx
  src/components/dashboard/VirtualizedServerList.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove screenshot PNG files from project root
  dashboard-all-servers.png
  dashboard-overview.png
  server-modal-logs-network.png
  server-modal-overview.png
  server-modal-performance.png
  vercel-ai-assistant-open.png
  vercel-ai-clarification.png
  vercel-ai-response-success.png
  vercel-dashboard.png
Due: none

fix(ai-engine): improve provider fallback, CB logging, and web search perf
  cloud-run/ai-engine/src/services/ai-sdk/supervisor-single-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/supervisor-types.ts
  cloud-run/ai-engine/src/tools-ai-sdk/reporter-tools/web-search.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(ai-engine): sync system-rules.json with SSOT source
  cloud-run/ai-engine/config/system-rules.json
Due: prettier --write

docs: update all documentation to v7.1.4
  CLAUDE.md
  docs/QUICK-START.md
  docs/README.md
  docs/llms.md
  docs/reference/ai-clarification-analysis.md
  docs/reference/architecture/ai/ai-engine-architecture.md
  docs/reference/architecture/ai/ai-engine-internals.md
  docs/reference/architecture/data/data-architecture.md
  docs/reference/architecture/design/consistency.md
  docs/reference/architecture/infrastructure/database.md
  docs/reference/architecture/infrastructure/security.md
  docs/reference/architecture/system/system-architecture-current.md
  docs/status.md
Due: prettier --write

docs: fix version drift and factual inaccuracies across 7 doc files
  docs/QUICK-START.md
  docs/ai-model-policy.md
  docs/development/README.md
  docs/development/dev-tools.md
  docs/development/full-setup-guide.md
  docs/reference/architecture/infrastructure/hybrid-split.md
  docs/status.md
Due: prettier --write

fix(ui): improve accessibility, readability, and perf across 5 components
  config/ai/registry-core.yaml
  src/components/ai/analysis/AnomalyCard.tsx
  src/components/ai/analysis/TrendCard.tsx
  src/components/dashboard/EnhancedServerModal.MetricsTab.tsx
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: align biome-wrapper fallback version with project (2.3.8 → 2.3.13)
  scripts/dev/biome-wrapper.sh
Due: none

sync: frontend public snapshot from gitlab@ff0b732b0
  .env.example
  README.md
  package-lock.json
  package.json
  public/data/app-config.json
  src/app/api/ai/nlq/extract-entities/route.ts
  src/app/dashboard/dashboard-client-helpers.tsx
  src/app/global-effects.css
  src/components/ai-sidebar/AISidebarHeader.tsx
  src/components/ai-sidebar/AISidebarV4.tsx
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/AIWorkspace.tsx
  src/components/ai/pages/IntelligentMonitoringPage.tsx
  src/components/dashboard/AIAssistantButton.tsx
  src/components/dashboard/DashboardContent.tsx
  src/components/dashboard/DashboardHeader.tsx
  src/components/dashboard/EnhancedServerModal.NetworkTab.tsx
  src/components/dashboard/EnhancedServerModal.ProcessesTab.tsx
  src/components/dashboard/EnhancedServerModal.types.ts
  src/components/dashboard/EnhancedServerModal.utils.ts
  src/components/dashboard/ServerDashboard.tsx
  src/components/home/FeatureCardsGrid.tsx
  src/components/providers/ClientProviders.tsx
  src/components/shared/FeatureCardModal.tsx
  src/components/shared/UnifiedCircularGauge.tsx
  src/components/shared/react-flow-diagram/components/AutoFitView.tsx
  src/components/system/SystemBootstrap.tsx
  src/components/ui/BasicTyping.tsx
  src/config/ai-providers.ts
  src/data/architecture-diagrams/ai-assistant.ts
  src/data/feature-cards.data.ts
  src/data/tech-stacks/ai-assistant.ts
  src/lib/ai/entity-extractor.ts
  src/styles/animations-gpu.css
  src/styles/critical.css
  src/styles/design-constants.ts
  src/styles/globals.css
  src/test/setup.node.ts
  src/test/setup.ts
  src/types/ai-sidebar/ai-sidebar-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

sync: frontend public snapshot from gitlab@f76a9a379
  README.md
  package-lock.json
  package.json
  public/data/app-config.json
  src/lib/ai/assistant-contract.ts
Due: eslint --fix --max-warnings 0, prettier --write
