Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

📝 docs(claude): 토큰 효율 80% 개선 + README 포트폴리오 관점 수정
  CLAUDE.md
  README.md
  scripts/test-chrome-fedcm.mjs
Due: prettier --write

📝 docs: 프로젝트 문서 최신화 - 14개 불일치 수정 완료
  CLAUDE.md
  docs/ai/subagents-complete-guide.md
  docs/claude/environment/multi-ai-strategy.md
  package.json
Due: prettier --write

🔧 fix(mcp): Multi-AI MCP 죽은 설정 제거 + 토글 가이드 추가
  CLAUDE.md
  docs/claude/environment/mcp/mcp-configuration.md
Due: prettier --write

🔧 fix(ci): CI/CD 실패 수정 + AI 헬스 체크 on-demand 전환
  CLAUDE.md
  config/ai/registry.yaml
  docs/ai/ai-maintenance.md
  package.json
  scripts/ai-tools-health-check.sh
Due: prettier --write

📝 docs(side-effects): 사이드 이펙트 점검 개선
  .gitignore
  CLAUDE.md
  docs/claude/environment/multi-ai-strategy.md
Due: prettier --write

✨ feat(subagents): Multi-AI v4.5.0 업그레이드 + 역할 명확화
  .claude/agents/multi-ai-verification-specialist.md
  docs/ai/subagents-complete-guide.md
Due: prettier --write

📚 docs(ai): 3-AI 쿼리 최적화 + 워크플로우 가이드 추가
  docs/ai/3-ai-query-optimization-guide.md
  docs/ai/ai-workflows.md
Due: prettier --write

📝 docs(logs): AI 의사결정 로그 추가 (2025-10-15~16)
  logs/ai-decisions/2025-10-15-analysis-improvement-strategy.md
  logs/ai-decisions/2025-10-15-improvement-strategy-cross-verification.md
  logs/ai-decisions/2025-10-15-mcp-subagent-optimization.md
  logs/ai-decisions/2025-10-16-claude-code-setup-evaluation.md
  logs/ai-decisions/2025-10-16-实사용-피드백-계획-수립.md
Due: prettier --write

🤖 feat(scripts): AI 관리 자동화 도구 추가 (필요 시 수동 실행용)
  scripts/ai-subagents/extract-summary.sh
  scripts/daily-ai-metrics-v2.sh
  scripts/daily-ai-metrics.sh
  scripts/mcp-health-check.sh
  scripts/subagent-stats.sh
Due: none

chore(gitignore): docs/maintenance/ 제외 (on-demand 정책 준수)
  .gitignore
Due: none

fix(ci): GitHub Actions 배포 실패 해결 + 환경 설정 개선
  .env.example
  docs/archive/development/environment-setup-planned.md
  package-lock.json
  vercel.json
Due: prettier --write

🔧 fix(ci): 품질 게이트 강화 - 베스트 프랙티스 적용
  .github/workflows/simple-deploy.yml
  .husky/pre-commit
Due: prettier --write

🛡️ fix(ci): CRITICAL 위험 제거 - pre-push type-check 추가
  .husky/pre-push
  vercel.json
Due: prettier --write

♻️ refactor(charts): Recharts 3.x 마이그레이션 완료 - 타입 에러 100% 해결
  package-lock.json
  package.json
  src/components/admin/AdminDashboardCharts.tsx
  src/components/admin/LogDashboard.Analytics.tsx
  src/components/admin/PerformanceDashboard.tabs.tsx
  src/components/admin/charts/CustomTooltip.tsx
  src/components/charts/AlertsChart.tsx
  src/components/charts/AvailabilityChart.tsx
  src/components/charts/PerformanceChart.tsx
  src/components/charts/TrendsChart.tsx
  src/components/charts/wrappers/TypeSafePie.tsx
  src/components/charts/wrappers/TypeSafeTooltip.tsx
  src/components/charts/wrappers/index.ts
  src/types/CustomRechartsTypes.ts
  src/types/recharts.d.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧹 chore(charts): Recharts 3.x 마이그레이션 후 미사용 파일 정리
  src/components/charts/wrappers/TypeSafePie.tsx
  src/components/charts/wrappers/TypeSafeTooltip.tsx
  src/components/charts/wrappers/index.ts
  src/types/CustomRechartsTypes.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix(types): Recharts 3.x 타입 호환성 개선 (3개 파일)
  src/components/admin/LogAnalyticsDashboard.tsx
  src/services/mcp/real-mcp-client.ts
  src/types/core-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧹 chore(root): 루트 디렉토리 정리 - 미사용 파일 제거
  services/BitmapPortAllocator.ts
  services/bitmap-allocator-demo.ts
  utils/dynamic-port.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧹 docs: 초기 구조 정리 - 5개 디렉토리 처리
  docs/ai/verifications/2025-10-06-multi-ai-mcp-v3-validation.md
  docs/ai/verifications/README.md
  docs/ai/verifications/TEMPLATE.md
  docs/architecture/typescript-any-removal-project-report.md
  docs/archive/development/environment-setup-planned.md
Due: prettier --write

📚 docs(claude): 구버전 문서 history/로 이동
  docs/claude/history/reports/claude-md-test-report-2025-10-07.md
  docs/claude/history/subagent-analysis/sub-agents-official.md
  docs/claude/history/subagent-analysis/subagent-analysis-2025-10-05.md
  docs/claude/history/subagent-analysis/subagent-best-practices-compliance-2025-10-06.md
Due: prettier --write

📚 docs: 아카이브/히스토리 문서 재활용 및 개선
  docs/claude/environment/multi-ai-strategy.md
  docs/claude/history/README.md
  scripts/ai-verification/README.md
Due: prettier --write

📚 docs(design): README 작성 - 구조 및 계층 설명
  docs/design/README.md
Due: prettier --write

📚 docs: testing/ 문서 인덱스 추가 - 23개 파일 카테고리 정리
  docs/testing/README.md
Due: prettier --write

📚 docs: quality/ 구조 설명 README 작성 - 21개 품질 보증 문서
  docs/quality/README.md
Due: prettier --write

📚 docs: architecture/ 구조 설명 README 작성 - 17개 아키텍처 문서
  docs/architecture/README.md
Due: prettier --write

📚 docs: ai/ 디렉토리 종합 가이드 작성 - 12개 AI 시스템 문서
  docs/ai/README.md
Due: prettier --write

📚 docs: guides/ 개발 가이드 통합 README 작성 - 6개 실용 가이드
  docs/guides/README.md
Due: prettier --write

📚 docs: AI 친화적 README 구조로 전환 (5개 파일)
  docs/ai/README.md
  docs/architecture/README.md
  docs/design/README.md
  docs/guides/README.md
  docs/quality/README.md
Due: prettier --write

📚 docs: AI 친화적 README 변환 완료 (4개 파일 추가)
  docs/deploy/README.md
  docs/development/README.md
  docs/performance/README.md
  docs/testing/README.md
Due: prettier --write

📚 docs: AI 친화적 README 추가 (3개 디렉토리)
  docs/claude/README.md
  docs/meta/README.md
  docs/troubleshooting/README.md
Due: prettier --write

🔧 docs: Side-Effect 개선 - docs/README.md 업데이트
  docs/README.md
Due: prettier --write

🔧 fix(types): TypeScript strict mode 에러 수정 (2개 파일)
  src/hooks/api/useRealtimeServers.ts
  src/services/ai/ai-performance-integration-test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 config(playwright): trace 설정 변경 (Phase 17.1)
  playwright.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

✅ test(e2e): Master 종합 검증 86% 달성 (Phase 16-22)
  docs/testing/phase-16-18-anti-pattern-removal-report.md
  tests/e2e/master-comprehensive-verification.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs(CLAUDE.md): 현재 상태 업데이트 (Phase 16-22 완료)
  CLAUDE.md
Due: prettier --write

🔧 chore(ai-tools): AI CLI 도구 최신 버전 업그레이드 + 서브에이전트 관리 체계 구축
  .claude/agents/dev-environment-manager.md
  CLAUDE.md
  config/ai/registry.yaml
  docs/ai/ai-maintenance.md
  scripts/ai-tools-health-check.sh
Due: prettier --write

🔧 chore(mcp): Vercel MCP 버전 정보 수정 + OAuth 재인증 안내
  CLAUDE.md
  config/ai/registry.yaml
Due: prettier --write

✅ docs(mcp): Vercel MCP 도구명 전체 업데이트 완료 (7개 파일)
  .claude/agents/mcp-mapping.json
  .claude/agents/vercel-platform-specialist.md
  CLAUDE.md
  config/ai/registry.yaml
  docs/ai/ai-workflows.md
  docs/claude/environment/mcp/mcp-configuration.md
  docs/claude/environment/mcp/mcp-priority-guide.md
  logs/ai-decisions/2025-10-17-mcp-documentation-side-effects-analysis.md
Due: prettier --write

♻️ refactor(ai): Phase 3 완료 - StaticDataLoader 실제 데이터를 MockContextLoader에 통합
  src/services/ai/MockContextLoader.ts
  src/services/data/StaticDataLoader.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(mock): Add missing 7 servers to mockServerConfig.ts
  src/mock/mockServerConfig.ts
Due: eslint --fix --max-warnings 0, prettier --write
