Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

feat(ai): AI 어시스턴트 전체화면 모드 + Biome lint 수정
  package.json
  src/app/api/ai/query/route.ts
  src/components/ai/AIChatInterface.tsx
  src/components/ai/AIViews.tsx
  src/components/ai/AIWorkspace.tsx
  src/components/ai/MonitoringResults.tsx
  src/components/ai/MonitoringWorkflow.tsx
  src/components/ai/pages/MLLearningCenter.tsx
  src/components/ai/pages/PredictionPage.tsx
  src/components/unified-profile/components/ProfileAvatar.tsx
  src/stores/ai-chat-store.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai): AI insights API 및 미사용 컴포넌트 정리
  src/app/api/ai/insights/route.ts
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/AIPerformanceMonitor.tsx
  src/components/ai/AutoReportPanel.tsx
  src/components/ai/MonitoringInsights.tsx
  src/components/ai/PatternAnalysisPanel.tsx
  src/components/ai/pages/AIChatPage.tsx
  src/components/ai/pages/AutoReportPage.tsx
  src/components/ai/pages/IntelligentMonitoringPage.tsx
  src/components/ai/pages/MLLearningCenter.tsx
  src/components/ai/pages/PredictionPage.tsx
  src/components/dashboard/AIInsightsCard.tsx
  src/domains/ai-sidebar/components/AIFunctionPages.tsx
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/hooks/api/useAIInsights.ts
  src/hooks/api/usePredictionQueries.ts
  src/hooks/api/useRealAI.ts
  src/hooks/api/useRealtimeQueries.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai): AIWorkspace 전체 리팩토링 완료
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/AIContentArea.tsx
  src/components/ai/AIWorkspace.tsx
  src/domains/ai-sidebar/components/AIFunctionPages.tsx
  src/hooks/useAIChatSync.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(lint): AIChatInterface Biome 오류 수정
  src/components/ai/AIChatInterface.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(lint): route.ts noExplicitAny 오류 수정
  src/app/api/ai/query/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(cleanup): remove 15 unused AI components and duplicate pages
  src/app/main/page-optimized.tsx
  src/app/main/page.optimized.tsx
  src/components/ai/AIViews.tsx
  src/components/ai/AssistantLogPanel.tsx
  src/components/ai/DynamicPresets.tsx
  src/components/ai/EnhancedThinkingView.tsx
  src/components/ai/FeatureButton.tsx
  src/components/ai/FeedbackButtons.tsx
  src/components/ai/PatternSelector.tsx
  src/components/ai/RealTimeLogMonitor.tsx
  src/components/ai/SixWPrincipleDisplay.tsx
  src/components/ai/admin/AIAssistantStatsCards.tsx
  src/components/ai/pages/InfrastructureOverviewPage.tsx
  src/components/ai/shared/BasePanelLayout.tsx
  src/components/home/FeatureCardsOptimized.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: post-upgrade maintenance fixes
  src/components/home/FeatureCardsGrid.tsx
  src/hooks/useAISession.ts
  src/lib/ai/session-storage.ts
  src/lib/supabase/client.ts
  tests/unit/components/FeedbackButtons.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs: v5.80.0 post-upgrade maintenance 기록 업데이트
  CLAUDE.md
  docs/status.md
Due: prettier --write

fix(ui): remove background ServerIcon causing gray box artifacts
  src/components/dashboard/DashboardSummary.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai): AIWorkspace v3.0.0 Unified Streaming + 레거시 정리
  .env.example
  .gitignore
  GEMINI.md
  README.md
  config/ai/registry-core.yaml
  docs/core/architecture/AI_ENGINE_ARCHITECTURE.md
  docs/design/ai-routing-architecture.md
  docs/environment/DOCKER_ECOSYSTEM.md
  docs/environment/DOCKER_TESTING.md
  docs/environment/LOCAL_STACK_SETUP.md
  docs/status.md
  gcp-functions/docker-compose.dev.yml
  gcp-functions/mock-ai/Dockerfile
  gcp-functions/mock-ai/main.py
  instrumentation.ts
  package-lock.json
  package.json
  scripts/dev/run-docker-functions.sh
  src/app/api/ai/query/route.ts
  src/app/dashboard/DashboardClient.tsx
  src/app/main/hooks/useSystemStart.tsx
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/AIChatInterface.tsx
  src/components/ai/AIWorkspace.tsx
  src/components/dashboard/DashboardContent.tsx
  src/components/development/AuthStatusChecker.tsx
  src/components/system/SystemBootstrap.tsx
  src/domains/ai-sidebar/index.ts
  src/domains/ai-sidebar/utils/aiQueryHandlers.ts
  src/domains/ai-sidebar/utils/index.ts
  src/hooks/useAuth.ts
  src/polyfills.ts
  src/types/next-auth.d.ts
  src/utils/cache/file-cache.ts
  supabase/.gitignore
  supabase/config.toml
  tests/unit/components/AISidebarContent.test.tsx
  tests/unit/components/AISidebarV4.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs: 작업 계획서 정리 - 완료된 계획 아카이브 + TODO.md 통합
  .gitignore
  docs/archive/completed/2025-biome-warnings-completed.md
  docs/archive/completed/2025-major-version-upgrade-completed.md
  docs/core/monitoring/monitoring-system-integration-plan.md
  docs/development/mcp/serena-subagent-integration-plan.md
  docs/environment/tools/mcp/serena-subagent-integration-plan.md
  docs/planning/TODO.md
  docs/planning/improvement-plan.md
  docs/planning/refactoring/implementation_plan_rag.md
  logs/ai-decisions/2025-11-11-claude-md-optimization-plan.md
  logs/ai-decisions/2025-11-11-memory-file-optimization-phase2B-plan.md
  logs/ai-decisions/2025-11-15-comprehensive-refactoring-plan.md
Due: prettier --write

fix(docs): unify ENDPOINT env var format (remove /process suffix)
  docs/environment/DOCKER_TESTING.md
Due: prettier --write

docs: clarify ENDPOINT differences between services
  docs/environment/LOCAL_STACK_SETUP.md
Due: prettier --write

docs: sync DOCKER_ECOSYSTEM.md with actual docker-compose state
  docs/environment/DOCKER_ECOSYSTEM.md
Due: prettier --write

docs: remove deprecated ml-analytics-engine from Docker docs
  docs/environment/DOCKER_ECOSYSTEM.md
  docs/environment/DOCKER_TESTING.md
Due: prettier --write

feat(rag): extend searchKnowledgeBase tool with intent-based optimization
  src/app/api/ai/query/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(rag): apply code review feedback - type safety & warning log
  src/app/api/ai/query/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove deprecated context-managers (archived)
  src/context/advanced-context-manager.ts
  src/context/basic-context-manager.ts
  src/context/custom-context-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(docker): remove deprecated ml-analytics-engine
  docker/supabase/docker-compose.yml
  gcp-functions/docker-compose.dev.yml
  scripts/dev/run-docker-functions.sh
Due: prettier --write

refactor(migrations): reorganize pgvector migration files
  supabase/migrations/20250806_pgvector_native_functions.sql
  supabase/migrations/archived/20250116_create_template_backup_tables.sql
  supabase/migrations/archived/20250127_enable_pgvector.sql
  supabase/migrations/archived/20250807_create_hourly_server_states.sql
  supabase/migrations/archived/20250906_upgrade_to_hnsw_index.sql
  supabase/migrations/archived/20250929_add_response_to_query_logs.sql
  supabase/migrations/archived/20251124_rate_limits_table.sql
Due: none

test: update and reorganize unit tests
  config/testing/vitest.config.minimal.ts
  src/components/dashboard/__tests__/EnhancedServerModal.test.tsx
  src/components/dashboard/__tests__/ImprovedServerCard.test.tsx
  tests/unit/components/AIAssistantButton.test.tsx
  tests/unit/components/AIAssistantIconPanel.test.tsx
  tests/unit/components/AISidebarV4.test.tsx
  tests/unit/components/EnhancedServerModal.test.tsx
  tests/unit/components/FeatureButton.test.tsx
  tests/unit/components/ImprovedServerCard.test.tsx
  tests/unit/components/ProgressLabel.test.tsx
  tests/unit/components/ResultCard.test.tsx
  tests/unit/components/ThinkingProcessVisualizer.test.tsx
  tests/unit/components/__snapshots__/StatusIcon.test.tsx.snap
  tests/unit/hooks/useServerDashboard.test.ts
  tests/unit/hooks/useUserPermissions.test.ts
  tests/unit/lib/errorHandler.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update components, docs, and dependencies
  docs/environment/LOCAL_STACK_SETUP.md
  docs/status.md
  package-lock.json
  package.json
  src/domains/ai-sidebar/components/AISidebarV4.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(rag): add searchWithContext method to SupabaseRAGEngine
  src/app/api/ai/query/route.ts
  src/services/ai/supabase-rag-engine.ts
  src/types/rag/rag-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(rag): Phase 3 - Intent 기반 캐시 TTL + 24시간 로테이션
  src/services/ai/supabase-rag-engine.ts
  src/services/rag/memory-rag-cache.ts
  src/types/rag/rag-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): integrate SmartRoutingEngine with /api/ai/query
  docs/design/ai-routing-architecture.md
  src/app/api/ai/query/route.ts
  src/lib/ai/model-factory.ts
  src/lib/ai/routing-adapter.ts
  src/services/ai/smart-routing-engine.ts
  src/types/ai/routing-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(rag): Phase 3.1-3.2 캐시 안정성 개선
  src/services/rag/memory-rag-cache.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): unified-ai-processor v3.3.0 - Quart async + batch API
  docs/archive/completed/2025-12-unified-ai-processor-v3.3.0-completed.md
  docs/planning/TODO.md
  gcp-functions/unified-ai-processor/Dockerfile
  gcp-functions/unified-ai-processor/main.py
  gcp-functions/unified-ai-processor/requirements.txt
Due: prettier --write

feat(ai): SmartRoutingEngine 통합 + 문서 버전 관리 표준
  .versionrc.json
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  QWEN.md
  docs/README.md
  docs/development/standards/documentation-standard.md
  docs/planning/README-DEV-NOTES.md
  docs/planning/README-OLD.md
  docs/planning/README.md
  docs/planning/TODO.md
  scripts/dev/docs-version-updater.js
  src/app/api/ai/unified-stream/route.ts
  src/config/serverConfig.ts
  src/services/ai/smart-routing-engine.ts
  tests/unit/services/ai/smart-routing-engine.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ci): add weekly branch & PR cleanup automation
  .github/workflows/branch-cleanup.yml
Due: prettier --write

docs: TODO 정리 및 완료 작업 아카이브
  docs/archive/completed/2025-12-image-optimization-completed.md
  docs/archive/completed/2025-12-rag-refactoring-completed.md
  docs/planning/TODO.md
Due: prettier --write

perf(hooks): useResponsivePageSize에 debounce 적용 (150ms)
  docs/planning/TODO.md
  src/hooks/dashboard/useResponsivePageSize.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf(health): AI Health Check 최적화 (SSE 5분 주기 + 60초 캐싱)
  docs/archive/completed/2025-12-ai-health-check-optimization-completed.md
  docs/planning/TODO.md
  src/app/api/health/route.ts
  src/services/sse/SSEHealthMonitor.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: planning 문서 정리 - 미구현/오래된 문서 아카이브
  docs/planning/analysis/README.md
  docs/planning/analysis/side-effects-guest-mode.md
  docs/planning/design/user-profile-edit.md
  docs/planning/ideas/server-card-rendering-strategy-optimization-actionable-recommendations.md
Due: prettier --write

feat(cache): 캐싱 전략 표준화 - TTL 계층화 및 SWR 프리셋 적용
  src/app/api/dashboard/route.ts
  src/app/api/metrics/current/route.ts
  src/app/api/metrics/route.ts
  src/app/api/servers-unified/route.ts
  src/app/api/servers/all/route.ts
  src/app/api/time/route.ts
  src/app/api/version/route.ts
  src/app/api/web-vitals/route.ts
  src/lib/cache/cache-helper.ts
  src/lib/cache/unified-cache.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf(cache): SWR 비활성화 - Vercel Function 호출 최적화
  src/app/api/dashboard/route.ts
  src/app/api/metrics/current/route.ts
  src/app/api/metrics/route.ts
  src/app/api/servers-unified/route.ts
  src/app/api/servers/all/route.ts
  src/app/api/time/route.ts
  src/app/api/version/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

style: cache header 포맷팅 정리
  src/app/api/dashboard/route.ts
  src/app/api/metrics/current/route.ts
  src/app/api/metrics/route.ts
  src/app/api/servers-unified/route.ts
  src/app/api/servers/all/route.ts
  src/app/api/version/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(hooks): integrate isSystemStarted into server query hooks
  src/app/api/web-vitals/route.ts
  src/hooks/api/useServerQueries.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update script consolidation plan to v2.0.0
  scripts/optimization/script-consolidation-plan.md
Due: prettier --write

docs(planning): cleanup - archive completed reviews
  docs/planning/TODO.md
  docs/planning/analysis/FEATURE-CARDS-REVIEW.md
  docs/planning/analysis/README.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
