Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

♻️ refactor: TypeScript 타입 시스템 대규모 통합 (Phase 1-4 완료)
  src/app/api/servers/all/route.ts
  src/app/dashboard/DashboardClient.tsx
  src/components/dashboard/ServerDashboard.tsx
  src/context/basic-context-manager.ts
  src/hooks/useServerDashboard.ts
  src/schemas/api.server.schema.ts
  src/types/data-generator.ts
  src/types/gcp-data-generator.ts
  src/types/server-common.ts
  src/types/server-metrics.ts
  src/types/server.ts
  src/types/unified.ts
Due: eslint --fix --max-warnings 0, prettier --write

♻️ refactor: TypeScript 타입 시스템 대규모 통합 (Phase 5 완료)
  src/app/api/servers-unified/route.ts
  src/app/api/servers/next/route.ts
  src/app/dashboard/DashboardClient.tsx
  src/components/dashboard/DashboardContent.tsx
  src/components/dashboard/EnhancedServerModal.types.ts
  src/components/dashboard/EnhancedServerModal.utils.ts
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/dashboard/OptimizedDashboard.tsx
  src/components/mobile/MobileServerSheet.tsx
  src/components/shared/ServerMetricsLineChart.tsx
  src/context/basic-context-manager.ts
  src/hooks/useServerDashboard.ts
  src/hooks/useWorkerStats.ts
  src/mock/index.ts
  src/services/ai/MockContextLoader.ts
  src/services/ai/SimplifiedQueryEngine.processors.command.ts
  src/services/ai/SimplifiedQueryEngine.processors.helpers.ts
  src/services/simulationEngine.ts
  src/services/supabase/SupabaseTimeSeriesManager.ts
  src/services/unified-data-service.ts
  src/stores/serverDataStore.ts
  src/styles/design-constants.ts
  src/utils/server-metrics-adapter.ts
  src/utils/serverUtils.ts
  src/utils/supabase/middleware.ts
  src/utils/type-guards.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔐 security: 미들웨어 Supabase 세션 직접 검증으로 근본 개선
  src/app/auth/callback/page.tsx
  src/app/page.tsx
  src/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔒 security: Critical Bug Fix 3종 완료 (환경변수/타입/에러처리)
  src/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

📁 docs: 리포트 폴더 구조 최적화 및 /tmp 중요 파일 영구 보관
  .claude/ai-cross-verification-complete-report.md
  .claude/ai-cross-verification-dashboard-access-2025-09-16.md
  .claude/ai-cross-verification-typescript-types-2025-09-30.md
  tests/e2e/admin-page-access.spec.ts
  tests/e2e/ai-sidebar-simple.spec.ts
  tests/e2e/ai-sidebar-verification.spec.ts
  tests/e2e/middleware-critical-bugfix.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: AI 교차검증 스크립트 경로 업데이트 (사이드 이펙트 수정)
  .claude/generate-verification-report.sh
Due: none

✨ feat: AI 교차검증 전용 서브에이전트 추가 + 히스토리 자동 관리
  .claude/agents/ai-cross-verification-specialist.md
  CLAUDE.md
Due: prettier --write

✨ feat: AI 교차검증 Phase 1 완료 - Codex 실무 제안 적용
  CLAUDE.md
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-verification/improved-ai-cross-validation.sh
Due: prettier --write

♻️ refactor: Phase 2/3 오버엔지니어링 제거
  CLAUDE.md
Due: prettier --write

🚀 feat: AI 교차검증 방식 B 적용 (Claude Task 도구 병렬 실행)
  CLAUDE.md
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/ai-verification/improved-ai-cross-validation.sh
Due: prettier --write

♻️ refactor: wrapper 스크립트 삭제 - 서브에이전트 중심 구조로 전환
  CLAUDE.md
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/ai-subagents/qwen-wrapper.sh
Due: prettier --write

📝 docs: Phase 0 완료 - CLAUDE.md 최적화 및 문서 재구조화
  .claude/agents/ai-cross-verification-specialist.md
  CLAUDE.md
  docs/claude/ai-cross-verification-v4.md
  docs/claude/architecture/ai-cross-verification.md
  docs/claude/architecture/mock-simulation.md
  docs/claude/architecture/system-overview.md
  docs/claude/deployment/vercel-optimization.md
  docs/claude/deployment/zero-cost-operations.md
  docs/claude/environment/ai-tools-setup.md
  docs/claude/environment/mcp-configuration.md
  docs/claude/environment/multi-ai-strategy.md
  docs/claude/environment/workflows.md
  docs/claude/environment/wsl-optimization.md
  docs/claude/standards/commit-conventions.md
  docs/claude/standards/file-organization.md
  docs/claude/standards/typescript-rules.md
  docs/claude/testing/e2e-playwright.md
  docs/claude/testing/vercel-first-strategy.md
  docs/claude/workflows/common-tasks.md
  scripts/ai-verification/direct-call-system.sh
  scripts/ai-verification/full-ai-cross-validation.sh
  scripts/ai-verification/improved-ai-cross-validation.sh
Due: prettier --write

🔧 fix: 3-AI specialist 평가 루브릭 통합 및 Gemini 실측 성과 추가
  .claude/agents/codex-specialist.md
  .claude/agents/gemini-specialist.md
  .claude/agents/qwen-specialist.md
Due: prettier --write

📝 docs: AI 교차검증 히스토리 활용법 추가
  docs/claude/architecture/ai-cross-verification.md
Due: prettier --write

✨ feat: AI 교차검증 자동화 시스템 구축 (방안 #4 + #1)
  .claude/agents/verification-recorder.md
  docs/claude/architecture/ai-cross-verification.md
  scripts/ai-verification/search-history.sh
Due: prettier --write

✨ feat: AI 교차검증 시스템 개선 - Task 도구 중심 구조
  .claude/agents/verification-recorder.md
  docs/claude/architecture/ai-cross-verification.md
  scripts/ai-verification/verification-recorder.sh
Due: prettier --write

⚡ perf: MCP 성능 최적화 및 보안 강화 시스템 구축
  scripts/mcp/mcp-health-check.sh
  sql/migrations/002_mcp_performance_indexes.sql
  sql/migrations/README.md
Due: prettier --write

✨ feat: Phase 2 MCP 성능·보안·운영 종합 개선
  scripts/mcp-health-check-enhanced.sh
  sql/benchmarks/002_performance_test.sql
  sql/migrations/003_add_vector_indexes.sql
  sql/migrations/003_rollback_002.sql
  sql/migrations/README.md
Due: prettier --write

⚡ perf: MCP health check 스크립트 최적화
  scripts/mcp/mcp-health-check-optimized.sh
Due: none

📝 docs: 베르셀 MCP vs CLI 사용 가이드 추가 (실측 데이터 기반)
  docs/claude/environment/mcp-configuration.md
Due: prettier --write

🔧 fix: 심볼릭 링크를 실제 파일로 교체 (Windows/GitHub 호환성 개선)
  scripts/mcp/mcp-health-check.sh
Due: none

🔧 fix: Git mode 수정 - 심볼릭 링크(120000) → 일반 파일(100644)
  scripts/mcp/mcp-health-check.sh
Due: none

✨ feat: Git Hooks Best Practices 완벽 구현
  .husky/pre-commit
  .husky/pre-push
  docs/claude/environment/claude-code-hooks-guide.md
  docs/claude/standards/git-hooks-best-practices.md
Due: prettier --write

📝 docs: Git Hooks 사이드 이펙트 완전 해결 및 실측 성능 반영
  CLAUDE.md
  docs/claude/standards/git-hooks-best-practices.md
Due: prettier --write

🔧 fix: 커스텀 버전 및 성능 수치 제거 (9개 MCP 유지)
  src/components/home/FeatureCardsGrid.tsx
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 3-AI 교차검증 기반 용어 개선 (수치 제외)
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

⚡ perf: AI 테스트 시스템 v1.1.0 성능 최적화
  docs/testing/vercel-ai-testing-guide.md
  src/app/api/test/vercel-test-auth/route.ts
  src/middleware.ts
  tests/e2e/ai-friendly-test-example.spec.ts
  tests/e2e/helpers/vercel-test-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

✅ fix: Issue #001 E2E 테스트 실패 해결 완료
  .github/ISSUES/001-e2e-test-failure.md
  package.json
Due: prettier --write

♻️ refactor: E2E 테스트 헬퍼 개선 (디버깅 과정)
  tests/e2e/helpers/admin.ts
  tests/e2e/helpers/vercel-test-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: middleware.ts cookies.get() API 올바른 사용으로 수정
  src/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: Issue #001 문서 업데이트 - 실제 버그 수정 내용 반영
  .github/ISSUES/001-e2e-test-failure.md
Due: prettier --write

🔧 fix: cookies.get() 사이드 이펙트 수정 - Supabase 미들웨어
  src/lib/supabase-ssr.ts
  src/utils/supabase/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: Issue #001 완전 해결 - Vercel E2E 테스트 100% 통과 확인
  .github/ISSUES/001-e2e-test-failure.md
Due: prettier --write

♻️ refactor: Cookie 처리 타입 안전 유틸리티로 리팩토링 (Issue #001 근본 해결)
  src/lib/supabase-ssr.ts
  src/middleware.ts
  src/utils/cookies/safe-cookie-utils.ts
  src/utils/supabase/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

♻️ refactor: AI API 인증 디버그 코드 정리 (3-AI 교차검증)
  src/app/api/ai/query/route.ts
  src/lib/api-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 프로필 드롭다운 관리자 페이지 버튼 반응 안 하는 버그 수정
  src/components/profile/hooks/useProfileAuth.ts
Due: eslint --fix --max-warnings 0, prettier --write

⚡ perf: Zustand 기반 인증 상태 관리로 5배 성능 향상
  package-lock.json
  package.json
  src/components/profile/hooks/useProfileSecurity.ts
  src/hooks/useUserPermissions.ts
  src/stores/auth-store.ts
  tests/e2e/admin-page-button.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

♻️ refactor: Phase 2 Zustand 마이그레이션 완료 - 5배 성능 향상
  CLAUDE.md
  docs/design/current/authentication-system-architecture.md
  docs/development/zustand-migration-phase2-report.md
  src/app/dashboard/DashboardClient.tsx
  src/components/profile/hooks/useProfileSecurity.ts
  src/hooks/useUserPermissions.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: MCP 우선순위 가이드 추가
  CLAUDE.md
  docs/claude/environment/mcp-priority-guide.md
Due: prettier --write

♻️ refactor: 루트 경로 정리 Phase 1 (백업/리포트 정리)
  .gitignore
Due: none

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
