Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

🔧 fix: GitHub 토큰 하드코딩 문제 완전 해결
  scripts/git/safe-github-push.sh
Due: none

📚 docs: Qwen CLI 사용량 정보 대폭 업데이트
  CLAUDE.md
Due: prettier --write

📚 docs: 문서 자동 갱신 시스템 구현 및 Google AI 접근 제한 강화
  CHANGELOG.md
  CLAUDE.md
  README.md
  package.json
  scripts/git/update-changelog.js
  scripts/git/update-docs.js
  scripts/git/update-readme.js
  src/app/api/ai/google-ai/generate/route.ts
  src/services/ai/ImprovedQueryEngine.ts
  src/services/ai/performance-optimized-query-engine.ts
Due: eslint --fix --max-warnings 0, prettier --write

📊 feat: Claude Code statusline 설정 및 중복 실행 이슈 해결
  CLAUDE.md
Due: prettier --write

♻️ refactor: 루트 경로 대규모 정리 및 JBGE 원칙 적용 완료
  .github/workflows/ci-optimized.yml
  .github/workflows/disabled/ci-enhanced.yml
  config/.lintstagedrc.js
  config/linting/.eslintrc.fast.json
  config/linting/.eslintrc.json
  config/linting/.eslintrc.performance.json
  config/linting/.eslintrc.quick.json
  config/linting/.eslintrc.ultrafast.json
  config/linting/eslint.config.mjs
  config/testing/vitest.config.main.ts
  config/testing/vitest.node.config.ts
  config/testing/vitest.performance.config.ts
  docs/deployment/vercel-typescript-fix-guide.md
  docs/development/current-development-environment.md
  docs/guides/development-environment-complete.md
  docs/setup/environment-setup-complete.md
  docs/testing/test-analysis-report.md
  docs/testing/test-improvement-plan-2025.md
  docs/testing/test-improvements-summary-2025.md
  docs/testing/testing-guide.md
  docs/testing/testing-system-guide.md
  execute-optimization.js
  fix-vm-now.sh
  package.json
  scripts/dev-tools/tsc-wrapper.js
  scripts/git/smart-pre-commit.js
  setup-sudo-nopasswd.sh
  startup-script.sh
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 루트 경로 정리 후속 작업 - vitest 설정 및 테스트 파일 수정
  .husky/pre-commit
  config/testing/vitest.config.main.ts
  config/testing/vitest.node.config.ts
  config/testing/vitest.performance.config.ts
  src/test/config.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: 서브에이전트 완전 가이드 v2.0 동기화 완료
  docs/claude/sub-agents-complete-guide.md
Due: prettier --write

🔧 fix: GitHub Actions vitest 설정 경로 문제 긴급 해결
  .gitignore
  config/build/package.optimized.json
  config/next/next.config.optimized.mjs
  config/next/next.config.performance.mjs
  config/next/next.config.ultra-optimized.mjs
  config/testing/vitest.config.dom.ts
  config/testing/vitest.config.minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧹 refactor: 프로젝트 구조 최종 정리 및 3,000+ 중복 코드 제거
  .gitignore
  scripts/dev/cleanup-unnecessary-folders.js
  scripts/dev/reorganize-components.js
  scripts/dev/script-consolidation-plan.js
  scripts/mcp/serena-lightweight-proxy.mjs
  src/components/ai/admin/AIAssistantStatsCards.tsx
  src/components/dashboard/hooks/useServerActions.ts
  src/components/dashboard/hooks/useServerFilters.ts
  src/components/dashboard/server-dashboard/ServerDashboardServers.tsx
  src/components/unified-profile/unified-profile/EnhancedProfileStatusDisplay.tsx
  src/components/unified-profile/unified-profile/README.md
  src/components/unified-profile/unified-profile/UnifiedSettingsPanel.tsx
  src/components/unified-profile/unified-profile/components/GeneralSettingsTab.tsx
  src/components/unified-profile/unified-profile/components/GeneratorSettingsTab.tsx
  src/components/unified-profile/unified-profile/components/MonitorSettingsTab.tsx
  src/components/unified-profile/unified-profile/components/OptimizationSettingsTab.tsx
  src/components/unified-profile/unified-profile/hooks/useAuthentication.ts
  src/components/unified-profile/unified-profile/hooks/useSettingsData.ts
  src/components/unified-profile/unified-profile/services/AuthenticationService.ts
  src/components/unified-profile/unified-profile/services/SettingsService.ts
  src/components/unified-profile/unified-profile/types/ProfileTypes.ts
  src/hooks/useSystemChecklist.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: GitHub Actions 스크립트 경로 문제 완전 해결
  package.json
  scripts/dev/reorganize-components.js
  scripts/dev/script-consolidation-plan.js
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: Git 워크플로우 최적화 시스템 구현
  package.json
  scripts/git/optimize-git-workflow.sh
  scripts/git/smooth-commit-push.sh
Due: prettier --write

📚 docs: Git 워크플로우 최적화 완전 분석 보고서 생성
  docs/git/git-workflow-optimization-report.md
Due: prettier --write

🔧 fix: GitHub Actions 테스트 실패 완전 해결
  .github/workflows/ci-optimized.yml
  .github/workflows/disabled/ci-enhanced.yml
  .github/workflows/security-check.yml
  scripts/update/smart-pre-commit.js
  src/hooks/useSystemChecklist.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: AI 서브에이전트 협력 검토 시스템 완전 복구
  scripts/ai/ai-collaborate.sh
  scripts/ai/codex-cli-mock.mjs
  scripts/ai/codex-cli-wrapper.sh
Due: none

📚 docs: 시스템 복구 완전 문서화 및 AI 도구 버전 업데이트
  .mcp.json
  CLAUDE.md
  docs/mcp/mcp-recovery-report-2025-08-21.md
  docs/mcp/mcp-status-report-2025-08-21.md
  docs/mcp/subagent-status-report-2025-08-21.md
  docs/mcp/system-recovery-guide-2025.md
  scripts/mcp/mcp-auto-monitor.sh
  scripts/mcp/mcp-health-check.sh
  scripts/mcp/monitor-mcp-servers.sh
  scripts/mcp/restart-mcp-servers.sh
  scripts/mcp/test-all-mcp.sh
Due: prettier --write

🗂️ refactor: 리포트 파일들을 reports/ 경로로 이동
  docs/mcp/mcp-recovery-report-2025-08-21.md
  docs/mcp/mcp-status-report-2025-08-21.md
  docs/mcp/subagent-status-report-2025-08-21.md
Due: prettier --write

📋 feat: 리포트 vs 가이드 구분 정책 완전 확립
  CLAUDE.md
Due: prettier --write

📋 feat: Git Push 후 필수 점검 절차 확립
  CLAUDE.md
Due: prettier --write

🧪 test: GitHub Actions 테스트 실패 완전 해결 및 불필요한 테스트 정리
  src/app/api/ai/performance/__tests__/route.test.ts
  src/app/api/ai/performance/route.ts
  src/app/api/ai/query/__tests__/query.enhanced.test.ts
  src/lib/api/zod-middleware.ts
  tests/unit/lib/cache-helper.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: TypeScript 경로 설정 수정 및 시스템 문서 추가
  .wslconfig
  CLAUDE.md
  docs/DOCUMENT-INDEX.md
  docs/system/README.md
  docs/system/hardware-specs.md
  scripts/ai/ai-review-reporter.mjs
  scripts/ai/ai-review-system.mjs
  tsconfig.json
Due: prettier --write

🔧 fix: .backups/ 폴더 Git 추적 제외 설정 추가
  .gitignore
Due: none

🚀 fix: CI/CD 파이프라인 TypeScript 행잉 문제 완전 해결
  .github/workflows/ci-optimized.yml
  package.json
  tsconfig.json
Due: prettier --write

🚀 fix: CI/CD 파이프라인 TypeScript 행잉 문제 완전 해결
  .github/workflows/ci-optimized.yml
  package.json
Due: prettier --write

🔧 fix: CI/CD 파이프라인 Jest→Vitest 마이그레이션 완료
  .claude/trusted-workspaces.json
  .github/workflows/ci-optimized.yml
  config/testing/vitest.config.minimal.ts
  config/testing/vitest.setup.ts
  src/domains/ai-sidebar/utils/aiQueryHandlers.ts
  src/services/ai/__tests__/ai-security.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🤖 fix: AI 교차 검증 Hook 시스템 완전 해결
  .claude/agents/ai-verification-coordinator.md
  .claude/agents/external-ai-orchestrator.md
  .claude/hooks/smart-verification.sh
  .claude/queues/parallel-locks.txt
  .claude/queues/recent-verifications.txt
  .claude/queues/verification-queue.txt
  .claude/scripts/cache-manager.sh
  .claude/settings.json
  .claude/test-hook.txt
Due: prettier --write

🧪 feat: 테스트 인프라 강화 및 캐시 시스템 최적화
  config/testing/global-setup.ts
  config/testing/vitest.config.minimal.ts
  config/testing/vitest.setup.ts
  src/lib/cache-helper.ts
  src/lib/unified-cache.ts
  tests/ai-sidebar/aiQueryHandlers.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧪 feat: Playwright QA 시스템 완전 구축 및 SSR 문제 해결
  config/testing/vitest.config.main.ts
  instrumentation.ts
  next.config.mjs
  playwright.config.ts
  src/app/main/page.tsx
  src/domains/ai-sidebar/components/AIEngineSelector.tsx
  src/domains/ai-sidebar/components/ChatMessageItem.tsx
  src/domains/ai-sidebar/hooks/useAIEngine.ts
  src/services/ai/SimplifiedQueryEngine.processors.command.ts
  src/services/ai/SimplifiedQueryEngine.processors.ts
  src/services/ai/UnifiedAIEngineRouter.core.ts
  src/services/ai/__tests__/SimplifiedQueryEngine.test.ts
  src/services/ai/__tests__/error-handling-fallback.test.ts
  src/test/global-setup.ts
  src/test/mocks/browser.ts
  src/test/polyfills.js
  src/test/setup.ts
  tests/ai-sidebar/AIEngineSelector.test.tsx
  tests/ai-sidebar/ChatMessageItem.test.tsx
  tests/api/servers.integration.test.ts
  tests/e2e/basic-flow.e2e.ts
  tests/integration/basic-flow-e2e.test.ts
  tests/performance/core-web-vitals.test.ts
  tests/qa/comprehensive-qa.test.ts
  tests/qa/performance-lighthouse.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: Vercel 배포 문제 완전 해결
  next.config.mjs
  src/app/api/ai/incident-report/route.ts
  src/app/api/ai/performance/route.ts
  src/app/dashboard/DashboardClient.tsx
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: ccusage statusline [1;1R 문제 완전 해결 및 AI 검증 시스템 강화
  .claude/hooks/smart-verification.sh
  .claude/queues/parallel-locks.txt
  .claude/scripts/ai-collaboration-wrapper.sh
  .claude/scripts/hybrid-verification-system.sh
  .claude/scripts/manual-verification.sh
  .claude/scripts/optimized-verification.sh
  .claude/settings.json
  .claude/verification-results/comparison_1755863974.md
Due: prettier --write

🐛 fix: SVGElement SSR 오류 해결 - Vercel 배포 수정
  src/app/main/page.tsx
  src/app/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: SSR 방지 강화 - u is not a function 오류 해결
  src/app/main/page.tsx
  src/app/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: SSR 완전 해결 - framer-motion 제거 및 CSS 애니메이션 전환
  src/app/global-error.tsx
  src/app/globals.css
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🚨 fix: 긴급 SSR 수정 - 주요 컴포넌트 framer-motion 제거
  src/app/globals.css
  src/components/home/FeatureCardsGrid.tsx
  src/components/shared/UnifiedProfileHeader.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔥 fix: 완전한 framer-motion 제거 - ProfileDropdownMenu & FeatureCardModal SSR 호환
  src/components/profile/components/ProfileDropdownMenu.tsx
  src/components/shared/FeatureCardModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: FeatureCardModal syntax error 수정
  src/components/shared/FeatureCardModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
