Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

fix(langgraph): support POSTGRES_URL_NON_POOLING for Vercel PostgreSQL
  src/services/langgraph/checkpointer.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): change streaming Content-Type to text/event-stream for AI SDK compatibility
  .env.example
  src/app/api/ai/supervisor/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: optimize AI supervisor route and guest mode config
  config/.wslconfig.optimized
  src/app/api/ai/supervisor/route.ts
  src/config/guestMode.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: AI assistant architecture improvements
  package-lock.json
  src/components/ai/LazyAIComponents.tsx
  src/components/ai/pages/components/AnalysisTab.tsx
  src/components/ai/pages/components/PredictionTab.tsx
  src/lib/error-handler.ts
  src/lib/logger.ts
  src/lib/types/error-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Apply Biome lint fixes and line ending normalization
  cloud-run/ai-engine/data/hourly-data/hour-00.json
  cloud-run/ai-engine/data/hourly-data/hour-01.json
  cloud-run/ai-engine/data/hourly-data/hour-02.json
  cloud-run/ai-engine/data/hourly-data/hour-03.json
  cloud-run/ai-engine/data/hourly-data/hour-04.json
  cloud-run/ai-engine/data/hourly-data/hour-05.json
  cloud-run/ai-engine/data/hourly-data/hour-06.json
  cloud-run/ai-engine/data/hourly-data/hour-07.json
  cloud-run/ai-engine/data/hourly-data/hour-08.json
  cloud-run/ai-engine/data/hourly-data/hour-09.json
  cloud-run/ai-engine/data/hourly-data/hour-10.json
  cloud-run/ai-engine/data/hourly-data/hour-11.json
  cloud-run/ai-engine/data/hourly-data/hour-12.json
  cloud-run/ai-engine/data/hourly-data/hour-13.json
  cloud-run/ai-engine/data/hourly-data/hour-14.json
  cloud-run/ai-engine/data/hourly-data/hour-15.json
  cloud-run/ai-engine/data/hourly-data/hour-16.json
  cloud-run/ai-engine/data/hourly-data/hour-17.json
  cloud-run/ai-engine/data/hourly-data/hour-18.json
  cloud-run/ai-engine/data/hourly-data/hour-19.json
  cloud-run/ai-engine/data/hourly-data/hour-20.json
  cloud-run/ai-engine/data/hourly-data/hour-21.json
  cloud-run/ai-engine/data/hourly-data/hour-22.json
  cloud-run/ai-engine/data/hourly-data/hour-23.json
  cloud-run/ai-engine/src/agents/analyst-agent.ts
  cloud-run/ai-engine/src/agents/nlq-agent.ts
  cloud-run/ai-engine/src/agents/reporter-agent.ts
  cloud-run/ai-engine/src/lib/checkpointer.ts
  cloud-run/ai-engine/src/lib/rust-ml-client.ts
  cloud-run/ai-engine/src/server-simple.ts
  cloud-run/ai-engine/src/server.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  cloud-run/ai-engine/src/services/scenario/scenario-loader.ts
  cloud-run/ai-engine/src/types/server-metrics.ts
  src/app/api/ai/wake-up/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Resolve TypeScript and lint warnings
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/src/agents/analyst-agent.ts
  cloud-run/ai-engine/src/agents/nlq-agent.ts
  cloud-run/ai-engine/src/lib/model-config.ts
  cloud-run/ai-engine/src/lib/utils/type-converters.ts
  cloud-run/ai-engine/src/server-simple.ts
  cloud-run/ai-engine/src/server.ts
  cloud-run/ai-engine/src/types/server-metrics.ts
  cloud-run/ai-engine/tsconfig.json
  src/components/ai/LazyAIComponents.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: Correct component props for MonitoringWorkflow and MonitoringResults
  src/components/ai/pages/components/AnalysisTab.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: Remove unused variables in AnalysisTab
  src/components/ai/pages/components/AnalysisTab.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: Replace MonitoringWorkflow with simple button
  src/components/ai/pages/components/AnalysisTab.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: Correct IntelligentAnalysisRequest property name
  src/components/ai/pages/components/AnalysisTab.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: Use correct IntelligentAnalysisRequest interface
  src/components/ai/pages/components/AnalysisTab.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: Remove unused imports in AnalysisTab
  src/components/ai/pages/components/AnalysisTab.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: Clean up unused imports
  src/components/ai/pages/components/AnalysisTab.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(infra): migrate AI Engine to Cloud Run & integrate with Vercel
  .vercelignore
  cloud-run/ai-engine/.gcloudignore
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/deploy.sh
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/server.ts
  cloud-run/supabase-mcp/deploy.sh
  deploy_log.txt
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): Migrate AI engine to Google Cloud Run and update related docs
  AGENTS.md
  README.md
  docs/architecture/cloud_run_cost_analysis.md
  docs/architecture/hybrid_split.md
  docs/planning/TODO.md
  src/app/api/ai/health/route.ts
  src/components/ai/AIWorkspace.tsx
  src/domains/ai-sidebar/components/AIDebugPanel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): Resolve remaining issues from AI engine migration
  docs/planning/analysis/ai-review-performance-report.md
  src/app/api/ai/health/route.ts
  src/components/ai/AIWorkspace.tsx
  src/domains/ai-sidebar/components/AIDebugPanel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: clean up root directory per JBGE policy
  .gitignore
  .jbge-root-file-policy
  cloud-run/ai-engine/src/server.ts
  deploy_log.txt
  docs/planning/analysis/README.md
  scripts/ai-subagents/extract-summary.sh
  scripts/ai-verification/README.md
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): add Cloud Run status indicator with warmup support
  src/domains/ai-sidebar/components/AISidebarHeader.tsx
  src/domains/ai-sidebar/components/CloudRunStatusIndicator.tsx
Due: eslint --fix --max-warnings 0, prettier --write

security: remove exposed API keys from codebase
  AGENTS.md
  tests/unit/utils/environment-security.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf(ai): switch Analyst agent from Gemini Pro to Flash for better free tier usage
  cloud-run/ai-engine/src/lib/model-config.ts
  docs/core/architecture/AI_ENGINE_ARCHITECTURE.md
Due: eslint --fix --max-warnings 0, prettier --write

perf(cloud-run): optimize AI Engine Dockerfile + remove supabase-mcp
  cloud-run/ai-engine/.dockerignore
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/package.json
  cloud-run/supabase-mcp/.dockerignore
  cloud-run/supabase-mcp/.env.example
  cloud-run/supabase-mcp/Dockerfile
  cloud-run/supabase-mcp/cloudbuild.yaml
  cloud-run/supabase-mcp/deploy.sh
  cloud-run/supabase-mcp/package-lock.json
  cloud-run/supabase-mcp/package.json
  cloud-run/supabase-mcp/src/index.ts
  cloud-run/supabase-mcp/tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

chore: exclude cloud-run from Vercel deployment
  .vercelignore
Due: none

fix(vercel): use absolute path for cloud-run ignore
  .vercelignore
Due: none

refactor: rename src/lib/cloud-run → ai-proxy to avoid .vercelignore conflict
  src/app/api/ai/approval/route.ts
  src/app/api/ai/health/route.ts
  src/app/api/ai/supervisor/route.ts
  src/lib/ai-proxy/proxy.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(deps): upgrade react-error-boundary from v4 to v6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): upgrade zod from v4.1.13 to v4.2.0
  package-lock.json
  package.json
Due: prettier --write

docs: add Jules async coding agent to AI registry
  CLAUDE.md
  config/ai/registry-core.yaml
Due: prettier --write

docs: update Jules description based on official documentation
  CLAUDE.md
  config/ai/registry-core.yaml
Due: prettier --write

docs: add Jules async analysis tasks to TODO.md
  docs/planning/TODO.md
Due: prettier --write

chore: remove redundant infra/ folder
  infra/docs/README.md
  infra/docs/deployment/배포_통합_가이드.md
Due: prettier --write

test: improve test coverage config based on Jules analysis
  config/testing/vitest.config.main.ts
  docs/planning/TODO.md
  package-lock.json
  package.json
  src/mocks/handlers/nextjs/api-routes.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update Jules task statuses after review
  docs/planning/TODO.md
Due: prettier --write

chore: remove Jules CLI references - now web-only (jules.google)
  AGENTS.md
  CLAUDE.md
  config/ai/registry-core.yaml
  scripts/ai-subagents/jules-wrapper.sh
Due: prettier --write

fix(langgraph): change supervisor model from Groq to Gemini
  src/services/langgraph/model-config.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: implement zero-internal-traffic architecture with supabase rag
  biome.json
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/agents/analyst-agent.ts
  cloud-run/ai-engine/src/agents/nlq-agent.ts
  cloud-run/ai-engine/src/data/fixed-24h-metrics.ts
  cloud-run/ai-engine/src/data/scenarios.ts
  cloud-run/ai-engine/src/lib/errors.ts
  cloud-run/ai-engine/src/lib/model-config.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  cloud-run/ai-engine/src/services/scenario/scenario-loader.ts
  cloud-run/ai-engine/src/test-groq-tool-calling.ts
  cloud-run/rust-inference/data/fixed-24h-data.json
  docs/core/architecture/DATA_ARCHITECTURE.md
  docs/core/architecture/system-overview.md
  docs/development/testing/msw-guide.md
  src/app/api/ai/google-ai/status/route.ts
  src/components/dashboard/EnhancedServerModal.tsx
  src/mocks/handlers/ai/google-ai.ts
  src/scripts/generate-rust-data.ts
  src/scripts/seed-logs-supabase-standalone.ts
  src/scripts/seed-logs-supabase.ts
  src/services/data/UnifiedServerDataSource.ts
  src/services/langgraph/model-config.ts
  src/types/external-modules.d.ts
  src/types/supabase.ts
  tests/integration/ai-metrics-integration.test.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove deprecated seed-logs-supabase.ts script
  src/scripts/seed-logs-supabase.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: resolve TypeScript build errors for Gemini 2.5 migration
  docs/core/architecture/DATA_ARCHITECTURE.md
  src/components/dashboard/EnhancedServerModal.tsx
  src/data/fixed-24h-metrics.ts
  src/scripts/seed-logs-supabase-standalone.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(rust-ml): add clustering endpoint and docker-compose setup
  cloud-run/README.md
  cloud-run/ai-engine/src/agents/analyst-agent.ts
  cloud-run/ai-engine/src/lib/rust-ml-client.ts
  cloud-run/docker-compose.yml
  cloud-run/rust-inference/Cargo.toml
  cloud-run/rust-inference/src/handlers/clustering.rs
  cloud-run/rust-inference/src/handlers/mod.rs
  cloud-run/rust-inference/src/main.rs
  cloud-run/rust-inference/src/ml/clustering.rs
  cloud-run/rust-inference/src/ml/mod.rs
  docs/DEVELOPMENT.md
  docs/architecture/RUST_ML_SERVICE.md
  docs/architecture/hybrid_split.md
Due: eslint --fix --max-warnings 0, prettier --write
