Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

chore: remove obsolete server-scenario scripts and update paths
  docs/core/architecture/DATA_ARCHITECTURE.md
  docs/environment/guides/simulation.md
  package.json
  scripts/fix-json-status.js
  scripts/generate-hourly-metrics.js
  scripts/generate-realistic-incidents.js
  src/mock/README.md
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): resolve local E2E test failures with production build mode
  package.json
  playwright.config.ts
  tests/e2e/smoke.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(e2e): remove redundant test files
  tests/e2e/ai-friendly-test-example.spec.ts
  tests/e2e/performance.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(e2e): remove deprecated ai-assistant-button-test
  tests/e2e/ai-assistant-button-test.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): stabilize local dev server E2E testing for Next.js 15
  next.config.mjs
  playwright.config.ts
  tests/e2e/helpers/security.ts
  tests/e2e/smoke.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(arch): update version to v5.80.0 and add version API test
  docs/core/architecture/SYSTEM-ARCHITECTURE-CURRENT.md
  tests/e2e/smoke.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(review): Gemini wrapper 일관성 + 버전 동기화 + 경로 주석
  scripts/code-review/lib/ai-review-core.sh
  src/app/api/version/route.ts
  src/services/data/UnifiedServerDataSource.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf: prevent GuestMode excessive console logging
  src/config/guestMode.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): prevent DashboardContent render log spam
  src/components/dashboard/DashboardContent.tsx
Due: eslint --fix --max-warnings 0, prettier --write

security(e2e): TEST_SECRET_KEY 보안 강화 및 AI 테스트 분리
  package.json
  tests/e2e/ai-functions.spec.ts
  tests/e2e/ai-sidebar-vercel-validation.spec.ts
  tests/e2e/helpers/vercel-test-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(review): Gemini wrapper v3.1.0 - 쿼리 이스케이핑 버그 수정
  config/ai/registry-core.yaml
  scripts/ai-subagents/gemini-wrapper.sh
Due: prettier --write

feat(ai-review): 순서 기반 AI 선택 + Qwen 최종 폴백 (v6.0.0/v6.1.0)
  config/ai/registry-core.yaml
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: prettier --write

feat(review): 3-AI 순번 (codex→gemini→claude) + 즉시 Qwen 폴백
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: none

style(e2e): Biome 자동 포맷팅 적용
  tests/e2e/helpers/vercel-test-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(review): Gemini wrapper 일관성 + 버전 동기화 + 경로 주석
  scripts/ai-subagents/gemini-wrapper.sh
Due: none

fix(wrapper): stdout/stderr 분리로 파이프라인 호환성 향상
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/code-review/lib/ai-review-core.sh
Due: none

fix(wrappers): Codex/Qwen v3.1.0 - stdout/stderr 분리 + 견고성 향상
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/qwen-wrapper.sh
Due: none

fix: resolve Gemini logging regression and improve output capture
  scripts/ai-subagents/gemini-wrapper.sh
Due: none

docs: update CLAUDE.md references
  CLAUDE.md
Due: prettier --write

docs: synchronize MCP configuration with CLAUDE.md
  docs/environment/tools/mcp/mcp-configuration.md
  scripts/mcp/mcp-health-check.sh
Due: prettier --write

docs: add environment-specific MCP configurations
  docs/environment/tools/mcp/mcp-configuration.md
Due: prettier --write

style: apply Biome auto-fix for import type statements
  src/core/events/SystemEventHandler.ts
  src/domains/ai-sidebar/components/AIEngineIndicator.tsx
  src/domains/ai-sidebar/components/AISidebarHeader.tsx
  src/hooks/dashboard/useServerStats.ts
  src/hooks/useSafeServer.tsx
  src/lib/api/api-client.ts
  src/lib/api/zod-middleware.ts
  src/lib/auth/auth-cache.ts
  src/lib/supabase/middleware.ts
  src/lib/testing/ai-friendly-vitals.ts
  src/lib/utils/vercel-safe-utils.ts
  src/mock/data/constants.ts
  src/mock/data/scenarios/cacheFailure.ts
  src/mock/data/scenarios/dbOverload.ts
  src/mock/data/scenarios/index.ts
  src/mock/data/scenarios/networkBottleneck.ts
  src/mock/data/scenarios/storageFull.ts
  src/mock/data/utils.ts
  src/mocks/handlers/index.ts
  src/modules/performance-monitor/components/PerformanceMonitor.tsx
  src/modules/performance-monitor/hooks/usePerformanceMetrics.ts
  src/modules/performance-monitor/services/PerformanceService.ts
  src/services/ai/IntelligentMonitoringService.ts
  src/services/ai/SimplifiedQueryEngine.processors.helpers.ts
  src/services/ai/SimplifiedQueryEngine.utils.ts
  src/services/ai/core/QueryProcessorBase.ts
  src/types/api-responses.ts
  src/types/react-utils.ts
  src/types/validation-utils.ts
  src/utils/dashboard/server-utils.ts
  src/utils/security/csrf.ts
  src/utils/supabase/middleware.ts
  src/utils/text-rendering.tsx
  src/validators/validation.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: resolve all Biome lint warnings (49→0)
  src/components/dashboard/__tests__/DashboardAIInteraction.test.tsx
  src/context/AccessibilityProvider.tsx
  src/hooks/__tests__/useFixed24hMetrics.test.ts
  src/lib/di-container.ts
  src/services/UnifiedMetricsManager.autoscaler.ts
  src/services/UnifiedMetricsManager.metricsUpdater.ts
  src/services/UnifiedMetricsManager.performanceMonitor.ts
  src/services/UnifiedMetricsManager.scheduler.ts
  src/services/UnifiedMetricsManager.serverFactory.ts
  src/services/ai/__tests__/SimplifiedQueryEngine.test.ts
  src/services/ai/__tests__/UnifiedQueryProcessor.test.ts
  src/types/react-utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(wrappers): v3.2.0 - temp_stdout unbound variable 버그 수정
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/qwen-wrapper.sh
Due: none

feat(ai-sidebar): connect ML Learning Center to API + cleanup
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/FreeTierMonitor.tsx
  src/components/ai/pages/AutoReportPage.tsx
  src/components/ai/pages/MLLearningCenter.tsx
  src/components/dashboard/AISidebarContent.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): remove server-only imports from client-side auth files
  src/app/api/ai/intelligent-monitoring/route.ts
  src/components/ai/pages/IntelligentMonitoringPage.tsx
  src/lib/auth/auth-state-manager.ts
  src/lib/auth/supabase-auth.ts
  src/services/ai/IntelligentMonitoringService.ts
  src/types/server.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): enhance security with JWT validation and secure guest IDs
  src/app/login/LoginClient.tsx
  src/hooks/useSupabaseSession.ts
  src/lib/auth/auth-state-manager.ts
  src/lib/auth/supabase-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

style: apply Biome formatting
  src/app/api/ai/intelligent-monitoring/route.ts
  src/app/login/LoginClient.tsx
  src/hooks/useSupabaseSession.ts
  src/lib/auth/auth-state-manager.ts
  src/lib/auth/supabase-auth.ts
  src/services/ai/IntelligentMonitoringService.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(hooks): change pre-push default to full build for safety
  .husky/pre-push
Due: none

docs: update GitHub OAuth & Guest authentication documentation
  docs/core/security/github-oauth.md
Due: prettier --write

docs(security): improve GitHub OAuth documentation based on AI review
  docs/core/security/github-oauth.md
Due: prettier --write

refactor(main): 메인 페이지 리팩토링 - 568줄 → 300줄 (47% 감소)
  src/app/main/components/DashboardSection.tsx
  src/app/main/components/LoginPrompt.tsx
  src/app/main/components/MainPageErrorBoundary.tsx
  src/app/main/components/SystemStartSection.tsx
  src/app/main/components/index.ts
  src/app/main/hooks/index.ts
  src/app/main/hooks/useSystemStart.tsx
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(main): 게스트 모드 시스템 시작 접근 허용
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(main): Biome 포맷팅 적용
  src/app/main/components/LoginPrompt.tsx
  src/app/main/components/MainPageErrorBoundary.tsx
  src/app/main/components/SystemStartSection.tsx
  src/app/main/components/index.ts
  src/app/main/hooks/index.ts
  src/app/main/hooks/useSystemStart.tsx
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(code-review): v6.3.0 - 1:1:1 균등분배 보장 + Rate Limit 감지
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: none

fix(code-review): v6.4.0 - 초기 상태 버그 수정 + Rate Limit 통합
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: none

feat(profile): 게스트 사용자에게 시스템 관리 메뉴 통합
  src/components/shared/UnifiedProfileHeader.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(auth): 30일 세션 만료 기능 추가
  src/lib/auth/auth-state-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): 세션 만료 기간 30일 → 7일로 변경
  src/lib/auth/auth-state-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(feature-cards): Vibe Coding 카드 내용 현행화
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
