Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

refactor(ai-cache): restore semantic log levels per GEMINI review
  reports/ai-review/reviewed/review-codex-2026-01-23-11-12-15.md
  reports/ai-review/reviewed/review-codex-2026-01-23-13-27-17.md
  reports/ai-review/reviewed/review-codex-2026-01-23-13-45-25.md
  reports/ai-review/reviewed/review-codex-2026-01-23-14-37-57.md
  reports/ai-review/reviewed/review-codex-2026-01-23-15-55-35.md
  reports/ai-review/reviewed/review-codex-2026-01-23-19-33-49.md
  reports/ai-review/reviewed/review-codex-2026-01-23-20-12-03.md
  reports/ai-review/reviewed/review-codex-2026-01-23-21-52-28.md
  reports/ai-review/reviewed/review-codex-2026-01-23-23-04-59.md
  reports/ai-review/reviewed/review-codex-2026-01-24-07-07-54.md
  reports/ai-review/reviewed/review-codex-2026-01-24-12-20-26.md
  reports/ai-review/reviewed/review-codex-2026-01-24-12-59-53.md
  reports/ai-review/reviewed/review-codex-2026-01-24-16-08-15.md
  reports/ai-review/reviewed/review-codex-2026-01-24-16-21-14.md
  reports/ai-review/reviewed/review-codex-2026-01-24-16-34-50.md
  reports/ai-review/reviewed/review-codex-2026-01-24-17-32-11.md
  reports/ai-review/reviewed/review-codex-2026-01-24-18-06-35.md
  reports/ai-review/reviewed/review-codex-2026-01-24-18-35-27.md
  reports/ai-review/reviewed/review-codex-2026-01-24-19-28-05.md
  reports/ai-review/reviewed/review-gemini-2026-01-23-09-13-20.md
  reports/ai-review/reviewed/review-gemini-2026-01-23-13-11-35.md
  reports/ai-review/reviewed/review-gemini-2026-01-23-14-34-30.md
  reports/ai-review/reviewed/review-gemini-2026-01-23-15-47-57.md
  reports/ai-review/reviewed/review-gemini-2026-01-23-16-06-57.md
  reports/ai-review/reviewed/review-gemini-2026-01-23-20-03-31.md
  reports/ai-review/reviewed/review-gemini-2026-01-23-21-38-04.md
  reports/ai-review/reviewed/review-gemini-2026-01-23-22-01-54.md
  reports/ai-review/reviewed/review-gemini-2026-01-23-23-21-09.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-12-20-26.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-12-54-36.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-13-15-04.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-16-08-15.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-16-26-51.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-16-50-48.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-17-54-13.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-18-11-08.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-19-23-59.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-19-40-13.md
  src/lib/redis/ai-cache.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(stream-v2): remove resumable-stream dependency (redis incompatible)
  package-lock.json
  package.json
  reports/ai-review/reviewed/review-codex-2026-01-24-19-47-33.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-19-52-38.md
  src/app/api/ai/supervisor/stream/v2/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-hooks): P0-P1 memory leak and error handling improvements
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.ts
  src/hooks/ai/useAsyncAIQuery.ts
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(stream-v2): implement Upstash-compatible resumable stream
  src/app/api/ai/supervisor/stream/v2/route.ts
  src/app/api/ai/supervisor/stream/v2/upstash-resumable.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 7.0.0
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  package-lock.json
  package.json
Due: prettier --write

fix(ai): P0-P2 code quality improvements from comprehensive analysis
  cloud-run/ai-engine/src/services/ai-sdk/model-provider.ts
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
  reports/planning/ai-codebase-improvement-plan.md
  src/hooks/ai/useAsyncAIQuery.ts
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): P0-P1 round 2 fixes - listener tracking, abort signal, logging
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.ts
  reports/planning/ai-codebase-improvement-plan.md
  src/hooks/ai/useAsyncAIQuery.ts
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): apply CODEX code review findings
  cloud-run/ai-engine/src/services/ai-sdk/model-provider.ts
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
  src/app/api/ai/supervisor/stream/v2/route.ts
  src/app/api/ai/supervisor/stream/v2/upstash-resumable.ts
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-sdk): apply CODEX R3 review improvements
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
  reports/ai-review/reviewed/review-codex-2026-01-24-21-25-20.md
  reports/ai-review/reviewed/review-codex-2026-01-24-22-21-44.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-21-37-47.md
  src/app/api/ai/supervisor/stream/v2/route.ts
  src/app/api/ai/supervisor/stream/v2/upstash-resumable.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: archive resolved AI code reviews
  reports/ai-review/reviewed/review-codex-2026-01-24-20-06-20.md
  reports/ai-review/reviewed/review-codex-2026-01-24-20-15-53.md
  reports/ai-review/reviewed/review-codex-2026-01-24-21-23-46.md
  reports/ai-review/reviewed/review-codex-2026-01-25-08-59-53.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-20-06-20.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-20-53-07.md
  reports/ai-review/reviewed/review-gemini-2026-01-24-23-55-07.md
  reports/ai-review/reviewed/review-gemini-2026-01-25-09-16-53.md
Due: prettier --write

refactor(ai-engine): apply AI SDK v6 best practices improvements
  cloud-run/ai-engine/src/services/ai-sdk/model-provider.ts
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update AI SDK v6 documentation and fix TypeScript closure error
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
  docs/reference/architecture/ai/ai-engine-architecture.md
  docs/reference/architecture/ai/ai-engine-internals.md
  docs/status.md
  reports/planning/ai-sdk-v6-improvement-plan.md
Due: eslint --fix --max-warnings 0, prettier --write

docs: update architecture diagrams for AI SDK v6.1.0
  docs/reference/architecture/ai/ai-engine-architecture.md
  src/data/architecture-diagrams.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: mark Phase 3 architecture diagrams as complete
  reports/planning/ai-sdk-v6-improvement-plan.md
Due: prettier --write

docs: sync related architecture docs with AI SDK v6.1.0
  docs/reference/architecture/infrastructure/hybrid-split.md
  docs/reference/architecture/system/system-architecture-current.md
Due: prettier --write

feat(circuit-breaker): add Redis distributed state store
  src/app/api/ai/incident-report/route.ts
  src/app/api/ai/intelligent-monitoring/route.ts
  src/lib/ai-proxy/proxy-config.ts
  src/lib/ai/circuit-breaker.ts
  src/lib/redis/circuit-breaker-store.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(stream-v2): correct Cloud Run URL environment variable name
  src/app/api/ai/supervisor/stream/v2/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: align documentation with AI SDK v6 implementation
  .claude/rules/architecture.md
  docs/ai-model-policy.md
  docs/reference/architecture/ai/ai-engine-architecture.md
  docs/reference/architecture/infrastructure/hybrid-split.md
  docs/status.md
  reports/planning/doc-improvement-plan-2026-01-25.md
Due: prettier --write

feat(ai-engine): implement multi-agent context sharing and timeout centralization
  cloud-run/ai-engine/src/config/timeout-config.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/context-store.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.ts
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(orchestrator): align extractAnomalies/extractMetrics with context-store types
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(supervisor): add recordModelUsage to multi-agent mode
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(gitignore): exclude AI review archived files
  .gitignore
Due: none

fix(ai): apply AI SDK best practice for stream resume URL
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(devops): add Vercel environment variable sync automation
  .claude/rules/env-sync.md
  package.json
  scripts/env/sync-vercel.sh
Due: prettier --write

fix(incident-report): correct system summary data in failure reports
  cloud-run/README.md
  cloud-run/ai-engine/src/routes/analytics.ts
  cloud-run/ai-engine/src/tools-ai-sdk/analyst-tools.ts
  cloud-run/ai-engine/src/tools-ai-sdk/index.ts
  docs/reference/architecture/ai/ai-engine-architecture.md
  docs/reference/architecture/ai/monitoring-ml.md
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai-engine): improve detectAnomaliesAllServers tool quality
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.test.ts
  cloud-run/ai-engine/src/tools-ai-sdk/analyst-tools.test.ts
  cloud-run/ai-engine/src/tools-ai-sdk/analyst-tools.ts
  cloud-run/ai-engine/src/tools-ai-sdk/index.ts
  cloud-run/ai-engine/src/types/analysis-results.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-chat): add null check for message parts in useChat hook
  src/hooks/ai/utils/message-helpers.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-chat): add null checks for message parts in useAIChatCore and useHybridAIQuery
  src/hooks/ai/useAIChatCore.ts
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-chat): add null checks in message-normalizer.ts
  src/lib/ai/utils/message-normalizer.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-chat): filter out empty content messages from localStorage
  src/hooks/ai/useAIChatCore.ts
  src/hooks/ai/utils/chat-history-storage.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-chat): add message sanitization before AI SDK sendMessage
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-chat): use flushSync for message sanitization before sendMessage
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-chat): add useEffect to proactively sanitize messages
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-chat): use setTimeout(0) to ensure state sync before sendMessage
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-chat): use SanitizingChatTransport for message serialization
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-stream): add required x-vercel-ai-ui-message-stream header for AI SDK v6
  src/app/api/ai/supervisor/stream/v2/route.ts
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-chat): correct sendMessage format for AI SDK v6
  src/app/api/ai/supervisor/stream/v2/route.ts
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-chat): disable resume option to fix clarification flow error
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(deps): update AI SDK 6.0.3 → 6.0.39
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
