Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

fix(ai-chat): pre-sanitize messages before sendMessage to prevent AI SDK internal error
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-engine): add UIMessageStream protocol compliance
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: exclude ai-review/README.md from git tracking
  .gitignore
Due: none

feat(ai-engine): implement advanced RAG pipeline improvements
  cloud-run/ai-engine/src/lib/hybrid-text-search.ts
  cloud-run/ai-engine/src/lib/llamaindex-rag-service.ts
  cloud-run/ai-engine/src/lib/query-expansion.ts
  cloud-run/ai-engine/src/lib/reranker.ts
  cloud-run/ai-engine/src/lib/tavily-hybrid-rag.ts
  cloud-run/ai-engine/src/tools-ai-sdk/reporter-tools.ts
  supabase/migrations/20260126_update_hybrid_search_vector_dim.sql
Due: eslint --fix --max-warnings 0, prettier --write

fix(hooks): resolve type mismatch in useChatHistory with BaseMessage
  src/hooks/ai/core/useChatHistory.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(hooks): decompose useAIChatCore into focused hooks
  src/hooks/ai/core/useChatFeedback.ts
  src/hooks/ai/core/useChatHistory.ts
  src/hooks/ai/core/useChatSession.ts
  src/hooks/ai/core/useChatSessionState.ts
  src/hooks/ai/useAIChatCore.ts
  src/stores/useAISidebarStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(hooks): address AI code review findings
  src/hooks/ai/core/useChatFeedback.ts
  src/hooks/ai/core/useChatSession.ts
  src/hooks/ai/useAIChatCore.ts
  src/stores/useAISidebarStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(ai): add comprehensive RAG architecture documentation
  docs/reference/architecture/ai/ai-engine-architecture.md
  docs/reference/architecture/ai/ai-engine-internals.md
  docs/reference/architecture/ai/rag-knowledge-engine.md
Due: prettier --write

docs: consolidate WSL/development docs (DRY principle)
  docs/DEVELOPMENT.md
  docs/README.md
  docs/development/README.md
  docs/development/coding-standards.md
  docs/development/dev-tools.md
  docs/development/wsl-setup.md
  docs/guides/environment/wsl/wsl-setup-guide.md
Due: prettier --write

chore(release): 7.0.1
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  package-lock.json
  package.json
Due: prettier --write

docs: sync version to v7.0.1 and add cross-references
  .claude/rules/ai-tools.md
  .claude/rules/deployment.md
  .claude/rules/testing.md
  CLAUDE.md
  docs/QUICK-START.md
  docs/README.md
  docs/llms.md
  docs/status.md
Due: prettier --write

docs(rules): improve architecture.md for Claude Code usability
  .claude/rules/architecture.md
Due: prettier --write

refactor(jobs): migrate Job Queue from Supabase to Redis Only
  docs/status.md
  sql/migrations/006_drop_ai_jobs_table.sql
  src/app/api/ai/jobs/[id]/progress/route.ts
  src/app/api/ai/jobs/[id]/route.ts
  src/app/api/ai/jobs/route.ts
  src/types/ai-jobs.ts
  tests/api/ai-raw-metrics.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(jobs): apply Biome formatting
  src/app/api/ai/jobs/[id]/route.ts
  src/app/api/ai/jobs/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(supabase): add migration for ai_jobs table cleanup
  package-lock.json
  package.json
  supabase/migrations/20260126_drop_ai_jobs_table.sql
Due: prettier --write

fix(version): sync hardcoded version to 7.0.1
  src/app/api/system/route.ts
  src/app/api/version/route.ts
  src/app/privacy/page.tsx
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 7.0.2
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  package-lock.json
  package.json
Due: prettier --write

feat(ci): add Dependabot auto-merge for patch updates
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

refactor(config): centralize AI proxy config with Zod schema
  .env.example
  src/app/api/ai/incident-report/route.ts
  src/app/api/ai/intelligent-monitoring/route.ts
  src/app/api/ai/supervisor/route.ts
  src/app/api/ai/supervisor/stream/v2/route.ts
  src/config/ai-proxy.config.ts
  src/lib/ai-proxy/proxy-config.ts
Due: eslint --fix --max-warnings 0, prettier --write

style: apply Biome import ordering and improve MCP docs
  docs/guides/mcp/setup-guide.md
  src/app/api/ai/incident-report/route.ts
  src/app/api/ai/intelligent-monitoring/route.ts
  src/app/api/ai/supervisor/route.ts
  src/app/api/ai/supervisor/stream/v2/route.ts
  src/lib/ai-proxy/proxy-config.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: apply AI code review critical fixes
  .gitignore
  cloud-run/ai-engine/src/lib/job-notifier.ts
  cloud-run/ai-engine/src/tools-ai-sdk/reporter-tools.ts
  src/hooks/ai/useAsyncAIQuery.ts
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-engine): add graceful stream abort on timeout (P0)
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.ts
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update improvement plan completion status
  reports/planning/TODO.md
  reports/planning/ai-codebase-improvement-plan.md
Due: prettier --write

fix(ai-engine): use AbortController for proper stream cancellation
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.ts
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 7.1.0
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  package-lock.json
  package.json
Due: prettier --write

refactor(warmup): consolidate AI warmup to single triggerAIWarmup function
  src/app/dashboard/DashboardClient.tsx
  src/utils/ai-warmup.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf(ci): optimize pre-push and disable redundant GitHub Actions build
  .github/workflows/simple-deploy.yml
  scripts/hooks/pre-push.js
Due: eslint --fix --max-warnings 0, prettier --write

feat(security): add comprehensive secret detection to pre-commit
  .gitignore
  .husky/pre-commit
  scripts/env/precommit-check-secrets.cjs
Due: none

docs: add git hooks workflow guide and update development docs
  docs/development/README.md
  docs/development/full-setup-guide.md
  docs/development/git-hooks-workflow.md
  docs/vibe-coding/workflows.md
Due: prettier --write

docs: consolidate MCP documentation into single guide
  docs/guides/mcp/setup-guide.md
  docs/vibe-coding/mcp-servers.md
  docs/vibe-coding/setup.md
Due: prettier --write

feat(ai-engine): add Vision Agent with Gemini Flash-Lite
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/lib/config-parser.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/agent-configs.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/index.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/vision.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.test.ts
  cloud-run/ai-engine/src/services/ai-sdk/model-provider.ts
  cloud-run/ai-engine/src/services/resilience/quota-tracker.ts
  cloud-run/ai-engine/src/tools-ai-sdk/index.ts
  cloud-run/ai-engine/src/tools-ai-sdk/vision-tools.ts
  docs/ai-model-policy.md
  docs/status.md
  reports/planning/vision-agent-implementation-plan.md
  src/data/architecture-diagrams.data.ts
  src/data/feature-cards.data.ts
  src/data/tech-stacks.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-engine): regenerate package-lock.json for @ai-sdk/google
  cloud-run/ai-engine/package-lock.json
Due: prettier --write

docs(mcp): add Stitch MCP server for UI design
  docs/vibe-coding/mcp-servers.md
Due: prettier --write

docs: update project rules for v7.1.0
  .claude/rules/ai-tools.md
  CLAUDE.md
Due: prettier --write

refactor(skills): standardize skill structure per Claude Code best practices
  .claude/skills/_template/SKILL.md
  .claude/skills/ai-code-review/SKILL.md
  .claude/skills/ai-code-review/scripts/move-to-history.sh
  .claude/skills/ai-report-export/SKILL.md
  .claude/skills/cloud-run-deploy/SKILL.md
  .claude/skills/cloud-run-deploy/references/edge-cases.md
  .claude/skills/cloud-run-deploy/references/rollback.md
  .claude/skills/commit-commands/SKILL.md
  .claude/skills/commit-commands/scripts/rotate-ai-reviewer.sh
  .claude/skills/commit-commands/scripts/save-review-result.sh
  .claude/skills/lint-smoke/SKILL.md
  .claude/skills/mermaid-diagram/SKILL.md
  .claude/skills/next-router-bottleneck/SKILL.md
  .claude/skills/playwright-triage/SKILL.md
  .claude/skills/security-audit-workflow/SKILL.md
  .claude/skills/validation-analysis/SKILL.md
Due: prettier --write

fix(skills): add executable permissions to scripts
  .claude/skills/ai-code-review/scripts/move-to-history.sh
  .claude/skills/commit-commands/scripts/rotate-ai-reviewer.sh
  .claude/skills/commit-commands/scripts/save-review-result.sh
Due: none

fix(skills): use modular scripts in commit-commands workflow
  .claude/skills/commit-commands/SKILL.md
Due: prettier --write

fix(warmup): correct cooldown comment (60s → 5min)
  src/app/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write
