Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

perf(server-card): remove Disk/Network graphs for 50% render optimization
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(metrics): align chart interval with actual data source (10min)
  src/hooks/useFixed24hMetrics.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(metrics): add initial history generation test (12pts, 10min intervals)
  src/hooks/useFixed24hMetrics.test.ts
  src/hooks/useFixed24hMetrics.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(dashboard): improve chart visualization and card layout
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/dashboard/VirtualizedServerList.tsx
  src/components/shared/MiniLineChart.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(chart): add start/end value labels to MiniLineChart
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/shared/MiniLineChart.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(cleanup): remove 17 obsolete monitoring scripts (-4,827 lines)
  scripts/monitoring/README.md
  scripts/monitoring/architecture/validate-free-tier-architecture.sh
  scripts/monitoring/billing/check-free-tier.sh
  scripts/monitoring/billing/check-gcp-billing.sh
  scripts/monitoring/memory-monitor.ts
  scripts/monitoring/metrics/daily-ai-metrics-v2.sh
  scripts/monitoring/metrics/project-metrics.sh
  scripts/monitoring/serena-lightweight-proxy.mjs
  scripts/monitoring/serena-prewarming-service.mjs
  scripts/monitoring/serena/serena-launcher.py
  scripts/sync-server-data.sh
  scripts/wsl-monitor/README.md
  scripts/wsl-monitor/dashboard/terminal-ui.sh
  scripts/wsl-monitor/lib/mcp-checker.sh
  scripts/wsl-monitor/lib/process-analyzer.sh
  scripts/wsl-monitor/lib/system-metrics.sh
  scripts/wsl-monitor/wsl-monitor.sh
Due: eslint --fix --max-warnings 0, prettier --write

chore(cleanup): remove 12 unused legacy scripts (-2,079 lines)
  scripts/ai-wrappers/qwen-wrapper.sh.deprecated
  scripts/dev/auto-update-docs.mjs
  scripts/dev/check-hook-deps.mjs
  scripts/dev/fix-tools.mjs
  scripts/platform/README.md
  scripts/update/setup-git-hooks.mjs
  scripts/update/update-ai-context.ps1
  scripts/utils/hooks/pre-database-hook-ultra-minimal.sh
  scripts/utils/hooks/shared-functions.sh
  scripts/utils/misc/changelog.config.sh
  scripts/utils/misc/terminal-scroll-fix.sh
  scripts/utils/misc/update-changelog.sh
Due: prettier --write

docs: remove dead links to deleted scripts
  docs/guides/environment/wsl-ai-tools.md
  docs/guides/workflows/auto-code-review.md
  docs/reference/architecture/system/system-architecture-deployment.md
Due: prettier --write

fix(code-review): improve report quality (v7.4.0)
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: none

feat(code-review): add verification status for delete-only commits (v7.4.0)
  scripts/code-review/auto-ai-review.sh
Due: none

docs: fix dead references from AI code review feedback
  docs/guides/documentation-automation.md
  scripts/code-review/auto-ai-review.sh
Due: prettier --write

docs: AI 협업 개발 문서 최신화 (v5.87.0)
  .npmrc
  CLAUDE.md
  cloud-run/ai-engine/package.json
  docs/DEVELOPMENT.md
  docs/QUICK-START.md
  docs/ai-model-policy.md
  docs/guides/ai/common/ai-cli-guide.md
  docs/guides/ai/common/ai-workflow.md
  docs/guides/ai/context-compression-design.md
  docs/reference/ai/README.md
  docs/reference/ai/ai-architecture.md
  docs/reference/architecture/ai/ai-engine-architecture.md
  docs/reference/architecture/infrastructure/cloud_run_cost_analysis.md
  docs/reference/architecture/infrastructure/hybrid_split.md
  docs/reference/architecture/system/system-architecture-current.md
  docs/reference/architecture/system/system-overview.md
Due: prettier --write

chore: add .npm-global to gitignore
  .gitignore
Due: none

docs: sync architecture docs with actual codebase structure (v5.87.0)
  docs/reference/architecture/ai/ai-engine-architecture.md
  docs/reference/architecture/design/module-structure.md
  docs/reference/architecture/folder-structure.md
  docs/reference/architecture/system/system-architecture-current.md
Due: prettier --write

chore: remove npm prefix config, add shadcn devDependency
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

docs: clean outdated diagrams and update design doc status
  docs/guides/ai/TODO.md
  docs/guides/ai/api-migration-guide.md
  docs/guides/ai/async-job-architecture.md
  docs/reference/architecture/ai/diagrams/time-quality-analysis.png
  docs/reference/architecture/ai/diagrams/time-quality-analysis.svg
  docs/reference/architecture/ai/time-quality-analysis.mmd
  docs/reference/architecture/system/ai-engine-architecture.mmd
  docs/reference/architecture/system/dashboard-architecture.mmd
  docs/reference/architecture/system/diagrams/README.md
  docs/reference/architecture/system/diagrams/ai-engine-architecture.png
  docs/reference/architecture/system/diagrams/ai-engine-architecture.svg
  docs/reference/architecture/system/diagrams/dashboard-architecture.png
  docs/reference/architecture/system/diagrams/dashboard-architecture.svg
Due: prettier --write

refactor(docs): reorganize architecture folder structure
  docs/guides/database/optimization.md
  docs/guides/database/queries.md
  docs/guides/database/schema.md
  docs/guides/development/memory-requirements.md
  docs/guides/development/type-system-consistency.md
  docs/guides/ui/components.md
  docs/guides/ui/styling.md
  docs/reference/architecture/ai/ai-assistant-sidebar-architecture.md
  docs/reference/architecture/ai/ai-engine-5w1h.md
  docs/reference/architecture/ai/time-quality-correlation-analysis.md
  docs/reference/architecture/design/system.md
  docs/reference/architecture/system/system-overview.md
Due: prettier --write

docs: update reports README with new structure
  reports/README.md
Due: prettier --write

fix: update code review paths to reports/ai-review
  .claude/skills/ai-code-review/skill.md
  reports/README.md
  scripts/code-review/review-issue-tracker.sh
  scripts/code-review/review-tracker.sh
Due: prettier --write

refactor: consolidate code review to reports/ai-review
  .claude/skills/validation-analysis/skill.md
  .gitignore
  reports/ai-review/README.md
  scripts/code-review/auto-ai-review.sh
  scripts/code-review/review-issue-tracker.sh
  scripts/code-review/review-tracker.sh
Due: prettier --write

chore: cleanup root folder and split CHANGELOG
  .gitignore
  CHANGELOG-LEGACY.md
  CHANGELOG.md
  playwright-vercel.config.ts
  playwright.config.json
Due: eslint --fix --max-warnings 0, prettier --write

docs: recover and consolidate CHANGELOG legacy history
  CHANGELOG-LEGACY.md
Due: prettier --write

refactor: move CHANGELOG-LEGACY to reports/history/changelog
  CHANGELOG-LEGACY.md
  CHANGELOG.md
Due: prettier --write

docs: comprehensive documentation cleanup and modernization
  docs/CHANGELOG.md
  docs/README.md
  docs/reference/architecture/ai/ai-engine-5w1h.md
  docs/reference/architecture/data/data-architecture.md
  docs/reference/architecture/design/consistency.md
  docs/reference/architecture/design/module-structure.md
  docs/reference/architecture/features/ai-system.md
  docs/reference/architecture/infrastructure/database.md
  docs/reference/architecture/infrastructure/security.md
  docs/status.md
Due: prettier --write

feat: add architecture diagrams to landing page feature cards
  README.md
  reports/planning/landing-card-diagrams.md
  src/components/shared/ArchitectureDiagram.tsx
  src/components/shared/FeatureCardModal.tsx
  src/data/architecture-diagrams.data.ts
  tests/e2e/ai-fullscreen.spec.ts
  tests/e2e/ai-supervisor-timeout.spec.ts
  tests/e2e/dashboard-server-cards.spec.ts
  tests/e2e/system-boot.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: implement React Flow for interactive architecture diagrams
  package-lock.json
  package.json
  src/components/shared/FeatureCardModal.tsx
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(diagram): optimize React Flow layout for modal display
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor: split PostgresVectorDB into service modules
  src/components/shared/OpenManagerLogo.tsx
  src/components/shared/ReactFlowDiagram.tsx
  src/data/architecture-diagrams.data.ts
  src/data/tech-stacks.data.ts
  src/services/ai/vector-db/VectorSearchService.ts
  src/services/ai/vector-db/VectorStatsService.ts
  src/services/ai/vector-db/postgres-vector-db.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(auth): add Google OAuth support alongside GitHub
  src/components/shared/ReactFlowDiagram.tsx
  src/components/unified-profile/components/ProfileAvatar.tsx
  src/components/unified-profile/hooks/useProfileAuth.ts
  src/components/unified-profile/types/profile.types.ts
  src/lib/auth/auth-state-manager.ts
  src/lib/auth/supabase-auth.ts
  src/types/auth.types.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: improve architecture diagrams and Google OAuth UI
  src/components/shared/UnifiedProfileHeader.tsx
  src/components/unified-profile/components/ProfileAvatar.tsx
  src/components/unified-profile/components/ProfileDropdownMenu.tsx
  src/data/architecture-diagrams.data.ts
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(skill): add commit-commands skill with AI code review
  .claude/skills/commit-commands/clean_gone.md
  .claude/skills/commit-commands/commit-push-pr.md
  .claude/skills/commit-commands/skill.md
  scripts/hooks/post-commit.js
Due: eslint --fix --max-warnings 0, prettier --write

refactor(review): upgrade to v9.0.0 with pending/history structure
  .claude/skills/ai-code-review/skill.md
  reports/ai-review/history/.gitkeep
  reports/ai-review/history/2026-01/review-codex-2026-01-15-19-20-51.md
  reports/ai-review/history/2026-01/review-codex-2026-01-15-19-49-32.md
  reports/ai-review/history/2026-01/review-gemini-2026-01-15-19-20-51.md
  reports/ai-review/pending/.gitkeep
  scripts/code-review/auto-ai-review.sh
  scripts/code-review/lib/ai-review-split.sh
Due: prettier --write

fix(hook): restore auto AI review in post-commit v3.0.0
  scripts/hooks/post-commit.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(review): implement AI review action workflow v3.0.0
  .claude/skills/ai-code-review/skill.md
  scripts/hooks/post-commit.js
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
