Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix(typescript): Stage 19 - 타입 문제 종합 해결 (43→34 errors)
  src/hooks/useServerDashboard.ts
  src/lib/error-handler.ts
  src/lib/vercel-safe-utils.ts
  src/mock/index.ts
  src/types/server.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(typescript): Stage 20 - 빠른 수정 가능한 에러 해결 (34→27 errors)
  src/components/charts/AvailabilityChart.tsx
  src/components/charts/PerformanceChart.tsx
  src/components/shared/ServerMetricsChart.tsx
  src/components/shared/ServerStatusIndicator.tsx
  src/hooks/useMinimumLoadingTime.ts
  src/schemas/server.schema.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(typescript): Stage 21 - difficultyScore 및 import 문제 해결 (27→23 errors)
  src/lib/testing/subagent-test-controller.ts
  src/services/ai/SimplifiedQueryEngine.processors.googleai.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(typescript): Stage 22 - import 및 타입 문제 종합 해결 (23→19 errors)
  src/services/ai/UnifiedMetricsService.ts
  src/services/mcp/components/MCPToolHandler.ts
  src/types/api-responses.ts
  src/types/server.ts
  src/utils/serverUtils.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(typescript): Stage 23 - 타입 캐스팅 및 import 수정 (19→12 errors)
  src/app/api/servers-unified/route.ts
  src/components/dashboard/hooks/useServerData.ts
  src/services/data/UnifiedServerDataSource.ts
  src/types/api-responses.ts
  src/utils/serverUtils.ts
Due: eslint --fix --max-warnings 0, prettier --write

Stage 25: TypeScript errors complete (7→0, 100%)
  src/app/api/metrics/current/route.ts
  src/app/api/servers-unified/route.ts
  src/app/api/version/status/route.ts
  src/components/charts/PerformanceChart.tsx
  src/components/charts/sed9lGtdu
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/dashboard/types/server-dashboard.types.ts
  src/hooks/useMinimumLoadingTime.ts
  src/lib/error-handler.ts
  src/lib/logger.ts
  src/services/ai/MockContextLoader.ts
  src/services/data/UnifiedServerDataSource.ts
  src/services/unified-data-service.ts
Due: eslint --fix --max-warnings 0, prettier --write

Stage 26: Unused variables cleanup (292→287, -5)
  src/components/home/sedJh4ZyU
  src/components/mobile/MobileServerSheet.tsx
  src/components/profile/components/ProfileMenuItem.tsx
  src/components/shared/FeatureCardModal.tsx
  src/lib/config.ts
  src/lib/gcp/gcp-functions.utils.ts
  src/lib/unified-cache.ts
  src/services/sse/OptimizedSSEManager.ts
  src/utils/supabase/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat(workflow): Codex 자동 코드 리뷰 시스템 구현
  .husky/post-commit
  docs/workflows/auto-code-review.md
  scripts/code-review/analyze-codex-review.sh
  scripts/code-review/auto-codex-review.sh
Due: prettier --write

♻️ refactor(agents): codex-review-specialist 서브에이전트 추가
  .claude/agents/codex-review-specialist.md
  config/ai/registry-core.yaml
  scripts/code-review/auto-codex-review.sh
Due: prettier --write

♻️ refactor(ai): 통합 코드 리뷰 서브에이전트 시스템 v2.0.0
  .claude/agents/code-review-specialist.md
  config/ai/registry-core.yaml
  scripts/code-review/auto-codex-review.sh
Due: prettier --write

🔧 fix(review): Codex 리뷰 개선 - 폴백 및 문서화 강화
  .claude/agents/code-review-specialist.md
  config/ai/registry-core.yaml
  scripts/code-review/auto-codex-review.sh
Due: prettier --write

♻️ refactor(review): auto-codex-review v1.2.0 - cd 위치 최적화
  scripts/code-review/auto-codex-review.sh
Due: none

♻️ refactor(codex-review): v1.3.0 - Codex 개선 제안 3가지 완벽 구현
  scripts/code-review/auto-codex-review.sh
Due: none

Stage 27-28: Case declarations + index cleanup (287→272, -15)
  .claude/agents/codex-review-specialist.md
  .claude/agents/multi-ai-verification-specialist.md
  scripts/cleanup-unused-vars.sh
  src/components/shared/FeatureCardModal.tsx
  src/lib/mock-scenarios/index.ts
  src/lib/mock-scenarios/ml-analytics-scenarios.ts
  src/modules/performance-monitor/hooks/usePerformanceMetrics.ts
Due: eslint --fix --max-warnings 0, prettier --write

Stage 29: Critical warnings fixed (272→250, -22)
  src/app/api/servers-unified/route.ts
  src/components/charts/AvailabilityChart.tsx
  src/components/charts/PerformanceChart.tsx
  src/components/dashboard/hooks/useServerData.ts
  src/components/profile/components/ProfileAvatar.tsx
  src/polyfills.ts
  src/types/common-replacements.ts
Due: eslint --fix --max-warnings 0, prettier --write

♻️ refactor(types): any 타입 제거 - TypeScript 타입 안전성 100% 달성
  src/services/data/UnifiedServerDataSource.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix(types): Recharts 호환성 및 ServerRole 타입 수정
  src/components/charts/AvailabilityChart.tsx
  src/components/charts/PerformanceChart.tsx
  src/mock/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix(types): metadata.serverType ServerRole 타입 명시
  src/app/api/metrics/current/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix(types): servers-unified route 함수 반환 타입 명시
  src/app/api/servers-unified/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix(types): servers-unified 함수 타입 3곳 수정 (5→2 errors)
  src/app/api/servers-unified/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix(typescript): Resolve type errors in metrics API route
  src/app/api/metrics/current/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(typescript): Codex 버그 수정 후 발생한 타입 에러 3개 완벽 해결
  src/app/api/metrics/current/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(metrics): 결정론적 ID 생성을 위한 normalizedTimestamp 적용 (Codex Bug #1)
  src/app/api/metrics/current/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(deps): Update @types/react and @types/react-dom to v19
  package-lock.json
  package.json
  src/components/profile/components/ProfileDropdownMenu.tsx
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs(cleanup): Legacy 3-AI 시스템 완전 제거 - Phase 4 완료
  .husky/post-commit
  CLAUDE.md
  config/ai/registry-core.yaml
  docs/ai/3-ai-query-optimization-guide.md
  docs/claude/1_workflows.md
  docs/claude/architecture/ai-cross-verification.md
  docs/claude/history/ai-verifications/2025-10-01-ai-verification-summary.md
  docs/claude/workflows/ai-cross-verification-workflow.md
  docs/status.md
  docs/workflows/auto-code-review.md
  scripts/ai-cross-verification-real.sh
  scripts/ai-verification/verification-recorder.sh
  scripts/code-review/auto-ai-review.sh
  scripts/orchestrator/multi-ai-orchestrator.sh
  scripts/verification/verification-logger.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(env): .nvmrc의 Node.js 버전을 수정하여 nvm 호환성 문제 해결
  .nvmrc
Due: none

feat: AI 사이드바에 무료 티어 모니터링 대시보드 추가
  docs/ai/FREE-TIER-MONITOR-GUIDE.md
  docs/ai/QUICK-VERIFICATION.md
  docs/ai/VERIFICATION-SUMMARY.md
  docs/ai/free-tier-architecture-report.md
  docs/architecture/ai-assistant-sidebar-architecture.md
  scripts/check-free-tier.sh
  scripts/test-ai-integration.sh
  scripts/validate-free-tier-architecture.sh
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/FreeTierMonitor.tsx
  src/components/dashboard/AISidebarContent.tsx
  tests/ai-free-tier-validation.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: GCP Functions Phase 2 최적화 - 중복 타입 제거
  docs/architecture/GCP-FUNCTIONS-CLEANUP-GUIDE.md
  docs/architecture/GCP-FUNCTIONS-OPTIMIZATION.md
  docs/architecture/GCP-FUNCTIONS-SUMMARY.md
  docs/architecture/PHASE2-OPTIMIZATION-REPORT.md
  docs/architecture/SYSTEM-ARCHITECTURE-REVIEW.md
  scripts/cleanup-gcp-functions.sh
  src/lib/data-gateway.ts
  src/lib/gcp/gcp-functions-client.ts
  src/lib/gcp/gcp-functions.types.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: AI 어시스턴트 기능 분석 및 연결 검증 문서
  docs/ai/AI-FEATURES-OPERATION-GUIDE.md
  docs/architecture/AI-SIDEBAR-CONNECTION-ANALYSIS.md
  docs/architecture/GCP-INTEGRATION-METHOD.md
  scripts/test-ai-sidebar-connection.sh
Due: prettier --write

feat: Update feature cards with latest versions and accurate metrics
  docs/FEATURE-CARDS-REVIEW.md
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Add feature cards update summary report
  docs/FEATURE-CARDS-UPDATE-SUMMARY.md
Due: prettier --write

refactor: Simplify Vibe Coding card for portfolio focus
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Replace removed admin helpers with guest helpers in performance test
  docs/TEST-IMPROVEMENT-PLAN.md
  tests/e2e/feature-cards.spec.ts
  tests/e2e/performance-visual-regression.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Replace @ alias with relative paths in unit tests
  tests/unit/error-handler.test.ts
  tests/unit/type-guards.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Implement AI mode selection and improve error handling
  GEMINI.md
  src/app/api/ai/query/route.ts
  src/lib/error-handler.ts
  tests/unit/error-handler.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: Remove AI mode selection and unify AI pipeline
  src/app/api/ai/query/route.ts
  src/domains/ai-sidebar/components/AISidebarV3.tsx
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
  tests/e2e/test-runner.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Clarify development-only tools
  README.md
  src/modules/third-party-ai-chat/core/AIConversationManager.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Implement primary/secondary Google AI API keys with fallback
  src/app/api/ai/google-ai/status/route.ts
  src/components/shared/GoogleAIStatusCard.tsx
  src/hooks/api/useGoogleAIStatus.ts
  src/lib/ai/google-ai-client.ts
  src/lib/google-ai-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Update Google AI API to use environment variable for model name
  src/app/api/ai/google-ai/status/route.ts
  src/hooks/api/useGoogleAIStatus.ts
  src/lib/google-ai-manager.ts
  src/services/ai/DirectGoogleAIService.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
