Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

fix(deps): regenerate package-lock.json for Vercel compatibility
  package-lock.json
Due: prettier --write

fix(deps): regenerate lockfile with --legacy-peer-deps
  package-lock.json
Due: prettier --write

chore(deps): Phase 1 - safe minor updates
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Phase 4 - upgrade Zustand v4.5.7 → v5.0.9
  package-lock.json
  package.json
Due: prettier --write

feat(deps): complete Zod v4 migration (Phase 3)
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/config/SystemConfiguration.ts
  src/env.ts
  src/lib/api/api-client.ts
  src/lib/config/database-config-validator.ts
  src/schemas/ai.schema.ts
  src/schemas/api.alert.schema.ts
  src/schemas/api.common.schema.ts
  src/schemas/api.dashboard.schema.ts
  src/schemas/api.devtools.schema.ts
  src/schemas/api.health.schema.ts
  src/schemas/api.mcp.schema.ts
  src/schemas/api.server.schema.ts
  src/schemas/auth.schema.ts
  src/schemas/common.schema.ts
  src/schemas/monitoring.schema.ts
  src/schemas/server-schemas/server-metrics.schema.ts
  src/schemas/server-schemas/server-pagination.schema.ts
  src/schemas/server.schema.ts
  src/schemas/utils.schema.ts
  src/types/api.ts
  src/types/zod-utils.ts
  src/validators/validation.ts
  tests/api/core-endpoints.integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(schemas): add Zod v4 migration comments
  src/schemas/server.schema.ts
  src/schemas/utils.schema.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(css): add Tailwind CSS v4 @config directive
  src/app/globals.css
  src/styles/globals.css
Due: prettier --write

feat(ui): replace guest restriction alert with styled modal dialog
  src/app/main/components/GuestRestrictionModal.tsx
  src/app/main/components/index.ts
  src/app/main/hooks/useSystemStart.tsx
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs(planning): update improvement plan with completed phases
  docs/planning/improvement-plan.md
Due: prettier --write

feat: /api/ai/query 엔드포인트 추가 (AISidebarContent 버그 수정)
  src/app/api/ai/query/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update improvement-plan.md with Phase 2.2 completion status
  docs/planning/improvement-plan.md
Due: prettier --write

chore(docs): cleanup outdated planning documents
  docs/api/cleanup-plan.md
  docs/archive/antigravity-completed/guiding_principles.md
  docs/archive/antigravity-completed/implementation_plan.md
  docs/archive/antigravity-completed/package_cleanup_report.md
  docs/archive/antigravity-completed/task.md
  docs/archive/antigravity-completed/walkthrough.md
  docs/archive/zustand-migration-phase2-report.md
  docs/planning/TEST-IMPROVEMENT-PLAN.md
Due: prettier --write

docs: update improvement-plan.md with accurate phase statuses
  docs/planning/improvement-plan.md
Due: prettier --write

docs: update improvement-plan.md with Phase 3.1 completion status
  docs/planning/improvement-plan.md
Due: prettier --write

docs: update improvement-plan.md with Phase 3 completion status
  docs/planning/improvement-plan.md
Due: prettier --write

perf: Phase 4.1 bundle optimization complete - all pages < 500KB
  docs/planning/improvement-plan.md
  next.config.mjs
Due: prettier --write

docs: reorganize documentation structure (JBGE principle)
  CLAUDE.md
  GEMINI.md
  docs/README.md
  docs/core/architecture/system/dashboard-architecture.mmd
  docs/core/architecture/system/dashboard-architecture.png
  docs/core/monitoring/monitoring-system-integration-plan.md
  docs/core/performance/README.md
  docs/core/performance/bundle.md
  docs/core/performance/charts.md
  docs/core/performance/gpu-animation-validation.md
  docs/core/performance/ip-whitelist-optimization.md
  docs/core/performance/performance-analysis-portfolio-level.md
  docs/development/quality/biome-warnings-roadmap.md
  docs/development/standards/commit-conventions.md
  docs/development/standards/file-organization.md
  docs/development/standards/git-hooks-best-practices.md
  docs/development/standards/health-check-policy.md
  docs/development/standards/typescript-rules.md
  docs/development/workflows/auto-code-review.md
  docs/monitoring/monitoring-system-integration-plan.md
  docs/performance/README.md
  docs/performance/bundle.md
  docs/performance/cache-improvement-analysis.md
  docs/performance/charts.md
  docs/performance/ip-whitelist-optimization.md
  docs/performance/performance-analysis-portfolio-level.md
  docs/planning/README-DEV-NOTES.md
  docs/planning/README-OLD.md
  docs/planning/analysis/FEATURE-CARDS-REVIEW.md
  docs/planning/analysis/README.md
  docs/planning/analysis/ai-tool-comparison.md
  docs/planning/analysis/component-interaction.md
  docs/planning/analysis/side-effects-guest-mode.md
  docs/planning/analysis/ui-ux-analysis.md
  docs/planning/design/user-profile-edit.md
  docs/planning/ideas/server-card-rendering-strategy-optimization-actionable-recommendations.md
  docs/planning/major-version-upgrade-plan.md
  docs/planning/refactoring/implementation_plan_rag.md
  docs/planning/templates/work-plan-template.md
  docs/specs/ai-engine-refactoring-summary.md
Due: prettier --write

docs: integrate AI docs into core/ and development/ structure
  docs/ai/README.md
  docs/core/ai/ANALYSIS_CURRENT_STRUCTURE.md
  docs/core/ai/FREE-TIER-MONITOR-GUIDE.md
  docs/core/ai/GCP-FUNCTIONS-SUMMARY.md
  docs/core/ai/MODE-SELECTION-REMOVAL.md
  docs/core/ai/README.md
  docs/core/ai/ai-architecture.md
  docs/development/ai/README.md
  docs/development/ai/ai-benchmarks.md
  docs/development/ai/ai-coding-standards.md
  docs/development/ai/ai-collaboration-architecture.md
  docs/development/ai/ai-usage-guidelines.md
  docs/development/ai/ai-wrappers-guide.md
  docs/development/ai/cli-strategy.md
  docs/development/ai/qwen-timeout-analysis-and-fix.md
  docs/development/ai/subagents-complete-guide.md
  docs/development/ai/verification.md
  docs/development/ai/weekly-subagent-reminder.md
  docs/development/ai/workflow.md
Due: prettier --write

docs: organize development AI docs by tool type
  docs/development/ai/README.md
  docs/development/ai/claude-code/README.md
  docs/development/ai/claude-code/subagents-complete-guide.md
  docs/development/ai/claude-code/weekly-subagent-reminder.md
  docs/development/ai/codex/README.md
  docs/development/ai/common/README.md
  docs/development/ai/common/ai-benchmarks.md
  docs/development/ai/common/ai-coding-standards.md
  docs/development/ai/common/ai-collaboration-architecture.md
  docs/development/ai/common/ai-usage-guidelines.md
  docs/development/ai/common/ai-wrappers-guide.md
  docs/development/ai/common/cli-strategy.md
  docs/development/ai/common/verification.md
  docs/development/ai/common/workflow.md
  docs/development/ai/gemini/README.md
  docs/development/ai/qwen/README.md
  docs/development/ai/qwen/qwen-timeout-analysis-and-fix.md
Due: prettier --write

chore: clean up unused and duplicate scripts
  package.json
  scripts/dev/tsc-wrapper.ts
  scripts/dev/type-check-changed.js
  scripts/dev/type-check-changed.ts
  scripts/docs/update-changelog.sh
  scripts/typecheck/run-typecheck.sh
  scripts/update-imports-api.js
  scripts/update-imports-auth.js
  scripts/update-imports-cache.js
  scripts/update-imports-enterprise.js
  scripts/update-imports-runtime.js
  scripts/update-imports-security.js
  scripts/update-imports-utils.js
  scripts/update/update-changelog.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: resolve broken script references from cleanup commit
  package.json
  scripts/update/update-docs.js
Due: eslint --fix --max-warnings 0, prettier --write

docs: update references to deleted npm scripts
  docs/DEVELOPMENT.md
  docs/development/build-test-strategy.md
  docs/development/claude-workflow-guide.md
  docs/environment/testing/subagent-testing-guide.md
  docs/environment/testing/vercel-first-strategy.md
  docs/environment/troubleshooting/claude-400-invalid-json.md
Due: prettier --write

docs: consolidate duplicate test:vercel:e2e entries in DEVELOPMENT.md
  docs/DEVELOPMENT.md
Due: prettier --write

docs: fix broken document path references after reorganization
  CLAUDE.md
  config/ai/registry-core.yaml
  docs/core/platforms/deploy/README.md
  docs/core/security/README.md
  docs/design/README.md
  docs/development/ai/claude-code/weekly-subagent-reminder.md
  docs/development/ai/common/ai-wrappers-guide.md
  docs/development/claude-code-v2.0.31-best-practices.md
  docs/development/mcp/serena-tools-comprehensive-guide.md
  docs/development/serena-anti-pattern-detection.md
  docs/environment/guides/README.md
  docs/environment/tools/ai-tools/ANALYSIS_CURRENT_STRUCTURE.md
  docs/environment/tools/ai-tools/FREE-TIER-MONITOR-GUIDE.md
  docs/environment/tools/ai-tools/GCP-FUNCTIONS-SUMMARY.md
  docs/environment/tools/ai-tools/MODE-SELECTION-REMOVAL.md
  docs/environment/tools/ai-tools/PHASE1-COMPLETION-REPORT.md
  docs/environment/tools/ai-tools/PHASE2-COMPLETION-REPORT.md
  docs/environment/tools/ai-tools/QUICK-VERIFICATION.md
  docs/environment/tools/ai-tools/README.md
  docs/environment/tools/ai-tools/SIDE-EFFECT-VERIFICATION-REPORT.md
  docs/environment/tools/ai-tools/VERIFICATION-SUMMARY.md
  docs/environment/tools/ai-tools/ai-benchmarks.md
  docs/environment/tools/ai-tools/ai-coding-standards.md
  docs/environment/tools/ai-tools/ai-collaboration-architecture.md
  docs/environment/tools/ai-tools/ai-usage-guidelines.md
  docs/environment/tools/ai-tools/ai-wrappers-guide.md
  docs/environment/tools/ai-tools/cli-strategy.md
  docs/environment/tools/ai-tools/free-tier-architecture-report.md
  docs/environment/tools/ai-tools/phase2-complete-summary.md
  docs/environment/tools/ai-tools/phase3a-complete-summary.md
  docs/environment/tools/ai-tools/qwen-timeout-analysis-and-fix.md
  docs/environment/tools/ai-tools/subagents-complete-guide.md
  docs/environment/tools/ai-tools/verification-history.md
  docs/environment/tools/ai-tools/verification.md
  docs/environment/tools/ai-tools/weekly-subagent-reminder.md
  docs/environment/tools/ai-tools/workflow.md
  docs/environment/tools/mcp/serena-tools-comprehensive-guide.md
  docs/status.md
  src/services/data/UnifiedServerDataSource.ts
  src/services/scenario/scenario-loader.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: fix additional broken document path references
  docs/core/ai/FREE-TIER-MONITOR-GUIDE.md
  docs/core/platforms/deploy/README.md
  docs/design/README.md
  docs/environment/guides/README.md
Due: prettier --write

feat(code-review): v6.9.0 - 3-AI 1:1:1 rotation with mutual fallback
  config/ai/registry-core.yaml
  docs/status.md
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: prettier --write

fix(code-review): v6.9.1 - set_last_ai 버그 수정
  config/ai/registry-core.yaml
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: prettier --write

refactor(code-review): v6.9.2 - handle_review_success() 헬퍼 함수 추출
  config/ai/registry-core.yaml
  scripts/code-review/lib/ai-review-core.sh
Due: prettier --write

feat(ai-wrappers): v3.3.0 comprehensive reviewer context
  AGENTS.md
  GEMINI.md
  QWEN.md
  docs/planning/analysis/ai-review-performance-report.md
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/ai-subagents/qwen-wrapper.sh
Due: prettier --write

fix(wrappers): v3.3.0 NUL bytes 제거 및 버전/컨텍스트 일관성 수정
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/ai-subagents/qwen-wrapper.sh
Due: none

fix(wrappers): v3.1.0 로그 메시지 → v3.3.0 일괄 수정
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/ai-subagents/qwen-wrapper.sh
Due: none

chore: 프로젝트 정리 및 스크립트 재구성
  .claude/security-review-queue.txt
  .gitignore
  biome_log.txt
  build_log.txt
  docs/archive/CHANGELOG-LEGACY-3.md
  docs/archive/CHANGELOG-LINT.md
  docs/archive/DOCS-CLEANUP-SUMMARY.md
  docs/archive/FEATURE-CARDS-UPDATE-SUMMARY.md
  docs/archive/QUICK-VERIFICATION.md
  docs/archive/README-vercel-production-testing.md
  docs/archive/VERCEL_DEPLOYMENT_VERIFICATION_REPORT.md
  docs/archive/antigravity-completed/guiding_principles.md
  docs/archive/antigravity-completed/implementation_plan.md
  docs/archive/antigravity-completed/package_cleanup_report.md
  docs/archive/antigravity-completed/task.md
  docs/archive/antigravity-completed/walkthrough.md
  docs/core/platforms/gcp/firewall-setup.md
  docs/specs/work-plan-template.md
  package.json
  scripts/deploy/vercel-safe-deploy.js
  scripts/env/check-env.ts
  scripts/monitoring/memory-monitor.ts
  scripts/platform/quick-dev-start.ps1
  scripts/test/test-ai-hybrid.ts
  scripts/utils/analyze-data-size.ts
  scripts/utils/benchmark-map-lookup.ts
  scripts/utils/cleanup-ports.js
  scripts/utils/find-oldest-files.js
  scripts/utils/incremental-check.js
  scripts/verification/verify-24h-system.ts
  test_output.txt
Due: eslint --fix --max-warnings 0, prettier --write

feat(gcp): Cloud Functions → Cloud Run 마이그레이션 완료
  gcp-functions/.gitignore
  gcp-functions/docker-compose.dev.yml
  gcp-functions/enhanced-korean-nlp/Dockerfile
  gcp-functions/enhanced-korean-nlp/requirements.txt
  gcp-functions/ml-analytics-engine/Dockerfile
  gcp-functions/ml-analytics-engine/requirements.txt
  gcp-functions/unified-ai-processor/Dockerfile
  gcp-functions/unified-ai-processor/main.py
  gcp-functions/unified-ai-processor/modules/__init__.py
  gcp-functions/unified-ai-processor/modules/ml_engine.py
  gcp-functions/unified-ai-processor/modules/nlp_engine.py
  gcp-functions/unified-ai-processor/requirements.txt
  scripts/dev/run-docker-functions.sh
Due: prettier --write

fix(gcp): 레거시 Cloud Functions URL 완전 제거
  scripts/env/validate-env.ts
  src/app/api/ai/query/route.ts
  src/app/api/ai/unified-stream/route.ts
  src/lib/ai/providers/ml-provider.ts
  src/lib/gcp/gcp-functions.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): Gemini 2.5 Flash 업그레이드 + Groq 폴백 시스템 추가
  docs/environment/wsl/claude-code-wsl-guide.md
  docs/environment/wsl/wsl-optimization.md
  scripts/wsl/fix-wsl-config.ps1
  src/app/api/ai/query/route.ts
  src/lib/ai/google-ai-manager.ts
  src/lib/ai/groq-ai-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Phase 1-4 패키지 업그레이드 문서 동기화
  docs/core/architecture/FOLDER-STRUCTURE.md
  docs/planning/major-version-upgrade-plan.md
Due: prettier --write

docs: major-version-upgrade-plan.md 완료 상태 업데이트
  docs/planning/major-version-upgrade-plan.md
Due: prettier --write

chore: next.config.mjs 주석 Next.js 16으로 업데이트
  next.config.mjs
Due: none

feat(nlp): spaCy 영어 NLP 지원 추가 + enhanced-korean-nlp 경량화
  docs/planning/improvement-plan.md
  gcp-functions/enhanced-korean-nlp/requirements.txt
  gcp-functions/unified-ai-processor/modules/nlp_engine.py
  gcp-functions/unified-ai-processor/requirements.txt
Due: prettier --write
