Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

🛠️ fix: Pre-commit hook 성능 대폭 개선
  .eslintrc.fast.json
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.js
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: package.json 중복 키 제거
  package.json
Due: prettier --write

🔄 refactor: WSL 환경 이전 롤백 - Windows 경로 유지
  .vscode/settings.json
  docs/PROJECT-SUMMARY.md
  package.json
  scripts/common/run-wsl-script.ps1
  scripts/windows/quick-dev-start.ps1
Due: prettier --write

🔄 refactor: 최종 Windows 경로 유지 설정
  .vscode/settings.json
  scripts/windows-support/utils/run-claude.sh
Due: prettier --write

♻️ refactor: MCP 통합 문서화 및 스크립트 최적화
  .mcp.json
  .vscode/settings.json
  CLAUDE.md
  docs/MCP-GUIDE.md
  docs/ai-tools/sub-agents-comprehensive-guide.md
  docs/claude/sub-agents-complete-guide.md
  docs/claude/sub-agents-comprehensive-guide.md
  docs/claude/subagents-mcp-usage-summary.md
  docs/mcp/mcp-complete-installation-guide-2025.md
  docs/mcp/mcp-tools-reference.md
  scripts/mcp-config-backup.sh
  scripts/mcp-dependencies-installer.sh
  scripts/mcp-env-recovery.sh
  scripts/mcp-master-recovery.sh
  scripts/mcp-recovery-complete.sh
  scripts/optimize-mcp-config.sh
  scripts/quick-mcp-setup.sh
  scripts/serena-auto-recovery.sh
  scripts/serena-sse-heartbeat-wrapper.mjs
  scripts/setup-mcp-environment.sh
  scripts/setup-serena-quick.sh
  scripts/setup-serena-sse-mode.sh
  scripts/setup-test-env.sh
  scripts/start-serena-sse.sh
  scripts/subagent-recovery.sh
  scripts/validate-claude-structure.sh
  scripts/wsl-dev-optimize.sh
  scripts/wsl-network-optimize.sh
  scripts/wsl-performance-monitor.sh
Due: prettier --write

📊 update: AI 도구 분석 업데이트 - VS Code 추가
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

⚡ perf: Pre-commit Hook 성능 혁명적 개선 - 94% 속도 향상
  .tsconfig.temp.json
  package.json
  scripts/smart-pre-commit.js
  src/data/feature-cards.data.ts
  tsconfig.precommit.json
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 메인 페이지 깜박거림 완전 해결
  docs/guides/ai-services-monitoring-setup.md
  docs/guides/cicd-operations-guide.md
  docs/guides/database-storage-setup.md
  docs/guides/development-build-tools-guide.md
  docs/guides/infrastructure-integration-setup.md
  docs/guides/platform-configuration-guide.md
  docs/guides/setup/git-commit-push-guide.md
  docs/mcp/mcp-best-practices.md
  docs/mcp/serena-mcp-complete-guide.md
  docs/mcp/serena-mcp-practical-guide.md
  docs/mcp/serena-mcp-setup-guide-2025.md
  docs/mcp/serena-startup-optimization-guide.md
  docs/mcp/tavily-mcp-advanced-guide.md
  docs/mcp/tavily-mcp-troubleshooting.md
  docs/reference/mcp-tools-ai-utility.md
  docs/reference/mcp-tools-database-cloud.md
  docs/reference/mcp-tools-filesystem-memory.md
  docs/reference/mcp-tools-web-browser.md
  next.config.mjs
  src/app/globals.css
  src/app/main/page.tsx
  src/components/home/FeatureCardsGrid.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: package.json 중복 스크립트 정리
  package.json
Due: prettier --write

🧪 test: 스마트 커밋 시스템 TypeScript 자동 수정 검증 완료
  test-typescript-error.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧹 cleanup: TypeScript 테스트 파일 정리
  test-typescript-error.ts
Due: eslint --fix --max-warnings 0, prettier --write

⏪ revert: f5db7657 이전으로 프론트엔드 구성 롤백
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 메인 페이지 빠른 새로고침 문제 해결
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

⏪ revert: f5db7657 이전으로 프론트엔드 구성 롤백
  src/app/globals.css
  src/app/main/page.tsx
  src/components/home/FeatureCardsGrid.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: CSS 중복 로드 및 TypeScript 설정 문제 해결
  next.config.mjs
Due: none

🎨 fix: UI/UX 유지하며 안전한 CSS 처리 방식 적용
  next.config.mjs
Due: none

🔧 fix: CSS MIME type 에러 완전 해결
  .tsconfig.temp.json
  next.config.mjs
  vercel.json
Due: prettier --write

🔧 fix: CSS 청킹 비활성화로 MIME type 에러 근본 해결
  next.config.mjs
Due: none

🔧 fix: Next.js 기본 설정으로 CSS 문제 근본 해결
  next.config.mjs
Due: none

⚡ perf: /main 페이지 인증 지연 문제 완전 해결
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: TypeScript 임시 파일 추적 방지 설정 추가
  .gitignore
Due: none

⚡ fix: 메인 페이지 5-6초 지연 문제 완전 해결
  .gitignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  QWEN.md
  README.md
  src/app/main/page.tsx
  src/hooks/useInitialAuth.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚨 fix: 베르셀 5초 자동 새로고침 근본 원인 해결
  src/app/main/page.tsx
  src/hooks/useInitialAuth.ts
  src/lib/api/cors.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 베르셀 5초 자동 새로고침 근본 원인 해결
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ fix: SSR SVGElement 오류 완전 해결
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔄 trigger: 베르셀 강제 재배포 트리거
  README.md
Due: prettier --write

🛡️ fix: 메인 페이지 SSR 완전 회피로 SVG 오류 해결
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 메인 페이지 무한 새로고침 문제 완전 해결
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 인증 시스템 근본 문제 해결
  src/hooks/useInitialAuth.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Vercel Toolbar CSP 및 무한 리다이렉트 루프 완전 해결
  next.config.mjs
  src/app/page.tsx
  src/hooks/useInitialAuth.ts
  src/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 베르셀 5초 자동 새로고침 근본 원인 해결
  src/app/main/page.tsx
  src/hooks/useInitialAuth.ts
Due: eslint --fix --max-warnings 0, prettier --write

🛠️ fix: 베르셀 5초 자동 새로고침 근본 원인 해결
  next.config.mjs
  src/app/main/page.tsx
  src/hooks/useInitialAuth.ts
  src/utils/vercel-env.ts
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

🚨 hotfix: 무한 로딩 문제 긴급 해결
  src/app/debug/page.tsx
  src/utils/vercel-env.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚨 hotfix: 무한 로딩 근본 원인 해결 - undefined 변수 참조 수정
  src/utils/vercel-env.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚨 hotfix: 무한 로딩 근본 원인 해결 - 치명적인 논리 오류 수정
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: 문서 업데이트 (14개 파일)
  .github/copilot-instructions.md
  .vscode/ai-context.json
  .vscode/ai-settings.json
  .vscode/extensions.json
  .vscode/settings.json
  docs/development/ai-workflow-guide.md
  docs/technical/incident-reports/vercel-outage-report-2025-08-18.md
  package.json
  scripts/auto-review-and-fix.js
  scripts/check-ai-context.js
  scripts/smart-commit-with-review.js
  scripts/smart-pre-commit.js
  scripts/update-ai-context.ps1
  scripts/update-ai-context.sh
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: Serena MCP 자동 관리 시스템 및 성능 분석 도구 구축
  .cursorrules
  .github/copilot-instructions.md
  .mcp.json
  .serena-project.yml
  AGENTS.md
  CLAUDE.md
  README.md
  docs/PROJECT-SUMMARY.md
  docs/claude/sub-agents-complete-guide.md
  docs/performance/realtime-charts-performance-analysis.md
  package-lock.json
  package.json
  scripts/ai-agent-sync.mjs
  scripts/auto-trigger-system.mjs
  scripts/serena-auto-monitor.sh
  scripts/serena-daemon-cron.sh
  scripts/serena-daemon-manager.sh
  scripts/serena-daemon-systemd.sh
  scripts/serena-mcp-health-monitor.sh
  scripts/serena-quick-recovery.sh
  scripts/start-serena-sse-test.sh
  scripts/typescript-migration.sh
  scripts/unified-agent-interface.mjs
  scripts/wsl-serena-autostart-setup.sh
  src/app/test/charts/page.tsx
  src/components/charts/prototypes/ChartComparison.tsx
  src/components/charts/prototypes/RealtimeChartD3.tsx
  src/components/charts/prototypes/RealtimeChartJS.tsx
  src/components/charts/prototypes/RealtimeChartVis.tsx
  src/utils/chart-performance-benchmark.ts
  supabase/migrations/20250819_enhanced_security_hardening.sql
  tests/integration/security/csp-policy.test.ts
  tests/integration/security/enhanced-security.test.ts
  tests/integration/security/env-encryption.test.ts
  tests/unit/services/security-service-enhanced.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 refactor: Serena MCP 설정 최적화 및 불필요한 스크립트 정리
  .mcp.json
  docs/MCP-GUIDE.md
  scripts/serena-auto-monitor.sh
  scripts/serena-daemon-cron.sh
  scripts/serena-daemon-manager.sh
  scripts/serena-daemon-systemd.sh
  scripts/serena-mcp-health-monitor.sh
  scripts/serena-sse-heartbeat-wrapper.mjs
  scripts/setup-serena-sse-mode.sh
  scripts/start-serena-sse-test.sh
  scripts/start-serena-sse.sh
  scripts/wsl-serena-autostart-setup.sh
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
