Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

refactor: cleanup packages, remove eslint, and sync docs
  .eslintignore
  build_log.txt
  docs/antigravity/implementation_plan.md
  docs/antigravity/package_cleanup_report.md
  docs/antigravity/task.md
  docs/antigravity/walkthrough.md
  eslint.config.mjs
  scripts/incremental-check.js
  src/components/charts/PerformanceChart.tsx
  tsconfig.eslint.json
Due: eslint --fix --max-warnings 0, prettier --write

fix(build): remove node: protocol to support Vercel deployment
  biome_log.txt
  package-lock.json
  package.json
  src/app/api/ai/incident-report/route.ts
  src/app/api/ai/ml/train/route.ts
  src/app/api/ai/raw-metrics/route.ts
  src/app/api/test/vercel-test-auth/route.ts
  src/context/advanced-context-manager.ts
  src/core/system/ProcessManager.refactored.ts
  src/core/system/ProcessManager.ts
  src/core/system/SystemStateManager.ts
  src/lib/auth/api-auth.ts
  src/lib/crypto/EnhancedEnvCryptoManager.ts
  src/lib/events/alertsEmitter.ts
  src/lib/testing/subagent-test-controller.ts
  src/lib/testing/vitest-vitals-plugin.ts
  src/services/PerformanceTester.ts
  src/services/ai/embedding-service.ts
  src/utils/cache/file-cache.ts
  src/utils/dev-key-manager.ts
  src/utils/session-security.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(security): address AI review feedback - improve type safety
  docs/antigravity/guiding_principles.md
  package-lock.json
  package.json
  src/lib/auth/auth-state-manager.ts
  src/lib/auth/supabase-auth.ts
  src/utils/session-security.server.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(readme): modernize README with professional focus
  README.md
Due: prettier --write

fix(hooks): improve POSIX compatibility and reduce log noise
  .husky/pre-push
  .npmrc
  docs/DEVELOPMENT.md
  docs/README.md
  docs/ai/README.md
Due: prettier --write

fix(security): address AI review feedback - session security hardening
  src/utils/session-security.server.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(security): correct Buffer encoding from utf8 to hex
  src/utils/session-security.server.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(code-review): simplify fallback to 1-retry + deferred compensation
  scripts/code-review/auto-ai-review.sh
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-split.sh
Due: none

style: apply biome formatting to service files
  src/lib/mock-scenarios/index.ts
  src/services/data/UnifiedServerDataSource.ts
  src/services/unified-data-service.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(build): revert node: protocol to fix Vercel client bundling
  biome.json
  src/context/advanced-context-manager.ts
  src/core/system/ProcessManager.refactored.ts
  src/core/system/ProcessManager.ts
  src/core/system/SystemStateManager.ts
  src/lib/auth/api-auth.ts
  src/lib/crypto/EnhancedEnvCryptoManager.ts
  src/lib/testing/subagent-test-controller.ts
  src/services/ai/embedding-service.ts
  src/utils/cache/file-cache.ts
  src/utils/dev-key-manager.ts
  src/utils/session-security.server.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(e2e): add system-boot and error-boundary test suites
  src/context/advanced-context-manager.ts
  tests/e2e/error-boundary.spec.ts
  tests/e2e/system-boot.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(e2e): extract security helpers and use test.skip pattern
  tests/e2e/error-boundary.spec.ts
  tests/e2e/helpers/security.ts
  tests/e2e/smoke.spec.ts
  tests/e2e/system-boot.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(e2e): apply biome formatting to error-boundary tests
  tests/e2e/error-boundary.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): resolve API over-calling causing ERR_INSUFFICIENT_RESOURCES
  src/components/dashboard/OptimizedDashboard.tsx
  src/hooks/useServerDashboard.ts
  src/stores/serverDataStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(health): improve database connection check resilience
  src/app/api/health/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(health): use auth session check instead of RPC for database connectivity
  src/app/api/health/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: reorganize analysis files to archive directory
  docs/README.md
  docs/analysis/README.md
  docs/archive/AI-ENGINE-OPTIMIZATION-2025-11-20.md
  docs/archive/ai-engine-comprehensive-status-2025-11-22.md
  docs/archive/ai-engine-refactoring-analysis-2025-11-22.md
  docs/archive/ai-improvements-summary-2025-11-23.md
  docs/archive/ai-sidebar-analysis-2025-11-20.md
  docs/archive/gcp-functions-analysis-2025-11-22.md
  docs/archive/idle-computing-analysis-2025-11-21.md
  docs/archive/opensource-evaluation-2025-11-22.md
  docs/core/README.md
  docs/deploy/README.md
  docs/development/README.md
  docs/development/progressive-lint-guide.md
  docs/environment/README.md
  docs/planning/README.md
  docs/security/README.md
  docs/testing/README.md
Due: prettier --write

docs: add AI tool comparison analysis and update review system
  AGENTS.md
  GEMINI.md
  QWEN.md
  config/ai/registry-core.yaml
  docs/analysis/ai-tool-comparison.md
  docs/claude_review.md
  docs/temp/claude.md
  docs/temp/codex.md
  docs/temp/gemini.md
  docs/temp/qwen.md
  docs/temp_claude.md
  docs/temp_codex.md
  docs/temp_gemini.md
  docs/temp_qwen.md
  package-lock.json
  package.json
  scripts/code-review/lib/ai-review-core.sh
Due: prettier --write

fix(docs): correct YAML frontmatter and broken links
  docs/README.md
  docs/ai/README.md
  docs/analysis/README.md
Due: prettier --write

fix(docs): correct YAML frontmatter and broken links
  docs/README.md
  docs/core/README.md
  docs/environment/guides/README.md
  docs/environment/tools/ai-tools/VERIFICATION-SUMMARY.md
  docs/environment/tools/ai-tools/workflow.md
  docs/environment/tools/mcp/advanced.md
  docs/environment/troubleshooting/README.md
  docs/environment/troubleshooting/claude-400-invalid-json.md
  docs/environment/troubleshooting/wsl-monitoring-guide.md
  docs/environment/wsl/wsl-restore-guide.md
  docs/performance/README.md
  docs/performance/ip-whitelist-optimization.md
Due: prettier --write

feat(docs): add architecture and security docs to core/
  docs/core/architecture/AI_ENGINE_ARCHITECTURE.md
  docs/core/architecture/BACKEND_ARCHITECTURE.md
  docs/core/architecture/DATA_ARCHITECTURE.md
  docs/core/architecture/WEB_ARCHITECTURE.md
  docs/core/performance/README.md
  docs/core/performance/ip-whitelist-optimization.md
  docs/core/platforms/deploy/README.md
  docs/core/platforms/vercel/vercel-specialist-guide.md
  docs/core/security/localStorage-to-cookie-migration.md
Due: prettier --write

fix(docs): correct relative path links in environment/tools/
  docs/environment/tools/ai-tools/VERIFICATION-SUMMARY.md
  docs/environment/tools/ai-tools/workflow.md
  docs/environment/tools/mcp/advanced.md
  docs/environment/troubleshooting/claude-400-invalid-json.md
Due: prettier --write

refactor(docs): remove 5 duplicate files
  docs/ai/GCP_FUNCTIONS_INTEGRATION.md
  docs/environment/tools/ai-tools/GCP_FUNCTIONS_INTEGRATION.md
  docs/environment/tools/ai-tools/UNIFIED_ENGINE.md
  docs/environment/tools/ai-tools/ai-maintenance.md
  docs/environment/tools/ai-tools/ai-monitoring-feature-analysis.md
Due: prettier --write

refactor(docs): archive large reports + remove 9 more duplicates
  docs/ai/free-tier-architecture-report.md
  docs/archive/2025-11-claude-code-skills-adoption.md
  docs/archive/GCP_FUNCTIONS_INTEGRATION.md
  docs/archive/server-card-design-analysis.md
  docs/archive/test-infrastructure-enhancement-report.md
  docs/core/architecture/GCP-FUNCTIONS-OPTIMIZATION.md
  docs/environment/tools/ai-tools/AI-FEATURES-OPERATION-GUIDE.md
  docs/environment/tools/ai-tools/VERCEL-AI-SDK-ANALYSIS.md
  docs/environment/tools/ai-tools/ai-workflows.md
  docs/environment/tools/claude-code/claude-code-v2.0.31-best-practices.md
Due: prettier --write

docs: add documentation management principles to README
  docs/README.md
Due: prettier --write

docs: update statistics after Phase 5 cleanup (311→300 files)
  docs/README.md
  docs/status.md
Due: prettier --write

feat(docs): add documentation validation tools
  .markdown-link-check.json
  .vale.ini
  package-lock.json
  package.json
  scripts/docs/validate-docs.sh
Due: prettier --write

fix(docs): update validation rules per project standards
  scripts/docs/validate-docs.sh
Due: none

refactor(docs): archive 12 analysis/report files (500+ lines)
  docs/archive/AI-FEATURES-OPERATION-GUIDE.md
  docs/archive/UNIFIED_ENGINE.md
  docs/archive/VERCEL-AI-SDK-ANALYSIS.md
  docs/archive/ai-maintenance.md
  docs/archive/ai-monitoring-feature-analysis.md
  docs/archive/ai-sidebar-analysis.md
  docs/archive/ai-workflows.md
  docs/archive/gcp-functions-status.md
  docs/archive/phase-16-18-anti-pattern-removal-report.md
  docs/archive/playwright-mcp-documentation-comparison.md
  docs/archive/unified-engine-refactoring-REVISED.md
  docs/archive/vercel-production-test-scenarios.md
Due: prettier --write

refactor(agents): optimize subagents for project stack (11→9)
  .claude/agents/dev-environment-manager.md
  .claude/agents/gcp-cloud-functions-specialist.md
  .claude/agents/performance-specialist.md
  .claude/agents/structure-refactor-specialist.md
  config/ai/registry-core.yaml
Due: prettier --write

feat(data): add 24h rotating JSON data system for dashboard
  docs/core/architecture/DATA_ARCHITECTURE.md
  public/hourly-data/hour-00.json
  public/hourly-data/hour-01.json
  public/hourly-data/hour-02.json
  public/hourly-data/hour-03.json
  public/hourly-data/hour-04.json
  public/hourly-data/hour-05.json
  public/hourly-data/hour-06.json
  public/hourly-data/hour-07.json
  public/hourly-data/hour-08.json
  public/hourly-data/hour-09.json
  public/hourly-data/hour-10.json
  public/hourly-data/hour-11.json
  public/hourly-data/hour-12.json
  public/hourly-data/hour-13.json
  public/hourly-data/hour-14.json
  public/hourly-data/hour-15.json
  public/hourly-data/hour-16.json
  public/hourly-data/hour-17.json
  public/hourly-data/hour-18.json
  public/hourly-data/hour-19.json
  public/hourly-data/hour-20.json
  public/hourly-data/hour-21.json
  public/hourly-data/hour-22.json
  public/hourly-data/hour-23.json
  src/app/api/ai/ml/train/route.ts
  src/app/api/servers-unified/route.ts
  src/services/optimizedMetricsService.ts
  src/services/scenario/scenario-loader.ts
  src/services/supabase/SupabaseTimeSeriesManager.ts
  src/utils/cache/file-cache.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(api): migrate dashboard API from /servers/all to /servers-unified
  src/components/dashboard/hooks/useServerData.ts
  src/hooks/api/useRealtimeServers.ts
  src/stores/serverDataStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(data): add client-side API fallback for UnifiedServerDataSource
  src/services/data/UnifiedServerDataSource.ts
Due: eslint --fix --max-warnings 0, prettier --write

style: apply Biome auto-formatting
  src/app/api/ai/ml/train/route.ts
  src/app/api/servers-unified/route.ts
  src/hooks/api/useRealtimeServers.ts
  src/utils/cache/file-cache.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(api): remove unused ServerStatus import and SupabaseServer interface
  src/app/api/servers-unified/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove legacy server-scenarios folder (unused)
  public/server-scenarios/hourly-metrics/00.json
  public/server-scenarios/hourly-metrics/01.json
  public/server-scenarios/hourly-metrics/02.json
  public/server-scenarios/hourly-metrics/03.json
  public/server-scenarios/hourly-metrics/04.json
  public/server-scenarios/hourly-metrics/05.json
  public/server-scenarios/hourly-metrics/06.json
  public/server-scenarios/hourly-metrics/07.json
  public/server-scenarios/hourly-metrics/08.json
  public/server-scenarios/hourly-metrics/09.json
  public/server-scenarios/hourly-metrics/10.json
  public/server-scenarios/hourly-metrics/11.json
  public/server-scenarios/hourly-metrics/12.json
  public/server-scenarios/hourly-metrics/13.json
  public/server-scenarios/hourly-metrics/14.json
  public/server-scenarios/hourly-metrics/15.json
  public/server-scenarios/hourly-metrics/16.json
  public/server-scenarios/hourly-metrics/17.json
  public/server-scenarios/hourly-metrics/18.json
  public/server-scenarios/hourly-metrics/19.json
  public/server-scenarios/hourly-metrics/20.json
  public/server-scenarios/hourly-metrics/21.json
  public/server-scenarios/hourly-metrics/22.json
  public/server-scenarios/hourly-metrics/23.json
  public/server-scenarios/incidents/details.json
  public/server-scenarios/incidents/timeline.json
  public/server-scenarios/servers-metadata.json
Due: prettier --write

fix(api): update raw-metrics path to use hourly-data folder
  src/app/api/ai/raw-metrics/route.ts
Due: eslint --fix --max-warnings 0, prettier --write
