Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

🔧 fix(docs): revert incorrect Extended Thinking documentation changes
  docs/claude/environment/claude-code-v2.0.31-best-practices.md
Due: prettier --write

📚 docs(extended-thinking): Extended Thinking 트리거 메커니즘 문서 정정
  CLAUDE.md
  docs/claude/environment/claude-code-v2.0.31-best-practices.md
  docs/status.md
  logs/ai-decisions/2025-11-04-extended-thinking-feature-verification.md
Due: prettier --write

🧪 test(integration): restore native fetch for core-endpoints tests
  tests/api/core-endpoints.integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

Revert "🧪 test(integration): restore native fetch for core-endpoints tests"
  tests/api/core-endpoints.integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧪 test(integration): implement custom mock for core-endpoints tests
  tests/api/core-endpoints.integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix(test): align mock server count for data consistency test
  tests/api/core-endpoints.integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs(phase2): Claude Code v2.0.31 best practices + test config
  config/testing/vitest.config.main.ts
  docs/claude/environment/claude-code-v2.0.31-best-practices.md
  logs/ai-decisions/2025-11-04-extended-thinking-feature-verification.md
Due: eslint --fix --max-warnings 0, prettier --write

📁 refactor(docs): move Skills plan to planning directory
  docs/planning/2025-11-claude-code-skills-adoption.md
Due: prettier --write

✨ feat(ai): Phase 1 Claude Code Skills 구현 완료
  .claude/skills/documentation/ai-report-export.md
  .claude/skills/performance/next-router-bottleneck.md
  .claude/skills/playwright/triage.md
  .claude/skills/tests/lint-smoke.md
  config/ai/registry.yaml
  docs/planning/2025-11-claude-code-skills-adoption.md
Due: prettier --write

✅ fix(skills): add official YAML frontmatter based on Claude Code docs validation
  .claude/skills/documentation/ai-report-export.md
  .claude/skills/performance/next-router-bottleneck.md
  .claude/skills/playwright/triage.md
  .claude/skills/tests/lint-smoke.md
Due: prettier --write

🔧 chore(ai): AI CLI 도구 버전 업그레이드 완료 (v0.56.0/v0.13.0/v0.2.0)
  config/ai/registry.yaml
  docs/status.md
  logs/ai-decisions/2025-11-08-dev-environment-manager-version-check-improvement.md
Due: prettier --write

♻️ refactor(ai): dev-environment-manager 버전 체크 로직 개선 완료
  .claude/agents/dev-environment-manager.md
  logs/ai-decisions/2025-11-07-phase1-skills-verification.md
  logs/ai-decisions/2025-11-08-phase1-revalidation.md
Due: prettier --write

✨ feat(skills): Phase 1 Claude Code Skills 구현 완료 (v1.1.0)
  .claude/skills/documentation/ai-report-export.md
  .claude/skills/performance/next-router-bottleneck.md
  .claude/skills/playwright/triage.md
  .claude/skills/tests/lint-smoke.md
  config/ai/changelog.yaml
  docs/status.md
  logs/ai-decisions/2025-11-08-phase1-skills-week1-day1-2-completion.md
  logs/ai-decisions/2025-11-08-phase1-skills-week1-day3-4-completion.md
  logs/ai-decisions/2025-11-08-phase1-skills-week1-day5-completion.md
  logs/ai-decisions/2025-11-08-phase1-skills-week1-day6-7-completion.md
Due: prettier --write

✨ feat: Multi-AI Orchestrator v1.0.0 완료 및 통합
  .claude/agents/multi-ai-verification-specialist.md
  GEMINI.md
  QWEN.md
  docs/status.md
  scripts/ai-subagents/analyze-perf-logs.sh
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/maintenance/monthly-wrapper-verification.sh
  scripts/orchestrator/generate-decision-log.sh
  scripts/orchestrator/multi-ai-orchestrator.sh
Due: prettier --write

fix: remove Husky v10.0.0 deprecated lines from pre-push hook
  .husky/pre-push
Due: none

fix: remove Husky v10.0.0 deprecated lines from pre-commit hook
  .husky/pre-commit
Due: none

♻️ refactor(test): web-vitals v4 API 마이그레이션 및 분석 로직 개선
  docs/status.md
  src/components/dashboard/EnhancedServerModal.tsx
  src/data/hourly-server-data.ts
  src/lib/cache-helper.ts
  src/lib/testing/universal-vitals.ts
  src/lib/unified-cache.ts
  src/types/ai-types.ts
  tests/ai-sidebar/AISidebarV3.test.tsx
  tests/api/ai/query.test.ts
  tests/integration/ServerDashboard.test.tsx
  tests/unit/lib/cache-helper.test.ts
  tests/unit/services/security-service-enhanced.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

♻️ refactor(docs): CLAUDE.md 최적화 및 AI Registry 분리 (v2.0.0)
  CLAUDE.md
  config/ai/changelog.yaml
  config/ai/registry-core.yaml
  config/ai/registry.yaml
  docs/ai/3-ai-query-optimization-guide.md
  docs/ai/README.md
  docs/ai/ai-maintenance.md
  docs/ai/ai-workflows.md
  docs/ai/qwen-timeout-analysis-and-fix.md
  docs/claude/README.md
  docs/claude/environment/claude-code-v2.0.31-best-practices.md
  docs/claude/environment/multi-ai-strategy.md
  docs/meta/README.md
  docs/planning/2025-11-claude-code-skills-adoption.md
  logs/ai-decisions/2025-11-07-phase1-skills-verification.md
  logs/ai-decisions/2025-11-08-dev-environment-manager-version-check-improvement.md
  logs/ai-decisions/2025-11-08-phase1-revalidation.md
  logs/ai-decisions/2025-11-08-phase1-skills-week1-day1-2-completion.md
  logs/ai-decisions/2025-11-08-phase1-skills-week1-day5-completion.md
  logs/ai-decisions/2025-11-08-phase1-skills-week1-day6-7-completion.md
  logs/ai-decisions/2025-11-11-claude-md-optimization-plan.md
Due: prettier --write

♻️ refactor(docs): 메모리 파일 최적화 - 80% 토큰 절약
  .claudeignore
  docs/status.md
Due: prettier --write

♻️ refactor(docs): Phase 2 Memory 최적화 완료 - 실용주의적 접근
  CLAUDE.md
  backups/memory-optimization-phase2/multi-ai-strategy.md
  backups/memory-optimization-phase2/workflows.md
  config/ai/registry-core.yaml
  docs/claude/1_workflows.md
  docs/claude/README.md
  docs/claude/environment/mcp/mcp-priority-guide.md
  docs/claude/workflows/ai-cross-verification-workflow.md
  docs/claude/workflows/common-tasks.md
  docs/status.md
  logs/ai-decisions/2025-11-11-memory-file-optimization-phase2-evaluation.md
  logs/ai-decisions/2025-11-11-memory-file-optimization-phase2-final.md
  logs/ai-decisions/2025-11-11-memory-file-optimization-phase2A-completion.md
  logs/ai-decisions/2025-11-11-memory-file-optimization-phase2B-plan.md
  logs/ai-decisions/2025-11-11-memory-file-optimization-phase3-evaluation.md
  logs/ai-decisions/2025-11-11-memory-optimization-roi-analysis.md
Due: prettier --write

♻️ refactor(env): Redis 관련 환경변수 경고 제거
  src/lib/config.ts
  src/lib/env.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: stabilize admin mode ui and mock admin apis
  src/app/api/admin/conversations/route.ts
  src/app/api/admin/logs/route.ts
  src/app/api/admin/mock-data.ts
  src/app/api/admin/stats/route.ts
  src/components/profile/hooks/useProfileSecurity.ts
  src/components/shared/UnifiedProfileHeader.tsx
  tests/e2e/admin-mode-pin-api-test.spec.ts
  tests/e2e/admin-mode-pin-test.spec.ts
  tests/e2e/admin-page-access.spec.ts
  tests/e2e/helpers/admin-api-intercept.ts
  tests/e2e/helpers/admin-mock-data.ts
  tests/e2e/helpers/ui-flow.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: load vercel envs for playwright bypass
  playwright-vercel.config.ts
  playwright.config.ts
  src/app/admin/AdminClient.tsx
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: log vercel 404s in admin page spec
  tests/e2e/admin-page-access.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

Fix admin hydration and Vercel mock data handling
  src/app/admin/AdminClient.tsx
  src/components/admin/LogDashboard.tsx
  src/components/admin/UnifiedAdminDashboard/sections/AlertsSection/index.tsx
  src/components/dashboard/DashboardHeader.tsx
  src/components/shared/UnifiedProfileHeader.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Handle optional log dashboard timestamps
  src/components/admin/LogDashboard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Fix LogDashboard lint issues
  src/components/admin/LogDashboard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Prevent hydration drift in admin header and clock
  src/components/admin/UnifiedAdminDashboard/sections/HeaderSection/index.tsx
  src/components/dashboard/RealTimeDisplay.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Bypass Vercel checkpoint and use mock admin dashboard data
  src/components/admin/UnifiedAdminDashboard/hooks/useAdminDashboard.ts
  src/components/shared/UnifiedProfileHeader.tsx
  tests/e2e/admin-mode-pin-api-test.spec.ts
  tests/e2e/admin-mode-pin-test.spec.ts
  tests/e2e/admin-page-access.spec.ts
  tests/e2e/helpers/security.ts
Due: eslint --fix --max-warnings 0, prettier --write

Widen Vercel bypass helper and auto-open admin menu
  src/components/profile/hooks/useProfileMenu.ts
  src/components/profile/hooks/useProfileSecurity.ts
  src/components/shared/UnifiedProfileHeader.tsx
  tests/e2e/ai-sidebar-verification.spec.ts
  tests/e2e/guest-session-verification.spec.ts
  tests/e2e/manual-frontend-test.spec.ts
  tests/e2e/middleware-critical-bugfix.spec.ts
  tests/e2e/vercel-guest-admin-full-check.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

Apply Vercel bypass helper and harden admin menu helper
  tests/e2e/admin-page-access.spec.ts
  tests/e2e/guest-mode-comprehensive.spec.ts
  tests/e2e/guest-mode-full-access.spec.ts
  tests/e2e/helpers/ui-flow.ts
  tests/e2e/performance-check.spec.ts
  tests/e2e/performance-visual-regression.spec.ts
  tests/e2e/quick-check.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: allow guest flows without admin mode
  src/app/main/page.tsx
  src/components/ai/RealTimeThinkingViewer.tsx
  src/components/home/SystemControls.tsx
  src/hooks/api/useRealAI.ts
  src/hooks/useUserPermissions.ts
  src/stores/auth-store.ts
  src/stores/modules/index.ts
  src/stores/useUnifiedAdminStore.ts
  tests/e2e/comprehensive-user-flow.spec.ts
  tests/e2e/guest-mode-comprehensive.spec.ts
  tests/e2e/helpers/ui-flow.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: retire admin mode flows
  middleware.ts
  src/app/admin/page.tsx
  src/components/profile/components/AdminAuthModal.tsx
  src/components/profile/components/ProfileDropdownMenu.tsx
  src/components/profile/hooks/useProfileMenu.ts
  src/components/profile/hooks/useProfileSecurity.ts
  src/components/profile/index.ts
  src/components/profile/types/profile.types.ts
  src/components/shared/UnifiedProfileHeader.tsx
  src/config/guestMode.ts
  tests/e2e/admin-mode-pin-test.spec.ts
  tests/e2e/admin-page-access.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: gate legacy admin e2e suites
  docs/testing/README-vercel-production-testing.md
  docs/testing/admin-mode-manual-test-guide.md
  docs/testing/e2e-testing-guide.md
  tests/e2e/admin-mode-improved.spec.ts
  tests/e2e/admin-mode-pin-api-test.spec.ts
  tests/e2e/admin-mode-pin-test.spec.ts
  tests/e2e/admin-page-access.spec.ts
  tests/e2e/admin-page-button.spec.ts
  tests/e2e/ai-assistant-advanced-test.spec.ts
  tests/e2e/ai-friendly-test-example.spec.ts
  tests/e2e/comprehensive-frontend-test.spec.ts
  tests/e2e/comprehensive-ui-ux-test.spec.ts
  tests/e2e/comprehensive-user-flow.spec.ts
  tests/e2e/guest-mode-comprehensive.spec.ts
  tests/e2e/guest-session-verification.spec.ts
  tests/e2e/helpers/admin.ts
  tests/e2e/helpers/featureFlags.ts
  tests/e2e/master-comprehensive-verification.spec.ts
  tests/e2e/simple-admin-test.spec.ts
  tests/e2e/test-runner.ts
  tests/e2e/vercel-guest-admin-full-check.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add guest dashboard e2e flow
  docs/testing/README-vercel-production-testing.md
  docs/testing/e2e-testing-guide.md
  docs/testing/vercel-production-test-scenarios.md
  tests/e2e/comprehensive-user-flow.spec.ts
  tests/e2e/guest-dashboard-flow.spec.ts
  tests/e2e/guest-mode-comprehensive.spec.ts
  tests/e2e/guest-session-verification.spec.ts
  tests/e2e/helpers/guest.ts
  tests/e2e/test-runner.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: harden guest flows and archive legacy docs
  .gitignore
  docs/archive/testing/vercel-production-test-analysis.md
  docs/testing/README-vercel-production-testing.md
  docs/testing/README.md
  docs/testing/vercel-manual-test-guide.md
  docs/testing/vercel-production-enhancement-analysis.md
  docs/testing/vercel-production-test-scenarios.md
  tests/e2e/comprehensive-user-flow.spec.ts
  tests/e2e/guest-dashboard-flow.spec.ts
  tests/e2e/helpers/guest.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove duplicate legacy analysis doc
  docs/testing/vercel-production-test-analysis.md
Due: prettier --write

♻️ refactor: AI 엔진 단순화 및 UNIFIED/AUTO 모드 추가
  AGENTS.md
  docs/architecture/api/endpoints.md
  docs/architecture/api/routes.md
  docs/guides/types.md
  next.config.mjs
  package.json
  public/test-google-ai.html
  scripts/data/create-ai-logs-table.sql
  src/app/api/ai/google-ai/generate/route.ts
  src/app/api/ai/query/route.ts
  src/app/api/cache/optimize/route.ts
  src/app/api/enterprise/route.ts
  src/components/ai/AIModeSelector.tsx
  src/components/ai/pages/AIChatPage.tsx
  src/components/ui/CompactModeSelector.tsx
  src/config/vercel-edge-config.ts
  src/domains/ai-sidebar/components/AIEngineSelector.tsx
  src/domains/ai-sidebar/components/AISidebarV3.tsx
  src/domains/ai-sidebar/hooks/useAIEngine.ts
  src/domains/ai-sidebar/utils/aiQueryHandlers.ts
  src/lib/gcp/gcp-functions.types.ts
  src/services/ai/IncidentReportService.ts
  src/services/ai/SimplifiedQueryEngine.processors.googleai.ts
  src/services/ai/SimplifiedQueryEngine.processors.helpers.ts
  src/services/ai/SimplifiedQueryEngine.processors.local.ts
  src/services/ai/SimplifiedQueryEngine.processors.localai.ts
  src/services/ai/SimplifiedQueryEngine.processors.ts
  src/services/ai/SimplifiedQueryEngine.ts
  src/services/ai/SimplifiedQueryEngine.types.ts
  src/services/ai/SimplifiedQueryEngine.utils.ts
  src/stores/useAISidebarStore.ts
  src/types/ai-types.ts
  tests/TESTING.md
  tests/ai-sidebar/aiQueryHandlers.test.ts
  tests/api/ai/query.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: satisfy lint for ai api and hooks
  src/app/api/ai-analysis/route.ts
  src/app/api/ai-unified/streaming/route.ts
  src/app/api/ai/ml/train/route.ts
  src/app/api/universal-vitals/route.ts
  src/components/accessibility/KeyboardNavigation.tsx
  src/components/admin/AdminDashboardCharts.optimized.tsx
  src/components/admin/GCPQuotaMonitoringDashboard.tsx
  src/components/admin/LogDashboard.hooks.ts
  src/components/admin/LogDashboard.tsx
  src/components/ai/AssistantLogPanel.tsx
  src/components/ai/pages/IntelligentMonitoringPage.tsx
  src/components/security/SafePerformanceScript.tsx
  src/components/ui/ChatExport.tsx
  src/context/AccessibilityProvider.tsx
  src/core/events/SystemEventHandler.ts
  src/hooks/improved/useServerData.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: add lint progress tracking and project analysis
  docs/temp/lint-progress.md
  docs/temp/project-analysis-2025-11-14.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
