Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

feat(wrapper): Phase 3 Task 9 - Verification Suite v1.0.0
  logs/ai-decisions/2025-10-24-phase3-task9-completion-verification.md
  scripts/ai-subagents/wrapper-verification-suite.sh
Due: prettier --write

docs(wrapper): add verification suite v1.0.0 documentation
  docs/claude/environment/multi-ai-strategy.md
Due: prettier --write

chore(registry): add wrapper verification suite v1.0.0 configuration
  config/ai/registry.yaml
  logs/ai-decisions/2025-10-24-wrapper-verification-suite-v1.0.0.md
Due: prettier --write

feat(ai-wrappers): v2.6.0 - Decision Log auto-logging (Phase 1)
  config/ai/registry.yaml
  logs/ai-decisions/2025-10-24-ai-cross-validation-meta-analysis.md
  logs/ai-decisions/2025-10-24-phase1-auto-logging-completion.md
  logs/ai-decisions/auto-log-2025-10-24.md
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/ai-subagents/qwen-wrapper.sh
Due: prettier --write

♻️ refactor(ai-wrappers): v2.6.0 → v2.5.0 rollback, Decision Log 자동화 제거
  .claude/agents/multi-ai-verification-specialist.md
  CLAUDE.md
  config/ai/changelog.yaml
  config/ai/registry.yaml
  docs/ai/3-ai-query-optimization-guide.md
  docs/claude/architecture/ai-cross-verification.md
  logs/ai-decisions/2025-10-10-ai-cross-verification-meta-analysis.md
  logs/ai-decisions/2025-10-10-multi-ai-role-redefinition.md
  logs/ai-decisions/2025-10-10-qwen-timeout-root-cause-analysis.md
  logs/ai-decisions/2025-10-10-useState-vs-useReducer.md
  logs/ai-decisions/2025-10-12-phase69-74-type-safety-review.md
  logs/ai-decisions/2025-10-13-24h-system-verification.md
  logs/ai-decisions/2025-10-13-before-after-comparison.md
  logs/ai-decisions/2025-10-13-design-system-next-phase.md
  logs/ai-decisions/2025-10-13-server-metrics-architecture.md
  logs/ai-decisions/2025-10-13-ui-ux-accessibility-review.md
  logs/ai-decisions/2025-10-13-ui-ux-complete-verification.md
  logs/ai-decisions/2025-10-13-useProfileSecurity-multi-source.md
  logs/ai-decisions/2025-10-15-analysis-improvement-strategy.md
  logs/ai-decisions/2025-10-15-improvement-strategy-cross-verification.md
  logs/ai-decisions/2025-10-15-mcp-subagent-optimization.md
  logs/ai-decisions/2025-10-16-claude-code-setup-evaluation.md
  logs/ai-decisions/2025-10-16-实사용-피드백-계획-수립.md
  logs/ai-decisions/2025-10-25-lib-refactoring-mapping-deletion.md
  logs/ai-decisions/2025-10-25-memory-file-optimization-completion.md
  logs/ai-decisions/auto-log-2025-10-24.md
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/ai-subagents/qwen-wrapper.sh
Due: prettier --write

♻️ refactor(ai-wrappers): v2.6.0 → v2.5.0 rollback, Decision Log 자동화 제거
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/ai-subagents/qwen-wrapper.sh
Due: none

📝 docs(decision-log): 3-AI 분석 및 E2E 테스트 권장사항 추가
  logs/ai-decisions/2025-10-25-e2e-test-fix-recommendations.md
  logs/ai-decisions/2025-10-25-monitoring-cleanup-3ai-analysis.md
  logs/ai-decisions/2025-10-25-monitoring-cleanup-comprehensive-analysis.md
  logs/ai-decisions/2025-10-25-phase1-decision-log-automation-meaning.md
  logs/ai-decisions/README.md
Due: prettier --write

✅ test(e2e): Vercel 배포 보호 우회 및 rate limit 개선
  src/app/api/test/vercel-test-auth/route.ts
  tests/e2e/helpers/admin.ts
  tests/e2e/test-automation-comprehensive.spec.ts-snapshots/dashboard-main-chromium-linux.png
Due: eslint --fix --max-warnings 0, prettier --write

🗄️ docs(logs): Decision Log 아카이브 정리
  logs/ai-decisions/2025-10-17-mcp-documentation-side-effects-analysis.md
  logs/ai-decisions/2025-10-19-claude-code-version-update.md
  logs/ai-decisions/2025-10-19-local-test-limitations.md
  logs/ai-decisions/2025-10-19-project-completion-evaluation.md
  logs/ai-decisions/2025-10-19-servermetrics-interpolation-improvement.md
  logs/ai-decisions/2025-10-19-servermetricslinechart-interpolation-fix.md
  logs/ai-decisions/2025-10-19-subagent-registry-cleanup-side-effects.md
  logs/ai-decisions/2025-10-19-subagent-registry-cleanup.md
  logs/ai-decisions/2025-10-20-api-interval-analysis.md
  logs/ai-decisions/2025-10-20-multi-ai-system-validation.md
  logs/ai-decisions/2025-10-20-server-card-design-cross-verification.md
  logs/ai-decisions/2025-10-20-server-card-design-evolution-analysis.md
  logs/ai-decisions/2025-10-20-server-count-config-verification.md
  logs/ai-decisions/2025-10-20-serverconfig-15-servers-validation.md
  logs/ai-decisions/2025-10-24-ai-cross-validation-meta-analysis.md
  logs/ai-decisions/2025-10-24-codex-commit-analysis.md
  logs/ai-decisions/2025-10-24-commit-7c6096b5-verification.md
  logs/ai-decisions/2025-10-24-wrapper-v2.4.0-critical-fixes.md
Due: prettier --write

fix(ui): remove duplicate admin page button causing navigation failure
  src/components/profile/components/ProfileDropdownMenu.tsx
  tests/e2e/admin-page-button.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): correct Playwright selector syntax for admin heading
  tests/e2e/admin-page-button.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): resolve dashboard-container visibility timeout via post-hydration cookie detection
  package.json
Due: prettier --write

fix(e2e): add testModeDetected state for post-hydration cookie detection
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): correct localStorage key for admin mode state synchronization
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): resolve 403 authentication regression - dotenv loading in worker processes
  docs/testing/403-authentication-fix.md
  package-lock.json
  package.json
  playwright.config.ts
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): implement global setup for reliable environment variable loading
  docs/testing/403-authentication-fix-v2.md
  globalSetup.ts
  playwright.config.ts
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(main): integrate guest full access feature flag with ESLint fixes
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): synchronous test mode detection for immediate dashboard rendering
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs(ai): verify AI tools are up-to-date - all latest versions confirmed
  config/ai/registry.yaml
  docs/status.md
Due: prettier --write

chore(infra): upgrade npm to v11.6.2
  config/ai/registry.yaml
  docs/status.md
Due: prettier --write

chore(infra): upgrade npm to v11.6.2
  package-lock.json
Due: prettier --write

docs(ai): Qwen timeout root cause analysis and prevention guide
  config/ai/registry.yaml
  docs/ai/3-ai-query-optimization-guide.md
  docs/ai/qwen-timeout-analysis-and-fix.md
  docs/claude/environment/multi-ai-strategy.md
Due: prettier --write

refactor(deps): optimize bundle with dev/prod package separation - 87MB saved
  logs/ai-decisions/2025-10-29-dev-prod-package-split.md
  package-lock.json
  package.json
  src/components/providers/QueryProvider.tsx
  src/modules/advanced-features/network-topology.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(ai-decisions): add dev/prod package split verification log
  logs/ai-decisions/2025-10-30-dev-prod-package-split-verification.md
Due: prettier --write

docs(status): update with 87MB bundle optimization
  docs/status.md
Due: prettier --write

test(e2e): increase dashboard load timeout for Vercel Cold Start
  tests/e2e/helpers/admin.ts
  tests/e2e/helpers/timeouts.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): add isMounted guard to permission check for E2E tests
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

debug(dashboard): add comprehensive logging to loading check for E2E investigation
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(api): migrate dashboard route to Next.js 15 cookie API
  src/app/api/dashboard/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(api): wrap POST handler returns in Promise.resolve()
  src/app/api/dashboard/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): add missing Vercel bypass header to guest login authentication
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): skip loading check in test mode to prevent E2E timeout
  src/app/dashboard/DashboardClient.tsx
  tests/e2e/admin-page-button.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): skip loading check during SSR to prevent E2E timeout
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

debug(dashboard): add diagnostic logging to wrapper component
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

debug(dashboard): add diagnostic logging to page component for root cause analysis
  src/app/dashboard/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): implement test mode authentication bypass in dashboard API
  src/app/api/dashboard/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): add missing x-vercel-protection-bypass header to activateAdminMode
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

debug(layout): add diagnostic logging to RootLayout for E2E investigation
  src/app/layout.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
