Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

🧪 feat: 개선된 관리자 모드 테스트 시스템 완성
  playwright.config.ts
  tests/e2e/admin-mode-improved.spec.ts
  tests/e2e/helpers/admin.ts
  tests/e2e/simple-admin-test.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: GoogleAIUsageTracker.ts TypeScript 문법 오류 수정
  src/services/ai/GoogleAIUsageTracker.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 feat: CLAUDE.md 95.7% 최적화 완료 - AI 교차검증 기반
  CLAUDE.md
Due: prettier --write

📚 feat: CLAUDE.md 적절한 내용으로 완전 복원 - 기존 버전 참조 기반
  CLAUDE.md
Due: prettier --write

🔧 fix: CLAUDE.md vs AGENTS.md 역할 정의 정확히 수정 - 공식 문서 기반
  CLAUDE.md
Due: prettier --write

🔧 fix: AGENTS.md를 Codex 전용 설정 및 메모리 파일로 정확히 명시
  CLAUDE.md
Due: prettier --write

⚡ feat: ESLint 성능 최적화 - 타임아웃 문제 완전 해결
  eslint.config.fast.mjs
  eslint.config.minimal.mjs
  eslint.config.ultra-fast.mjs
  package.json
Due: prettier --write

🔧 fix: Husky pre-push hook 최적화 - 기본 보안 검사만 수행
  .husky/pre-push
  eslint.config.ultra-fast.mjs
Due: none

🔧 fix: Google AI API 진단 및 오류 처리 개선
  src/app/api/ai/google-ai/generate/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 fix: Google AI API 완전 수정 - Gemini 1.5 Flash 모델 업데이트
  src/app/api/ai/google-ai/generate/route.ts
  src/lib/ai/google-ai-client.ts
  src/lib/mock/providers/GoogleAIMock.ts
  src/schemas/ai.schema.ts
  src/schemas/api.ai.schema.ts
  src/services/ai/__tests__/SimplifiedQueryEngine-MCP.test.ts
  src/services/ai/__tests__/SimplifiedQueryEngine.test.ts
  src/services/ai/__tests__/circuit-breaker.test.ts
  src/services/ai/__tests__/query-performance.test.ts
  tests/unit/services/auth/UserProfileService.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: 베르셀 최적화 - 시간 고정 + 날짜 동적 계산 시스템 완성
  public/data/server-data-24h-complete.json
  public/data/server-data-24h-fixed.json
  public/data/server-data-24h-rolling.json
  public/data/server-data-24h.json
  src/app/api/ai/google-ai/generate/route.ts
  src/components/ai/pages/AIChatPage.tsx
  src/mock/fixedHourlyData.ts
  src/services/ai/MockContextLoader.ts
  src/services/data/StaticDataLoader.ts
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: StaticDataLoader v5.71.0 성과 문서화 - AI 교차검증 완료
  CLAUDE.md
  README.md
  package.json
Due: prettier --write

🙈 gitignore: screenshots/ 디렉토리 추가 - 임시 이미지 파일 제외
  .gitignore
Due: none

📐 docs: 설계도 v5.71.0 StaticDataLoader 아키텍처 갱신
  docs/design/current/realtime-monitoring-v5.71.0.md
  docs/design/current/system-architecture-v5.71.0.md
Due: prettier --write

🔧 fix: MCP 서버 복구 완료 - 9/9개 서버 정상 작동
  CLAUDE.md
  docs/mcp/servers.md
Due: prettier --write

🔧 fix: serena MCP 최적화 + 문서 동기화 완료
  .mcp.json
  CLAUDE.md
  docs/design/mcp.md
Due: prettier --write

🛠️ add: serena MCP 헬스체크 스크립트 추가
  scripts/check-serena-health.sh
Due: none

🔧 fix: 베르셀 배포 실패 해결 - 잘못된 런타임 설정 제거
  vercel.json
Due: prettier --write

🔒 security: GCP 백업 파일에서 민감한 API 키 제거
  scripts/backup/gcp-functions-20250913_131947/functions-before.json
  scripts/backup/gcp-functions-20250913_132106/enhanced-korean-nlp-asia-northeast3.json
  scripts/backup/gcp-functions-20250913_132106/functions-before.json
  scripts/backup/gcp-functions-20250913_132106/ml-analytics-engine-asia-northeast3.json
  scripts/backup/gcp-functions-20250913_132106/unified-ai-processor-asia-northeast3.json
Due: prettier --write

🗑️ cleanup: GCP 백업 파일 완전 제거 - 보안 강화
  .gitignore
  scripts/backup/gcp-functions-20250913_131947/functions-before.json
  scripts/backup/gcp-functions-20250913_132106/enhanced-korean-nlp-asia-northeast3.json
  scripts/backup/gcp-functions-20250913_132106/enterprise-metrics-us-central1.json
  scripts/backup/gcp-functions-20250913_132106/functions-after.json
  scripts/backup/gcp-functions-20250913_132106/functions-before.json
  scripts/backup/gcp-functions-20250913_132106/health-check-us-central1.json
  scripts/backup/gcp-functions-20250913_132106/ml-analytics-engine-asia-northeast3.json
  scripts/backup/gcp-functions-20250913_132106/test-remaining-functions.sh
  scripts/backup/gcp-functions-20250913_132106/unified-ai-processor-asia-northeast3.json
  scripts/backup/korea-migration-20250913_134550/functions-before-korea.json
Due: prettier --write

🔒 security: 테스트 파일에서 JWT 토큰 패턴 제거
  tests/unit/config/env.test.ts
  tests/unit/utils/environment-security.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔒 security: TruffleHog 스캔 최적화 - 히스토리 제한으로 성능 개선
  .github/workflows/security-check.yml
Due: prettier --write

🔧 fix: TruffleHog 중복 플래그 오류 해결 - GitHub Actions 정상화
  .github/workflows/security-check.yml
Due: prettier --write

🔧 fix: PIN 인증 실패 문제 해결
  src/app/admin/AdminClient.tsx
  src/app/dashboard/DashboardClient.tsx
  src/config/system-constants.ts
  src/hooks/useUserPermissions.ts
  src/types/permissions.types.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 trigger: 베르셀 환경변수 ADMIN_PASSWORD 적용을 위한 배포 트리거
  .temp-deploy-trigger
Due: none

🔧 fix: dashboard authState 오류 해결 - ADMIN_PASSWORD 환경변수 활성화
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 관리자 인증 후 대시보드 접근 권한 문제 해결
  src/hooks/useUserPermissions.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: useUserPermissions 문법 오류 수정 - 베르셀 빌드 성공
  src/hooks/useUserPermissions.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 게스트 PIN 인증 사용자 대시보드 접근 허용
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: localStorage 기반 PIN 인증 상태 우선 적용
  src/hooks/useUserPermissions.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔥 fix: AI 교차검증 기반 대시보드 접근 문제 완전 해결
  .gitignore
  src/app/dashboard/DashboardClient.tsx
  src/components/profile/hooks/useProfileSecurity.ts
  src/hooks/useUserPermissions.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: AWS Kiro 방식 Spec-Driven Development (SDD) 시스템 완전 구축
  .claude/agents/design-architect.md
  .claude/agents/requirements-analyst.md
  .claude/agents/spec-driven-specialist.md
  .claude/agents/task-coordinator.md
  CLAUDE.md
  docs/specs/design/template.md
  docs/specs/design/user-profile-edit.md
  docs/specs/requirements/template.md
  docs/specs/requirements/user-profile-edit.md
  docs/specs/tasks/template.md
  docs/specs/tasks/user-profile-edit.md
Due: prettier --write

🔥 fix: AI 교차검증 기반 대시보드 접근 문제 완전 해결
  .claude/ai-cross-verification-dashboard-access-2025-09-16.md
  docs/.ai-index/README.md
  docs/README.md
  docs/ai-cli-upgrade-log-2025-09-12.md
  docs/ai/README.md
  docs/design/README.md
  docs/design/core/architecture.md
  docs/design/core/consistency.md
  docs/design/core/data-flow.md
  docs/design/core/system.md
  docs/design/current/realtime-monitoring-v5.71.0.md
  docs/design/current/system-architecture-ai.md
  docs/design/current/system-architecture-deployment.md
  docs/design/current/system-architecture-overview.md
  docs/design/current/system-architecture-v5.71.0.md
  docs/design/features/ai-system.md
  docs/design/features/fnv-hash.md
  docs/design/features/mcp.md
  docs/design/features/monitoring.md
  docs/design/features/sub-agents.md
  docs/design/infrastructure/api.md
  docs/design/infrastructure/database.md
  docs/design/infrastructure/deployment.md
  docs/design/infrastructure/security.md
  docs/guides/simulation.md
  docs/meta/archive-optimization-completion-report.md
  docs/meta/archive-optimization-strategy.md
  docs/meta/cross-reference.md
  docs/meta/optimization-plan-2025-09-16.md
  docs/meta/readme-analysis-2025-09-16.md
  docs/meta/structure-analysis-2025-09-16.md
  docs/troubleshoot/claude-400-invalid-json.md
  scripts/archive-ai-optimization.sh
Due: prettier --write

🤖 feat: 서브에이전트 23개→17개 최적화 완료 (AI 교차검증 9.17/10)
  AGENTS.md
  CLAUDE.md
Due: prettier --write

🔄 feat: AI 활용 혼합 전략 확정 - 서브에이전트 + 직접 CLI 모두 정상 작동
  CLAUDE.md
  GEMINI.md
  QWEN.md
Due: prettier --write

🔧 fix: AGENTS.md 정정 - 서브에이전트는 Claude Code 전용임을 명확히
  AGENTS.md
Due: prettier --write

🔧 fix: 공식 서브에이전트 호출 방식 적용 - Task 도구 → 명시적 호출
  CLAUDE.md
  GEMINI.md
  QWEN.md
  docs/claude/ai-cross-verification-v4.md
  docs/guides/ai-system.md
Due: prettier --write

📚 docs: Claude Code 서브에이전트 공식 가이드 완성
  docs/README.md
  docs/ai/agents-mcp.md
  docs/claude/sub-agents-official.md
  docs/design/features/sub-agents.md
Due: prettier --write

🤖 feat: 19개 서브에이전트 Serena MCP 통합 완성
  .claude/agents/ai-verification-coordinator.md
  .claude/agents/central-supervisor.md
  .claude/agents/code-review-specialist.md
  .claude/agents/codex-specialist.md
  .claude/agents/database-administrator.md
  .claude/agents/debugger-specialist.md
  .claude/agents/design-architect.md
  .claude/agents/dev-environment-manager.md
  .claude/agents/documentation-manager.md
  .claude/agents/gcp-cloud-functions-specialist.md
  .claude/agents/gemini-specialist.md
  .claude/agents/qwen-specialist.md
  .claude/agents/requirements-analyst.md
  .claude/agents/security-auditor.md
  .claude/agents/simple-test-agent.md
  .claude/agents/spec-driven-specialist.md
  .claude/agents/structure-refactor-specialist.md
  .claude/agents/task-coordinator.md
  .claude/agents/test-automation-specialist.md
  .claude/agents/vercel-platform-specialist.md
  .claude/agents/verification-specialist.md
Due: prettier --write

📚 docs: Serena MCP 완전 통합 문서화 완성
  .mcp.json
  CLAUDE.md
  docs/ai/agents-mcp.md
  docs/mcp/serena-subagent-integration-plan.md
  docs/mcp/serena-tools-comprehensive-guide.md
  scripts/ai-subagents/external-ai-orchestrator.sh
  scripts/ai-verification/full-ai-cross-validation.sh
  scripts/ai-verification/improved-ai-cross-validation.sh
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
