Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

refactor: API 마이그레이션 cleanup 및 코드 품질 개선
  src/app/api/ai/supervisor/route.ts
  src/components/ai/MonitoringResults.test.tsx
  src/types/common-replacements.ts
  src/types/environment.ts
  tests/api/ai-supervisor.integration.test.ts
  tests/integration/ai-metrics-integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(api): unified-stream 호환 프록시 및 마이그레이션 가이드 추가
  docs/development/ai/api-migration-guide.md
  public/test-google-ai.html
  src/app/api/ai/unified-stream/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(api): Codex 리뷰 반영 - maxDuration 재수출 및 H1 일관성 수정
  public/test-google-ai.html
  src/app/api/ai/unified-stream/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai): 네이밍 통일 Unified AI → AI Supervisor
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/modals/IntelligentMonitoringModal.tsx
  src/config/system-components.ts
  src/domains/ai-sidebar/hooks/useAIEngine.ts
  tests/ai-sidebar/useAIEngine.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.83.9
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-supervisor): normalize AI SDK v5 parts format for Cloud Run
  src/app/api/ai/supervisor/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-sidebar): use TextStreamChatTransport for Cloud Run compatibility
  src/app/api/ai/supervisor/route.ts
  src/domains/ai-sidebar/components/AISidebarV4.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.83.9
  docs/status.md
  src/app/api/ai/supervisor/route.ts
  src/domains/ai-sidebar/components/AISidebarV4.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(hooks): Windows 호환 cross-platform git hooks 구현
  .husky/post-commit
  .husky/pre-commit
  .husky/pre-push
  package.json
  scripts/hooks/post-commit.js
  scripts/hooks/pre-push.js
  scripts/hooks/validate-parallel.js
Due: eslint --fix --max-warnings 0, prettier --write

chore(skills): 버전 동기화 및 cross-platform hooks 반영
  .claude/skills/ai-code-review/skill.md
  .claude/skills/ai-report-export/skill.md
  .claude/skills/lint-smoke/skill.md
  .claude/skills/mermaid-diagram/skill.md
  .claude/skills/playwright-triage/skill.md
  .claude/skills/security-audit-workflow/skill.md
  .claude/skills/validation-analysis/skill.md
Due: prettier --write

fix(ui): revert ai transport to default
  src/domains/ai-sidebar/components/AISidebarV4.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): TypeScript errors in stream parser and transport import
  src/app/api/ai/supervisor/route.ts
  src/domains/ai-sidebar/components/AISidebarV4.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-engine): use HumanMessage for Groq API compatibility
  cloud-run/ai-engine/src/agents/reporter-agent.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(stream): add 'd:' and 'e:' prefix handling to Data Stream parser
  src/app/api/ai/supervisor/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): revert to DefaultChatTransport to fix protocol parsing
  cloud-run/.env.example
  cloud-run/ai-engine/src/config/status-thresholds.ts
  cloud-run/ai-engine/src/lib/model-config.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  cloud-run/ai-engine/src/services/scenario/scenario-loader.ts
  cloud-run/docker-compose.yml
  src/domains/ai-sidebar/components/AISidebarV4.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): optimize engine with Gemini 2.5 Flash-Lite, quotas, and architecture docs
  cloud-run/ai-engine/deploy.sh
  cloud-run/ai-engine/src/config/models.ts
  cloud-run/ai-engine/src/lib/model-config.ts
  cloud-run/ai-engine/src/services/generate/generate-service.ts
  cloud-run/docker-compose.yml
  docs/ai-model-policy.md
  docs/core/architecture/ai/ai-engine-architecture.md
Due: eslint --fix --max-warnings 0, prettier --write

perf(free-tier): optimize polling intervals and reduce test API calls
  src/components/dashboard/monitoring/LiveSystemAlerts.tsx
  src/components/performance/PerformanceMonitor.tsx
  src/domains/ai-sidebar/components/CloudRunStatusIndicator.tsx
  src/hooks/improved/README.md
  src/hooks/improved/useServerData.ts
  tests/ai-free-tier-validation.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai-engine): implement 4 architecture improvements
  cloud-run/ai-engine/src/agents/analyst-agent.ts
  cloud-run/ai-engine/src/agents/nlq-agent.ts
  cloud-run/ai-engine/src/agents/verifier-agent.ts
  cloud-run/ai-engine/src/lib/cache-layer.ts
  cloud-run/ai-engine/src/lib/model-config.ts
  cloud-run/ai-engine/src/lib/state-definition.ts
  cloud-run/ai-engine/src/services/context-service.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  docs/development/ai/architecture-improvements-plan.md
  sql/migrations/004_agent_context_table.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(db): add ai_jobs table migration for async job queue
  sql/migrations/005_ai_jobs_table.sql
Due: none

test(ai-engine): add comprehensive test suite for architecture improvements
  cloud-run/ai-engine/src/agents/verifier-agent.test.ts
  cloud-run/ai-engine/src/lib/cache-layer.test.ts
  cloud-run/ai-engine/src/lib/cache-monitor.ts
  cloud-run/ai-engine/src/services/langgraph/supervisor-verifier.integration.test.ts
  docs/ai-model-policy.md
  docs/core/architecture/ai/ai-engine-architecture.md
  docs/development/ai/TODO.md
  tests/e2e/ai-supervisor-timeout.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(ai): update TODO and Job Queue implementation status
  docs/development/ai/TODO.md
  docs/development/ai/job-queue-implementation-plan.md
Due: prettier --write

docs(todo): mark Monitoring & Observability as completed
  docs/development/ai/TODO.md
Due: prettier --write

docs(ai): add context compression implementation plan
  docs/development/ai/TODO.md
  docs/development/ai/context-compression-implementation-plan.md
Due: prettier --write

feat(ai-engine): implement context compression system (Phase 1-3)
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/lib/context-compression/buffer-manager.ts
  cloud-run/ai-engine/src/lib/context-compression/compression-node.ts
  cloud-run/ai-engine/src/lib/context-compression/compression-trigger.ts
  cloud-run/ai-engine/src/lib/context-compression/encoding-counter.ts
  cloud-run/ai-engine/src/lib/context-compression/index.ts
  cloud-run/ai-engine/src/lib/context-compression/summarizer.ts
  cloud-run/ai-engine/src/lib/state-definition.ts
  docs/development/ai/TODO.md
  docs/development/ai/architecture-improvements-plan.md
  docs/development/ai/context-compression-design.md
  docs/development/ai/context-compression-implementation-plan.md
Due: eslint --fix --max-warnings 0, prettier --write

docs: update file references from token-counter to encoding-counter
  cloud-run/ai-engine/src/lib/context-compression/encoding-counter.ts
  docs/development/ai/context-compression-implementation-plan.md
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-engine): address Codex review issues in context compression
  cloud-run/ai-engine/src/lib/context-compression/buffer-manager.ts
  cloud-run/ai-engine/src/lib/context-compression/encoding-counter.ts
  cloud-run/ai-engine/src/lib/context-compression/summarizer.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(scripts): add cumulative review for unreviewed commits (v6.12.0)
  scripts/code-review/auto-ai-review.sh
Due: none

docs(environment): update WSL AI tools configuration
  docs/environment/wsl-ai-tools.md
Due: prettier --write

fix(tooling): add cross-platform Biome wrapper for WSL/Windows
  .mcp.json.example
  package.json
  scripts/dev/biome-wrapper.sh
  src/app/api/ai/jobs/[id]/progress/route.ts
  src/app/api/ai/jobs/[id]/route.ts
  src/app/api/ai/jobs/route.ts
  src/app/api/ai/supervisor/route.ts
  src/components/ai/pages/IntelligentMonitoringPage.tsx
  src/hooks/ai/useJobPolling.ts
  src/lib/ai/job-queue/complexity-analyzer.ts
  tests/api/message-normalization.unit.test.ts
  tests/e2e/ai-supervisor-timeout.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(scripts): improve unreviewed commit detection in auto-ai-review (v6.13.0)
  scripts/code-review/auto-ai-review.sh
Due: none

feat(scripts): add human review tracker and change validation storage
  package.json
  scripts/code-review/review-tracker.sh
  scripts/validation/create-summary.sh
Due: prettier --write

fix(skills): update validation paths and script versions
  .claude/skills/ai-code-review/skill.md
  .claude/skills/validation-analysis/skill.md
Due: prettier --write

docs(mcp): update MCP configuration guide with direct API key approach
  docs/development/mcp/mcp-configuration.md
Due: prettier --write

docs: update wsl ai tools report and improve pre-push hook
  package-lock.json
  package.json
  scripts/hooks/pre-push.js
Due: eslint --fix --max-warnings 0, prettier --write

feat(hooks): add WSL Limited Mode for pre-push validation
  scripts/hooks/pre-push.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(hooks): swap WSL/Windows limited mode logic
  scripts/hooks/pre-push.js
Due: eslint --fix --max-warnings 0, prettier --write

docs(wsl): add verification matrix and update package-lock
  docs/environment/wsl/wsl-setup-guide.md
  package-lock.json
Due: prettier --write

feat(ai): integrate context compression and sync anomaly detection
  cloud-run/ai-engine/src/data/fixed-24h-metrics.ts
  cloud-run/ai-engine/src/lib/context-compression/compression-trigger.ts
  cloud-run/ai-engine/src/lib/context-compression/index.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  cloud-run/rust-inference/src/ml/anomaly.rs
  src/lib/ai/monitoring/SimpleAnomalyDetector.ts
  src/services/IntelligentMonitoringService.test.ts
  supabase/migrations/20251223_create_conversation_history.sql
  supabase/migrations/20251223_create_server_metrics_history.sql
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.83.10
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
