Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

docs: 프로젝트 문서 및 설정 파일 대대적 업데이트
  .claude/issues/git-commit-summary-2025-07-31.md
  .claude/issues/git-workflow-improvements-2025-07-31.md
  .claude/issues/platform-health-2025-07-31-0700.md
  docs/git-setup-guide.md
  gcp-functions/enhanced-korean-nlp/main.py
  infra/deployment/scripts/core/verify-deployment.js
  next.config.mjs
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

test: 테스트 인프라 강화 및 타입 안전성 개선
  scripts/utils/redis-connection.ts
  scripts/utils/validator.js
  src/app/api/ai/query/route.ts
  src/app/api/database/status/route.ts
  src/app/api/servers/cached/route.ts
  src/components/charts/AlertsChart.tsx
  src/components/charts/AvailabilityChart.tsx
  src/components/charts/PerformanceChart.tsx
  src/components/charts/TrendsChart.tsx
  src/hooks/useTimerManager.ts
  src/lib/utils-functions.ts
  src/test/circuit-breaker.test.ts
  src/test/mocks/ai-services.ts
  src/test/mocks/external-apis.ts
  src/test/performance-analysis.test.ts
  src/test/performance-optimized-query-engine.e2e.test.ts
  src/test/setup.ts
  src/types/api.ts
  src/types/react-utils.ts
  src/types/server.ts
  src/types/type-utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: 캐시 성능 테스트 스크립트 추가
  scripts/test-cache-performance.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: issue-summary를 Vercel 전문 모니터링 에이전트로 개편
  .claude/agents/issue-summary.md
  scripts/security/check-secrets-in-docs.sh
Due: prettier --write

chore: 민감한 정보가 포함된 레거시 백업 파일 제거
  .claude/legacy-mcp-backup/mcp-backup.json
  .claude/legacy-mcp-backup/mcp-improved.json
  .claude/legacy-mcp-backup/mcp-local.json
  .claude/legacy-mcp-backup/mcp-optimized.json
  .claude/legacy-mcp-backup/mcp-root-20250731.json
  .claude/legacy-mcp-backup/mcp.json.legacy_20250731_054954
  .claude/legacy-mcp-backup/supabase-mcp-config-windows.json
  push-to-github.sh
Due: prettier --write

chore: 임시 푸시 스크립트 제거
  push-to-github.sh
Due: none

fix: PerformanceOptimizedQueryEngine healthCheck 타입 에러 수정
  src/services/ai/performance-optimized-query-engine.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: 성능 최적화 및 vercel-monitor 리네이밍
  .claude/agents/vercel-monitor.md
  .husky/pre-push
  CLAUDE.md
  docs/security-management-guide.md
  package.json
  scripts/security/check-secrets-in-docs.sh
Due: prettier --write

refactor: feedback-loop-optimizer를 agent-coordinator로 재설계
  .claude/agents/agent-coordinator.md
  .claude/agents/central-supervisor.md
  .claude/agents/debugger-specialist.md
  .claude/agents/doc-writer-researcher.md
  .claude/agents/feedback-loop-optimizer.md
  .claude/agents/test-automation-specialist.md
  .claude/agents/vercel-monitor.md
  CLAUDE.md
  docs/sub-agent-collaboration-guide.md
Due: prettier --write

docs: CHANGELOG.md 업데이트 - agent-coordinator 개선사항 추가
  CHANGELOG.md
Due: prettier --write

fix: lint-staged 설정을 JS 파일로 변경하여 무시된 파일 필터링
  .husky/pre-push
  .lintstagedrc.js
  .lintstagedrc.json
  CHANGELOG.md
  package.json
  scripts/minimal-test.js
  scripts/test-pre-push.sh
  src/test/IncidentReportService-ML.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: resolve merge conflicts and maintain latest package versions
  docs/git-authentication-guide.md
  docs/vitest-stubenv-guide.md
  package.json
  scripts/fix-final-typescript-errors.sh
  scripts/fix-remaining-typescript-errors.sh
  scripts/fix-typescript-errors.sh
  src/modules/ai-agent/processors/IntentClassifier.ts
  src/services/ai/IncidentReportService.ts
  src/services/ai/__tests__/SimplifiedQueryEngine.test.ts
  src/services/ai/__tests__/error-handling-fallback.test.ts
  src/services/ai/__tests__/supabase-rag-engine.test.ts
  src/services/mcp/ServerMonitoringAgent.ts
  src/services/mcp/__tests__/MCPContextIntegration.test.ts
  src/services/mcp/components/MCPContextManager.ts
  src/services/websocket/WebSocketManager.ts
  src/test/IncidentReportService-ML.test.ts.disabled
  src/test/SimplifiedQueryEngine-MCP.test.ts
  src/test/ai-engine.test.ts
  src/test/circuit-breaker.test.ts
  src/test/env.config.ts
  src/test/helpers/server-mocks.ts
  src/test/mocks/browser.ts
  src/test/performance-api.test.ts
  src/test/performance-optimized-query-engine.e2e.test.ts
  src/test/setup.ts
  src/types/gcp-data-generator.ts
  src/types/next.d.ts
  src/types/server.ts
  src/types/session.ts
  src/types/testing-library.d.ts
  tests/integration/environment-integration.test.ts
  tests/performance/performance-monitor.test.ts
  tests/unit/fallback-data.test.ts
  tests/unit/services/mcp/CloudContextLoader.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: add prettier-plugin-tailwindcss to prettierrc config
  .prettierrc
Due: none

docs: CHANGELOG.md 업데이트 - v5.66.5 merge conflict 해결
  CHANGELOG.md
Due: prettier --write

chore: bump version to 5.66.5
  package.json
Due: prettier --write

📝 docs: Git 커밋 이모지 가이드 추가
  CHANGELOG.md
  docs/git-commit-emoji-guide.md
Due: prettier --write

🤖 refactor: 서브에이전트 역할 및 책임 미세 조정
  .claude/agents/ai-systems-engineer.md
  .claude/agents/backend-gcp-specialist.md
  .claude/agents/doc-structure-guardian.md
  .claude/agents/doc-writer-researcher.md
  .claude/agents/vercel-monitor.md
  CHANGELOG.md
  src/test/performance-api.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: vercel-monitor에 Vercel MCP 상세 가이드 추가
  .claude/agents/vercel-monitor.md
  CHANGELOG.md
Due: prettier --write

🔧 refactor: 서브에이전트 목록 업데이트 및 frontmatter 표준화
  .claude/agents/central-supervisor.md
  .claude/agents/execution-tracker.md
  .claude/agents/git-cicd-specialist.md
  CHANGELOG.md
  CLAUDE.md
Due: prettier --write

⚡ optimize: MCP 도구 활용 최적화 및 Time MCP 통합
  .claude/agents/database-administrator.md
  .claude/agents/debugger-specialist.md
  .claude/agents/doc-structure-guardian.md
  .claude/agents/doc-writer-researcher.md
  .claude/agents/execution-tracker.md
  .claude/agents/gemini-cli-collaborator.md
  .claude/agents/git-cicd-specialist.md
  .claude/agents/vercel-monitor.md
  CHANGELOG.md
  CLAUDE.md
Due: prettier --write

🚀 improve: 서브에이전트 실효성 개선 및 병렬 처리 최적화
  .claude/agents/gemini-cli-collaborator.md
  CHANGELOG.md
  CLAUDE.md
Due: prettier --write

🐛 fix: 타입 오류 수정 및 의존성 문제 해결
  src/app/api/auth/debug/route.ts
  src/app/api/auth/test/route.ts
  src/app/api/dashboard/route.ts
  src/app/api/servers/route.ts
  src/app/api/system/start/route.ts
  src/components/charts/RealtimeChart.tsx
  src/components/dashboard/OptimizedDashboard.tsx
  src/components/mobile/MobileServerSheet.tsx
  src/lib/api/errorHandler.ts
  src/types/server.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: Pre-push 훅 타입 오류 완전 해결
  src/components/dashboard/OptimizedDashboard.tsx
  src/lib/supabase-middleware.ts
  src/lib/supabase-ssr.ts
  src/middleware.ts
  src/utils/supabase/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

⚡ perf: 과도한 메모이제이션 제거로 성능 최적화
  src/hooks/useOptimizedRealtime.ts
  src/hooks/useServerDashboard.ts
Due: eslint --fix --max-warnings 0, prettier --write

⚡ perf: API 호출 간격 최적화 (20초→30초)
  src/components/dashboard/ImprovedServerCard.tsx
  src/hooks/api/useRealtimeServers.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎨 refactor: CLS 개선 및 공통 유틸리티 함수 통합
  src/components/dashboard/ServerDashboard.tsx
  src/utils/serverUtils.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: 중앙화된 데이터 관리자 구현
  src/services/realtime/CentralizedDataManager.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎯 perf: RealtimeClock 컴포넌트 분리로 리렌더링 최적화
  src/components/dashboard/OptimizedDashboard.tsx
  src/components/shared/RealtimeClock.tsx
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: v5.66.13 버전 업데이트 및 CHANGELOG 작성
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

✨ feat: 서브에이전트 병렬 작업 가시성 개선 시스템 구현
  docs/agent-visibility-improvements.md
  src/components/agent/AgentProgressDisplay.tsx
  src/examples/improved-agent-usage.ts
  src/lib/agent-executor.ts
  src/lib/agent-progress-tracker.ts
  src/lib/task-integration.ts
  src/types/agent-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: WSL 터미널 화면 깜빡임 문제 해결
  src/lib/agent-progress-tracker.ts
  src/lib/task-integration.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔒 feat: 타입 안전성 강화 및 any 타입 제거
  src/components/agent/AgentProgressDisplay.tsx
  src/lib/agent-executor.ts
  src/types/agent-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: WSL 터미널 최적화 가이드 추가
  docs/wsl-terminal-optimization.md
Due: prettier --write

🔥 remove: 서브에이전트 시각적 표현 기능 제거
  docs/agent-visibility-improvements.md
  src/components/agent/AgentProgressDisplay.tsx
  src/examples/improved-agent-usage.ts
  src/lib/agent-executor.ts
  src/lib/agent-progress-tracker.ts
  src/lib/task-integration.ts
  src/types/agent-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: GCP Functions 배포 스크립트 최적화
  gcp-functions/deployment/deploy-all.sh
Due: none

🔥 refactor: MCP 서비스 관련 정리 및 최적화
  scripts/mcp/health-check.sh
  src/hooks/api/useMCPQuery.ts
  src/scripts/test-unused-mcp-servers.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 feat: ESLint 9 호환성 설정 마이그레이션
  .eslintignore
  .eslintrc.json
  .eslintrc.quick.json
  docs/eslint-9-compatibility-guide.md
  eslint.config.mjs
  scripts/fix-eslint.js
Due: eslint --fix --max-warnings 0, prettier --write

🧪 refactor: 테스트 및 모킹 시스템 정리
  src/mock/mockDataRotator.ts
  src/test/helpers/server-mocks.ts
  src/test/performance-api.test.ts
Due: eslint --fix --max-warnings 0, prettier --write
