Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

perf(diagram): hoist Tooltip.Provider to ReactFlowDiagram root
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(diagram): fix indentation formatting
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs(cards): improve tech stack descriptions and add Pino/Zod
  src/data/tech-stacks.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(sentry): migrate to Next.js 16 instrumentation pattern
  instrumentation-client.ts
  instrumentation.ts
  reports/planning/sentry-migration-plan.md
  sentry.edge.config.ts
  sentry.server.config.ts
  src/instrumentation.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(planning): update sentry migration plan with results
  reports/planning/sentry-migration-plan.md
Due: prettier --write

docs(planning): add code simplification plan for over-engineered components
  reports/planning/code-simplification-plan.md
Due: prettier --write

docs(rules): update code-style with 2025-2026 best practices
  .claude/rules/code-style.md
Due: prettier --write

docs(planning): add detailed refactoring plans for code simplification
  reports/planning/refactoring/ai-error-handler-simplify-plan.md
  reports/planning/refactoring/error-handling-service-removal-plan.md
  reports/planning/refactoring/reactflow-diagram-split-plan.md
Due: prettier --write

refactor(diagram): split ReactFlowDiagram into modular structure
  src/components/shared/ReactFlowDiagram.tsx
  src/components/shared/react-flow-diagram/components/AutoFitView.tsx
  src/components/shared/react-flow-diagram/components/DiagramErrorBoundary.tsx
  src/components/shared/react-flow-diagram/components/index.ts
  src/components/shared/react-flow-diagram/constants.ts
  src/components/shared/react-flow-diagram/index.tsx
  src/components/shared/react-flow-diagram/layout/dagre-fallback.ts
  src/components/shared/react-flow-diagram/layout/index.ts
  src/components/shared/react-flow-diagram/layout/layer-layout.ts
  src/components/shared/react-flow-diagram/nodes/CustomNode.tsx
  src/components/shared/react-flow-diagram/nodes/LayerLabelNode.tsx
  src/components/shared/react-flow-diagram/nodes/SwimlaneBgNode.tsx
  src/components/shared/react-flow-diagram/nodes/index.ts
  src/components/shared/react-flow-diagram/types.ts
  src/components/shared/react-flow-diagram/utils/converter.ts
  src/components/shared/react-flow-diagram/utils/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai): remove unused AIErrorHandler module
  src/lib/ai/errors/AIErrorHandler.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(services): remove unused ErrorHandlingService
  src/lib/di-container.ts
  src/lib/interfaces/services.ts
  src/lib/service-registry.ts
  src/services/error-handling/ErrorHandlingService.ts
  src/services/error-handling/core/ErrorHandlingCore.ts
  src/services/error-handling/handlers/DefaultErrorHandlers.ts
  src/services/error-handling/monitoring/ErrorMonitoringService.ts
  src/services/error-handling/recovery/RecoveryService.ts
  src/services/error-handling/types/ErrorTypes.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(diagram): apply Biome formatting to ReactFlowDiagram modules
  src/components/shared/ReactFlowDiagram.tsx
  src/components/shared/react-flow-diagram/components/DiagramErrorBoundary.tsx
  src/components/shared/react-flow-diagram/index.tsx
  src/components/shared/react-flow-diagram/layout/dagre-fallback.ts
  src/components/shared/react-flow-diagram/layout/index.ts
  src/components/shared/react-flow-diagram/layout/layer-layout.ts
  src/components/shared/react-flow-diagram/nodes/CustomNode.tsx
  src/components/shared/react-flow-diagram/nodes/LayerLabelNode.tsx
  src/components/shared/react-flow-diagram/nodes/SwimlaneBgNode.tsx
  src/components/shared/react-flow-diagram/utils/converter.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(planning): update TODO with 2026-01-22 completed tasks
  reports/planning/TODO.md
Due: prettier --write

docs(planning): mark code-simplification-plan as completed
  reports/planning/code-simplification-plan.md
Due: prettier --write

docs(planning): clean up backlog items
  reports/planning/TODO.md
Due: prettier --write

fix(config): update stale comment referencing deleted AIErrorHandler
  src/config/ai-engine.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(diagram): address AI code review findings
  src/components/shared/ReactFlowDiagram.tsx
  src/components/shared/react-flow-diagram/utils/converter.ts
  src/lib/service-registry.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(snapshot): update ReactFlowDiagram snapshots for Tailwind v4
  src/components/shared/__snapshots__/ReactFlowDiagram.test.tsx.snap
Due: none

fix(api): resolve 404 error in server modal metrics by fixing JSON parsing
  src/app/api/ai/raw-metrics/route.ts
  src/components/dashboard/EnhancedServerModal.MetricsTab.tsx
  src/hooks/useTimeSeriesMetrics.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: add comprehensive development and vibe coding documentation
  .claude/README.md
  .claude/skills/ai-code-review/skill.md
  docs/DEVELOPMENT.md
  docs/README.md
  docs/development/README.md
  docs/development/coding-standards.md
  docs/development/dev-tools.md
  docs/development/full-setup-guide.md
  docs/development/project-setup.md
  docs/development/wsl-setup.md
  docs/vibe-coding/README.md
  docs/vibe-coding/ai-tools.md
  docs/vibe-coding/claude-code.md
  docs/vibe-coding/mcp-servers.md
  docs/vibe-coding/setup.md
  docs/vibe-coding/skills.md
  docs/vibe-coding/workflows.md
Due: prettier --write

docs(claude): update permissions documentation in README
  .claude/README.md
Due: prettier --write

docs: fix inconsistencies in MCP and skill documentation
  docs/guides/mcp/setup-guide.md
  docs/vibe-coding/claude-code.md
Due: prettier --write

test: add 82 new unit tests for stores, API routes, and hooks
  reports/planning/test-reinforcement-plan.md
  src/hooks/ai/useHybridAIQuery.test.ts
  src/stores/auth-store.test.ts
  src/stores/useAISidebarStore.test.ts
  src/stores/useDashboardToggleStore.test.ts
  tests/api/ai-raw-metrics.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): resolve 33 failing tests across 4 test files
  src/components/ai/AIWorkspace.test.tsx
  src/components/dashboard/ImprovedServerCard.test.tsx
  src/components/dashboard/SLAWidget.test.tsx
  src/hooks/useTimeSeriesMetrics.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): remove useAIEngine tests for deleted hook
  tests/integration/ai-unified-mode.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): use vi.spyOn for window.dispatchEvent in auth-store tests
  src/stores/auth-store.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(a11y): improve SVG and button accessibility across components
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/AIWorkspace.tsx
  src/components/ai/analysis/ServerResultCard.tsx
  src/components/dashboard/ServerDashboard.tsx
  src/components/dashboard/server-detail/ServerDetailMetrics.tsx
  src/components/dashboard/server-detail/ServerDetailOverview.tsx
  src/components/dashboard/transition/DebugPanel.tsx
  src/components/dashboard/transition/SystemChecklist.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(lint): enable useKeyWithClickEvents as warn
  biome.json
Due: prettier --write

fix(a11y): add button types and SVG accessibility to P1 files
  reports/planning/a11y-improvement-plan.md
  src/app/auth/error/page.tsx
  src/app/login/LoginClient.tsx
  src/components/ai/MessageActions.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(a11y): complete SVG accessibility improvements (P2)
  reports/planning/a11y-improvement-plan.md
  src/app/global-error.tsx
  src/components/shared/ErrorBoundary.tsx
  src/components/shared/FeatureCardModal.tsx
  src/components/shared/Sparkline.tsx
  src/components/shared/UnifiedCircularGauge.tsx
  src/utils/system-checklist-icons.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(lint): enable noSvgWithoutTitle as warn
  biome.json
  reports/planning/a11y-improvement-plan.md
Due: prettier --write

fix(a11y): add button type to improve accessibility (P3 batch 1)
  src/app/500.tsx
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/main/components/DashboardSection.tsx
  src/app/main/components/LoginPrompt.tsx
  src/app/main/components/MainPageErrorBoundary.tsx
  src/app/main/components/SystemStartSection.tsx
  src/components/ai/AnalysisResultsCard.tsx
  src/components/ai/CodeExecutionBlock.tsx
  src/components/ai/MarkdownRenderer.tsx
  src/components/ai/SystemContextPanel.tsx
  src/components/ai/WelcomePromptCards.tsx
  src/components/ai/pages/IntelligentMonitoringPage.tsx
  src/components/ai/pages/auto-report/AutoReportPage.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(a11y): add type="button" to 29 buttons (batch 2)
  src/components/ai-sidebar/EnhancedAIChat.tsx
  src/components/ai/pages/auto-report/IncidentHistoryPage.tsx
  src/components/dashboard/EnhancedServerModal.MetricsTab.tsx
  src/components/dashboard/server-dashboard/ServerDashboardServers.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(a11y): add type="button" to 18 buttons (batch 3)
  src/components/ai/pages/auto-report/ReportCard.tsx
  src/components/dashboard/EnhancedServerModal.tsx
  src/components/dashboard/transition/SystemChecklist.tsx
  src/components/shared/FeatureCardModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(a11y): add type="button" to SystemControlPanel (5 buttons)
  src/components/system/SystemControlPanel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 6.0.0
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  package-lock.json
  package.json
Due: prettier --write

fix(ux): extend system start countdown to 5s for Cloud Run cold start
  src/app/main/hooks/useSystemStart.tsx
Due: eslint --fix --max-warnings 0, prettier --write

perf(landing): add early AI warmup on page load
  src/app/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(warmup): add centralized AI warmup with deduplication
  src/app/main/hooks/useSystemStart.tsx
  src/app/page.tsx
  src/app/system-boot/SystemBootClient.tsx
  src/utils/ai-warmup.ts
Due: eslint --fix --max-warnings 0, prettier --write

style: reorder imports alphabetically (biome auto-format)
  src/app/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
