Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

🔧 config: 커스텀 명령어 비활성화 - 슬래시 명령어 자동완성 정리
  .claude/commands-disabled/commit.md
  .claude/commands-disabled/pr.md
  .claude/commands-disabled/refactor.md
  .claude/commands-disabled/security.md
  .claude/commands-disabled/test-tdd.md
  CLAUDE.md
Due: prettier --write

🐧 feat: Windows → WSL 2 개발환경 완전 전환
  GEMINI.md
  QWEN.md
  ai-cli-wsl.bat
  claude-wsl-optimized.bat
  claude-wsl.bat
  gemini-wsl.bat
  openai-wsl.bat
  qwen-wsl.bat
  scripts/ai-cli-status-summary.ps1
  scripts/claude-wrapper.bat
  scripts/create-wsl-claude-md.ps1
  scripts/final-wsl-migration-summary.ps1
  scripts/install-ai-cli-tools-wsl.ps1
  scripts/optimize-wsl-config.ps1
  scripts/setup-claude-wsl.ps1
  scripts/setup-wsl-sudo-nopasswd.ps1
  scripts/smart-commit.js
  scripts/update-claude-md-wsl.ps1
  scripts/windows-legacy/README.md
  scripts/windows-legacy/claude-code-project-fix.ps1
  scripts/windows-legacy/claude-final-fix.ps1
  scripts/windows-legacy/claude-raw-mode-fix.ps1
  scripts/windows-legacy/claude-reinstall-fix.ps1
  scripts/windows-legacy/claude-trust-and-status.ps1
  scripts/windows-legacy/claude-trust-complete-fix.ps1
  scripts/windows-legacy/claude-ultimate-solution.ps1
  scripts/windows-legacy/cleanup-windows-cli-tools.ps1
  scripts/windows-legacy/final-cleanup.ps1
  scripts/windows-legacy/final-status-report.ps1
  scripts/windows-legacy/fix-alias-final.ps1
  scripts/windows-legacy/fix-claude-cli-permanently.ps1
  scripts/windows-legacy/fix-claude-config-complete.ps1
  scripts/windows-legacy/fix-claude-config-mismatch.ps1
  scripts/windows-legacy/fix-claude-path-error.ps1
  scripts/windows-legacy/fix-powershell-alias-conflict.ps1
  scripts/windows-legacy/fix-wsl-config-warnings.ps1
  scripts/windows-legacy/windows-cleanup-verification.ps1
Due: eslint --fix --max-warnings 0, prettier --write

feat: Add performance monitoring system and optimize AI services
  .claude-code-memory-fix.sh
  .husky/pre-push
  docs/README.md
  docs/technical/mcp/mcp-servers-complete-guide.md
  package-lock.json
  package.json
  src/app/api/ai/incident-report/__tests__/incident-report.test.ts
  src/app/api/ai/incident-report/route.ts
  src/app/api/ai/performance/benchmark/route.ts.disabled
  src/app/api/performance/history/route.ts
  src/app/api/performance/metrics/route.ts
  src/components/admin/LogDashboard.Analytics.tsx
  src/context/advanced-context-manager.ts
  src/context/basic-context-manager.ts
  src/context/custom-context-manager.ts
  src/lib/supabase-factory.ts
  src/modules/performance-monitor/components/PerformanceMonitor.tsx
  src/modules/performance-monitor/hooks/usePerformanceMetrics.ts
  src/modules/performance-monitor/index.ts
  src/modules/performance-monitor/services/PerformanceService.ts
  src/modules/performance-monitor/types/performance.ts
  src/services/ai/AIPerformanceBenchmark.ts
  src/services/ai/FastAIEngineRouter.ts
  src/services/ai/core/AIEngineInterface.ts
  src/services/system/CloudLoggingService.ts
  src/services/system/CloudVersionManager.ts
  src/types/core-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Resolve ESLint issues in API routes
  src/app/api/ai/incident-report/route.ts
  src/app/api/performance/history/route.ts
  src/app/api/performance/metrics/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Add comprehensive documentation and CI enhancements
  .github/workflows/ci-enhanced.yml
  docs/ai-tools/ai-tools-comparison.md
  docs/ai-tools/gemini-cli-guide.md
  docs/ai-tools/qwen-cli-guide.md
  docs/development/windows-dev-environment-guide.md
  docs/performance/core-web-vitals-optimization-plan.md
  docs/performance/react-component-optimization-examples.md
  docs/reports/ai-performance-optimization-final-report.md
Due: prettier --write

feat: Add comprehensive automation and optimization scripts
  .jbge-root-file-policy
  gcp-vm-manager.ps1
  next.config.ultra-optimized.mjs
  reports/gcp-optimization-report-2025-08-14.json
  reports/gemini-verification-questions.md
  reports/mcp-mapping-summary.md
  reports/performance/react-analysis-2025-08-14T18-04-19-871Z.json
  reports/react-optimization/react-optimization-2025-08-14T18-03-14-730Z.json
  reports/subagents-details.md
  reports/vercel-optimization-plan.json
  scripts/analysis/database_analysis_final.js
  scripts/analysis/detailed-db-analysis.js
  scripts/auto-type-fix.js
  scripts/claude-cli-workaround.ps1
  scripts/claude-complete-status.ps1
  scripts/claude-fixed.js
  scripts/claude-powershell.ps1
  scripts/claude-project-direct.ps1
  scripts/claude-status.ps1
  scripts/claude-workaround.ps1
  scripts/claude/README.md
  scripts/claude/automation-dashboard.js
  scripts/claude/automation-engine.js
  scripts/claude/start-automation.ps1
  scripts/dev-env-optimizer.ps1
  scripts/performance/apply-react-optimizations.js
  scripts/performance/core-web-vitals-analysis.js
  scripts/performance/react-optimization-analyzer.js
  scripts/performance/simple-react-analyzer.js
  scripts/quick-dev-start.ps1
  scripts/reorganize-project-structure.ps1
  scripts/test-ai-performance.js
  scripts/tmux-alternative.ps1
  scripts/vercel-optimize.ps1
  setup-sudo-nopasswd.sh
  supabase-schema-analyzer.js
  supabase-simple-analyzer.js
Due: eslint --fix --max-warnings 0, prettier --write

docs: Archive legacy documentation
  docs/archive/2025-08-15/duplicate-mcp-docs/mcp-servers-complete-guide-deprecated.md
  docs/archive/changelog-archive.md
  docs/archive/qwen-parallel-development-report.md
  docs/archive/서브에이전트-종합개선보고서.md
Due: prettier --write

🧹 chore: Clean up passing TDD tests
  .claude/test-metadata.json
Due: prettier --write

📚 docs: Claude Code statusline 설정 가이드 완전 재작성
  CLAUDE.md
  scripts/check-chinese-characters.js
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: MCP 가이드 완전 정리 및 보안 강화
  .github/workflows/test-automation.yml
  CLAUDE.md
  docs/MCP-SERVER-MONITORING.md
  docs/MCP-SETUP-GUIDE.md
  docs/MCP-TROUBLESHOOTING.md
  docs/MCP-USAGE-GUIDE.md
  docs/claude/sub-agents-comprehensive-guide.md
  docs/security/csp-implementation.md
  docs/testing/comprehensive-test-automation-strategy.md
  public/DEPRECATED_TEST_FILES_REMOVED.md
Due: prettier --write

⚡ ci: GitHub Actions 워크플로우 대폭 간소화
  .github/workflows/test-automation.yml
Due: prettier --write

🔧 fix: pre-push 훅 스크립트 참조 수정
  package.json
Due: prettier --write

📚 docs: 문서 포맷팅 및 구조 개선
  docs/CLAUDE-USAGE-GUIDE.md
  docs/CLAUDE_CODE_MCP_OFFICIAL_SETUP.md
  docs/MCP-GUIDE.md
  docs/MCP-OPERATIONS.md
  docs/development/WSL_MCP_SETUP_GUIDE.md
  docs/gcp/vm-api-reference.md
  docs/security/SECURITY_MIGRATION.md
  reports/claude-md-ai-tools-update-2025-08-14.md
  reports/hooks-configuration-report-2025-08-15.md
Due: prettier --write

🧪 test: env.test.ts Google AI 설정 불일치 수정
  src/test/env.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 ci: GitHub Actions 최적화 - 51a562f 수준으로 간소화 [skip ci]
  .github/workflows/disabled/ci-enhanced.yml
  .github/workflows/disabled/test-automation.yml
Due: prettier --write

🔧 fix: Husky pre-push shell 호환성 문제 해결
  .husky/pre-push
Due: none

🔧 config: 개발 환경 설정 업데이트
  .gitignore
  .vscode/settings.json
Due: prettier --write

📚 docs: 핵심 프로젝트 문서 대규모 업데이트
  CLAUDE.md
  docs/MCP-GUIDE.md
  docs/MCP-OPERATIONS.md
Due: prettier --write

🔧 scripts: 핵심 스크립트 업데이트
  scripts/serena-launcher.py
  scripts/setup-env-local.sh
Due: none

📚 docs: Claude 참조 문서 추가
  docs/claude/MCP-DOCUMENTATION-INDEX.md
  docs/claude/claude-code-mcp-complete-setup-guide.md
  docs/claude/openmanager-vibe-v5-mcp-setup-example.md
Due: prettier --write

🚀 scripts: WSL 최적화 및 개발 도구 스크립트 대규모 추가
  .kiro/settings.json
  scripts/claude-code-wsl-optimize.ps1
  scripts/claude-serena-warmup.sh
  scripts/claude-start.sh
  scripts/fix-wsl-config.ps1
  scripts/kiro-terminal-init.ps1
  scripts/load-env-wsl.sh
  scripts/mcp/README.md
  scripts/mcp/install-prewarming.sh
  scripts/mcp/serena-lightweight-proxy.mjs
  scripts/mcp/serena-prewarming-service.mjs
  scripts/optimize-wsl-memory.ps1
  scripts/powershell-profile-setup.ps1
  scripts/setup-real-api-keys.sh
  scripts/setup-wsl-profile.sh
  scripts/test-mcp-with-real-keys.sh
  scripts/test-sub-agents.sh
  scripts/update-wsl-config-for-dev.ps1
  scripts/wsl-dev-optimize.sh
  scripts/wsl-env.sh
  scripts/wsl-memory-optimization.ps1
  scripts/wsl-network-optimize.sh
  scripts/wsl-swap-optimize.sh
Due: prettier --write

🎨 kiro: Kiro IDE Windows 환경 통합 설정 추가
  .kiro/claude-integration.json
  .kiro/extensions.json
  .kiro/settings.json
  .kiro/tasks.json
Due: prettier --write

🎨 kiro: 멀티 IDE 워크플로우 시스템 추가
  .kiro/ide-workflow.json
  .kiro/settings.json
Due: prettier --write

🔄 kiro: IDE 워크플로우를 현실적 탐색 단계로 수정
  .kiro/ide-workflow.json
Due: prettier --write

🔒 security: 환경변수 하드코딩 보안 시스템 구축
  .env.local.template
  .husky/pre-commit
  .mcp.json
  docs/development/current-development-environment.md
  scripts/security/check-hardcoded-secrets.js
Due: eslint --fix --max-warnings 0, prettier --write

🛠️ refactor: Windows 스크립트 구조 개선 및 AI 컨텍스트 추가
  .vscode/ai-context.json
  package.json
  scripts/windows-support/README.md
  scripts/windows-support/env-setup/quick-dev-start.ps1
  scripts/windows/port-forward.ps1
  scripts/windows/quick-dev-start.ps1
Due: prettier --write

🔧 refactor: 개발 환경 구조 재정립 및 WSL 실제 환경 반영
  .vscode/ai-context.json
  .windsurfrules
  CLAUDE.md
  README.md
  docs/PROJECT-SUMMARY.md
  docs/QUICK-START.md
  docs/TROUBLESHOOTING.md
  docs/claude/sub-agents-complete-guide.md
  docs/claude/sub-agents-comprehensive-guide.md
  docs/development/current-development-environment.md
  docs/development/dev-workflow.md
  docs/guides/development-environment-complete.md
  docs/guides/setup/wsl-claude-code-guide.md
  docs/performance/memory-optimization-guide.md
Due: prettier --write

🔧 fix: CI/CD 워크플로우 완전 수정
  .env.example
  .github/workflows/ci-optimized.yml
  .github/workflows/security-check.yml
  .github/workflows/tdd-cleanup.yml
  scripts/tdd-cleanup.ts
  scripts/type-check-changed.js
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: TDD cleanup 워크플로우 완전 수정
  scripts/tdd-cleanup.ts
  src/test-claude/calculator.test.ts
  vitest.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 fix: Vercel 배포 실패 문제 완전 해결
  vercel.json
Due: prettier --write

⚡ perf: Edge request 대폭 감소 최적화
  public/robots.txt
  src/hooks/useSystemStatus.ts
Due: eslint --fix --max-warnings 0, prettier --write

🛠️ fix: Pre-commit hook 성능 대폭 개선
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.js
  package.json
  scripts/security/check-hardcoded-secrets.js
Due: eslint --fix --max-warnings 0, prettier --write

🛠️ fix: Pre-commit hook 성능 대폭 개선
  scripts/smart-pre-commit.js
Due: eslint --fix --max-warnings 0, prettier --write

🐧 refactor: WSL-First 개발 정책 완전 전환
  .editorconfig
  .gitattributes
  .gitignore
  .vscode/settings.json
  CLAUDE.md
  auto-deploy.bat
  local-dev/scripts/maintenance/cleanup-branches.ps1
  local-dev/scripts/maintenance/cleanup-servers.bat
  scripts/claude-code-wsl-optimize.ps1
  scripts/common/run-wsl-script.ps1
  scripts/fix-wsl-config.ps1
  scripts/gcp-vm-basic-control.ps1
  scripts/kiro-terminal-init.ps1
  scripts/optimize-wsl-memory.ps1
  scripts/powershell-profile-setup.ps1
  scripts/update-wsl-config-for-dev.ps1
  scripts/windows-support/env-setup/quick-dev-start.ps1
  scripts/windows/ai-cli-wsl.bat
  scripts/windows/ai-vm-interface.ps1
  scripts/windows/auth-now.ps1
  scripts/windows/claude-wsl-optimized.bat
  scripts/windows/enhanced-vm-control.ps1
  scripts/windows/gcp-auth.bat
  scripts/windows/gcp-vm-manager.ps1
  scripts/windows/quick-dev-start.ps1
  scripts/windows/quick-ssh-key-register.ps1
  scripts/wsl-memory-optimization.ps1
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
