Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

feat(ai): 옵션 A 구현 - GCP Functions 유지 + Vercel 최적화
  config/testing/vitest.config.minimal.ts
  docs/AI-ENGINE-OPTIMIZATION-2025-11-20.md
  scripts/verify-24h-system.ts
  src/app/api/ai/query/route.ts
  src/components/unified-profile/components/OptimizationSettingsTab.tsx
  src/hooks/__tests__/useFixed24hMetrics.test.ts
  src/hooks/useFixed24hMetrics.ts
  src/lib/project-meta.ts
  src/lib/time.ts
  src/modules/third-party-ai-chat/core/AIConversationManager.ts
  src/stores/powerStore.ts
  src/stores/serverDataStore.ts
  tests/unit/koreanTime.test.ts
  tests/unit/project-meta.test.ts
  tests/unit/time.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Update GEMINI.md with new AI collaboration workflow
  GEMINI.md
Due: prettier --write

fix: Gemini CLI 리팩토링 후 사이드 이펙트 수정
  src/app/api/debug/env/route.ts
  src/env.ts
  src/lib/supabase-singleton.ts
  src/utils/utils-functions.ts
Due: eslint --fix --max-warnings 0, prettier --write

style: @ts-ignore를 @ts-expect-error로 변경 (ESLint 규칙 준수)
  src/config/ai-engine.ts
  src/domains/ai-sidebar/components/AISidebarV3.tsx
  src/domains/ai-sidebar/services/RealAISidebarService.ts
  src/env.ts
  src/lib/ai/core/google-ai-unified-engine.ts
  src/lib/ai/core/types.ts
  src/lib/ai/providers/rag-provider.ts
  src/lib/security/token-initializer.ts
  src/lib/supabase-middleware.ts
  src/lib/supabase-server.ts
  src/lib/supabase-singleton.ts
  src/utils/secure-github-token.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: 불필요한 @ts-expect-error 제거 및 타입 수정
  src/env.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: 미사용 변수/파라미터 정리 (7개 경고 해결)
  GEMINI.md
  next.config.mjs
  src/utils/ModeTimerManager.ts
  src/utils/TimerManager.ts
  src/utils/VercelPlanDetector.ts
  src/utils/cache/file-cache.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: 미사용 타입 정리 (2개 경고 추가 해결)
  src/types/ai-service-types.ts
  src/validators/validation.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf: 시스템 중단 상태 컴퓨팅 사용량 78% 절감
  docs/analysis/idle-computing-analysis-2025-11-21.md
  src/app/api/health/lite/route.ts
  src/app/api/health/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

revert: 불필요한 헬스체크 제거 및 원복
  docs/analysis/idle-computing-optimization-complete.md
  src/app/api/health/lite/route.ts
  src/app/api/health/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: 헬스체크 정책 문서 추가
  docs/standards/health-check-policy.md
Due: prettier --write

refactor: 모든 헬스체크를 수동 테스트 전용으로 변경
  docs/standards/health-check-policy.md
  src/app/api/ping/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: 서브에이전트 최적화 (deprecated 제거, 간소화, 하드코딩 제거)
  .claude/agents/code-review-specialist.md
  .claude/agents/database-administrator.md
  .claude/agents/dev-environment-manager.md
Due: prettier --write

refactor: 커밋 훅 및 서브에이전트 최적화
  .claude/agents/gcp-cloud-functions-specialist.md
  .claude/agents/ui-ux-specialist.md
  .claude/agents/vercel-platform-specialist.md
  .husky/post-commit
  CLAUDE.md
  docs/weekly-subagent-reminder.md
Due: prettier --write

🐛 fix(auto-ai-review): AI 엔진 이름 파일명/내용 표시 버그 수정
  scripts/code-review/auto-ai-review.sh
Due: none

🐛 fix(auto-ai-review): PID 기반 임시 파일을 고정 파일명으로 변경
  scripts/code-review/auto-ai-review.sh
Due: none

🐛 fix(auto-ai-review): AI 엔진 이름을 메인 스크립트에서 읽도록 수정
  scripts/code-review/auto-ai-review.sh
Due: none

🚀 feat(auto-ai-review): v3.0.0 - 2:1 비율 + 상호 폴백 + Claude Code 최종 폴백
  scripts/code-review/auto-ai-review.sh
Due: none

♻️ refactor(auto-ai-review): v3.1.0 - 최종 폴백 옵션 3 적용
  scripts/code-review/auto-ai-review.sh
Due: none

🚀 feat(auto-ai-review): v3.2.0 - Claude Code 완전 자동 리뷰 시스템
  CLAUDE.md
  docs/status.md
  scripts/code-review/auto-ai-review.sh
Due: prettier --write

fix: Vercel 빌드 실패 수정 - 빌드 타임 환경변수 검증 건너뛰기
  src/lib/supabase-server.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): Phase 1 AI Engine improvements - Config, Error Handling, Dynamic Timeout
  src/config/ai-engine.ts
  src/lib/ai/errors/AIErrorHandler.ts
  src/lib/ai/utils/QueryComplexityAnalyzer.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): Fix critical logic bug in defaultModel configuration
  src/config/ai-engine.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): Phase 2 - AI Metrics Collection & API Integration
  docs/ai/phase2-complete-summary.md
  src/app/api/ai-metrics/route.ts
  src/lib/ai/metrics/AIMetricsCollector.ts
  src/services/ai/SimplifiedQueryEngine.processors.googleai.ts
  src/services/ai/streaming-ai-engine.ts
  tests/integration/ai-metrics-integration.test.ts
  tests/unit/lib/ai/metrics/AIMetricsCollector.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Phase 2-3 AI 모니터링 시스템 통합 완료
  docs/ai/ai-monitoring-feature-analysis.md
  docs/ai/phase3a-complete-summary.md
  src/app/api/ai-metrics/route.ts
  src/components/dashboard/AISidebarContent.tsx
  src/hooks/useServerDashboard.ts
  src/lib/ai/metrics/AIMetricsCollector.ts
  src/lib/ai/monitoring/SimpleAnomalyDetector.ts
  src/lib/ai/monitoring/TrendPredictor.ts
  src/services/ai/IntelligentMonitoringService.ts
  src/stores/serverDataStore.ts
  src/types/unified-server.ts
  tests/unit/services/IntelligentMonitoringService.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(mock): Implement mockScenarios v2 with AI-blind architecture
  src/mock/index.ts
  src/mock/mockDataGenerator.ts
  src/mock/mockDataRotator.ts
  src/mock/mockScenarios.ts
  src/types/server-enums.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Codex 리뷰 반영 - 안정성 및 하위 호환성 개선
  src/mock/index.ts
  src/mock/mockDataGenerator.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: AI 협업 아키텍처 완성 - Gemini ImportProcessor 근본 해결
  GEMINI.md
  docs/ai/ai-collaboration-architecture.md
  scripts/code-review/auto-ai-review.sh
  test-curve-validation.ts
  test-mock-data.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): 보안 및 성능 개선 - Gemini 통합 강화 (v3.2.1)
  scripts/code-review/auto-ai-review.sh
Due: none

docs(ai): Claude Code에서 Codex/Gemini 활용 방법 명확화
  docs/ai/ai-collaboration-architecture.md
Due: prettier --write

feat(ai): Gemini Wrapper 범용 독립 스크립트로 개선 (v3.0.0)
  scripts/ai-subagents/gemini-wrapper.sh
Due: none

feat(ai): Codex Wrapper v3.0.0 - Gemini와 동일한 수준의 견고성 확보
  scripts/ai-subagents/codex-wrapper.sh
Due: none

feat(ai): 3개 AI Wrapper 모두 v3.0.0으로 통일 완료
  CLAUDE.md
  scripts/ai-subagents/qwen-wrapper.sh
Due: prettier --write

chore: 스크립트 개선 완료 (Phase 2)
  scripts/ai-cli-verification.sh
  scripts/env/setup-test-env.sh
Due: none

fix: 스크립트 경로 참조 업데이트 (Phase 3 Side-Effect 수정 완료)
  CLAUDE.md
  docs/DEVELOPMENT.md
  docs/ai/QUICK-VERIFICATION.md
  docs/ai/VERIFICATION-SUMMARY.md
  docs/ai/free-tier-architecture-report.md
  docs/development/README.md
  docs/development/performance-optimization-guide.md
  docs/monitoring/monitoring-system-integration-plan.md
  package.json
  scripts/ai/analysis/analyze-subagent-usage.sh
  scripts/ai/analysis/subagent-stats.sh
  scripts/ai/health/ai-tools-health-check.sh
  scripts/ai/health/check-ai-tools-updates.sh
  scripts/dev/dev-server-manager.sh
  scripts/gcp/cleanup-gcp-functions.sh
  scripts/gcp/cleanup-old-versions.sh
  scripts/gcp/deployment/deploy-all.sh
  scripts/gcp/deployment/deploy-optimized.sh
  scripts/gcp/deployment/monitor-usage.sh
  scripts/gcp/functions/enhanced-korean-nlp.sh
  scripts/gcp/functions/ml-analytics-engine.sh
  scripts/gcp/functions/unified-ai-processor.sh
  scripts/maintenance/emergency-recovery.sh
  scripts/mcp/mcp-health-check.sh
  scripts/monitoring/architecture/validate-free-tier-architecture.sh
  scripts/monitoring/billing/check-free-tier.sh
  scripts/monitoring/billing/check-gcp-billing.sh
  scripts/monitoring/metrics/daily-ai-metrics-v2.sh
  scripts/monitoring/metrics/project-metrics.sh
  scripts/platform/playwright-wsl-setup.sh
  scripts/utils/hooks/pre-database-hook-ultra-minimal.sh
  scripts/utils/hooks/shared-functions.sh
  scripts/utils/misc/changelog.config.sh
  scripts/utils/misc/terminal-scroll-fix.sh
  scripts/utils/misc/update-changelog.sh
Due: prettier --write

fix: 스크립트 경로 참조 업데이트 (Phase 3 Side-Effect 수정 완료)
  CLAUDE.md
Due: prettier --write

fix: 스크립트 경로 참조 업데이트 및 자동 정리 스크립트 추가
  .claude/agents/dev-environment-manager.md
  config/ai/registry-core.yaml
  scripts/maintenance/cleanup-temp-files.sh
  scripts/maintenance/emergency-recovery.sh
  scripts/monitoring/metrics/daily-ai-metrics-v2.sh
  scripts/utils/misc/update-changelog.sh
Due: prettier --write

feat: Git Hooks 베스트 프렉티스 적용 (2025 표준)
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

fix: Git Hooks 개선 및 TypeScript 에러 수정
  next.config.mjs
  package.json
  src/app/api/servers/mock/route.ts
  src/types/server.ts
Due: eslint --fix --max-warnings 0, prettier --write
