Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix(deps): Zod v4 호환성 수정
  package.json
  src/validators/validation.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(validators): use Zod v4 coerce API for paginationQuerySchema
  src/validators/validation.ts
  tests/unit/validators/paginationQuerySchema.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(auth): enable guest full access mode for AI API
  src/lib/auth/api-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ui): update version display from v5.44.3 to v5.80.0
  src/app/auth/error/page.tsx
  src/app/login/LoginClient.tsx
  src/hooks/useDataRetention.ts
  src/lib/DataRetentionScheduler.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): resolve GitHub OAuth PKCE session creation failure
  src/app/auth/callback/page.tsx
  src/lib/auth/supabase-auth.ts
  src/lib/supabase/client.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): apply getSupabase() pattern to auth-state-manager.ts
  docs/planning/react-nextjs-upgrade-analysis.md
  src/lib/auth/auth-state-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ui): improve login page layout and visual hierarchy
  src/app/auth/success/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/login/LoginClient.tsx
  src/hooks/useSupabaseSession.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf(hooks): optimize QUICK_PUSH mode to skip Biome lint
  scripts/dev/validate-parallel.sh
Due: none

perf(hooks): remove 5s wait in doc-validation & optimize pre-push
  .husky/pre-commit-doc-validation
  .husky/pre-push
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(subagents): optimize 8 subagent configs with best practices
  .claude/agents/architecture-specialist.md
  .claude/agents/code-review-specialist.md
  .claude/agents/debugger-specialist.md
  .claude/agents/documentation-manager.md
  .claude/agents/mcp-mapping.json
  .claude/agents/performance-specialist.md
  .claude/agents/security-specialist.md
  .claude/agents/test-automation-specialist.md
  .claude/agents/ui-ux-specialist.md
  .claude/settings.json
Due: prettier --write

chore: cleanup deprecated subagents and sync configs
  .claude/agents/database-administrator.md
  .claude/agents/vercel-platform-specialist.md
  .husky/pre-push
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  QWEN.md
  config/ai/registry-core.yaml
  docs/development/ai/claude-code/subagents-complete-guide.md
  package-lock.json
  package.json
  scripts/dev/generate-test-review-report.sh
  scripts/dev/run-subagent-checks.sh
  scripts/git/post-commit-background.sh
  src/app/layout.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(hooks): remove fake subagent checks (not actual Claude AI)
  .claude/settings.json
  .husky/pre-push
  scripts/dev/run-subagent-checks.sh
Due: prettier --write

docs(CLAUDE.md): add autonomous subagent usage principles
  CLAUDE.md
Due: prettier --write

fix(a11y): improve LoginClient accessibility for WCAG 2.1 AA compliance
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ui): improve login page layout and visual hierarchy
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(ai): update AI tools versions in registry-core.yaml
  config/ai/registry-core.yaml
Due: prettier --write

fix(zod): resolve Zod v4 ESM module bundling issues
  next.config.mjs
  src/lib/api/zod-middleware.ts
  src/schemas/ai-schemas/ai-performance.schema.ts
  src/schemas/ai.schema.ts
  src/schemas/api.ai.schema.ts
  src/schemas/api.alert.schema.ts
  src/schemas/api.auth.schema.ts
  src/schemas/api.cache.schema.ts
  src/schemas/api.common.schema.ts
  src/schemas/api.dashboard.schema.ts
  src/schemas/api.database.schema.ts
  src/schemas/api.devtools.schema.ts
  src/schemas/api.health.schema.ts
  src/schemas/api.mcp.schema.ts
  src/schemas/api.notification.schema.ts
  src/schemas/api.server.schema.ts
  src/schemas/api.streaming.schema.ts
  src/schemas/auth.schema.ts
  src/schemas/common.schema.ts
  src/schemas/monitoring.schema.ts
  src/schemas/server-schemas/server-details.schema.ts
  src/schemas/server-schemas/server-metrics.schema.ts
  src/schemas/server-schemas/server-pagination.schema.ts
  src/schemas/server.schema.ts
  src/schemas/utils.schema.ts
  src/types/zod-utils.ts
  src/validators/validation.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(ai): sync AI tool version references
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  QWEN.md
Due: prettier --write

fix(ai): Zod v4 + pdf-parse v3 compatibility updates
  scripts/test/test-ai-hybrid.ts
  src/app/api/ai/query/route.ts
  src/app/api/ai/unified-stream/route.ts
  src/lib/ai/query-classifier.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(config): apply Zod v4 ESM safe integer pattern
  src/config/SystemConfiguration.ts
  src/config/index.ts
  src/env.ts
  src/lib/config/database-config-validator.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(api): apply Zod v4 ESM import pattern
  src/app/api/servers-unified/route.ts
  src/lib/api/api-client.ts
  src/types/api.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(css): reorganize CSS variables and improve styling
  src/app/globals.css
Due: prettier --write

test(api): update core-endpoints integration test
  tests/api/core-endpoints.integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(css): resolve Tailwind v4 padding utilities not applying
  next.config.mjs
  src/app/globals.css
  src/app/login/LoginClient.tsx
  src/styles/design-constants.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(frontend): improve CSP config and clean up CSS
  next.config.mjs
  src/app/globals.css
  src/app/login/LoginClient.tsx
  src/styles/design-constants.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(css): apply Tailwind v4 syntax and improve typography
  docs/development/FRAMEWORK_UPGRADE_CHECKLIST.md
  src/app/dashboard/DashboardClient.tsx
  src/app/globals.css
  src/app/login/LoginClient.tsx
  src/components/ai/modals/IntelligentMonitoringModal.tsx
  src/components/dashboard/server-dashboard/ServerDashboardTabs.tsx
  src/components/dashboard/server-detail/ServerDetailOverview.tsx
  src/components/shared/Modal.tsx
  src/modules/performance-monitor/components/PerformanceMonitor.tsx
  src/styles/design-constants.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: clean up code and update documentation
  README.md
  docs/status.md
  src/app/api/ai/ml/train/route.ts
  src/app/dashboard/DashboardClient.tsx
  src/app/login/LoginClient.tsx
  src/components/ai/pages/IntelligentMonitoringPage.tsx
  src/components/dashboard/hooks/useServerData.ts
  src/services/data/UnifiedServerDataSource.ts
  src/stores/ai-chat-store.ts
  tests/unit/hooks/useUserPermissions.test.ts
  tests/unit/lib/cache-helper.test.ts
  tests/unit/lib/errorHandler.test.ts
  tests/unit/services/auth/AuthStateManager.test.ts
  tests/unit/services/security-service-enhanced.test.ts
  tests/utils/mockEnterpriseHit.ts
Due: eslint --fix --max-warnings 0, prettier --write

style: format imports and fix test types
  src/app/dashboard/DashboardClient.tsx
  src/app/login/LoginClient.tsx
  tests/unit/lib/cache-helper.test.ts
  tests/unit/services/auth/AuthStateManager.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: improve CSP safety and fix UI/CSS issues
  next.config.mjs
  src/app/globals.css
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(file-cache): use fetch API for Vercel serverless environment
  src/stores/ai-chat-store.ts
  src/utils/cache/file-cache.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(cache): add hardcoded production URL fallback for Vercel serverless
  src/utils/cache/file-cache.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(cache): always use production URL for static file access
  src/utils/cache/file-cache.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): suppress expected 'Auth session missing' warnings in guest mode
  src/hooks/useSupabaseSession.ts
  src/lib/auth/auth-state-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(auth): enable full guest permissions during development
  src/config/guestMode.ts
  src/hooks/useAuth.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Add route protection middleware with dev bypass
  src/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ui): refine login page with diagonal gradient and depth effects
  src/app/globals.css
  src/app/login/LoginClient.tsx
  src/styles/design-constants.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Add production security restoration checklist to TODO
  docs/planning/TODO.md
Due: prettier --write

docs(archive): clean up 42 outdated archive documents
  docs/archive/gpu-animation-validation.md
  docs/archive/phase-21.2-progress.md
  docs/archive/qwen-timeout-analysis-and-fix.md
  docs/archive/typescript-any-removal-project-report.md
Due: prettier --write

docs: remove design folder (merged into architecture)
  docs/design/README.md
  docs/design/ai-routing-architecture.md
  docs/design/core/consistency.md
  docs/design/core/data-flow.md
  docs/design/core/system.md
  docs/design/current/mcp-connection-pool-optimization.md
  docs/design/current/system-architecture-ai.md
  docs/design/current/system-architecture-deployment.md
  docs/design/current/test-automation-architecture.md
  docs/design/features/ai-system.md
  docs/design/features/fnv-hash.md
  docs/design/features/mcp.md
  docs/design/features/monitoring.md
  docs/design/features/sub-agents.md
  docs/design/infrastructure/api.md
  docs/design/infrastructure/database.md
  docs/design/infrastructure/deployment.md
  docs/design/infrastructure/security.md
  docs/design/ui/components.md
  docs/design/ui/styling.md
Due: prettier --write

docs(core): restructure architecture with design folder content
  docs/core/README.md
  docs/core/architecture/BACKEND_ARCHITECTURE.md
  docs/core/architecture/README.md
  docs/core/architecture/TECH-STACK-DETAILED.md
  docs/core/architecture/WEB_ARCHITECTURE.md
  docs/core/architecture/ai-routing-architecture.md
  docs/core/architecture/api/endpoints.md
  docs/core/architecture/api/routes.md
  docs/core/architecture/api/schemas.md
  docs/core/architecture/api/validation.md
  docs/core/architecture/current/mcp-connection-pool-optimization.md
  docs/core/architecture/current/system-architecture-ai.md
  docs/core/architecture/current/system-architecture-deployment.md
  docs/core/architecture/current/test-automation-architecture.md
  docs/core/architecture/design/consistency.md
  docs/core/architecture/design/data-flow.md
  docs/core/architecture/design/system.md
  docs/core/architecture/features/ai-system.md
  docs/core/architecture/features/fnv-hash.md
  docs/core/architecture/features/mcp.md
  docs/core/architecture/features/monitoring.md
  docs/core/architecture/features/sub-agents.md
  docs/core/architecture/infrastructure/api.md
  docs/core/architecture/infrastructure/database.md
  docs/core/architecture/infrastructure/deployment.md
  docs/core/architecture/infrastructure/security.md
  docs/core/architecture/mock-simulation.md
  docs/core/architecture/typescript-any-removal-project-report.md
  docs/core/architecture/ui/components.md
  docs/core/architecture/ui/styling.md
  docs/core/performance/gpu-animation-validation.md
  docs/core/platforms/deploy/warnings.md
  docs/core/platforms/deploy/zero-cost-operations.md
  docs/core/platforms/supabase/optimization.md
  docs/core/platforms/supabase/queries.md
  docs/core/platforms/supabase/schema.md
  docs/core/security/README.md
  docs/core/security/supabase-security-issues-analysis.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
