Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

refactor(components): extract FullScreenLayout from auth components
  src/app/dashboard/DashboardClient.tsx
  src/app/main/page.tsx
  src/components/dashboard/__tests__/DashboardAIInteraction.test.tsx
  src/components/shared/AuthLoadingUI.tsx
  src/components/shared/FullScreenLayout.tsx
  src/components/shared/UnauthorizedAccessUI.tsx
  src/config/SystemConfiguration.ts
  src/services/ai/__tests__/SimplifiedQueryEngine.test.ts
  src/utils/vercel-env-utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(e2e): add comprehensive dashboard E2E tests (4 phases)
  tests/e2e/dashboard-ai-sidebar.spec.ts
  tests/e2e/dashboard-filters.spec.ts
  tests/e2e/dashboard-metrics.spec.ts
  tests/e2e/dashboard-server-cards.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(ai): update AI engine tests for v4.0 UNIFIED mode
  tests/api/ai-query.integration.test.ts
  tests/e2e/ai-assistant-button-test.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): improve Dashboard E2E test stability (Codex review fixes)
  tests/e2e/dashboard-ai-sidebar.spec.ts
  tests/e2e/dashboard-server-cards.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(test): improve AI engine test type safety (Gemini review fixes)
  tests/api/ai-query.integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(types): extract shared types for AI Query API responses (Codex 8/10→10/10)
  src/types/ai-types.ts
  tests/api/ai-query.integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(status): sync codebase metrics with actual measurements
  docs/status.md
Due: prettier --write

docs(status): add measurement methodology and timestamp (Codex 8/10→10/10)
  docs/status.md
Due: prettier --write

refactor(ai-review): v5.0.0 모듈화 구조로 리팩토링 (Codex 8/10→10/10)
  scripts/code-review/auto-ai-review.sh
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-split.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: none

docs: update AI system documentation and fix ESLint errors
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  QWEN.md
  docs/DEVELOPMENT.md
  docs/status.md
  eslint.config.mjs
  package.json
  src/hooks/useMinimumLoadingTime.ts
  src/services/ai/edge/edge-ai-router.ts
  src/types/common-replacements.ts
  src/types/environment.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: optimize eslint config, fix lint-staged and tsc wrapper
  .lintstagedrc.js
  eslint.config.mjs
  package.json
  scripts/dev/tsc-wrapper.js
  src/hooks/__tests__/useFixed24hMetrics.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ci): use optimized lint:ci command to prevent OOM
  .github/workflows/simple-deploy.yml
Due: prettier --write

fix(ai-review): AI_ENGINE 변수 전파 버그 수정 (v5.0.1)
  scripts/code-review/lib/ai-review-core.sh
  src/types/common-replacements.ts
  src/types/environment.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove legacy MCP code and unused files
  src/lib/mcp-handler.ts
  src/scripts/test-unused-mcp-servers.ts
  src/services/mcp-monitor/types.ts
  src/types/ai-service-types.ts
  src/types/mcp.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove unused @executeautomation/playwright-mcp-server dependency
  package-lock.json
  package.json
Due: prettier --write

refactor: split useServerDashboard.ts into types, utils, and hooks
  .lintstagedrc.js
  docs/ai/weekly-subagent-reminder.md
  docs/analysis/AI-ENGINE-OPTIMIZATION-2025-11-20.md
  docs/analysis/FEATURE-CARDS-REVIEW.md
  docs/analysis/FEATURE-CARDS-UPDATE-SUMMARY.md
  docs/analysis/ai-improvements-summary-2025-11-23.md
  docs/analysis/ai-sidebar-analysis-2025-11-20.md
  docs/archive/CHANGELOG-LEGACY-3.md
  docs/archive/CHANGELOG-LINT.md
  docs/archive/DOCS-CLEANUP-SUMMARY.md
  docs/deploy/gcp-deployment-guide.md
  docs/development/serena-anti-pattern-detection.md
  docs/planning/TEST-IMPROVEMENT-PLAN.md
  docs/planning/improvement-plan.md
  docs/specs/unified-engine-refactoring-REVISED.md
  oldest-files-analysis.csv
  playwright.config.ts
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/hooks/dashboard/useServerFilter.ts
  src/hooks/dashboard/useServerPagination.ts
  src/hooks/dashboard/useServerStats.ts
  src/hooks/useServerDashboard.ts
  src/hooks/useWorkerStats.ts
  src/types/dashboard/server-dashboard.types.ts
  src/utils/dashboard/server-utils.ts
  tests/manual/test-curve-validation.ts
  tests/manual/test-mock-data.ts
  tests/support/globalSetup.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: modularize supabase-rag-engine.ts
  docs/ai/ai-benchmarks.md
  docs/ai/ai-coding-standards.md
  docs/ai/ai-usage-guidelines.md
  docs/refactoring/implementation_plan_rag.md
  src/services/ai/supabase-rag-engine.ts
  src/services/rag/keyword-extractor.ts
  src/services/rag/memory-rag-cache.ts
  src/types/rag/rag-types.ts
  src/utils/rag/rag-utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove Serena anti-pattern check from pre-commit hook
  .husky/pre-commit
Due: none

fix: add shebang to pre-push hook
  .husky/pre-push
Due: none

feat(ci): add automated linting workflow
  .github/workflows/lint.yml
Due: prettier --write

ci: Rollup binary 이슈 및 Lint 타임아웃 개선
  .github/workflows/ci-optimized.yml
  .github/workflows/lint.yml
Due: prettier --write

refactor(ci): Gemini AI 리뷰 제안 반영 - 성능 및 가독성 개선
  .github/workflows/ci-optimized.yml
  .github/workflows/lint.yml
Due: prettier --write

refactor: 타입 정리 및 불필요한 import 제거
  .eslintignore
  src/components/home/FeatureCardsOptimized.tsx
  src/services/data/UnifiedServerDataSource.ts
  src/stores/serverDataStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): AISidebarV4 useChat import 경고 완전 해결
  package-lock.json
  package.json
  src/domains/ai-sidebar/components/AISidebarV4.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai): archive deprecated AISidebarV3 component
  archive/deprecated/ai-sidebar-v3/AISidebarV3.test.tsx
  archive/deprecated/ai-sidebar-v3/AISidebarV3.tsx
  archive/deprecated/ai-sidebar-v3/DEPRECATION_NOTICE.md
  src/domains/ai-sidebar/components/index.ts
  src/domains/ai-sidebar/index.ts
  src/presentation/ai-sidebar/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ui): AI 사이드바 E2E 테스트 지원을 위한 data-testid 추가
  src/components/dashboard/AIAssistantButton.tsx
  src/domains/ai-sidebar/components/AISidebarV4.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): E2E 테스트 대시보드 접근 개선
  tests/e2e/dashboard-ai-sidebar.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(e2e): AI 사이드바 종합 검증 테스트 추가
  tests/e2e/ai-sidebar-live-verification.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): AI 사이드바 E2E 테스트 안정성 개선 (Codex 리뷰 반영)
  tests/e2e/ai-sidebar-live-verification.spec.ts
  tests/e2e/helpers/timeouts.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): openAiSidebar 헬퍼 함수 개선 - 이미 열린 사이드바 처리
  tests/e2e/helpers/guest.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(test): openAiSidebar 에러 메시지 개선 (Qwen 리뷰 반영)
  tests/e2e/helpers/guest.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(test): openAiSidebar 에러 메시지 완전 개선 (Claude 리뷰 반영)
  tests/e2e/helpers/guest.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): E2E 테스트 navigation 레이스 컨디션 수정 (Promise.all 패턴)
  tests/e2e/ai-sidebar-live-verification.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): E2E 테스트 시스템 초기화 대기 로직 추가
  tests/e2e/ai-sidebar-live-verification.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): E2E 테스트 /system-boot 로딩 페이지 대기 로직 추가
  tests/e2e/ai-sidebar-live-verification.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): E2E 테스트 timeout 값 표준화 (Vercel Cold Start 대응)
  tests/e2e/ai-sidebar-live-verification.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(test): AI 사이드바 E2E 테스트 Suite 추가 (7개 시나리오)
  src/components/ai/AIAssistantIconPanel.tsx
  tests/e2e/AI_TESTS_README.md
  tests/e2e/ai-accessibility.spec.ts
  tests/e2e/ai-functions.spec.ts
  tests/e2e/ai-history-persistence.spec.ts
  tests/e2e/ai-input-validation.spec.ts
  tests/e2e/ai-network-recovery.spec.ts
  tests/e2e/ai-sidebar-vercel-validation.spec.ts
  tests/e2e/helpers/README.md
  tests/e2e/helpers/ai-interaction.sample.spec.ts
  tests/e2e/helpers/ai-interaction.ts
  tests/e2e/helpers/network-monitor.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): E2E 테스트 안정성 개선 - Gemini 리뷰 Critical 이슈 수정
  tests/e2e/ai-accessibility.spec.ts
  tests/e2e/ai-network-recovery.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(analysis): 서버 카드 디자인 분석 보고서 작성 (v1.0 → v3.1 비교)
  .github/workflows/simple-deploy.yml
  docs/analysis/server-card-design-analysis.md
  src/components/dashboard/ImprovedServerCard.tsx
  src/styles/design-constants.ts
Due: eslint --fix --max-warnings 0, prettier --write
