Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

🐛 fix: AI Assistant 서버 카드 크래시 버그 완전 해결 + 테스트 안정화
  src/components/dashboard/ImprovedServerCard.tsx
  tests/e2e/comprehensive-frontend-test.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: AI 엔진 URL 파싱 및 pgvector 함수 오류 수정
  src/services/ai/SimplifiedQueryEngine.processors.googleai.ts
  src/services/ai/UnifiedMetricsService.ts
  src/services/ai/postgres-vector-db.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: AI 시스템 이중 구조 문서화 개선
  CLAUDE.md
  docs/design/current/system-architecture-ai.md
Due: prettier --write

🔧 fix: AI 어시스턴트 백엔드 안정성 개선 + Next.js 15.4.5 다운그레이드
  package-lock.json
  src/app/api/ai/query/route.ts
  src/services/ai/SimplifiedQueryEngine.processors.googleai.ts
  src/services/ai/SimplifiedQueryEngine.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧪 feat: Google AI API 브라우저 테스트 페이지 추가
  public/test-google-ai.html
Due: none

🧪 refactor: Mock 테스트 → 실제 환경 테스트 전략 전환
  config/testing/vitest.config.minimal.ts
  config/testing/vitest.config.simple.ts
  docs/testing/README.md
  docs/testing/test-strategy-guide.md
  docs/testing/test-templates.md
  docs/testing/vercel-deployment-testing-guide.md
  docs/testing/vercel-production-test-report.md
  package.json
  playwright-vercel.config.ts
  scripts/vercel-production-test.sh
  src/app/api/ai/incident-report/__tests__/incident-report.test.ts
  src/app/api/ai/insight-center/__tests__/insight.test.ts
  src/app/api/ai/intelligent-monitoring/__tests__/monitoring.test.ts
  src/app/api/ai/performance/__tests__/route.test.ts
  src/app/api/ai/query/__tests__/query.enhanced.test.ts
  src/app/api/ai/query/__tests__/query.simple.test.ts
  src/app/api/servers/__tests__/route.test.ts
  src/services/ai/__tests__/SimplifiedQueryEngine.test.ts
  src/services/ai/__tests__/ai-engine-integration.test.ts
  src/services/ai/__tests__/ai-security.test.ts
  src/services/ai/__tests__/circuit-breaker.test.ts
  src/services/ai/__tests__/error-handling-fallback.test.ts
  src/services/ai/__tests__/local-ai-independence.test.ts
  src/services/ai/__tests__/performance-analysis.perf.test.ts
  src/services/ai/__tests__/query-complexity-analyzer.test.ts
  src/services/ai/__tests__/query-performance.test.ts
  src/services/ai/__tests__/supabase-rag-engine.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: MCP serena 프로젝트 활성화 및 종합 시스템 개선
  CLAUDE.md
  config/performance/timeout-optimization.js
  docs/development/centralized-configuration-migration-guide.md
  docs/mcp/README.md
  docs/mcp/setup-guide.md
  docs/testing/e2e-dom-structure-analysis.md
  docs/testing/system-consistency-analysis-report.md
  docs/testing/vercel-deployment-verification-report.md
  scripts/mcp-health-check.sh
  scripts/setup-mcp-env.sh
  src/app/api/dashboard/route.ts
  src/app/api/metrics/current/route.ts
  src/app/api/servers/all/route.ts
  src/config/SystemConfiguration.ts
  src/services/data/UnifiedServerDataSource.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: pre-commit 훅 수정 + 중앙집중식 설정 템플릿 추가
  .env.example
  .husky/pre-commit
Due: none

🔧 fix: .env.example 중복 설정 제거 및 역할 명확화
  .env.example
Due: none

🔧 fix: SystemConfiguration 안전성 강화 - 베르셀 배포 ZodError 해결
  src/config/SystemConfiguration.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: Vercel 중심 테스트 전략으로 문서 전환
  CLAUDE.md
Due: prettier --write

⚡ perf: 테스트 성능 44% 최적화 - 1인 AI 개발 맞춤
  CLAUDE.md
  config/testing/vitest.config.main.ts
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

🧪 feat: AI 친화적 테스트 시스템 구축 + 테스트 분리 최적화
  docs/.ai-index/keywords.json
  package.json
  src/components/dashboard/__tests__/ImprovedServerCard.ai-test.tsx
  src/test/ai-friendly-template.ts
  src/utils/__tests__/metricValidation.ai-test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 서버 카드 호버 에러 해결 - SafeServerCard 래퍼로 undefined 배열 접근 방지
  src/components/dashboard/SafeServerCard.tsx
  src/components/dashboard/ServerDashboard.tsx
  src/components/dashboard/server-dashboard/ServerDashboardServers.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ fix: SafeServerCard 실시간 데이터 업데이트 안전성 강화
  src/components/dashboard/SafeServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: ImprovedServerCard unsafe 배열 접근 패턴 수정
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ fix: AI 교차검증 기반 TypeError 완전 해결 - Race Condition 근본 원인 수정
  src/components/dashboard/SafeServerCard.tsx
  src/components/shared/ServerMetricsLineChart.tsx
  src/hooks/useServerDashboard.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: ImprovedServerCard 3개 unsafe 패턴 완전 수정 - AI 교차검증 이중 안전장치
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 진짜 근본 원인 해결 - servers.length undefined 접근 15개 TypeError 완전 수정
  src/components/dashboard/ServerDashboard.tsx
  src/components/dashboard/transition/ServerCardSpawner.tsx
  src/components/dashboard/transition/SystemBootSequence.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ fix: AI 교차검증 기반 TypeError 완전 해결 - Race Condition 근본 원인 수정
  src/hooks/useServerDashboard.ts
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ CRITICAL FIX: 15개 TypeError 완전 해결 - useServerDashboard.ts 배열 접근 패턴 수정
  src/components/dashboard/EnhancedServerModal.tsx
  src/hooks/useServerDashboard.ts
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ fix: 30+ TypeError 근본 해결 - AI 교차검증 기반 구조적 리팩토링 완성
  src/components/dashboard/ServerDashboard.tsx
  src/components/dashboard/server-dashboard/ServerDashboardServers.tsx
  src/components/error/ServerCardErrorBoundary.tsx
  src/hooks/useServerDashboard.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 debug: Error Boundary 로깅 시스템 추가 - 15개 TypeError 원인 추적
  src/components/dashboard/ServerDashboard.tsx
  src/components/debug/ComponentErrorBoundary.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ CRITICAL SECURITY: WSL 포트 충돌 해결 + Vercel 배포 안전성 완벽 확보
  .vercelignore
  ecosystem.config.js
  package.json
  scripts/cleanup-ports.js
  scripts/dev-safe.sh
  services/BitmapPortAllocator.ts
  services/bitmap-allocator-demo.ts
  src/components/PortMonitor.tsx
  utils/dynamic-port.ts
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ CRITICAL FIX: Vercel 빌드 실패 해결 - .vercelignore 선별적 차단
  .vercelignore
Due: none

🧹 refactor: 파일 정리 사이드 이펙트 해결 완료
  .cursorrules
  .gitignore
  .temp-deploy-trigger
  .vercel-redeploy-trigger
  .vercel-redeploy-trigger.txt
  FINAL-TEST.md
  README.md
  SETUP-COMPLETE.md
  bundle-before.txt
  config/.wslconfig
  config/eslint-backups/eslint.config.fast.mjs
  config/eslint-backups/eslint.config.minimal.mjs
  config/eslint-backups/eslint.config.ultra-fast.mjs
  config/templates/.mcp.json.example
  config/templates/.mcp.json.template
  config/templates/env.local.template
  docs/architecture/FOLDER-STRUCTURE.md
  docs/architecture/MEMORY-REQUIREMENTS.md
  docs/deployment/deployment-status-report.md
  docs/testing/StaticDataLoader-테스트-보고서.md
  ecosystem.config.js
  package.json
  project-structure.txt
  scripts/setup/.bashrc_claude_additions
  scripts/setup/verify-windows-environment.ps1
  test-hook-trigger.txt
  test-prepare-commit-msg.txt
  tests/scripts/e2e-test.js
  tests/scripts/playwright-quick-test.js
  tests/scripts/playwright-test.js
  tests/scripts/test-supabase-direct.js
Due: eslint --fix --max-warnings 0, prettier --write

🧹 fix: .env.local.template 중복 파일 정리 완료
  .env.local.template
Due: none

📚 docs: README 최적화 및 문서 구조 개선
  .gitignore
  DEVELOPMENT.md
  QUICK-START.md
  README.md
Due: prettier --write

🔒 privacy: 개발기간 등 개인정보 제거
  CLAUDE.md
Due: prettier --write

🚀 AI 교차검증 시스템 v4.5 - 장애 허용 및 자동 복구 시스템 완성
  .claude/agents/codex-specialist.md
  .claude/agents/gemini-specialist.md
  .claude/agents/qwen-specialist.md
  CLAUDE.md
  docs/claude/ai-cross-verification-v4.md
  package.json
  scripts/ai-auto-recovery.sh
  scripts/ai-cli-verification.sh
  scripts/ai-fault-tolerance.sh
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/qwen-wrapper.sh
  scripts/wsl-optimization.sh
Due: prettier --write

🧹 scripts: 스크립트 최적화 및 중복 제거 완료
  scripts/mcp-complete-recovery.sh
  scripts/mcp-health-check.sh
  scripts/mcp-recovery-enhanced.sh
  scripts/mcp/mcp-health-check.sh
  scripts/mcp/mcp-recovery-2025-08-21.sh
  scripts/monitoring/mcp-auto-recovery.sh
  scripts/monitoring/mcp-health-check.sh
  scripts/monitoring/serena/serena-auto-recovery.sh
  scripts/monitoring/serena/serena-quick-recovery.sh
  scripts/optimization/script-consolidation-plan.md
Due: prettier --write

🧹 scripts: 개별 검사를 통한 세밀한 스크립트 정리 완료
  scripts/ai-bridge.sh
  scripts/ai-subagents/ai-verification-coordinator-wrapper.sh
  scripts/ai-subagents/external-ai-orchestrator.sh
  scripts/ai-subagents/verification-specialist-wrapper.sh
  scripts/ai/manual-verification.sh
  scripts/archive-ai-optimization.sh
  scripts/deploy/gcp-auth-and-deploy.sh
  scripts/mcp-restart.sh
  scripts/mcp/monitor-mcp-servers.sh
  scripts/monitoring/mcp-config-backup.sh
  scripts/monitoring/mcp-dependencies-installer.sh
  scripts/monitoring/mcp-quick-test.sh
  scripts/monitoring/setup-mcp-environment.sh
  scripts/monitoring/test-mcp-servers.sh
Due: none

✨ feat: Package.json 스크립트 대규모 통합 최적화 완료
  package.json
Due: prettier --write

🗑️ feat: Phase 1 Dependencies 최적화 완료 - 40개 패키지 제거
  package.json
Due: prettier --write

🗑️ feat: Phase 2 Dependencies 최적화 완료 - 23개 패키지 제거
  package.json
Due: prettier --write

🔧 fix: 의존성 제거 후 사이드 이펙트 종합 해결
  package-lock.json
  package.json
  src/app/api/ai/query/route.ts
  src/app/api/ai/ultra-fast/route.ts
  src/components/dashboard/SafeServerCard.tsx
  src/components/dashboard/ServerDashboard.tsx
  src/services/ai/FastAIEngineRouter.ts
  src/services/ai/UnifiedAIEngineRouter.core.ts
  src/services/ai/ultra-performance-ai-engine.ts
  src/types/server.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: TypeScript strict 모드 호환성 개선
  src/components/dashboard/SafeServerCard.tsx
  src/components/error/ServerCardErrorBoundary.tsx
  src/hooks/useServerDashboard.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 패키지 정리 사이드 이펙트 완전 해결 - 87개 TypeScript 오류 제거
  CHANGELOG.md
  src/app/dashboard/DashboardClient.tsx
  src/components/dashboard/EnhancedServerModal.types.ts
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/dashboard/OptimizedDashboard.tsx
  src/components/dashboard/SafeServerCard.tsx
  src/components/dashboard/__tests__/ImprovedServerCard.ai-test.tsx
  src/hooks/useServerDashboard.ts
  src/types/common.ts
  src/types/server.ts
  src/utils/__tests__/metricValidation.ai-test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ fix: 서버 카드 TypeError 완전 해결 - AI 교차검증 기반 94.1% 개선
  src/components/dashboard/ServerDashboard.tsx
  src/components/debug/ComponentErrorBoundary.tsx
  src/hooks/useServerDashboard.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
