Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

feat(rag): implement P1 knowledge base RAG for reporter agent
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/agents/reporter-agent.ts
  cloud-run/ai-engine/src/lib/embedding.ts
  src/scripts/seed-knowledge-base.ts
  supabase/migrations/20251217_create_knowledge_base_table.sql
Due: eslint --fix --max-warnings 0, prettier --write

refactor(rag): improve type safety and performance based on code review
  cloud-run/ai-engine/src/agents/reporter-agent.ts
  cloud-run/ai-engine/src/lib/embedding.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(rag): add error handling for Supabase client init (Codex review)
  cloud-run/ai-engine/src/agents/reporter-agent.ts
  cloud-run/ai-engine/src/lib/embedding.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(rust-ml): deploy clustering endpoint to Cloud Run
  cloud-run/rust-inference/Cargo.toml
  cloud-run/rust-inference/src/ml/clustering.rs
  docs/planning/TODO.md
Due: prettier --write

fix(rust-ml): use get_mut for safe array access (Qwen review)
  cloud-run/rust-inference/src/ml/clustering.rs
Due: none

refactor: remove Vercel LangGraph code and dependencies
  package-lock.json
  package.json
  src/app/api/ai/supervisor/route.ts
  src/services/langgraph/__tests__/supervisor.test.ts
  src/services/langgraph/agents/analyst-agent.ts
  src/services/langgraph/agents/nlq-agent.ts
  src/services/langgraph/agents/reporter-agent.ts
  src/services/langgraph/agents/supervisor.ts
  src/services/langgraph/checkpointer.ts
  src/services/langgraph/errors.ts
  src/services/langgraph/graph-builder.ts
  src/services/langgraph/model-config.ts
  src/services/langgraph/multi-agent-supervisor.ts
  src/services/langgraph/state-definition.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update ai-engine.ts comments for Cloud Run architecture
  src/config/ai-engine.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(hitl): implement SSE-based Human-in-the-Loop approval system
  cloud-run/ai-engine/src/server.ts
  cloud-run/ai-engine/src/services/approval/approval-store.ts
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  src/domains/ai-sidebar/components/AISidebarV4.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(hitl): resolve session ID mismatch between Frontend and Cloud Run
  src/domains/ai-sidebar/components/AISidebarV4.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(session): add session message limit (20) for free tier protection
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(ux): improve session limit messages for user-friendly experience
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(hitl): add shared types and approval-store tests
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/services/approval/approval-store.test.ts
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
  src/domains/ai-sidebar/components/InlineAgentStatus.tsx
  src/types/hitl.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(test): add _resetForTesting method for clean test isolation
  cloud-run/ai-engine/src/services/approval/approval-store.test.ts
  cloud-run/ai-engine/src/services/approval/approval-store.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(version): sync API version to 5.82.0 and Next.js 16.0.10
  src/app/api/version/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): add API version route to auto-bump files
  .versionrc.json
  scripts/dev/api-version-updater.js
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): add cloud-run package to lock-step versioning
  .versionrc.json
  cloud-run/ai-engine/package.json
Due: prettier --write

chore(release): 5.83.0
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  package-lock.json
  package.json
Due: prettier --write

chore(release): expand version sync to 7 files (manifest, versions.ts)
  .versionrc
  .versionrc.json
  public/manifest.json
  scripts/dev/manifest-version-updater.js
  scripts/dev/versions-ts-updater.js
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: remove duplicate .versionrc causing config conflict
  .versionrc
Due: none

docs: improve version management documentation
  CLAUDE.md
  config/ai/registry-core.yaml
  docs/status.md
  src/app/api/version/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update AI CLI tools versions to latest (2025-12-17)
  CLAUDE.md
  config/ai/registry-core.yaml
  docs/development/ai/common/ai-wrappers-guide.md
  docs/development/ai/common/cli-strategy.md
  docs/status.md
Due: prettier --write

docs: update MCP server list and remove settings.local.json references
  .claude/README.md
  .gitignore
  docs/environment/troubleshooting/claude-400-invalid-json.md
Due: prettier --write

docs: mark LangGraph removal as completed, remove cost optimization item
  docs/planning/TODO.md
Due: prettier --write

fix: apply AI code review improvements
  .claude/commands/.gitkeep
  config/ai/registry-core.yaml
  docs/development/ai/common/ai-wrappers-guide.md
  scripts/code-review/auto-ai-review.sh
Due: prettier --write

chore(release): 5.83.1
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update version references to v5.83.1
  config/ai/registry-core.yaml
  docs/status.md
Due: prettier --write

chore(docs): standardize AI agent guidelines and update WSL restore guide
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  QWEN.md
  docs/environment/wsl/wsl-restore-guide.md
Due: prettier --write

feat(ai): add Circuit Breaker event system and AI management UI
  src/app/api/ai/status/route.ts
  src/components/ai/AIAssistantIconPanel.tsx
  src/lib/ai/circuit-breaker.ts
  src/stores/modules/ai.store.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add .claude/settings.local.json to gitignore
  .gitignore
Due: none

chore: add KIRO.md for kiro-cli configuration
  KIRO.md
Due: prettier --write

docs: redefine Kiro as emergency backup tool
  AGENTS.md
  KIRO.md
Due: prettier --write

feat(review): add small change filter to AI code review
  scripts/code-review/auto-ai-review.sh
Due: none

refactor: apply Fail Loudly policy and remove dead code
  cloud-run/ai-engine/.gcloudignore
  cloud-run/ai-engine/deploy.sh
  cloud-run/ai-engine/src/agents/analyst-agent.ts
  cloud-run/ai-engine/src/agents/nlq-agent.ts
  src/lib/ai-proxy/proxy.ts
  src/stores/useAISidebarStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(cloud-run): restore getPatternInsights helper function
  cloud-run/ai-engine/src/agents/analyst-agent.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(inspection): resolve all issues from 2025-12-18 inspection
  docs/planning/TODO.md
  docs/planning/analysis/inspection-report-2025-12-18.md
  docs/planning/improvement-workplan-2025-12-18.md
  src/components/ai/AIContentArea.tsx
  src/components/dashboard/EnhancedServerModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: improve metrics hook UX and add log analysis to NLQ agent
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/src/services/langgraph/multi-agent-supervisor.ts
  src/hooks/useFixed24hMetrics.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.83.2
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(rag): implement GraphRAG hybrid search with knowledge graph
  docs/planning/TODO.md
  docs/planning/analysis/ai-architecture-report.md
  docs/status.md
  src/services/ai/supabase-rag-engine.ts
  src/services/rag/graph-rag-service.ts
  src/services/rag/index.ts
  src/types/rag/graph-rag-types.ts
  src/types/rag/index.ts
  supabase/migrations/20251218_create_knowledge_relationships.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(code-interpreter): add browser-based Python execution
  src/components/ai/CodeExecutionBlock.tsx
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/hooks/useCodeInterpreter.ts
  src/services/code-interpreter/index.ts
  src/services/code-interpreter/pyodide-service.ts
  src/utils/markdown-parser.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs: update TODO.md and status.md with Code Interpreter
  docs/planning/TODO.md
  docs/status.md
Due: prettier --write
