Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix(landing): improve AI Assistant card description for clarity
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(landing): clarify Cloud Platform card to emphasize architecture design
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(landing): add v2 Netlify link as Stage 1 evidence in Vibe Coding card
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(landing): add v2 GitHub repo link to Stage 1
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(landing): remove GitHub link from Stage 1, keep Netlify only
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(dashboard): unify server card components, remove framer-motion
  package-lock.json
  package.json
  src/components/dashboard/EnhancedServerCard.tsx
  src/components/dashboard/VirtualizedServerList.tsx
  src/components/dashboard/cards/MiniChart.tsx
  src/components/dashboard/utils/index.ts
  src/components/dashboard/utils/server-icons.tsx
  src/components/dashboard/utils/status-theme.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(runtime): add environment detection utilities, fix MetricsProvider
  AGENTS.md
  src/lib/runtime/environment.ts
  src/services/metrics/MetricsProvider.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): update guest test selectors for refactored dashboard
  tests/e2e/guest.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(e2e): improve server card counting accuracy per AI review
  tests/e2e/guest.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(modal): resolve server card modal flickering issue
  src/components/dashboard/DashboardSummary.tsx
  src/components/dashboard/EnhancedServerModal.tsx
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: address lint warnings
  src/components/dashboard/EnhancedServerModal.tsx
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(metrics): add 'sync' mode for 10-minute aligned updates
  src/components/dashboard/EnhancedServerModal.tsx
  src/hooks/useFixed24hMetrics.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(dashboard): Premium UI 업그레이드 및 한국어화
  src/components/dashboard/DashboardSummary.tsx
  src/components/dashboard/ImprovedServerCard.tsx
  tests/e2e/guest.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ServerCard): resolve nested button hydration error
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(seo): add comprehensive SEO metadata and OpenGraph support
  public/robots.txt
  src/app/api/og/route.tsx
  src/app/layout.tsx
  src/app/sitemap.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(og): add error handling and query parameter support
  src/app/api/og/route.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ui): hide scenario terminology from user-facing UI
  src/components/dashboard/EnhancedServerModal.LogsTab.tsx
  src/components/unified-profile/components/MonitorSettingsTab.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(data): hide scenario information from AI context and responses
  cloud-run/ai-engine/src/data/fixed-24h-metrics.ts
  cloud-run/ai-engine/src/data/precomputed-state.ts
  cloud-run/ai-engine/src/services/scenario/scenario-loader.ts
  cloud-run/ai-engine/src/tools-ai-sdk/incident-report-tools.ts
  cloud-run/ai-engine/src/tools-ai-sdk/rca-analysis.ts
  public/hourly-data/hour-00.json
  public/hourly-data/hour-01.json
  public/hourly-data/hour-02.json
  public/hourly-data/hour-03.json
  public/hourly-data/hour-04.json
  public/hourly-data/hour-05.json
  public/hourly-data/hour-06.json
  public/hourly-data/hour-07.json
  public/hourly-data/hour-08.json
  public/hourly-data/hour-09.json
  public/hourly-data/hour-10.json
  public/hourly-data/hour-11.json
  public/hourly-data/hour-12.json
  public/hourly-data/hour-13.json
  public/hourly-data/hour-14.json
  public/hourly-data/hour-15.json
  public/hourly-data/hour-16.json
  public/hourly-data/hour-17.json
  public/hourly-data/hour-18.json
  public/hourly-data/hour-19.json
  public/hourly-data/hour-20.json
  public/hourly-data/hour-21.json
  public/hourly-data/hour-22.json
  public/hourly-data/hour-23.json
  src/services/scenario/scenario-loader.ts
  src/utils/cache/file-cache.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai-engine): remove scenario-based hints, use pure metric analysis
  cloud-run/ai-engine/src/tools-ai-sdk/incident-report-tools.ts
  cloud-run/ai-engine/src/tools-ai-sdk/rca-analysis.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai-engine): add metric-based log generation for AI analysis
  cloud-run/ai-engine/src/data/fixed-24h-metrics.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-engine): add missing network metric to incident timeline
  cloud-run/ai-engine/src/tools-ai-sdk/incident-report-tools.ts
  docs/status.md
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.84.0
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(data): update sync script to use _pattern field
  scripts/data/sync-hourly-data.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(data): track Cloud Run hourly-data in git for SSOT
  .gitignore
  cloud-run/ai-engine/data/hourly-data/hour-00.json
  cloud-run/ai-engine/data/hourly-data/hour-01.json
  cloud-run/ai-engine/data/hourly-data/hour-02.json
  cloud-run/ai-engine/data/hourly-data/hour-03.json
  cloud-run/ai-engine/data/hourly-data/hour-04.json
  cloud-run/ai-engine/data/hourly-data/hour-05.json
  cloud-run/ai-engine/data/hourly-data/hour-06.json
  cloud-run/ai-engine/data/hourly-data/hour-07.json
  cloud-run/ai-engine/data/hourly-data/hour-08.json
  cloud-run/ai-engine/data/hourly-data/hour-09.json
  cloud-run/ai-engine/data/hourly-data/hour-10.json
  cloud-run/ai-engine/data/hourly-data/hour-11.json
  cloud-run/ai-engine/data/hourly-data/hour-12.json
  cloud-run/ai-engine/data/hourly-data/hour-13.json
  cloud-run/ai-engine/data/hourly-data/hour-14.json
  cloud-run/ai-engine/data/hourly-data/hour-15.json
  cloud-run/ai-engine/data/hourly-data/hour-16.json
  cloud-run/ai-engine/data/hourly-data/hour-17.json
  cloud-run/ai-engine/data/hourly-data/hour-18.json
  cloud-run/ai-engine/data/hourly-data/hour-19.json
  cloud-run/ai-engine/data/hourly-data/hour-20.json
  cloud-run/ai-engine/data/hourly-data/hour-21.json
  cloud-run/ai-engine/data/hourly-data/hour-22.json
  cloud-run/ai-engine/data/hourly-data/hour-23.json
Due: prettier --write

chore(dev): add SSOT data sync verification script
  scripts/dev/verify-data-sync.sh
Due: none

chore(cloud-run): optimize Docker and Cloud Run configuration
  cloud-run/ai-engine/.dockerignore
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/deploy.sh
  cloud-run/docker-compose.yml
Due: prettier --write

fix(versioning): fix docs version updater for English patterns
  docs/README.md
  scripts/dev/docs-version-updater.js
Due: eslint --fix --max-warnings 0, prettier --write

chore: exclude precomputed-states.json from git tracking
  .gitignore
Due: none

feat(observability): add Langfuse free tier protection and traces API
  cloud-run/ai-engine/src/server.ts
  cloud-run/ai-engine/src/services/observability/langfuse.ts
  src/hooks/useSystemControl.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(cloud-run): add Langfuse secret to deploy and config-parser
  cloud-run/ai-engine/deploy.sh
  cloud-run/ai-engine/src/lib/config-parser.ts
  cloud-run/ai-engine/src/server.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(agents): implement SSOT pattern and add provider caching
  cloud-run/ai-engine/docs/refactoring-plan-agent-configs.md
  cloud-run/ai-engine/src/server.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/advisor-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/analyst-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/agent-configs.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/index.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/advisor.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/analyst.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/index.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/nlq.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/reporter.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/summarizer.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/index.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/nlq-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/reporter-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/summarizer-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/model-provider.ts
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
  cloud-run/ai-engine/src/services/observability/langfuse.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(docker): optimize build and Cloud Run configuration
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/cloudbuild.yaml
  cloud-run/ai-engine/deploy.sh
Due: prettier --write

chore(cloud-run): optimize for Google Cloud free tier
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/cloudbuild.yaml
  cloud-run/ai-engine/deploy.sh
Due: prettier --write

fix(docker): remove BuildKit-specific syntax for Cloud Build compatibility
  cloud-run/ai-engine/Dockerfile
Due: none

feat(skills): add cloud-run-deploy skill for AI Engine deployment
  .claude/rules/ai-tools.md
  .claude/skills/cloud-run-deploy/skill.md
Due: prettier --write

docs: update status and TODO for recent improvements
  docs/status.md
  reports/planning/TODO.md
Due: prettier --write

chore(release): 5.84.1
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): update orchestrator handoffs count to 5
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(deps): update msw to 2.12.7
  package-lock.json
  package.json
  public/mockServiceWorker.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-engine): sync server version to 5.84.1
  cloud-run/ai-engine/src/server.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
