Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

debug(middleware): add comprehensive diagnostic logging to isTestMode()
  middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(config): add PRESERVE_CONSOLE flag to enable console logs in production
  next.config.mjs
Due: none

fix(e2e): add x-vercel-protection-bypass header to page navigation
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): enhance test mode detection with triple-method synchronous check
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

debug(dashboard): add Step 3 diagnostic logging before dashboard-container return
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

debug(e2e): add Step 4 DOM diagnostic to investigate React commit phase
  tests/e2e/admin-page-button.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): restructure test to perform DOM diagnostics before timeout
  tests/e2e/admin-page-button.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): apply test mode detection fixes for E2E stability
  docs/status.md
  logs/ai-decisions/2025-10-31-test-mode-priority-fix-verification.md
  src/app/dashboard/DashboardClient.tsx
  src/lib/auth-state-manager.ts
  tests/e2e/admin-mode-pin-api-test.spec.ts
  tests/e2e/admin-mode-pin-test.spec.ts
  tests/e2e/comprehensive-ui-ux-test.spec.ts
  tests/e2e/dashboard-monitoring-test.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): resolve cookie timing issue with domain-scoped cookies and verification
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): enable test mode detection in production for E2E tests
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

debug: add comprehensive 7-step logging to diagnose test mode detection failure
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): add explicit navigation to /dashboard after guest login
  tests/e2e/comprehensive-ui-ux-test.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(auth): preserve test mode cookies during guest login for E2E stability
  src/lib/auth-state-manager.ts
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf(e2e): optimize viewport testing to prevent timeouts
  tests/e2e/dashboard-monitoring-test.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): add useEffect to re-evaluate test mode after client hydration
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

debug(e2e): add diagnostic data attributes to dashboard-container for hydration verification
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): restructure loading gate from if-else-if chain to consolidated condition
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): use testModeDetected state in loading gate instead of direct checkTestMode() call
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): use testModeDetected state in permission check to prevent race condition
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): add testModeDetected to permission check useEffect dependency array
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): eliminate stale closure bug by removing setTimeout
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(dashboard): use testModeDetected state in permission gate for consistency
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): correct final selector mismatch at line 617 for performance test
  tests/e2e/comprehensive-ui-ux-test.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

debug(e2e): add Step 4 DOM diagnostic to investigate React commit phase
  tests/e2e/comprehensive-ui-ux-test.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(login): correct guest login navigation target from /main to /dashboard
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs: WSL 재설치 후 환경 복구 완료 (100% 복구 검증)
  docs/status.md
  logs/ai-decisions/2025-11-03-wsl-reinstall-environment-reconstruction.md
  src/app/login/LoginClient.tsx
  tests/e2e/comprehensive-ui-ux-test.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: AI 도구 버전 표기 방식 개선 (version+ 패턴 적용)
  config/ai/registry.yaml
  docs/status.md
Due: prettier --write

docs(mcp): Playwright MCP 마이그레이션 문서화 (@playwright/mcp v0.0.45)
  .mcp.json
  docs/development/playwright-mcp-setup-guide.md
  docs/troubleshooting/playwright-mcp-documentation-comparison.md
  docs/troubleshooting/playwright-mcp-recovery-guide.md
Due: prettier --write

build: Node.js engines 필드 업데이트 (>=22.21.1)
  logs/ai-decisions/2025-11-03-node-v24-usage-decision.md
  package.json
Due: prettier --write

docs: Node.js 버전 결정 반영 및 Git 상태 업데이트
  docs/status.md
Due: prettier --write

docs: 실제 테스트 상태 반영 (85.3% 통과율)
  docs/status.md
Due: prettier --write

docs: update test metrics after ResilientSupabaseClient fix
  docs/status.md
Due: prettier --write

fix(test): replace vi.clearAllMocks with mockClear in ResilientSupabaseClient tests
  tests/unit/services/supabase/ResilientSupabaseClient.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

♻️ refactor(test): web-vitals v4 API 마이그레이션 및 분석 로직 개선
  tests/performance/web-vitals-integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: Claude Code v2.0.31 신규 기능 문서화 완료
  CLAUDE.md
  config/ai/registry.yaml
  docs/ai/ai-maintenance.md
  docs/claude/README.md
  docs/claude/environment/mcp/mcp-priority-guide.md
  docs/claude/environment/multi-ai-strategy.md
  docs/status.md
Due: prettier --write

🔬 test(phase2): Extended Thinking & @-mention 검증 완료 (v1.2.0)
  config/ai/registry.yaml
Due: prettier --write

✨ feat(maintenance): Phase 3A - 참조 기반 아키텍처로 유지보수 자동화
  .claude/agents/dev-environment-manager.md
  config/ai/registry.yaml
Due: prettier --write

📝 docs(phase2): Claude Code v2.0.31 best practices 추가
  docs/claude/environment/claude-code-v2.0.31-best-practices.md
Due: prettier --write

🔧 fix(phase2): Extended Thinking 공식 정보로 수정 (AI 교차검증 완료)
  docs/claude/environment/claude-code-v2.0.31-best-practices.md
Due: prettier --write
