Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

refactor(rag): 개발환경 문서 → 15개 서버 특화 운영 지식으로 교체
  src/scripts/seed-knowledge-base.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(data): 15개 서버 데이터 일관성 동기화
  scripts/data/update-server-services.ts
  src/mock/mockServerConfigExpanded.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(review): 코드 리뷰 이슈 트래커 추가
  scripts/code-review/review-issue-tracker.sh
Due: none

fix(review): 이슈 트래커 개선 - AI 리뷰 섹션만 스캔
  scripts/code-review/review-issue-tracker.sh
Due: none

chore(claude): Skills 및 설정 최신화 (v5.83.12)
  .claude/commands/review.md
  .claude/skills/ai-code-review/skill.md
  .claude/skills/validation-analysis/skill.md
  CLAUDE.md
Due: prettier --write

docs(claude): README.md 최신화 및 문서 개선
  .claude/README.md
Due: prettier --write

chore: 미사용 및 중복 스크립트 정리
  scripts/ai-verification/README.md
  scripts/ai/launch-claude-wsl.sh
  scripts/env/check-all-secrets.sh
  scripts/monitoring/claude-start.sh
  scripts/optimize/optimize-type-imports.ts
  scripts/optimize/remove-unused-react-imports.ts
  scripts/optimize/verify-edge-compatibility.js
Due: eslint --fix --max-warnings 0, prettier --write

docs: 문서 현행화 - 버전, API, AI 모델 정보 최신화
  docs/DEVELOPMENT.md
  docs/QUICK-START.md
  docs/api/endpoints.md
  docs/core/architecture/folder-structure.md
  docs/core/architecture/system/system-overview.md
  docs/status.md
Due: prettier --write

feat(ai-engine): Langfuse Observability + Circuit Breaker 통합
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/server.ts
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
  cloud-run/ai-engine/src/services/observability/index.ts
  cloud-run/ai-engine/src/services/observability/langfuse.ts
  cloud-run/ai-engine/src/services/resilience/circuit-breaker.ts
  cloud-run/ai-engine/src/services/resilience/index.ts
  reports/planning/AI-ENGINE-IMPROVEMENT-PLAN.md
Due: eslint --fix --max-warnings 0, prettier --write

fix(docker): npm ci → npm install (Cloud Build 호환성)
  cloud-run/ai-engine/Dockerfile
Due: none

docs(ai-engine): README v5.84.0 전면 개편
  cloud-run/ai-engine/README.md
Due: prettier --write

feat(ai-workspace): ChatGPT 스타일 풀페이지 UI 개선
  src/components/ai/AIWorkspace.tsx
  src/components/ai/SystemContextPanel.tsx
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(SystemContextPanel): AI 리뷰 이슈 수정
  src/components/ai/SystemContextPanel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(SystemContextPanel): AI Provider 목록을 실제 구현과 일치시킴
  src/components/ai/SystemContextPanel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs: AI Provider 문서를 실제 구현과 동기화
  README.md
  config/ai/registry-core.yaml
Due: prettier --write

refactor(ai): 컴포넌트 분리 및 Single Source of Truth 적용
  src/components/ai/SystemContextPanel.tsx
  src/components/ai/WelcomePromptCards.tsx
  src/config/ai-providers.ts
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-review): AI 리뷰 지적사항 개선
  src/components/ai/SystemContextPanel.tsx
  src/config/ai-providers.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(hooks): pre-push에서 중복 lint 검사 제거
  scripts/hooks/pre-push.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(EnhancedAIChat): Bot, FileText import 누락 수정
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai): LangGraph/LangChain 주석 참조 정리
  src/app/api/ai/approval/route.ts
  src/app/api/ai/incident-report/route.ts
  src/app/api/ai/intelligent-monitoring/route.ts
  src/app/api/ai/supervisor/route.ts
  src/app/api/ai/supervisor/security.ts
  src/components/ai/AIWorkspace.tsx
  src/config/ai-engine.ts
  src/config/free-tier-config.ts
  src/config/free-tier-intervals.ts
  src/config/server-status-thresholds.ts
  src/lib/ai/core/types.ts
  src/lib/mock-scenarios/index.ts
  src/lib/mock/index.ts
  src/lib/security/rate-limiter.ts
  src/mocks/handlers/nextjs/api-routes.ts
  src/services/ai/ai-performance-summary.md
  src/types/integrated-prediction-system.types.ts
  src/utils/timeout-config.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): AI 어시스턴트 엔진 안정성 및 보안 개선
  src/app/api/ai/approval/subscribe/route.ts
  src/app/api/ai/supervisor/route.ts
  src/app/api/ai/supervisor/security.ts
  src/lib/ai/utils/query-complexity.ts
  src/types/hitl.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf(sse): 무료 티어 최적화를 위한 폴링 간격 완화
  src/app/api/ai/approval/subscribe/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(sse): API 문서화 및 사용자 안내 메시지 추가
  src/app/api/ai/approval/subscribe/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): AI 엔진 안정성 개선 - Phase 1~3 완료
  src/app/api/ai/incident-report/route.ts
  src/app/api/ai/intelligent-monitoring/route.ts
  src/app/api/ai/supervisor/route.ts
  src/components/ai/AIWorkspace.tsx
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/lib/ai/cache/ai-response-cache.ts
  src/lib/ai/cache/index.ts
  src/lib/ai/circuit-breaker.ts
  src/lib/ai/fallback/ai-fallback-handler.ts
  src/lib/ai/utils/message-normalizer.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(supervisor): 미사용 import 제거 (extractTextFromHybridMessage)
  src/app/api/ai/supervisor/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): Circuit Breaker Fallback 및 캐싱 적용 완료
  src/app/api/ai/approval/route.ts
  src/app/api/ai/intelligent-monitoring/route.ts
  src/app/api/ai/supervisor/route.ts
  src/components/ai/AIWorkspace.tsx
  src/components/error/AIErrorBoundary.tsx
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
  src/domains/ai-sidebar/components/JobProgressIndicator.tsx
  src/hooks/ai/useAsyncAIQuery.ts
  src/hooks/ai/useHybridAIQuery.ts
  src/lib/utils/retry.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(jobs): Job Queue SSE 진행률 표시 문제 해결
  src/app/api/ai/jobs/[id]/stream/route.ts
  src/app/api/ai/jobs/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(jobs): Redis 에러 핸들링 Graceful Degradation 적용
  docs/core/architecture/ai/ai-engine-architecture.md
  src/app/api/ai/jobs/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: AI Engine 개선 문서 업데이트
  docs/plans/job-queue-optimization-plan.md
  docs/status.md
Due: prettier --write

fix(jobs): Add response status validation to triggerWorker
  src/app/api/ai/jobs/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(useHybridAIQuery): Streaming 모드에서 메시지 중복 추가 버그 수정
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(env): CLOUD_RUN_API_SECRET 환경 변수명 통일
  .env.example
Due: none

feat(jobs): triggerWorker 타임아웃 + after() 로깅 개선
  src/app/api/ai/jobs/route.ts
  src/types/ai-jobs.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai-engine): Reporter/Analyst Agent 개선 - Groq 모델 + 실제 데이터 도구
  cloud-run/ai-engine/src/services/ai-sdk/agents/analyst-agent.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/reporter-agent.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.83.13
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai-engine): NLQ Agent Cerebras primary로 변경
  cloud-run/ai-engine/src/services/ai-sdk/agents/nlq-agent.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.83.14
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai-engine): RAG Incident Injection 및 Agent 통합
  cloud-run/ai-engine/src/lib/incident-rag-injector.ts
  cloud-run/ai-engine/src/routes/analytics.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/index.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/reporter-agent.ts
  cloud-run/ai-engine/src/services/approval/approval-store.ts
  docs/core/architecture/system/ai-engine-architecture.mmd
  docs/core/architecture/system/diagrams/ai-engine-architecture.png
  docs/core/architecture/system/diagrams/ai-engine-architecture.svg
Due: eslint --fix --max-warnings 0, prettier --write

docs(ai-engine): RAG Injection 및 다이어그램 문서화
  docs/core/architecture/ai/ai-engine-architecture.md
  docs/core/architecture/system/diagrams/README.md
Due: prettier --write

fix(ai-engine): AI 리뷰 지적사항 개선
  cloud-run/ai-engine/src/lib/incident-rag-injector.ts
  cloud-run/ai-engine/src/routes/analytics.ts
Due: eslint --fix --max-warnings 0, prettier --write
