Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix: frontend quality improvements
  package-lock.json
  src/adapters/server-data-adapter.ts
  src/app/api/ai/feedback/route.ts
  src/components/dashboard/ImprovedServerCard.test.tsx
  src/lib/logger.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(ci): remove redundant lint.yml workflow
  .github/workflows/lint.yml
Due: prettier --write

refactor(ai-review): remove Qwen from 3-AI to 2-AI system
  .claude-project.json
  .claude/rules/ai-tools.md
  .vscode/ai-context.json
  .vscode/ai-settings.json
  docs/archived/QWEN.md.deprecated
  scripts/ai-wrappers/qwen-wrapper.sh.deprecated
  scripts/code-review/auto-ai-review.sh
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: prettier --write

refactor(ai-review): apply best practices to AI wrappers and review system
  scripts/ai-wrappers/codex-wrapper.sh
  scripts/ai-wrappers/gemini-wrapper.sh
  scripts/code-review/lib/ai-review-core.sh
Due: none

refactor(ai-agents): externalize agent identities to markdown files
  AGENTS.md
  GEMINI.md
  scripts/ai-wrappers/codex-wrapper.sh
  scripts/ai-wrappers/gemini-wrapper.sh
  scripts/code-review/lib/ai-review-core.sh
Due: prettier --write

fix(lint): disable noConsole rule and fix a11y warning
  biome.json
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(test): consolidate message normalization tests
  src/components/dashboard/ImprovedServerCard.test.tsx
  src/lib/ai/utils/message-normalizer.test.ts
  tests/api/message-normalization.unit.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: remove Qwen from 3-AI to 2-AI system in documentation
  docs/DEVELOPMENT.md
  docs/getting-started/development.md
  docs/guides/ai/common/ai-cli-guide.md
  docs/guides/ai/common/ai-standards.md
  docs/guides/ai/common/ai-workflow.md
  docs/guides/ai/common/ai-wrappers-guide.md
  docs/guides/environment/wsl-ai-tools.md
  docs/status.md
  docs/troubleshooting/system-recovery-guide-2025.md
Due: prettier --write

docs(readme): simplify to production-focused content
  README.md
Due: prettier --write

docs: remove Qwen references and update to 2-AI system
  docs/getting-started/README.md
  docs/getting-started/development.md
  docs/guides/ai/README.md
  docs/guides/ai/common/README.md
  docs/guides/ai/common/ai-workflow.md
  docs/guides/environment/wsl/wsl-optimization.md
  docs/guides/environment/wsl/wsl-restore-guide.md
  docs/guides/standards/commit-conventions.md
  docs/reference/architecture/decisions/adr-001-unified-ai-engine-cache-and-providers.md
  docs/reference/architecture/design/system.md
  docs/reference/architecture/features/ai-system.md
  docs/reference/architecture/system/mcp-connection-pool-optimization.md
  docs/reference/architecture/system/memory-requirements.md
  docs/reference/architecture/system/system-architecture-deployment.md
  docs/reference/architecture/system/system-overview.md
  docs/reference/security/localStorage-to-cookie-migration.md
  docs/status.md
Due: prettier --write

feat(components): add barrel exports for ui, shared, ai directories
  src/components/ai/index.ts
  src/components/shared/index.ts
  src/components/ui/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(api): consolidate health check endpoints (Phase 1)
  reports/planning/api-route-consolidation-plan.md
  src/app/api/ai/health/route.ts
  src/app/api/health/route.ts
  src/app/api/ping/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(api): consolidate database and cache endpoints (Phase 2)
  src/app/api/cache/optimize/route.ts
  src/app/api/cache/route.ts
  src/app/api/cache/stats/route.ts
  src/app/api/database/readonly-mode/route.ts
  src/app/api/database/reset-pool/route.ts
  src/app/api/database/route.ts
  src/app/api/database/status/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(api): reorganize test/debug routes (Phase 3)
  src/app/api/debug/auth/route.ts
  src/app/api/test/auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(api): consolidate system endpoints (Phase 4)
  reports/planning/api-route-consolidation-plan.md
  src/app/api/system/initialize/route.ts
  src/app/api/system/optimize/route.ts
  src/app/api/system/route.ts
  src/app/api/system/start/route.ts
  src/app/api/system/status/route.ts
  src/app/api/system/sync-data/route.ts
  src/app/api/system/unified/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update consolidation plan with system routes completion
  reports/planning/api-route-consolidation-plan.md
Due: prettier --write

docs: update API documentation with consolidated endpoints
  docs/guides/ai/api-migration-guide.md
  docs/reference/architecture/infrastructure/api.md
Due: prettier --write

refactor(api): migrate client code to unified API endpoints
  src/components/ai/SystemContextPanel.tsx
  src/components/shared/UnifiedProfileHeader.tsx
  src/components/system/SystemBootstrap.tsx
  src/components/system/SystemControlPanel.tsx
  src/config/performance-optimization.ts
  src/core/system/process-configs.ts
  src/domains/ai-sidebar/components/AIDebugPanel.tsx
  src/domains/ai-sidebar/components/CloudRunStatusIndicator.tsx
  src/hooks/api/useRealtimeServers.ts
  src/hooks/useSystemControl.ts
  src/hooks/useSystemState.ts
  src/hooks/useSystemStatus.ts
  src/lib/react-query.ts
  src/mocks/handlers/nextjs/api-routes.ts
  src/services/error-handling/recovery/RecoveryService.ts
  src/utils/vercel-optimization.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(mocks): add database and health mock handlers for unified API
  src/mocks/handlers/nextjs/api-routes.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(mocks): improve mock handlers with error handling and simple health check
  src/mocks/handlers/nextjs/api-routes.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: remove deprecated API routes and dead code
  src/app/api/ai/health/route.ts
  src/app/api/auth/debug/route.ts
  src/app/api/auth/test/route.ts
  src/app/api/cache/optimize/route.ts
  src/app/api/cache/stats/route.ts
  src/app/api/database/readonly-mode/route.ts
  src/app/api/database/reset-pool/route.ts
  src/app/api/database/status/route.ts
  src/app/api/ping/route.ts
  src/app/api/system/initialize/route.ts
  src/app/api/system/optimize/route.ts
  src/app/api/system/start/route.ts
  src/app/api/system/status/route.ts
  src/app/api/system/sync-data/route.ts
  src/app/api/system/unified/route.ts
  src/lib/utils/vercel-safe-utils.ts
  src/lib/utils/vercel-safety-utils.ts
  src/services/metrics/simulation/MetricsSimulator.ts
  src/services/metrics/simulation/MetricsSource.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): add response caching to supervisor API
  docs/plans/ai-query-improvements-plan.md
  src/app/api/ai/supervisor/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ui): add typewriter effect for AI responses
  src/components/ai/AIWorkspace.tsx
  src/components/ai/TypewriterMarkdown.tsx
  src/hooks/ui/useTypewriter.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): add context compression for token efficiency
  src/app/api/ai/supervisor/route.ts
  src/lib/ai/utils/context-compressor.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(cloud-run): migrate to Artifact Registry and optimize Docker
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/cloudbuild.yaml
  cloud-run/ai-engine/deploy.sh
Due: prettier --write

fix(cloud-run): remove HTTP/2 option causing protocol errors
  cloud-run/ai-engine/Dockerfile
  cloud-run/ai-engine/cloudbuild.yaml
  cloud-run/ai-engine/deploy.sh
Due: prettier --write

fix(chat): clear input immediately and add auto-scroll
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
  src/hooks/ai/useAIChatCore.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(streaming): implement real-time SSE streaming for AI chat
  cloud-run/ai-engine/src/routes/supervisor.ts
  src/app/api/ai/supervisor/stream/route.ts
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(streaming): address AI code review findings
  cloud-run/ai-engine/src/routes/supervisor.ts
  src/app/api/ai/supervisor/stream/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(nlp): enhance intent classification regex patterns
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
  docs/ai-model-policy.md
Due: eslint --fix --max-warnings 0, prettier --write

fix(nlp): add infrastructure context gating to reduce false positives
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(docker): sync APP_VERSION to 5.84.1
  cloud-run/ai-engine/Dockerfile
Due: none

docs(status): update infrastructure and recent maintenance for 2026-01-09
  docs/status.md
Due: prettier --write

feat(nlp): add typo tolerance and English patterns to supervisor
  cloud-run/ai-engine/src/services/ai-sdk/supervisor.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.84.2
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update comments and paths to reflect new structure
  config/testing/vitest.config.main.ts
  docs/reference/architecture/design/domain-driven-design.md
  src/__mocks__/data/data/constants.ts
  src/__mocks__/data/data/types.ts
  src/components/ai/AIWorkspace.test.tsx
  src/components/ai/ThinkingProcessVisualizer.test.tsx
  src/stores/useAISidebarStore.ts
  tests/ai-sidebar/useAIEngine.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(claude): optimize rules files and update AI tools configuration
  .claude/rules/ai-tools.md
  .claude/rules/architecture.md
  .claude/rules/code-style.md
  .claude/rules/deployment.md
  .claude/rules/testing.md
  .claude/skills/ai-report-export/skill.md
  CLAUDE.md
Due: prettier --write

chore(gitignore): deduplicate env and build rules
  .gitignore
Due: none

fix: update import path documentation and README
  README.md
  src/lib/core/types/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
