Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

📝 docs: Phase 0 - 고아 파일 Import 및 캐시 정리
  CLAUDE.md
  docs/design/.ai-cache
  docs/mcp/.ai-cache
  vercel-optimization-recommendations.json
Due: prettier --write

♻️ refactor: Phase 1 - 중복 폴더 및 파일 제거
  docs/deploy/deployment-status-report.md
  docs/guides/ai-system.md
  docs/guides/architecture.md
  docs/specs/requirements/user-profile-edit.md
  docs/specs/tasks/user-profile-edit.md
  docs/troubleshooting/build.md
  docs/troubleshooting/claude-400-invalid-json.md
  docs/troubleshooting/common.md
Due: prettier --write

♻️ refactor: Phase 2 - docs/claude/ MCP 서브폴더 구조 개선
  CLAUDE.md
  docs/claude/environment/mcp/mcp-configuration.md
  docs/claude/environment/mcp/mcp-priority-guide.md
Due: prettier --write

📝 docs: Phase 5 - 품질 개선 (README 업데이트, 링크 검증)
  docs/README.md
Due: prettier --write

♻️ refactor: Root Path Phase 2 - JBGE 정책 준수 (루트 문서 정리)
  .gitignore
  docs/DEVELOPMENT.md
  docs/QUICK-START.md
Due: prettier --write

📝 docs: 문서 참조 경로 업데이트 (DEVELOPMENT.md, QUICK-START.md 이동 반영)
  README.md
  docs/QUICK-START.md
Due: prettier --write

🔒 security: PIN 인증 서버 검증 강화 + React Hooks 버그 수정
  src/app/api/admin/verify-pin/route.ts
  src/hooks/useInitialAuth.ts
  src/hooks/useSystemStatus.ts
  src/stores/useUnifiedAdminStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: v5.79.1 CHANGELOG 업데이트 - 보안 강화 및 React Hooks 버그 수정
  CHANGELOG.md
Due: prettier --write

🔖 chore: v5.79.1 버전 업데이트 - ADMIN_PIN 환경변수 적용
  package.json
Due: prettier --write

🔒 security: IP 화이트리스트 통합 Middleware 구현
  middleware.ts
  src/app/api/test/admin-auth/route.ts
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: IP 화이트리스트 성능 최적화 분석 보고서
  docs/performance/ip-whitelist-optimization.md
Due: prettier --write

♻️ refactor: Phase 1 완료 - 보안 최적화 및 AI 엔진 삭제 (3,659줄)
  src/app/api/admin/verify-pin/route.ts
  src/app/api/test/admin-auth/route.ts
  src/domains/ai-sidebar/components/AISidebarV3.tsx
  src/services/ai/SimplifiedQueryEngine.processors.command.ts
  src/services/ai/SimplifiedQueryEngine.types.ts
  src/services/ai/SimplifiedQueryEngine.utils.ts
  src/services/ai/UnifiedAIEngineRouter.cache.ts
  src/services/ai/UnifiedAIEngineRouter.circuitBreaker.ts
  src/services/ai/UnifiedAIEngineRouter.commands.ts
  src/services/ai/UnifiedAIEngineRouter.core.ts
  src/services/ai/UnifiedAIEngineRouter.metrics.ts
  src/services/ai/UnifiedAIEngineRouter.security.ts
  src/services/ai/UnifiedAIEngineRouter.ts
  src/services/ai/UnifiedAIEngineRouter.types.ts
  src/services/ai/UnifiedAIEngineRouter.utils.ts
  src/services/ai/routing/index.ts
  src/services/ai/ultrafast-ai-router.ts
  tests/e2e/simple-admin-test.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔒 security: Phase 3 보안 강화 (CSRF + 메모리 누수 방지)
  CLAUDE.md
  src/app/api/admin/verify-pin/route.ts
  src/app/api/test/admin-auth/route.ts
  src/utils/security/csrf.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: Phase 2-3 보안 개선 성과 기록
  CLAUDE.md
Due: prettier --write

🔒 security: Phase 5-6 보안 강화 - DoS 방어 우선순위 + Bypass Token 검증
  src/app/api/admin/verify-pin/route.ts
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: AI 시스템 2025 업데이트 (벤치마크 + Google AI + 교차검증)
  .claude/agents/codex-specialist.md
  .claude/agents/gemini-specialist.md
  .claude/agents/qwen-specialist.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  QWEN.md
  docs/claude/architecture/ai-cross-verification.md
  docs/claude/architecture/system-overview.md
  docs/claude/environment/ai-tools-setup.md
  docs/claude/environment/multi-ai-strategy.md
  docs/claude/environment/workflows.md
  docs/claude/workflows/ai-cross-verification-workflow.md
  scripts/ai-cross-verification-real.sh
  scripts/ai-subagents/TASK-TOOL-ANALYSIS.md
  scripts/ai-subagents/codex-wrapper.md
  scripts/ai-subagents/external-ai-orchestrator.md
  scripts/ai-subagents/gemini-wrapper.md
  scripts/ai-subagents/qwen-wrapper.md
  scripts/ai-subagents/unified-orchestrator.sh
  scripts/ai-subagents/usage-tracker.sh
  src/app/login/LoginClient.tsx
  src/app/main/page.tsx
  src/components/home/FeatureCardsGrid.tsx
  src/utils/security/csrf.ts
  src/utils/text-rendering.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Google AI 무료 티어 한도 공식 문서 기준 수정
  docs/claude/architecture/system-overview.md
Due: prettier --write

✨ feat: GOOGLE_AI 서버 메트릭 통합 및 TypeScript 에러 수정
  src/app/login/LoginClient.tsx
  src/services/ai/SimplifiedQueryEngine.processors.googleai.ts
  src/services/ai/SimplifiedQueryEngine.processors.helpers.ts
  src/services/ai/SimplifiedQueryEngine.types.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: E2E 테스트를 위한 프로덕션 Test API 차단 해제
  src/app/api/test/admin-auth/route.ts
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Bypass 모드 프로덕션 허용 및 E2E 테스트 수정
  src/app/api/test/admin-auth/route.ts
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔒 security: Bypass 모드에 Secret 토큰 검증 추가
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 chore: Vercel 환경변수 설정 완료 주석 추가
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 debug: 토큰 비교 디버그 로그 추가
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 chore: 환경변수 재설정 후 배포
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧪 test: 간단한 토큰으로 디버깅
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: bypassToken/token 필드명 불일치 해결
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔍 debug: GET endpoint에 환경변수 디버그 정보 추가
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 debug: GET endpoint 프로덕션 차단 임시 제거
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 환경변수 줄바꿈 제거 (trim 처리)
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 debug: GET endpoint에도 trim 추가
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 chore: TEST_BYPASS_SECRET 재설정 후 배포 트리거
  .vercel-deploy-trigger
Due: none

🧹 cleanup: GET endpoint 디버그 코드 제거 및 프로덕션 차단 복원
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ style: 로그인 페이지 로고 아이콘 그라데이션 애니메이션 적용
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: 아이콘 애니메이션 UX 개선 (AI 교차검증 기반)
  src/app/login/LoginClient.tsx
  src/app/main/page.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

♿ a11y: Sparkles 아이콘 접근성 개선 (Side-Effect 완료)
  src/components/ai/pages/AIChatPage.tsx
  src/components/dashboard/SimulateProgressBar.tsx
  src/domains/ai-sidebar/components/AIEnhancedChat.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🧪 test: E2E 대시보드 접근 테스트 개선
  src/app/dashboard/DashboardClient.tsx
  tests/e2e/helpers/admin.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
