Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

chore: exclude AI code review files from GitHub
  .gitignore
  reports/ai-review/history/2026-01/review-codex-2026-01-15-19-20-51.md
  reports/ai-review/history/2026-01/review-codex-2026-01-15-19-49-32.md
  reports/ai-review/history/2026-01/review-gemini-2026-01-15-19-20-51.md
Due: prettier --write

fix(ai-review): add false positive prevention rules v7.2.0
  scripts/code-review/lib/ai-review-core.sh
Due: none

fix(ai-review): refine false positive rules v7.2.1
  scripts/code-review/lib/ai-review-core.sh
Due: none

docs(ai-panel): clarify agent architecture v3.1
  src/components/ai/AIAssistantIconPanel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs(orchestrator): add incident examples to context
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(agents): extract common instructions template
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/advisor.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/analyst.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/common-instructions.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/index.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/nlq.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/config/instructions/reporter.ts
  src/components/ai/AIWorkspace.tsx
  src/components/ai/MarkdownRenderer.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(docker): update APP_VERSION to 5.87.0
  cloud-run/ai-engine/Dockerfile
Due: none

fix(markdown): add clipboard copy error handling
  src/components/ai/MarkdownRenderer.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(docs): consolidate AI architecture and remove legacy references
  .claude/skills/cloud-run-deploy/skill.md
  README.md
  cloud-run/ai-engine/README.md
  cloud-run/ai-engine/src/lib/config-parser.test.ts
  cloud-run/ai-engine/src/services/ai-sdk/agents/orchestrator.test.ts
  config/ai/registry-core.yaml
  docs/README.md
  docs/llms.txt
  docs/reference/README.md
  docs/reference/architecture/ai/ai-engine-5w1h.md
  docs/reference/architecture/ai/ai-engine-architecture.md
  docs/status.md
  src/app/api/og/route.tsx
  src/app/layout.tsx
  src/data/architecture-diagrams.data.ts
  src/data/feature-cards.data.ts
  src/data/tech-stacks.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(ai-tools): upgrade Codex v0.85.0, Gemini v0.24.0
  config/ai/registry-core.yaml
  docs/guides/ai/README.md
  docs/status.md
Due: prettier --write

refactor(css): consolidate animations and remove dead code
  src/app/globals.css
  src/components/home/FeatureCardsGrid.tsx
  src/styles/globals.css
Due: eslint --fix --max-warnings 0, prettier --write

refactor(modal): improve Vibe Coding history section naming
  src/components/shared/FeatureCardModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(card): adjust Vibe Coding card tone to match other cards
  src/data/feature-cards.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(planning): update Vibe Coding button terminology
  reports/planning/landing-card-diagrams.md
Due: prettier --write

refactor(login): improve accessibility and simplify footer
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(privacy): add minimal privacy policy page for OAuth compliance
  src/app/login/LoginClient.tsx
  src/app/privacy/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove unnecessary GitHub issue link from JSDoc
  src/utils/cookies/safe-cookie-utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(diagram): add swimlane backgrounds and hover tooltips
  src/components/shared/ArchitectureDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(diagram): center-align layer titles and node content
  src/components/shared/ArchitectureDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(diagram): implement swimlane layout with left-aligned labels
  src/components/shared/ArchitectureDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(markdown): prevent hydration error from invalid HTML nesting
  src/components/ai/MarkdownRenderer.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(hydration): add suppressHydrationWarning for envLabel
  src/app/page.tsx
  src/components/shared/AuthLoadingUI.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(images): add GitHub/Google avatar domains to remotePatterns
  next.config.mjs
Due: none

fix(auth): eliminate screen flickering on landing page
  src/app/page.tsx
  src/hooks/useInitialAuth.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(page): remove unused shouldRedirect variable
  src/app/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(diagram): apply swimlane layout to ReactFlowDiagram, remove dead code
  src/components/shared/ArchitectureDiagram.tsx
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

test(diagram): add ReactFlowDiagram component unit tests
  src/components/shared/ReactFlowDiagram.test.tsx
  src/components/shared/__snapshots__/ReactFlowDiagram.test.tsx.snap
Due: eslint --fix --max-warnings 0, prettier --write

chore(ci): remove env backup workflow
  .github/workflows/backup_env.yml
Due: prettier --write

feat(modal): implement Split Screen layout for architecture diagrams
  src/components/shared/FeatureCardModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

revert: remove Split Screen layout, restore original diagram view
  src/components/shared/FeatureCardModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(diagram): align swimlane layers to common X position
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(lint): remove unused imports and variables in ReactFlowDiagram
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(diagram): unify layout constants and clean up code
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(diagram): increase node spacing to prevent overlap
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(diagram): correct swimlane background positioning for fitView
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(diagram): increase NODE_GAP from 50 to 70 for better node spacing
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(ui): enhance architecture modal and diagram visibility
  src/components/shared/FeatureCardModal.tsx
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(diagram): correct swimlane alignment and shadow class
  src/components/shared/ReactFlowDiagram.tsx
Due: eslint --fix --max-warnings 0, prettier --write

test(diagram): update ReactFlowDiagram snapshots
  src/components/shared/__snapshots__/ReactFlowDiagram.test.tsx.snap
Due: none

chore(langfuse): increase sampling rate to 100%
  cloud-run/ai-engine/src/services/observability/langfuse.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
