Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix: TypeScript error - Use additionalData for aggregated_data and recommendations
  src/services/ai/SimplifiedQueryEngine.processors.helpers.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Add Google AI API rate limiting and ToS compliance
  src/lib/google-ai-manager.ts
  src/services/ai/DirectGoogleAIService.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: Trigger Vercel redeploy with updated environment variables
  .vercel-deploy-trigger
Due: none

fix: Correct Vercel environment variables setup
  .vercel-deploy-trigger
Due: none

fix: Re-configure Vercel environment variables with clean stdin
  .vercel-deploy-trigger
Due: none

refactor: Simplify environment setup and improve security
  .env.example
  .gitignore
  README.md
  config/templates/env.local.template
  docs/QUICK-START.md
  playwright.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: 문서 구조 최적화 및 아키텍처 문서 개선
  docs/README.md
  docs/architecture/ARCHITECTURE-UPDATE-2025-11-20.md
  docs/architecture/README.md
  docs/architecture/SYSTEM-ARCHITECTURE-CURRENT.md
  docs/architecture/api/endpoints.md
  docs/archive/DOCS-CLEANUP-2025-11-20.md
  docs/archive/lint-reports-2025-11/LINT_ANALYSIS_REPORT.md
  docs/archive/lint-reports-2025-11/LINT_COMPLETE.md
  docs/archive/lint-reports-2025-11/LINT_COMPLETE_REPORT.md
  docs/archive/lint-reports-2025-11/LINT_FINAL_COMPLETE.md
  docs/archive/lint-reports-2025-11/LINT_FINAL_REPORT.md
  docs/archive/lint-reports-2025-11/LINT_FINAL_SUCCESS.md
  docs/archive/lint-reports-2025-11/LINT_FIX_GUIDE.md
  docs/archive/lint-reports-2025-11/LINT_IMPROVEMENT_REPORT.md
  docs/archive/lint-reports-2025-11/LINT_STAGE_12_REPORT.md
  docs/archive/lint-reports-2025-11/LINT_SUCCESS_REPORT.md
  docs/archive/lint-reports-2025-11/LINT_SUMMARY.md
  docs/archive/lint-reports-2025-11/LINT_SUMMARY_FINAL.md
  docs/archive/lint-reports-2025-11/README.md
  docs/archive/lint-reports-2025-11/eslint-cleanup-remaining-tasks-2025-11-17.md
  docs/archive/lint-reports-2025-11/lint-errors-summary.txt
  docs/archive/lint-reports-2025-11/lint-improvement-plan.md
  docs/archive/lint-reports-2025-11/lint-latest.log
  docs/archive/lint-reports-2025-11/lint-progress.md
  scripts/maintenance/fix-floating-promises.sh
  scripts/maintenance/fix-unused-vars.sh
  scripts/setup/bootstrap.sh
  scripts/setup/cloud-shell-deploy.sh
  src/services/ai/SimplifiedQueryEngine.processors.googleai.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: CI 워크플로우 Node.js 버전 수정 및 분석 문서 추가
  .github/workflows/ci-optimized.yml
  docs/troubleshooting/github-actions-analysis.md
Due: prettier --write

fix: GitHub Actions 에러 수정 (7 errors, 10 warnings)
  src/app/api/ai/google-ai/status/route.ts
  src/lib/ai/google-ai-client.ts
  src/lib/data-gateway.ts
  src/lib/google-ai-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: GitHub Actions lint 에러 수정 (3 errors → 0)
  .github/workflows/simple-deploy.yml
  src/lib/ai/google-ai-client.ts
  src/lib/data-gateway.ts
  src/lib/google-ai-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: google-ai-manager 타입 에러 수정 (string | undefined → string)
  src/lib/google-ai-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: 게스트 로그인 시 메인 페이지 건너뛰는 문제 수정
  docs/analysis/ai-sidebar-analysis.md
  docs/temp/lint-warning-improvement-plan.md
  scripts/maintenance/fix-unused-imports.sh
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

revert: 게스트 모드 리다이렉트를 /dashboard로 복원
  src/app/login/LoginClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: 게스트 모드 제한 로직 추가 (현재는 비활성화)
  src/app/login/LoginClient.tsx
  src/app/main/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs: 게스트 모드 변경 사이드 이펙트 분석
  docs/analysis/side-effects-guest-mode.md
Due: prettier --write

docs: 단계별 개선 계획 수립
  docs/improvement-plan.md
Due: prettier --write

refactor: LRU 캐시 로직 수정 (ADR-001 버그 수정)
  src/services/ai/SimplifiedQueryEngine.utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: 지능형 라우팅 로직 구현 (Step 2)
  src/services/ai/SimplifiedQueryEngine.ts
  src/services/ai/SimplifiedQueryEngine.utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: AI 모드 선택 UI 제거 (Step 3)
  src/components/dashboard/AISidebarContent.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: AI 사고 과정 시각화 개선 (Step 4)
  AGENTS.md
  config/ai/changelog.yaml
  docs/development/ai-tools-setup.md
  src/components/ai/ThinkingProcessVisualizer.tsx
  src/components/dashboard/AISidebarContent.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs: GCP Functions 현황 분석 및 최적화 계획
  docs/analysis/gcp-functions-status.md
Due: prettier --write

feat: GCP Functions 최적화 및 배포 준비 완료
  config/ai/changelog.yaml
  config/ai/registry-core.yaml
  docs/development/ai-tools-setup.md
  docs/status.md
  gcp-functions/README.md
  gcp-functions/ai-gateway/package.json
  gcp-functions/deployment/deploy-optimized.sh
  gcp-functions/enhanced-korean-nlp/requirements.txt
  gcp-functions/health/package.json
  gcp-functions/ml-analytics-engine/requirements.txt
  gcp-functions/rag-vector-processor/requirements.txt
  gcp-functions/rule-engine/package.json
  gcp-functions/session-context-manager/requirements.txt
  gcp-functions/unified-ai-processor/requirements.txt
Due: prettier --write

docs: GCP Functions 배포 가이드 추가
  docs/gcp-deployment-guide.md
Due: prettier --write

docs: GCP 배포 실행 가이드 추가
  gcp-functions/deployment/deploy-instructions.md
Due: prettier --write

feat: GCP Functions 배포 준비 100% 완료
  gcp-functions/DEPLOYMENT-READY.md
Due: prettier --write

feat(gcp): Complete GCP Functions deployment and integration
  gcp-functions/AI-QUERY-DIAGNOSIS.md
  gcp-functions/API-TESTING.md
  gcp-functions/DEBUGGING-COMPLETE-2025-11-20.md
  gcp-functions/DEPLOYMENT-READY.md
  gcp-functions/IMPROVEMENTS-2025-11-20.md
  gcp-functions/NEXT-STEPS-2025-11-20.md
  gcp-functions/README.md
  gcp-functions/VERCEL-INTEGRATION-STATUS.md
  gcp-functions/ai-gateway/package-lock.json
  gcp-functions/health/index.js
  gcp-functions/health/package-lock.json
  gcp-functions/health/package.json
  gcp-functions/test-vercel-integration.sh
  src/lib/ai/providers/korean-nlp-provider.ts
  src/lib/ai/providers/ml-provider.ts
  src/lib/gcp/resilient-ai-client.ts
  test-gemini-direct.js
  test-gemini-lite.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(types): Add failed status to ThinkingStep types
  src/components/ai/ThinkingProcessVisualizer.tsx
  src/domains/ai-sidebar/types/ai-sidebar-types.ts
  src/types/ai-thinking.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(gcp): Add local debugging guide and session summary
  gcp-functions/LOCAL-DEBUG-GUIDE.md
  gcp-functions/SESSION-COMPLETE-2025-11-20.md
Due: prettier --write

feat(gcp): Complete all 6 GCP Functions deployment
  gcp-functions/FINAL-COMPLETION-2025-11-20.md
  gcp-functions/ai-gateway/index.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): Implement graceful degradation for Korean NLP CORS issue
  gcp-functions/AI-QUERY-SOLUTION.md
  src/lib/ai/providers/korean-nlp-provider.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(types): Fix RuleData type in Korean NLP graceful degradation
  src/lib/ai/providers/korean-nlp-provider.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(types): Correct RuleData structure in graceful degradation
  src/lib/ai/providers/korean-nlp-provider.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(types): Add all required RuleData properties
  src/lib/ai/providers/korean-nlp-provider.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(gcp): Add final status report
  gcp-functions/FINAL-STATUS-2025-11-20.md
Due: prettier --write

docs(gcp): Add production verification guide
  gcp-functions/PRODUCTION-VERIFICATION.md
Due: prettier --write

docs(ai): Add AI sidebar analysis and unified engine refactoring plan
  docs/ai-sidebar-analysis-2025-11-20.md
  docs/unified-engine-refactoring.md
Due: prettier --write

docs(ai): Add REVISED unified engine refactoring plan
  docs/unified-engine-refactoring-REVISED.md
Due: prettier --write

refactor(ai-sidebar): 미사용 컴포넌트 5개 삭제 및 ThinkingProcessVisualizer 통합
  src/domains/ai-sidebar/components/AIChatMessages.tsx
  src/domains/ai-sidebar/components/AIEngineDropdown.tsx
  src/domains/ai-sidebar/components/AIEngineSelector.tsx
  src/domains/ai-sidebar/components/AIEnhancedChat.tsx
  src/domains/ai-sidebar/components/AIThinkingDisplay.tsx
  src/domains/ai-sidebar/components/ChatMessageItem.tsx
  src/domains/ai-sidebar/components/index.ts
  src/services/ai/SimplifiedQueryEngine.processors.googleai.ts
  src/services/ai/SimplifiedQueryEngine.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
