Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

🔧 feat: Supabase MCP 공식 버전 업그레이드 및 11개 서버 완전 연결
  CLAUDE.md
  docs/mcp-development-guide-2025.md
  docs/mcp-servers-complete-guide.md
  docs/sub-agents-mcp-mapping-guide.md
  test-mcp-demo/filesystem-test.md
  test-mcp-demo/mcp-test-summary.md
Due: prettier --write

fix: API 라우트 TypeScript any 타입 제거 및 타입 안전성 강화
  src/app/api/dashboard/route.ts
  src/app/api/mcp/context-integration/sync/route.ts
  src/app/api/servers/[id]/processes/route.ts
  src/app/api/system/optimize/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: 핵심 서비스 TypeScript any 타입 제거
  src/lib/cache-helper.ts
  src/services/ScalingSimulationEngine.ts
  src/services/UnifiedMetricsManager.autoscaler.ts
  src/services/UnifiedMetricsManager.ts
  src/utils/environment-security.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: React hooks TypeScript 타입 안전성 강화
  src/hooks/api/useRealtimeQueries.ts
  src/hooks/api/useRealtimeServers.ts
  src/hooks/api/useServerQueries.ts
  src/hooks/api/useSystemQueries.ts
  src/hooks/useAIAssistantData.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: 타입 정의 강화 및 테스트 파일 타입 안전성 개선
  src/services/ai/__tests__/SimplifiedQueryEngine-MCP.test.ts
  src/services/ai/__tests__/ai-security.test.ts
  src/services/ai/__tests__/circuit-breaker.test.ts
  src/services/ai/__tests__/supabase-rag-engine.test.ts
  src/types/common.ts
  src/types/global.d.ts
  tests/unit/services/ai/UnifiedAIEngineRouter.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Bundle Analyzer 통합 및 Next.js 15 빌드 최적화
  next.config.mjs
  package.json
Due: prettier --write

feat: AI 성능 최적화 및 벤치마크 시스템 구현
  scripts/performance/run-ai-benchmark.js
  src/app/api/ai/performance/benchmark/route.ts
  src/services/ai/distributed-monitoring-dashboard.ts
  src/services/ai/performance-benchmark.ts
  src/services/ai/performance-monitoring-dashboard.ts
  src/services/ai/performance-optimization-engine.ts
  src/services/ai/performance-optimized-query-engine.ts
  src/services/ai/quality-assurance-engine.ts
  src/services/ai/ultra-performance-ai-engine.ts
  test-ai-performance.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: Supabase PostgreSQL 최적화 및 pgvector 설정
  analyze_current_performance.js
  check_actual_schema.js
  check_pgvector_status.js
  check_supabase_config.js
  optimize_rls_policies.sql
  optimize_server_metrics.sql
  optimize_storage.sql
  performance_monitoring.sql
  setup_pgvector.sql
  supabase_direct_optimization.sql
Due: eslint --fix --max-warnings 0, prettier --write

docs: Phase 7-9 성능 최적화 문서 및 배포 체크리스트
  CHANGELOG.md
  docs/ai-performance-optimization-summary-2025-08-10.md
  reports/deployment-checklist-phase9.md
  reports/performance-optimization-phase8.md
  reports/performance/ai-performance-analysis-2025-08-10.md
Due: prettier --write

chore: 프로젝트 설정 업데이트 및 시스템 컴포넌트 개선
  .claude/agents/security-auditor.md
  .claude/issues/gcp-vm-specialist-performance-evaluation-2025-08-10.md
  .claude/issues/vercel-platform-analysis-2025-08-10-2410.md
  .github/workflows/security-review.yml
  CLAUDE.md
  src/app/test/supabase-realtime/page.tsx
  src/components/admin/PerformanceDashboard.tabs.tsx
  src/components/unified-profile/unified-profile/services/AuthenticationService.ts
  src/config/system-components.ts
  src/context/advanced-context-manager.ts
  src/context/basic-context-manager.ts
  src/core/system/SystemWatchdog.ts
  src/core/system/process-configs.ts
  src/polyfills.ts
  src/services/ai/edge/edge-cache.ts
  src/services/ai/query-cache-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: GCP CLI 파일을 .gitignore에 추가
  .gitignore
Due: none

chore: VS Code 설정 최적화로 Git 성능 개선
  .vscode/settings.json
Due: prettier --write

fix: quickBenchmark 함수 반환 타입 수정 - BenchmarkReport에 type 속성 추가
  src/app/api/ai/performance/benchmark/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: Claude Code 팀 공유 설정 추가 - 프로젝트별 권한 설정 공유
  .claude/settings.json
Due: prettier --write

feat: Git 푸시 상태 확인 자동화 스크립트 추가
  CLAUDE.md
  package.json
  scripts/git/check-push-status.sh
Due: prettier --write

fix: startRealTimeMonitoring 메서드 타입 수정
  src/services/ai/performance-benchmark.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Serena MCP 시작 메시지 최적화
  CHANGELOG.md
  docs/serena-startup-optimization-guide.md
  scripts/serena/optimize-startup.sh
  scripts/serena/setup-alias.sh
Due: prettier --write

fix: quickBenchmark 함수 반환 타입 수정 - BenchmarkReport에 type 속성 추가
  src/services/ai/performance-benchmark.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: 벤치마크 route에서 type 속성 중복 제거
  src/app/api/ai/performance/benchmark/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: BenchmarkReport를 BenchmarkResult로 할당 시 타입 에러 해결
  src/app/api/ai/performance/benchmark/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: MCP sync API 타입 에러 해결
  src/app/api/mcp/context-integration/sync/route.ts
  src/schemas/api.mcp.schema.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: syncResult.errors undefined 타입 에러 수정
  src/app/api/mcp/context-integration/sync/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: ServerProcess status 타입 에러 수정
  src/app/api/servers/[id]/processes/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: generateMemoryRecommendations 함수 파라미터 타입 수정
  src/app/api/system/optimize/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: getMemoryStatusHandler에서 함수 호출 방식 수정
  src/app/api/system/optimize/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: catch 블록 err 타입 에러 수정
  src/app/test/supabase-realtime/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: networkInfo 타입 정의 추가
  src/utils/network-tracking.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Supabase select 반환 타입 캐스팅 추가
  src/context/advanced-context-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: 타입 캐스팅 시 unknown 경유 추가
  src/context/advanced-context-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Vercel TypeScript 배포 문제 해결 - 빌드 전용 tsconfig 분리 및 조건부 타입 체크 설정
  docs/vercel-typescript-fix-guide.md
  next.config.mjs
  package.json
  scripts/vercel-typescript-fix.sh
  tsconfig.build.json
Due: prettier --write

docs: Vercel 배포 성공 및 버전 업데이트 (v5.66.36)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: 하드코딩된 패스워드 오탐지 문제 해결
  src/services/ai/__tests__/ai-security.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: 대규모 시스템 개선 - TypeScript 에러 해결, 캐시 통합, 서브에이전트 강화
  .claude/agents/codex-cli-partner.md
  .claude/agents/ux-performance-optimizer.md
  .claude/issues/gcp-vm-optimization-analysis-2025-08-12.md
  .claude/issues/vercel-edge-runtime-analysis-2025-08-12-1216.md
  .claude/test-all-agents.sh
  CLAUDE.md
  README.md
  docs/archive/ai-system-unified-guide.md
  docs/cache-migration-guide.md
  docs/claude-config-mismatch-analysis.md
  docs/gcp/gcp-vm-backend-analysis-2025-08-10.md
  docs/gcp/gcp-vm-recovery-guide.md
  docs/npm-global-config-guide.md
  docs/performance-optimization-guide.md
  docs/reports/PHASE2_OPTIMIZATION_REPORT.md
  docs/reports/TEST_SYSTEM_EVALUATION_REPORT.md
  docs/reports/test-metadata-report.md
  docs/wsl-claude-code-guide.md
  next.config.performance.mjs
  scripts/check-claude-environment.sh
  src/app/api/ai/incident-report/__tests__/incident-report.test.ts
  src/app/layout.performance.tsx
  src/components/performance/LazyComponentLoader.tsx
  src/components/performance/OptimizedAnimations.tsx
  src/components/performance/PerformanceMonitor.tsx
  src/config/performance-optimization.ts
  src/config/system-components.ts
  src/hooks/api/useRealtimeServers.ts
  src/hooks/useAIAssistantData.ts
  src/lib/cache-helper.ts
  src/lib/unified-cache.ts
  src/polyfills.ts
  src/services/ai/performance-monitoring-dashboard.ts
  src/styles/critical.css
  src/types/performance.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: Gemini/Codex를 올라운더 AI 개발 도구로 재정의
  .claude/agents/codex-cli-partner.md
  CLAUDE.md
  GEMINI.md
  docs/ai-cli-collaboration-strategy.md
Due: prettier --write

feat: 종합 최적화 및 개선 작업 완료
  docs/file-modularization-guide.md
  docs/wsl-path-optimization-guide.md
  next.config.optimized.mjs
  package.optimized.json
  scripts/bundle-optimizer.js
  scripts/file-size-monitor.js
  src/app/api/ai/ultra-fast/route.ts
  src/app/main/page.optimized.tsx
  src/components/home/FeatureCardsOptimized.tsx
  src/components/performance/OptimizedLazyLoader.tsx
  src/lib/bundle-optimization.ts
  src/services/ai/ai-performance-integration-test.ts
  src/services/ai/ai-performance-summary.md
  src/services/ai/performance-metrics-engine.ts
  src/services/ai/streaming-ai-engine.ts
  src/services/ai/ultrafast-ai-router.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Tavily MCP 고급 활용 가이드 작성 및 문서 체계 개선
  CHANGELOG.md
  CLAUDE.md
  docs/tavily-mcp-advanced-guide.md
  docs/tavily-mcp-troubleshooting.md
Due: prettier --write

refactor: MCP 서버 Windows 완전 통합 및 3-way → 2-way AI 협업 전환
  .claude/agents/codex-cli-partner.md
  .claude/test-all-agents.sh
  .vscode/settings.json
  CLAUDE.md
  docs/3-way-ai-collaboration-guide.md
  docs/README.md
  docs/ai-cli-collaboration-strategy.md
  docs/mcp-environment-variables-guide.md
  docs/mcp-improvement-report.md
  docs/mcp-setup-status.md
  docs/mcp-usage-guide-2025.md
  docs/sub-agents-comprehensive-guide.md
  docs/windows-mcp-complete-installation-guide.md
  package-lock.json
  scripts/add-missing-mcp-servers.ps1
  scripts/fix-mcp-env-direct.ps1
  scripts/fix-mcp-servers-windows-complete.ps1
  scripts/fix-mcp-servers-windows.ps1
  scripts/install-all-mcp-servers.ps1
  scripts/install-all-mcp-servers.sh
  scripts/load-mcp-env.ps1
  scripts/load-mcp-env.sh
  scripts/setup-mcp-complete.ps1
  scripts/setup-mcp-env-windows.ps1
  scripts/setup-mcp-windows-powershell.ps1
  scripts/setup-mcp-windows.bat
  scripts/start-claude-with-mcp.ps1
  scripts/start-claude-with-mcp.sh
  scripts/update-mcp-env.ps1
  test-agents.sh
Due: prettier --write

refactor: WSL 전용 설정을 Windows Native 환경으로 완전 전환
  .claude/MCP-MIGRATION-COMPLETE.md
  .claude/MCP-RESET-GUIDE.md
  .claude/README.md
  .claude/check-mcp-status.sh
  .claude/monitor-mcp-health.sh
  .claude/settings.json
  .claude/setup-mcp-env.sh
  .serena-project.yml
  .vscode/settings.json
  CLAUDE.md
  docs/archive/wsl-legacy/wsl-claude-code-guide.md
  docs/archive/wsl-legacy/wsl-optimization-analysis-report.md
  docs/archive/wsl-legacy/wsl-path-optimization-guide.md
  docs/archive/wsl-legacy/wsl-terminal-optimization.md
  docs/windows-native-setup-guide.md
  docs/wsl-to-windows-migration-summary.md
  scripts/archive/wsl-legacy/.tmux.conf
  scripts/archive/wsl-legacy/.wslconfig-template
  scripts/archive/wsl-legacy/.wslconfig.example
  scripts/archive/wsl-legacy/MIGRATION_NOTICE.md
  scripts/archive/wsl-legacy/README-WSL.md
  scripts/archive/wsl-legacy/dev-tmux-enhanced.sh
  scripts/archive/wsl-legacy/dev-tmux.sh
  scripts/archive/wsl-legacy/fix-clock-sync.sh
  scripts/archive/wsl-legacy/restart-claude-wsl.sh
  scripts/archive/wsl-legacy/setup-claude-aliases.sh
  scripts/archive/wsl-legacy/wsl-performance.sh
Due: prettier --write

fix: 추가 린트 및 타입스크립트 에러 개선
  src/app/api/ai/edge-v2/route.ts
  src/utils/TechStackAnalyzer.parser.ts
  src/utils/smart-cache.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
