Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

📚 docs: React Error #310 근본 원인 분석 및 재발 방지 대책 완성
  docs/development/dependency-array-checklist.md
  docs/development/post-mortem-react-error-310.md
  package.json
  scripts/dev/check-hook-deps.mjs
Due: prettier --write

🔧 fix: React Error #310 완전 해결 및 타입 안전성 강화 - AI 교차검증 기반
  src/app/api/ai-analysis/route.ts
  src/app/api/servers/all/route.ts
  src/app/main/page.tsx
  src/hooks/useSystemControl.ts
Due: eslint --fix --max-warnings 0, prettier --write

⚡ feat: 시스템 상태 실시간 동기화 및 타이머 UX 개선 - AI 교차검증 기반
  src/components/shared/UnifiedProfileHeader.tsx
  src/hooks/useSystemAutoShutdown.ts
  src/hooks/useSystemStatus.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: useUnifiedTimer 고성능 최적화 및 BF-Cache 호환성 완성
  CLAUDE.md
  src/hooks/useUnifiedTimer.ts
Due: eslint --fix --max-warnings 0, prettier --write

⚡ feat: AI 교차검증 시스템 v2.0 완전 개선 및 최적화
  .claude/agents/ai-systems-specialist.md
  .claude/agents/ai-verification-coordinator.md
  .claude/agents/central-supervisor.md
  .claude/agents/codex-wrapper.md
  .claude/agents/database-administrator.md
  .claude/agents/external-ai-orchestrator.md
  .claude/agents/gcp-cloud-functions-specialist.md
  .claude/agents/gemini-wrapper.md
  .claude/agents/git-cicd-specialist.md
  .claude/agents/mcp-server-administrator.md
  .claude/agents/quality-control-specialist.md
  .claude/agents/qwen-wrapper.md
  .claude/agents/security-auditor.md
  .claude/agents/ux-performance-specialist.md
  .claude/agents/verification-specialist.md
Due: prettier --write

🤖 feat: 자동 CHANGELOG 갱신 시스템 구축 완료 - documentation-manager 연동
  .claude/changelog.config.sh
  .claude/generate-verification-report.sh
  .claude/hooks/post-commit.sh
  .claude/hooks/post-verification-logging.sh
  .husky/post-commit
  CHANGELOG.md
  docs/development/auto-changelog-guide.md
  scripts/auto-documentation-update.sh
  scripts/update-changelog.sh
Due: prettier --write

🛠️ feat: Claude Code 터미널 스크롤 문제 완전 해결 시스템 구축
  .bashrc_claude_additions
  .claude/changelog.config.sh
  .claude/terminal-scroll-fix.sh
  CHANGELOG.md
  README.md
  docs/troubleshooting/claude-code-scroll-fix-guide.md
  package.json
Due: prettier --write

🎯 feat: 포트폴리오용 서버 시스템 최적화 완료 - Phase 3 개선
  package-lock.json
  src/app/dashboard/DashboardClient.tsx
  src/components/dashboard/DashboardHeader.tsx
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/dashboard/OptimizedDashboard.tsx
  src/domains/ai-sidebar/components/AISidebarV3.tsx
  src/stores/useAISidebarStore.ts
  src/styles/globals.css
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: Vercel 배포 오류 해결 - design-tokens import 경로 수정
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: design-tokens 상대 경로 복원 - Vercel 빌드 호환성 개선
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: 포트폴리오용 서버 시스템 최적화 완료 - Phase 3 개선
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: 서브에이전트 시스템 완전 최적화 달성 - v5.72.0
  .claude/agents/ai-verification-coordinator.md
  .claude/agents/codex-wrapper.md
  .claude/agents/gcp-cloud-functions-specialist.md
  .claude/agents/gemini-wrapper.md
  .claude/agents/qwen-wrapper.md
  CHANGELOG.md
  CLAUDE.md
  config/testing/vitest.config.simple.ts
  next.config.mjs
  package.json
  src/app/api/servers/__tests__/route.test.ts
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/dashboard/__tests__/ImprovedServerCard.test.tsx
  src/middleware.ts
  src/styles/design-constants.ts
  src/utils/__tests__/metricValidation.test.ts
  tests/e2e/basic-smoke.spec.ts
  tsconfig.json
  vercel-optimization-recommendations.json
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: AI 어시스턴트 로컬 모드 완전 독립성 확보 - v5.73.0
  CHANGELOG.md
  docs/architecture/system-design-blueprint-v5.md
  docs/improvement/action-items-roadmap.md
  docs/requirements/user-requirements-validation.md
  next.config.mjs
  src/app/api/ai/ml/train/route.ts
  src/services/ai/SimplifiedQueryEngine.processors.localai.ts
  src/services/ai/SimplifiedQueryEngine.ts
  src/services/ai/__tests__/ai-integration-verification.test.ts
  src/services/ai/__tests__/local-ai-independence.test.ts
  src/services/ai/embedding-service.ts
  src/services/ai/postgres-vector-db.ts
  src/services/ai/supabase-rag-engine.ts
  supabase/migrations/20250906_upgrade_to_hnsw_index.sql
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: GCP Functions 최적화 완료 - Phase 1&2 구현
  CHANGELOG.md
  src/lib/gcp/gcp-functions-client.ts
  src/lib/gcp/resilient-ai-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: CHANGELOG.md 자동 업데이트 - v5.75.0
  CHANGELOG.md
Due: prettier --write

📚 docs: CHANGELOG.md v5.75.1 자동 업데이트 완료
  CHANGELOG.md
Due: prettier --write

📚 docs: CHANGELOG.md 최종 정리 - v5.75.2
  CHANGELOG.md
Due: prettier --write

📚 docs: CHANGELOG.md v5.75.3 최종 완성
  CHANGELOG.md
Due: prettier --write

🔧 fix: pre-commit hook으로 CHANGELOG 자동 업데이트 이전 - post-commit 잔여 변경사항 해결
  .claude/hooks/post-commit.sh
  CHANGELOG.md
Due: prettier --write

✨ feat: pre-commit hook CHANGELOG 자동 업데이트 테스트
  test-changelog-update.txt
Due: none

🐛 fix: CHANGELOG pre-commit hook 디버그 모드 활성화 및 테스트
  .claude/changelog.config.sh
  test-changelog-update.txt
  test-debug.txt
Due: none

✨ feat: prepare-commit-msg hook으로 CHANGELOG 자동 업데이트 테스트
  test-prepare-commit-msg.txt
Due: none

🧹 chore: 테스트 파일 정리 및 CHANGELOG hook 시스템 완성
  CHANGELOG.md
  test-debug.txt
Due: prettier --write

🎉 feat: CHANGELOG 자동 업데이트 시스템 완성 - 커밋 후 unstaged 변경사항 제로 달성
  FINAL-TEST.md
Due: prettier --write

🔧 fix: post-commit hook으로 CHANGELOG amend 시스템 구현 - 완전한 자동화
  .claude/hooks/post-commit.sh
  CHANGELOG.md
Due: prettier --write

🎯 feat: 스마트 CHANGELOG 자동 업데이트 시스템 완성 - 무한 루프 해결 및 예측 기반 업데이트
  .claude/hooks/post-commit.sh
  .claude/hooks/post-commit.sh.disabled
  CHANGELOG.md
Due: prettier --write

🧪 test: 스마트 CHANGELOG 예측 시스템 테스트
  test-smart-changelog.txt
Due: none

🐛 fix: AI 교차검증 기반 코드 품질 개선 완료
  config/testing/vitest.config.minimal.ts
  config/testing/vitest.config.simple.ts
  docs/system-architecture.md
  package.json
  src/app/api/ai/ml/train/route.ts
  src/lib/gcp/resilient-ai-client.ts
  src/middleware.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

🚀 fix: Vercel 배포 실패 해결 - middleware runtime 수정
  src/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Vercel 배포 오류 해결 - middleware runtime 설정 충돌 제거
  vercel.json
Due: prettier --write

🔧 fix: middleware runtime 'experimental-edge'로 수정 - Vercel 빌드 호환
  src/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: optimizeCss 비활성화로 critters 의존성 오류 해결
  next.config.mjs
Due: none

📚 docs: system-architecture.md v5.70.11 업데이트 - Vercel 배포 최적화 및 TypeScript 에러 해결 반영
  docs/system-architecture.md
Due: prettier --write

🔧 fix: 미들웨어 런타임 설정 비활성화 - Vercel Next.js 15.5.0 호환성
  src/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: package.json 중복 스크립트 제거 - test:coverage 중복 해결
  package.json
Due: prettier --write

🔧 fix: Critical TypeScript 에러 18개 수정 (370→352개)
  src/app/api/ai/insight-center/insight-center.performance.ts
  src/app/api/ai/insight-center/insight-center.security.ts
  src/app/api/ai/intelligent-monitoring/route.ts
  src/app/api/ai/performance/route.ts
  src/app/api/ai/rag/benchmark/route.ts
  src/app/api/ai/raw-metrics/route.ts
  src/app/api/servers/all/route.ts
  src/app/api/version/route.ts
  src/app/api/vm-dashboard/route.ts
  src/middleware.ts.disabled
  src/mock/mockDataGenerator.ts
  src/services/ai/SimplifiedQueryEngine.processors.localai.ts
  src/utils/server-metrics-adapter.ts
Due: eslint --fix --max-warnings 0, prettier --write

♻️ refactor: API 중복 제거 및 아키텍처 최적화 (81→74개)
  src/app/api/ai/edge/route.ts
  src/app/api/ai/thinking/stream/route.ts
  src/app/api/dashboard-optimized/route.ts
  src/app/api/data/servers/route.ts
  src/app/api/servers-optimized/route.ts
  src/app/api/v2/servers/route.ts
  src/app/api/vm-dashboard/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: 지속적 Vercel 배포 안정성 시스템 구축 완성
  .vercel-deploy-check.sh
  package.json
  scripts/vercel-safe-deploy.js
  src/app/login/LoginClient.tsx
  src/components/ai/EnhancedThinkingView.tsx
  src/components/charts/AlertsChart.tsx
  src/components/charts/PerformanceChart.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Critical TypeScript 에러 86% 해결 완료 (382→53개)
  src/components/ai/RealTimeLogMonitor.tsx
  src/components/dashboard/EnhancedServerModal.components.tsx
  src/components/dashboard/EnhancedServerModal.tsx
  src/components/dashboard/EnhancedServerModal.utils.ts
  src/components/dashboard/NetworkMonitoringCard.tsx
  src/components/dashboard/transition/SystemChecklist.tsx
  src/components/performance/LazyComponentLoader.tsx
  src/components/performance/PerformanceMonitor.tsx
  src/config/commands/index.ts
  src/config/serverConfig.ts
  src/constants/serverStatusColors.ts
  src/hooks/useIntersectionObserver.ts
  src/lib/config/runtime-env-decryptor.ts
  src/lib/mock-scenarios/index.ts
  src/services/LoggingService.ts
  src/services/ai/ultrafast-ai-router.ts
  src/services/time/TimeRotationService.ts
Due: eslint --fix --max-warnings 0, prettier --write
