Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

docs(tech-stacks): Vibe Coding 모달 데이터 현행화
  src/data/tech-stacks.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ui): GitHub 로그인 메뉴 description 제거
  src/components/shared/UnifiedProfileHeader.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ui): 로딩 애니메이션 활성화 및 loading.tsx 추가
  src/app/dashboard/loading.tsx
  src/app/loading.tsx
  src/app/main/loading.tsx
  src/app/system-boot/components/BootProgressBar.tsx
  src/app/system-boot/components/SmoothLoadingSpinner.tsx
  src/components/home/MainPageSkeleton.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(ui): dashboard loading.tsx 포맷 정리
  src/app/dashboard/loading.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ui): SystemBootClient 로딩 애니메이션 활성화
  src/app/system-boot/SystemBootClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ui): 4개 컴포넌트 애니메이션 클래스 활성화
  src/components/emergency/EmergencyBanner.tsx
  src/components/home/FeatureCardsGrid.tsx
  src/components/unified-profile/EnhancedProfileStatusDisplay.tsx
  src/utils/system-status-formatters.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ui): 10개 핵심 컴포넌트 애니메이션 클래스 활성화
  src/app/login/LoginClient.tsx
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/pages/AutoReportPage.tsx
  src/components/ai/pages/IntelligentMonitoringPage.tsx
  src/components/dashboard/SystemStatusDisplay.tsx
  src/components/dashboard/transition/SystemChecklist.tsx
  src/components/shared/UnifiedCircularGauge.tsx
  src/components/shared/UnifiedProfileHeader.tsx
  src/components/system/NotificationToast.tsx
  src/components/ui/AdvancedNotificationSystem.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ui): enable disabled Tailwind CSS animations
  src/app/auth/success/page.tsx
  src/app/main/page-optimized.tsx
  src/components/ai/AutoReportPanel.tsx
  src/components/auth/AutoLogoutWarning.tsx
  src/components/dashboard/server-detail/CircularGauge.tsx
  src/components/dashboard/server-detail/ServerDetailNetwork.tsx
  src/components/home/sedJh4ZyU
  src/components/ui/accordion.tsx
  src/components/ui/card.stories.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.stories.tsx
  src/components/ui/popover.tsx
  src/components/ui/sedIfVMZv
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/toast.tsx
  src/components/ui/tooltip.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(boot): 순수 타이머 기반 로딩으로 단순화
  src/app/system-boot/SystemBootClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor(dashboard): 정적 분석 기반 대시보드 코드 개선
  .claude/agents/documentation-manager.md
  CLAUDE.md
  src/app/dashboard/DashboardClient.tsx
  src/components/dashboard/ServerDashboard.tsx
  src/hooks/dashboard/useServerStats.ts
  src/stores/serverDataStore.ts
  src/stores/useUnifiedAdminStore.ts
  src/types/dashboard/server-dashboard.types.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(architecture): 대시보드 아키텍처 다이어그램 추가 + 포맷팅
  docs/architecture/system/dashboard-architecture.mmd
  docs/architecture/system/dashboard-architecture.png
  src/hooks/dashboard/useServerStats.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai-review): wrapper 스크립트 실행 시 bash 명시적 사용
  scripts/code-review/lib/ai-review-core.sh
Due: none

docs: AI 코드 리뷰 시스템 v6.4.0 문서 동기화
  AGENTS.md
  CLAUDE.md
  config/ai/registry-core.yaml
  docs/ai/README.md
  docs/ai/ai-benchmarks.md
  docs/ai/ai-usage-guidelines.md
  docs/analysis/ai-tool-comparison.md
  docs/development/ai-tools-setup.md
  docs/environment/tools/ai-tools/README.md
  docs/environment/tools/ai-tools/ai-benchmarks.md
  docs/environment/tools/ai-tools/ai-usage-guidelines.md
  docs/status.md
Due: prettier --write

chore: 프로젝트 정리 및 아키텍처 다이어그램 개선
  docs/architecture/system/dashboard-architecture.mmd
  docs/architecture/system/dashboard-architecture.png
  docs/environment/testing/2025-11-23-2312-gemini-dashboard-error.png
  docs/environment/testing/2025-11-23-2312-gemini-landing-page.png
  package.json
  scripts/generate-diagrams.sh
Due: prettier --write

style: Biome 자동 포맷팅 적용
  package.json
Due: prettier --write

docs: 문서 정리 및 스크립트 참조 업데이트
  CLAUDE.md
  docs/architecture/system/dashboard-architecture.mmd
  docs/development/build-test-strategy.md
  docs/development/claude-workflow-guide.md
  docs/development/performance-optimization-guide.md
  docs/environment/tools/claude-code/claude-workflow-guide.md
  docs/environment/workflows/build-test-strategy.md
  docs/environment/workflows/performance-optimization-guide.md
Due: prettier --write

feat(ai): Gemini 3 Pro로 코드 리뷰 모델 업그레이드
  scripts/ai-subagents/gemini-wrapper.sh
Due: none

feat(mcp): Brave Search MCP 추가 및 filesystem 제거
  CLAUDE.md
  config/ai/registry-core.yaml
  docs/status.md
Due: prettier --write

chore(agents): MCP 설정 동기화 및 웹 검색 도구 추가
  .claude/agents/debugger-specialist.md
  .claude/agents/documentation-manager.md
  .claude/agents/security-specialist.md
  docs/status.md
Due: prettier --write

docs: MCP 서버 12/12 업데이트 - filesystem 제거, brave-search 추가
  docs/development/README.md
  docs/development/mcp/advanced.md
  docs/environment/tools/mcp/advanced.md
  docs/environment/tools/mcp/mcp-configuration.md
  docs/environment/wsl/wsl-optimization.md
Due: prettier --write

docs: MCP 12/12 상태 동기화 및 테스트 문서 현행화
  CLAUDE.md
  docs/development/playwright-mcp-setup-guide.md
  package-lock.json
  package.json
  tests/TESTING.md
Due: prettier --write

chore: remove unused rollup direct dependency
  package-lock.json
  package.json
Due: prettier --write

chore(docs): remove duplicate MCP advanced.md per JBGE principle
  docs/environment/tools/mcp/advanced.md
Due: prettier --write

chore(docs): 메모리 파일 버전 동기화 및 중복 제거
  CLAUDE.md
  docs/status.md
Due: prettier --write

chore(ai): Gemini CLI v0.18.4 → v0.19.1 업데이트
  config/ai/registry-core.yaml
Due: prettier --write

chore: biome cross-platform fix + version sync + cleanup stories
  package-lock.json
  package.json
  public/manifest.json
  src/components/system/SystemStateChecker.stories.tsx
  src/components/ui/alert.stories.tsx
  src/components/ui/badge.stories.tsx
  src/components/ui/button.stories.tsx
  src/components/ui/card.stories.tsx
  src/components/ui/input.stories.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(gitignore): add maintenance/analysis temp files
  .gitignore
Due: none

fix(gitignore): use root-scoped patterns per Codex review
  .gitignore
  config/ai/registry-core.yaml
Due: prettier --write

docs(arch): update dashboard architecture diagram per live inspection
  docs/architecture/system/dashboard-architecture.mmd
Due: none

feat(gcp): maximize free tier utilization
  src/app/api/ai/ml/train/route.ts
  src/app/api/ai/unified-stream/route.ts
  src/components/dashboard/hooks/useServerData.ts
  src/config/free-tier-config.ts
  src/lib/gcp/gcp-functions-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): add insights API and database migrations
  src/app/api/ai/insights/route.ts
  supabase/migrations/20251204_create_ai_feedback_table.sql
  supabase/migrations/20251204_create_ml_training_results_table.sql
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ai): enhance interaction logging + biome fixes
  src/app/api/ai/ml/train/route.ts
  src/components/dashboard/hooks/useServerData.ts
  src/lib/gcp/gcp-functions-client.ts
  src/services/ai-agent/logging/InteractionLogger.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(arch): update ai-sidebar architecture diagram
  docs/core/architecture/ai-assistant-sidebar-architecture.md
  src/app/api/ai/insights/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(ai): update Qwen CLI v0.3.0 → v0.4.0
  config/ai/registry-core.yaml
Due: prettier --write

chore: upgrade Claude Code v2.0.55 → v2.0.60 and sync registry
  CLAUDE.md
  config/ai/registry-core.yaml
  docs/development/claude-workflow-guide.md
  docs/development/mcp/advanced.md
  docs/status.md
  src/data/tech-stacks.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(hooks): add Claude Code Hooks for AI workflow automation
  .claude/hooks/post-commit.sh.disabled
  .claude/settings.json
Due: prettier --write

feat(ai-review): restore 3-AI rotation with Claude CLI fix (v6.7.0)
  .claude/skills/ai-code-review/SKILL.md
  config/ai/registry-core.yaml
  docs/status.md
  scripts/code-review/auto-ai-review.sh
  scripts/code-review/lib/ai-review-core.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: prettier --write

docs(ai): update subagents guide to 9 active agents
  docs/ai/subagents-complete-guide.md
Due: prettier --write

fix(security): update Next.js 15.5.5 → 15.5.7 (CVE-2025-66478)
  package.json
Due: prettier --write

fix(security): patch 4 vulnerabilities (HIGH+MODERATE)
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
