Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

🔧 fix(VectorSearchOptimizer): Apply dependency injection for SSR compatibility
  src/services/ai/performance-optimized-query-engine.ts
  src/services/ai/vector-search-optimizer.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix(SSR): Resolve Supabase client SSR violations with layout-level dynamic forcing
  package.json
  src/app/api/ai/performance/route.ts
  src/app/api/servers-unified/route.ts
  src/app/auth/callback/page.tsx
  src/app/auth/error/page.tsx
  src/app/auth/layout.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/app/main/layout.tsx
  src/app/main/page.tsx
  src/context/advanced-context-manager.ts
  src/context/custom-context-manager.ts
  src/lib/ai/session-storage.ts
  src/lib/auth/supabase-auth.ts
  src/lib/security/rate-limiter.ts
  src/lib/supabase/client.ts
  src/services/ai/SimplifiedQueryEngine.ts
  src/services/ai/postgres-vector-db.ts
  src/services/ai/supabase-rag-engine.ts
  src/services/optimizedMetricsService.ts
  src/services/system/CloudLoggingService.ts
  src/services/system/CloudVersionManager.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix(lint): Apply ESLint fixes for unused types and Promise checks
  src/lib/security/rate-limiter.ts
  src/services/ai/SimplifiedQueryEngine.ts
  src/services/optimizedMetricsService.ts
Due: eslint --fix --max-warnings 0, prettier --write

🛠️ fix(pre-push): Make Vitest tests non-blocking (temporary)
  .husky/pre-push
Due: none

chore: reactivate AI review system and enforce WSL execution
  .husky/pre-commit
  scripts/code-review/auto-ai-review.sh
Due: none

🔧 fix(pre-commit): Add Windows environment detection for AI review
  .husky/pre-commit
Due: none

📝 docs(mcp): Update MCP server count from 9 to 10 with filesystem
  CLAUDE.md
  config/ai/registry-core.yaml
  docs/development/mcp/mcp-priority-guide.md
  docs/status.md
Due: prettier --write

📝 docs: Update settings and MCP server documentation
  .claude/settings.json
  .mcp.json
  docs/ai/subagents-complete-guide.md
  docs/troubleshooting/system-recovery-guide-2025.md
Due: prettier --write

🔧 fix(config): Improve portability and lint strategy
  .claude/settings.json
  .husky/pre-push
  .mcp.json
Due: prettier --write

🐛 fix(hooks): Fix critical lint timing and MCP validation issues
  .husky/pre-push
  scripts/mcp/mcp-health-check.sh
Due: none

🐛 fix(hooks): Fix Codex Round 2 issues (6/10 → 9/10)
  .husky/pre-push
  scripts/mcp/mcp-health-check.sh
Due: none

🐛 fix(hooks): Fix Codex Round 3 issues (8/10 → 9/10)
  .husky/pre-push
Due: none

🔒 fix(hooks): Fix Codex Round 4 security and robustness issues (8/10 → 9/10)
  .husky/pre-push
Due: none

🔧 fix(lint): Fix critical ESLint errors and warnings
  src/domains/ai-sidebar/components/AISidebarV3.tsx
  src/services/ai/postgres-vector-db.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix(hooks): Fix WSL sh compatibility (pipefail not supported)
  .husky/pre-push
Due: none

✅ feat(testing): MSW 구현 완료 및 중복 테스트 정리
  config/testing/msw-setup.ts
  config/testing/vitest.config.main.ts
  docs/testing/msw-guide.md
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/mocks/browser.ts
  src/mocks/handlers/ai/cohere.ts
  src/mocks/handlers/ai/google-ai.ts
  src/mocks/handlers/ai/openai.ts
  src/mocks/handlers/gcp/gcp-vm.ts
  src/mocks/handlers/index.ts
  src/mocks/handlers/nextjs/api-routes.ts
  src/mocks/handlers/supabase/supabase-api.ts
  src/mocks/handlers/vercel/vercel-api.ts
  src/mocks/server.ts
  tests/api/ai/query.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix(mocks): Fix TypeScript TS2698 spread operator error
  src/mocks/handlers/supabase/supabase-api.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 feat(mcp): Add GitHub MCP server configuration
  .mcp.json
Due: prettier --write

🔒 fix(security): Fix GitHub PAT token exposure in .mcp.json
  .mcp.json
Due: prettier --write

🔒 docs(mcp): Add GitHub MCP server & security template
  .mcp.json.example
  CLAUDE.md
  docs/development/mcp/mcp-priority-guide.md
  docs/status.md
Due: prettier --write

⚡ perf(lint): 린트 검사 시스템 최적화 - 타임아웃 제거
  package.json
  scripts/code-review/auto-ai-review.sh
Due: prettier --write

♻️ refactor(ai): AI 모드 선택 UI 제거 - UNIFIED 단일 모드로 통합 (v4.0)
  CLAUDE.md
  config/testing/vitest.config.main.ts
  docs/ai/MODE-SELECTION-REMOVAL.md
  docs/status.md
  docs/testing/test-infrastructure-enhancement-report.md
  src/app/api/ai/query/route.ts
  src/app/api/ai/ultra-fast/route.ts
  src/components/ai/AIEngineTest.tsx
  src/components/ai/AIModeSelector.tsx
  src/components/development/AIEnginesPanel.tsx
  src/components/ui/CompactModeSelector.tsx
  src/domains/ai-sidebar/hooks/useAIEngine.ts
  src/domains/ai-sidebar/services/RealAISidebarService.ts
  src/stores/useAISidebarStore.ts
  src/types/ai-types.ts
  src/utils/migrations/ai-mode-cleanup.ts
  tests/integration/ai-unified-mode.test.ts
  tests/unit/components/FeedbackButtons.test.tsx
  tests/unit/components/ProgressLabel.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🧪 test: 테스트 인프라 강화 - React 컴포넌트 User Event 테스트 도입
  .gitignore
  docs/testing/coverage-analysis-report.md
  docs/testing/react-component-testing-guide.md
  docs/testing/supertest-integration-guide.md
  docs/testing/type-level-testing-guide.md
  package-lock.json
  package.json
  src/components/ai/FeedbackButtons.tsx
  src/test/setup.ts
  tests/e2e/visual/dashboard-visual.spec.ts
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/button-before-click-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/button-hover-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/dashboard-dark-mode-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/dashboard-desktop-1920x1080-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/dashboard-full-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/dashboard-mobile-375x667-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/dashboard-mobile-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/dashboard-scrolled-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/dashboard-tablet-768x1024-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/dashboard-tablet-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/dashboard-viewport-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/page-after-button-click-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/page-before-button-click-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/theme-dark-chromium-linux.png
  tests/e2e/visual/dashboard-visual.spec.ts-snapshots/theme-light-chromium-linux.png
  tests/types/prediction-types.test.ts
  tests/types/server-types.test.ts
  tests/unit/components/AIAssistantButton.test.tsx
  tests/unit/components/FeatureButton.test.tsx
  tests/unit/components/StatusIcon.test.tsx
  tests/unit/components/__snapshots__/ProgressLabel.test.tsx.snap
  tests/unit/components/__snapshots__/StatusIcon.test.tsx.snap
  tests/unit/demo/user-event-demo.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

⚡ perf(hooks): AI 코드 리뷰를 post-commit으로 이동 (백그라운드 실행)
  .husky/post-commit
  .husky/pre-commit
Due: none

🧪 test: Phase 6 - ImprovedServerCard 컴포넌트 User Event 테스트 도입
  docs/testing/test-infrastructure-enhancement-report.md
  tests/unit/components/ImprovedServerCard.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🧪 test: Phase 7 - ResultCard 컴포넌트 User Event 테스트 도입
  docs/testing/test-infrastructure-enhancement-report.md
  tests/unit/components/ResultCard.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): integrate Vercel AI SDK for real-time thinking process and update docs
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package-lock.json
  package.json
  src/app/api/ai/chat/route.ts
  src/app/dashboard/DashboardClient.tsx
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/domains/ai-sidebar/components/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧪 test: Phase 9 - AISidebarContent 컴포넌트 User Event 테스트 도입
  docs/testing/test-infrastructure-enhancement-report.md
  tests/unit/components/AISidebarContent.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): integrate Vercel AI SDK streaming and complete Phase 1-2 documentation
  .mcp.json
  .mcp.json.example
  AGENTS.md
  docs/ai/PHASE1-COMPLETION-REPORT.md
  docs/ai/PHASE2-COMPLETION-REPORT.md
  docs/ai/SIDE-EFFECT-VERIFICATION-REPORT.md
  docs/ai/VERCEL-AI-SDK-ANALYSIS.md
  docs/claude/usage-guide.md
  package.json
  public/mockServiceWorker.js
  scripts/ai-subagents/codex-wrapper.sh
  scripts/ai-subagents/gemini-wrapper.sh
  scripts/code-review/auto-ai-review.sh
  src/app/api/ai/chat/route.ts
  src/app/api/ai/unified-stream/route.ts
  src/components/ai/FeedbackButtons.tsx
  src/components/ai/ThinkingProcessVisualizer.tsx
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/test-review.ts
  tests/unit/components/EnhancedServerModal.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

perf(lint): optimize ESLint/lint-staged for WSL2 performance
  .husky/pre-push
  eslint.config.mjs
  package.json
Due: prettier --write

refactor(lint): move ESLint from pre-push to post-commit only
  .husky/pre-push
Due: none

refactor(workflow): separate validation into background post-commit
  .husky/post-commit
  .husky/pre-push
  scripts/code-review/auto-ai-review.sh
  scripts/lint/run-lint-check.sh
  scripts/typecheck/run-typecheck.sh
Due: none

feat(workflow): add 5min timeout and auto-summary for Claude Code
  .husky/post-commit
  scripts/validation/create-summary.sh
Due: none

feat(ai): add validation-analysis skill and auto-review system
  .claude/skills/validation-analysis/SKILL.md
  scripts/validation/create-summary.sh
Due: prettier --write

test(e2e): add Feature Cards comprehensive E2E tests
  tests/e2e/feature-cards.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): add guest login flow to Feature Cards E2E tests
  tests/e2e/feature-cards.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(data): remove stage4 from history and update current tech stack
  src/components/shared/FeatureCardModal.tsx
  src/data/tech-stacks.data.ts
  tests/e2e/feature-cards.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(e2e): fix Feature Cards test alignment with rendered data
  tests/e2e/feature-cards.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(status): update E2E test count for Feature Cards
  docs/status.md
Due: prettier --write

chore(git): exclude visual regression snapshots from version control
  .gitignore
Due: none
