Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

docs(architecture): 레거시 데이터 정리 및 난개발 방지 시스템 구축
  docs/architecture/DATA_ARCHITECTURE.md
  public/ai-server-data/ai-features/baselines.json
  public/ai-server-data/realtime/current.json
  public/ai-server-data/semantic/keyword-index.json
  public/fallback/servers.json
  public/server-scenarios/afternoon-scenario.json
  public/server-scenarios/evening-scenario.json
  public/server-scenarios/hourly-metrics/00.json
  public/server-scenarios/hourly-metrics/01.json
  public/server-scenarios/hourly-metrics/02.json
  public/server-scenarios/hourly-metrics/03.json
  public/server-scenarios/hourly-metrics/04.json
  public/server-scenarios/hourly-metrics/05.json
  public/server-scenarios/hourly-metrics/06.json
  public/server-scenarios/hourly-metrics/07.json
  public/server-scenarios/hourly-metrics/08.json
  public/server-scenarios/hourly-metrics/09.json
  public/server-scenarios/hourly-metrics/10.json
  public/server-scenarios/hourly-metrics/11.json
  public/server-scenarios/hourly-metrics/12.json
  public/server-scenarios/hourly-metrics/13.json
  public/server-scenarios/hourly-metrics/14.json
  public/server-scenarios/hourly-metrics/15.json
  public/server-scenarios/hourly-metrics/16.json
  public/server-scenarios/hourly-metrics/17.json
  public/server-scenarios/hourly-metrics/18.json
  public/server-scenarios/hourly-metrics/19.json
  public/server-scenarios/hourly-metrics/20.json
  public/server-scenarios/hourly-metrics/21.json
  public/server-scenarios/hourly-metrics/22.json
  public/server-scenarios/hourly-metrics/23.json
  public/server-scenarios/incident-report-template.json
  public/server-scenarios/lunch-peak-scenario.json
  public/server-scenarios/morning-scenario.json
  public/server-scenarios/night-maintenance-scenario.json
  src/mock/README.md
  src/services/data/UnifiedServerDataSource.ts
  src/services/scenario/scenario-loader.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): 테스트 개선 및 import 경로 수정
  config/testing/vitest.config.minimal.ts
  package.json
  src/app/api/test/timezone/route.ts
  src/services/data/UnifiedServerDataSource.ts
  src/utils/__tests__/metricValidation.test.ts
  src/utils/__tests__/utils-functions.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(import): UnifiedServerDataSource import 경로 @ alias로 복원 및 타입 명시
  src/services/data/UnifiedServerDataSource.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(v4.0): useAIEngine Hook 테스트 완전 재작성 (UNIFIED 전용)
  tests/ai-sidebar/useAIEngine.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(lint): ESLint no-floating-promises 에러 수정 (DashboardClient)
  eslint.config.mjs
  lint_output.txt
  package.json
  src/app/api/ai/korean-nlp/route.ts
  src/app/api/ai/ml-analytics/route.ts
  src/app/dashboard/DashboardClient.tsx
  src/mocks/handlers/nextjs/api-routes.ts
  src/stores/serverDataStore.ts
  src/test/setup.ts
  src/types/unified-server.ts
  tests/api/servers.integration.test.ts
  tests/integration/ServerDashboard.test.tsx
  tests/integration/ai-unified-mode.test.ts
  tests/manual/vercel-deployment-verification.spec.ts
  tests/unit/components/__snapshots__/ProgressLabel.test.tsx.snap
  tsconfig.eslint.json
Due: eslint --fix --max-warnings 0, prettier --write

fix(types): TypeScript 컴파일 오류 수정 (5개 오류 해결)
  src/services/ai/IntelligentMonitoringService.ts
  src/stores/serverDataStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(build): Vercel 배포 수정 - generate:server-data 스크립트 제거
  package.json
Due: prettier --write

fix(types): EnhancedServerMetrics 타입 정의 보완 및 ESLint 수정 (24+4개 오류 해결)
  src/app/api/servers-unified/route.ts
  src/components/dashboard/AISidebarContent.tsx
  src/services/ai/IntelligentMonitoringService.ts
  src/services/data/UnifiedServerDataSource.ts
  src/stores/serverDataStore.ts
  src/types/server.ts
  src/types/unified-server.ts
  src/utils/serverUtils.ts
  tsc_output.txt
Due: eslint --fix --max-warnings 0, prettier --write

fix(types): AISidebarContent 타입 에러 수정 (undefined 처리 + aiAnalysis 타입 추가)
  src/services/data/UnifiedServerDataSource.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(types): TypeScript 타입 에러 최종 수정 (AISidebarContent + IntelligentMonitoringService)
  gcp-functions/unified-ai-processor/main.py
  gcp-functions/unified-ai-processor/requirements.txt
  src/components/dashboard/AISidebarContent.tsx
  src/services/ai/IntelligentMonitoringService.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(cleanup): 코드 품질 개선 (import 정리, ESLint 수정, 테스트 개선)
  lint_output.txt
  src/app/api/servers-unified/route.ts
  src/lib/mock/providers/GCPMock.ts
  tests/unit/services/supabase/ResilientSupabaseClient.test.ts
  tests/unit/utils-functions.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: cleanup legacy code and redundant types
  src/app/api/test/timezone/route.ts
  src/mock/fixedHourlyData.ts
  src/mock/index.ts
  src/services/time/TimeRotationService.ts
  src/types/server-metrics/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(biome): Biome 설정 v2.3.8로 마이그레이션 완료
  biome.json
Due: prettier --write

style(tests): apply Biome v2.3.8 formatting to test files
  tests/e2e/web-vitals-real.spec.ts
  tests/integration/ServerDashboard.test.tsx
  tests/integration/ai-metrics-integration.test.ts
  tests/unit/components/AIAssistantButton.test.tsx
  tests/unit/components/AISidebarContent.test.tsx
  tests/unit/components/ImprovedServerCard.test.tsx
  tests/unit/components/ProgressLabel.test.tsx
  tests/unit/demo/user-event-demo.test.tsx
  tests/unit/lib/ai/metrics/AIMetricsCollector.test.ts
  tests/unit/services/security-service-enhanced.test.ts
  tests/unit/services/supabase/SupabaseTimeSeriesManager.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(components): apply Biome v2.3.8 formatting
  src/components/accessibility/AriaLabels.tsx
  src/components/accessibility/KeyboardNavigation.tsx
  src/components/ai/DynamicPresets.tsx
  src/components/ai/RealTimeLogMonitor.tsx
  src/components/ai/pages/InfrastructureOverviewPage.tsx
  src/components/ai/pages/MLLearningCenter.tsx
  src/components/dashboard/AISidebarContent.tsx
  src/components/dashboard/EnhancedServerModal.tsx
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/dashboard/NetworkMonitoringCard.tsx
  src/components/dashboard/transition/SystemBootSequence.tsx
  src/components/dashboard/transition/SystemChecklist.tsx
  src/components/development/AuthStatusChecker.tsx
  src/components/home/FeatureCardsGrid.tsx
  src/components/mobile/MobileServerSheet.tsx
  src/components/performance/LazyComponentLoader.tsx
  src/components/performance/OptimizedAnimations.tsx
  src/components/performance/OptimizedLazyLoader.tsx
  src/components/security/SecurityDashboard.tsx
  src/components/shared/ServerMetricsChart.tsx
  src/components/shared/ServerStatusIndicator.tsx
  src/components/system/NotificationToast.tsx
  src/components/system/SystemStateChecker.tsx
  src/components/unified-profile/UnifiedSettingsPanel.tsx
  src/components/unified-profile/components/ProfileAvatar.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(hooks): apply Biome v2.3.8 formatting
  src/hooks/useAuth.ts
  src/hooks/useAutoLogout.ts
  src/hooks/useErrorMonitoring.ts
  src/hooks/useOptimizedRealtime.ts
  src/hooks/useSimulationProgress.ts
  src/hooks/useSystemAlerts.ts
  src/hooks/useSystemAutoShutdown.ts
  src/hooks/useSystemChecklist.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(lib): apply Biome v2.3.8 formatting
  src/lib/DataRetentionScheduler.ts
  src/lib/ab-test-manager.ts
  src/lib/ai/errors/AIErrorHandler.ts
  src/lib/ai/utils/QueryComplexityAnalyzer.ts
  src/lib/auth/supabase-auth.ts
  src/lib/bundle-optimization.tsx
  src/lib/mock/SmartFallback.ts
  src/lib/mock/core/MockLogger.ts
  src/lib/mock/providers/SupabaseMock.ts
  src/lib/runtime/edge-runtime-utils.ts
  src/lib/security/rate-limiter.ts
  src/lib/supabase/server.ts
  src/lib/utils/time.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(services): apply Biome v2.3.8 formatting
  src/services/UnifiedMetricsManager.aiAnalyzer.ts
  src/services/ai/adapters/supabase-realtime-adapter.ts
  src/services/ai/vector-search-optimizer.ts
  src/services/error-handling/ErrorHandlingService.ts
  src/services/error-handling/recovery/RecoveryService.ts
  src/services/metrics/EnrichedMetricsGenerator.ts
  src/services/metrics/variation-generator.ts
  src/services/rag/memory-rag-cache.ts
  src/services/sse/SSEConnectionPool.ts
  src/services/websocket/WebSocketManager.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(utils,types): apply Biome v2.3.8 formatting
  src/context/advanced-context-manager.ts
  src/context/custom-context-manager.ts
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/types/system-checklist.ts
  src/types/system-checklist.types.ts
  src/utils/ModeTimerManager.ts
  src/utils/TechStackAnalyzer.parser.ts
  src/utils/VercelPlanDetector.ts
  src/utils/chart-performance-benchmark.ts
  src/utils/dev-key-manager.ts
  src/utils/encoding-fix.ts
  src/utils/environment-security.ts
  src/utils/performance-monitor.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(app,config): apply Biome v2.3.8 formatting and cleanup
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/ai/logging/stream/route.ts
  src/app/auth/success/page.tsx
  src/app/system-boot/SystemBootClient.tsx
  src/test/helpers/supabase-mock.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove tsc_output.txt
  tsc_output.txt
Due: none

feat: AI 리뷰에 문서/테스트 검증 경고 연동
  .husky/pre-commit-doc-validation
  scripts/code-review/lib/ai-review-core.sh
Due: none

chore: add Biome/lint report files to .gitignore
  .gitignore
Due: none

style(tests): apply additional Biome v2.3.8 formatting
  tests/integration/ServerDashboard.test.tsx
  tests/unit/components/AISidebarContent.test.tsx
  tests/unit/components/ImprovedServerCard.test.tsx
  tests/unit/components/ProgressLabel.test.tsx
  tests/unit/demo/user-event-demo.test.tsx
  tests/unit/services/security-service-enhanced.test.ts
  tests/unit/services/supabase/SupabaseTimeSeriesManager.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(components): apply additional Biome v2.3.8 formatting
  src/components/accessibility/AriaLabels.tsx
  src/components/accessibility/KeyboardNavigation.tsx
  src/components/ai/DynamicPresets.tsx
  src/components/ai/RealTimeLogMonitor.tsx
  src/components/ai/pages/MLLearningCenter.tsx
  src/components/dashboard/transition/SystemBootSequence.tsx
  src/components/dashboard/transition/SystemChecklist.tsx
  src/components/home/FeatureCardsGrid.tsx
  src/components/mobile/MobileServerSheet.tsx
  src/components/performance/OptimizedAnimations.tsx
  src/components/security/SecurityDashboard.tsx
  src/components/system/NotificationToast.tsx
  src/components/unified-profile/UnifiedSettingsPanel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

style(hooks): apply additional Biome v2.3.8 formatting
  src/hooks/useErrorMonitoring.ts
  src/hooks/useSimulationProgress.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(lib): apply additional Biome v2.3.8 formatting
  src/lib/ai/errors/AIErrorHandler.ts
  src/lib/ai/utils/QueryComplexityAnalyzer.ts
  src/lib/runtime/edge-runtime-utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

style(services,utils,app): apply additional Biome v2.3.8 formatting
  src/app/system-boot/SystemBootClient.tsx
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/services/metrics/variation-generator.ts
  src/test/helpers/supabase-mock.ts
  src/utils/VercelPlanDetector.ts
  src/utils/performance-monitor.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(biome): Biome 완전 마이그레이션 및 pre-commit 활성화
  .husky/pre-commit
  package.json
  scripts/code-review/lib/ai-review-split.sh
Due: prettier --write

ci: GitHub Actions를 Biome으로 마이그레이션
  .github/workflows/ci-optimized.yml
  .github/workflows/lint.yml
Due: prettier --write

fix(biome): resolve circular dependency in useAutoLogout
  src/hooks/useAutoLogout.ts
  src/services/error-handling/ErrorHandlingService.ts
  src/services/error-handling/recovery/RecoveryService.ts
  tests/manual/vercel-deployment-verification.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(critical): resolve AI code review findings (3 bugs)
  src/hooks/useAutoLogout.ts
  src/services/error-handling/ErrorHandlingService.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove unused DefaultErrorHandlers import
  src/services/error-handling/ErrorHandlingService.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(biome): resolve 9 actionable warnings (17→8)
  src/stores/useDashboardToggleStore.ts
  tests/unit/components/AIAssistantButton.test.tsx
  tests/unit/components/ImprovedServerCard.test.tsx
  tests/unit/components/ProgressLabel.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: update package-lock.json for Biome binary (win32→linux)
  package-lock.json
Due: prettier --write

docs: add code quality and security roadmaps
  docs/code-quality/biome-warnings-roadmap.md
  docs/security/localStorage-to-cookie-migration.md
Due: prettier --write

fix(biome): support both Windows and WSL environments
  package.json
  src/components/shared/AnomalyFeed.tsx
  src/modules/performance-monitor/components/PerformanceMonitor.tsx
Due: eslint --fix --max-warnings 0, prettier --write

security: implement signed session IDs and enhanced CSP headers
  next.config.mjs
  package-lock.json
  package.json
  src/lib/auth/auth-state-manager.ts
  src/lib/auth/supabase-auth.ts
  src/utils/session-security.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
