Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Web Worker 임계값 15개 서버 환경 최적화 - 10개 이상 활성화
  src/hooks/useServerDashboard.ts
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ fix: Web Worker useMemo 비동기 처리 오류 해결 - 서버 카드 에러 수정
  src/hooks/useServerDashboard.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 베르셀 환경 서버 카드 오류 Critical Fix 적용
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ fix: 서버 카드 TypeError 근본 해결 - serverTypeGuards.getAlerts 사용
  src/hooks/useServerDashboard.ts
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ fix: ImprovedServerCard 5층 방어 시스템 구축 완료
  src/components/dashboard/ImprovedServerCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🎨 fix: 네트워크 메트릭 임계값 조정 - 녹색 그래프 주황색 혼재 문제 해결
  src/components/dashboard/EnhancedServerModal.utils.ts
  src/utils/serverUtils.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 네트워크 임계값 사이드 이펙트 완전 해결 - 4개 파일 일관성 통일
  docs/guides/simulation.md
  src/constants/serverStatusColors.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 서버 상태 표시 오류 및 색상 시스템 완전 수정
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/shared/ServerMetricsLineChart.tsx
  src/styles/design-constants.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 서버 상태 표시 및 임계값 일관성 문제 해결
  src/adapters/server-data-adapter.ts
  src/components/dashboard/EnhancedServerModal.tsx
  src/components/dashboard/SafeServerCard.tsx
  src/components/shared/ServerMetricsBarChart.tsx
  src/components/shared/UnifiedCircularGauge.tsx
  src/services/UnifiedMetricsManager.types.ts
  src/types/server-enums.ts
  src/utils/metricValidation.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 서버 상태 일관성 확보 - offline/healthy → unknown/online 통일
  src/adapters/server-data-adapter.ts
  src/hooks/useServerDashboard.ts
  src/utils/serverUtils.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: WSL 환경 최적화 및 베르셀 CLI 통합 완료
  CLAUDE.md
  docs/development/build-test-strategy.md
  docs/development/claude-workflow-guide.md
  docs/development/performance-optimization-guide.md
  package.json
  scripts/wsl-native-dev.sh
Due: prettier --write

⚡ feat: API 성능 최적화 및 안정성 개선
  scripts/wsl-native-dev.sh
  src/app/api/cache/optimize/route.ts
  src/app/api/health/route.ts
  src/app/api/servers/[id]/route.ts
  src/app/api/servers/next/route.ts
  src/app/api/servers/realtime/route.ts
  src/context/basic-context-manager.ts
  src/lib/supabase-singleton.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: .dev-server.pid 파일 git 추적에서 제외
  .gitignore
Due: none

🔒 fix: 보안 취약점 수정 및 TypeScript JSX 에러 해결
  docs/architecture/cloud-dependency-risk-assessment.md
  docs/performance/performance-analysis-portfolio-level.md
  docs/security/supabase-security-issues-analysis.md
  src/app/api/debug/env/route.ts
  src/components/dashboard/EnhancedServerModal.components.tsx
  src/components/dashboard/NetworkMonitoringCard.tsx
  src/components/shared/ServerMetricsLineChart.tsx
  src/hooks/useDataLoader.ts
  src/hooks/useServerDashboard.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧪 feat: test-automation-specialist 스마트 진단 시스템 완성
  CLAUDE.md
  package.json
  playwright.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

📝 docs: 관리자 모드 접근 테스트 가이드 추가
  CLAUDE.md
Due: prettier --write

🔧 fix: OAuth 세션 생성 안정성 개선 - 재시도 로직 강화
  src/app/auth/callback/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

⚡ feat: Google AI API 타임아웃 최적화 및 안정성 개선
  src/app/api/ai/query/route.ts
  src/services/ai/DirectGoogleAIService.ts
  src/services/ai/QueryDifficultyAnalyzer.ts
  src/services/ai/SimplifiedQueryEngine.processors.googleai.ts
  src/services/ai/SimplifiedQueryEngine.ts
  src/utils/timeout-config.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔐 feat: 인증 시스템 대폭 개선 - OAuth 안정성 강화
  src/app/admin/AdminClient.tsx
  src/app/auth/callback/page.tsx
  src/app/auth/success/page.tsx
  src/components/auth/AuthTokenHandler.tsx
  src/components/profile/hooks/useProfileSecurity.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐘 feat: Supabase 인증 통합 시스템 개선
  src/lib/supabase-auth-fallback.ts
  src/lib/supabase-auth.ts
  src/lib/supabase-middleware.ts
  src/utils/supabase/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

🤖 feat: AI 엔진 명령어 처리기 및 유틸리티 강화
  src/lib/google-ai-manager.ts
  src/services/ai/SimplifiedQueryEngine.processors.command.ts
  src/services/ai/SimplifiedQueryEngine.utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

🗃️ feat: AI 대화 이력 저장을 위한 데이터베이스 스키마 확장
  supabase/migrations/20250929_add_response_to_query_logs.sql
Due: none

🧪 feat: 종합 E2E 테스트 시스템 완성 및 문서 일관성 개선
  CLAUDE.md
  docs/testing/e2e-testing-guide.md
  package.json
  tests/e2e/comprehensive-user-flow.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Google AI 타임아웃 완전 해결 및 개발 서버 포트 충돌 수정
  package.json
  src/utils/timeout-config.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 refactor: package.json 테스트 스크립트 중복 제거 및 정리
  package.json
Due: prettier --write

📐 feat: 설계도 최신화 완료 - AI 시스템, 테스트 자동화, 인증 시스템 아키텍처 반영
  docs/design/current/authentication-system-architecture.md
  docs/design/current/system-architecture-ai.md
  docs/design/current/test-automation-architecture.md
Due: prettier --write

🚀 feat: 3-AI 교차검증 기반 package.json 최적화 - 성능 5-8% 향상
  package.json
Due: prettier --write

🧪 fix: E2E 테스트 환경변수 지원 추가 및 로컬 테스트 성공
  playwright.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ fix: Zustand 메모리 누수 해결 - useRef 싱글톤을 모듈 레벨 싱글톤으로 변경
  src/components/providers/StoreProvider.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ feat: Zustand 스토어 사이드 이펙트 완전 해결 - 프로덕션 준비 완료
  src/components/providers/StoreProvider.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🚨 fix: GitHub 로그인 후 잘못된 권한 알람 표시 문제 해결
  src/app/dashboard/DashboardClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🤖 feat: AI 어시스턴트 UX 3대 개선 완료
  src/components/ai/ChatSection.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: AIChatPage 시간대 일관성 개선
  src/components/ai/pages/AIChatPage.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🕐 fix: AI 어시스턴트 시간대 버그 해결 - Asia/Seoul 시간대 지정
  src/mock/fixedHourlyData.ts
  src/services/ai/MockContextLoader.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧪 feat: 베르셀 환경 타임존 검증용 테스트 API 추가
  src/app/api/test/timezone/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: Claude Code v2.0.1 업데이트 및 MCP 9/9 완벽 달성 문서화
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  QWEN.md
  docs/ai-tools/subagents-complete-guide.md
Due: prettier --write

🔒 fix: 보안 및 React Hook 규칙 개선
  src/components/dashboard/ImprovedServerCard.tsx
  src/lib/auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎯 refactor: 포트폴리오 시연용 TOTP 데모 코드 복원
  src/lib/auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔒 security: 관리자 PIN 보안 강화
  .claude/agents/code-review-specialist.md
  .claude/agents/codex-specialist.md
  .claude/agents/database-administrator.md
  .claude/agents/debugger-specialist.md
  .claude/agents/dev-environment-manager.md
  .claude/agents/documentation-manager.md
  .claude/agents/gcp-cloud-functions-specialist.md
  .claude/agents/gemini-specialist.md
  .claude/agents/qwen-specialist.md
  .claude/agents/security-specialist.md
  .claude/agents/spec-driven-specialist.md
  .claude/agents/structure-refactor-specialist.md
  .claude/agents/test-automation-specialist.md
  .claude/agents/ui-ux-specialist.md
  .claude/agents/vercel-platform-specialist.md
  CLAUDE.md
  docs/ai-tools/subagents-complete-guide.md
  docs/design/current/authentication-system-architecture.md
  src/app/api/test/admin-auth/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

♻️ refactor: ServerStatus 타입 통합 (Single Source of Truth)
  .claude/ai-cross-verification-typescript-types-2025-09-30.md
  src/app/api/ai/query/route.ts
  src/app/api/ai/raw-metrics/route.ts
  src/hooks/useServerDashboard.ts
  src/hooks/useWorkerStats.ts
  src/types/common.ts
  src/types/database-types.ts
  src/types/server-common.ts
  src/types/server-enums.ts
  src/types/unified.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
