Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

✨ refactor: API 라우트 성능 최적화 및 코드 정리
  src/app/api/ai/performance/route.ts
  src/app/api/cache/optimize/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎨 refactor: Admin 컴포넌트 ESLint 수정 - Stage 5 (1/6)
  src/components/AdminDashboardCharts.optimized.tsx
  src/components/admin/PerformanceDashboard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🎨 refactor: AI 컴포넌트 정리 및 최적화 - Stage 5 (2/6)
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/AIEngineTest.tsx
  src/components/ai/ChatSection.tsx
  src/components/ai/EnhancedThinkingView.tsx
  src/components/ai/RealTimeLogMonitor.tsx
  src/components/ai/RealTimeThinkingViewer.tsx
  src/components/ai/ThinkingProcessVisualizer.tsx
  src/components/ai/pages/InfrastructureOverviewPage.tsx
  src/components/ai/pages/IntelligentMonitoringPage.tsx
  src/components/ai/pages/MLLearningCenter.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🎨 refactor: Auth 및 Charts 컴포넌트 정리 - Stage 5 (3/6)
  src/components/charts/RealtimeChart.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🎨 refactor: Dashboard 컴포넌트 정리 - Stage 5 (4/6)
  src/components/dashboard/AIInsightsCard.tsx
  src/components/dashboard/EnhancedServerModal.tsx
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/dashboard/NetworkMonitoringCard.tsx
  src/components/dashboard/ServerDashboard.tsx
  src/components/dashboard/SimulateProgressBar.tsx
  src/components/dashboard/monitoring/LiveSystemAlerts.tsx
  src/components/dashboard/server-dashboard/ServerDashboardServers.tsx
  src/components/dashboard/transition/SystemBootSequence.tsx
  src/components/dashboard/transition/SystemChecklist.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🎨 refactor: Dev/Home/Landing/Mobile 컴포넌트 정리 - Stage 5 (5/6)
  src/components/dev-tools/ServicesMonitor.tsx
  src/components/emergency/EmergencyBanner.tsx
  src/components/home/FeatureCard.tsx
  src/components/home/FeatureCardsGrid.tsx
  src/components/home/MainPageSkeleton.tsx
  src/components/home/SystemControls.tsx
  src/components/landing/Header.tsx
  src/components/landing/ParticleBackground.tsx
  src/components/mobile/MobileServerSheet.tsx
  src/components/mobile/MobileSummaryCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 chore: Config/Context/Core/Domains 정리 - Stage 6 (1/3)
  src/config/collectors.ts
  src/config/data-consistency.ts
  src/config/environment.ts
  src/config/free-tier-emergency-fix.ts
  src/config/free-tier-intervals.ts
  src/config/system-components.ts
  src/config/versions.ts
  src/context/advanced-context-manager.ts
  src/context/custom-context-manager.ts
  src/core/context/context-manager.ts
  src/core/realtime/RealTimeHub.ts
  src/core/system/ProcessManager.ts
  src/core/system/SystemWatchdog.ts
  src/core/system/process-configs.ts
  src/domains/ai-sidebar/components/AIEngineSelector.tsx
  src/domains/ai-sidebar/components/AIEnhancedChat.tsx
  src/domains/ai-sidebar/components/AIFunctionPages.tsx
  src/domains/ai-sidebar/components/AIPresetQuestions.tsx
  src/domains/ai-sidebar/components/AISidebarHeader.tsx
  src/domains/ai-sidebar/components/AISidebarV2.tsx
  src/domains/ai-sidebar/components/ChatMessageItem.tsx
  src/domains/ai-sidebar/services/RealAISidebarService.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: TypeScript 타입 에러 수정
  src/components/ai/pages/InfrastructureOverviewPage.tsx
  src/components/dashboard/monitoring/LiveSystemAlerts.tsx
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: 서브에이전트에 모델별 최적화 설정 적용
  .claude/agents/agent-coordinator.md
  .claude/agents/ai-systems-engineer.md
  .claude/agents/backend-gcp-specialist.md
  .claude/agents/central-supervisor.md
  .claude/agents/code-review-specialist.md
  .claude/agents/database-administrator.md
  .claude/agents/debugger-specialist.md
  .claude/agents/doc-structure-guardian.md
  .claude/agents/doc-writer-researcher.md
  .claude/agents/execution-tracker.md
  .claude/agents/gemini-cli-collaborator.md
  .claude/agents/git-cicd-specialist.md
  .claude/agents/mcp-server-admin.md
  .claude/agents/security-auditor.md
  .claude/agents/test-automation-specialist.md
  .claude/agents/ux-performance-optimizer.md
  .claude/agents/vercel-monitor.md
Due: prettier --write

🔧 refactor: 서브에이전트 MCP 도구 사용 최적화 (Phase 1)
  .claude/agents/code-review-specialist.md
  .claude/agents/quality-control-checker.md
  .claude/agents/structure-refactor-agent.md
  .claude/agents/test-first-developer.md
Due: prettier --write

📝 docs: CLAUDE.md MCP 서버 활용 에이전트 목록 업데이트 (Phase 2)
  CLAUDE.md
Due: prettier --write

📊 docs: 서브에이전트 및 MCP 시스템 개선 완료 보고서 추가 (Phase 3)
  .claude/issues/subagents-improvement-summary.md
Due: prettier --write

🐛 fix: TypeScript 타입 에러 수정
  src/lib/config/database-config-validator.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: npm cache-max deprecated 경고 해결
  .claude/issues/npm-cache-max-warning-fix-2025-08-01.md
  .npmrc
Due: prettier --write

🔧 feat: ESLint 성능 최적화 및 다단계 린트 전략 구현
  .claude/issues/eslint-performance-optimization-report-2025-08-01.md
  .eslintrc.performance.json
  package.json
Due: prettier --write

🔧 refactor: 서브에이전트 시스템 정리 및 MCP 사용량 52% 최적화
  .claude/agents/agent-coordinator.md
  .claude/agents/backend-gcp-specialist.md
  .claude/agents/central-supervisor.md
  .claude/agents/debugger-specialist.md
  .claude/agents/doc-structure-guardian.md
  .claude/agents/doc-writer-researcher.md
  .claude/agents/execution-tracker.md
  .claude/agents/gemini-cli-collaborator.md
  .claude/agents/git-cicd-specialist.md
  .claude/agents/security-auditor.md
  .claude/agents/test-automation-specialist.md
  .claude/agents/ux-performance-optimizer.md
  .claude/agents/vercel-monitor.md
  CHANGELOG.md
  docs/sub-agent-collaboration-guide.md
Due: prettier --write

✨ feat: 전문화된 서브에이전트 2개 추가
  .claude/agents/documentation-manager.md
  .claude/agents/vercel-platform-specialist.md
Due: prettier --write

🔧 chore: 개발 환경 성능 최적화 및 npm 경고 해결
  .eslintrc.json
  .gitignore
  package-lock.json
Due: prettier --write

📚 docs: 사용성 개선 가이드 및 백업 아카이브 추가
  .claude-code-memory-fix.sh
  .claude/agents-backup-20250801-165803/agent-coordinator.md
  .claude/agents-backup-20250801-165803/ai-systems-engineer.md
  .claude/agents-backup-20250801-165803/backend-gcp-specialist.md
  .claude/agents-backup-20250801-165803/central-supervisor.md
  .claude/agents-backup-20250801-165803/code-review-specialist.md
  .claude/agents-backup-20250801-165803/database-administrator.md
  .claude/agents-backup-20250801-165803/debugger-specialist.md
  .claude/agents-backup-20250801-165803/doc-structure-guardian.md
  .claude/agents-backup-20250801-165803/doc-writer-researcher.md
  .claude/agents-backup-20250801-165803/execution-tracker.md
  .claude/agents-backup-20250801-165803/gemini-cli-collaborator.md
  .claude/agents-backup-20250801-165803/git-cicd-specialist.md
  .claude/agents-backup-20250801-165803/mcp-server-admin.md
  .claude/agents-backup-20250801-165803/security-auditor.md
  .claude/agents-backup-20250801-165803/test-automation-specialist.md
  .claude/agents-backup-20250801-165803/ux-performance-optimizer.md
  .claude/agents-backup-20250801-165803/vercel-monitor.md
  docs/gemini-cli-wsl-setup-guide.md
  docs/tavily-mcp-troubleshooting.md
Due: prettier --write

📊 docs: 서브에이전트 분석 보고서 7개 아카이브
  .claude/issues/debugger-specialist-enhancement-2025-08-01.md
  .claude/issues/mcp-subagent-analysis-2025-08-01.md
  .claude/issues/subagent-mcp-improvement-plan-2025-08-01.md
  .claude/issues/subagent-usage-efficiency-analysis-2025-08-01.md
  .claude/issues/subagents-analysis-2025-08-01-2025.md
  .claude/issues/vercel-optimization-report-2025-08-01-1915.md
  .claude/issues/vercel-status-2025-08-01-1911.md
Due: prettier --write

🚨 critical: TypeScript any 타입 931개 제거 계획 수립
  .claude/issues/typescript-any-elimination-plan-2025-08-01.md
Due: prettier --write

🔐 feat(database): RLS 보안 강화 및 성능 최적화 마이그레이션
  supabase/migrations/20250801_security_hardening.sql
Due: none

⚡ fix(hooks): Pre-commit 훅 성능 최적화 - 3분 타임아웃 해결
  .husky/pre-commit
  .husky/pre-push
  package.json
  scripts/minimal-test.js
  vitest.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

Remove Cursor AI settings and update mock AI configurations
  .claude/agents/mcp-server-admin.md
  .claude/agents/test-automation-specialist.md
  docs/dev-mock-setup-guide.md
  docs/mcp-subagent-integration-guide.md
  docs/sub-agents-mcp-mapping-guide.md
  docs/tavily-mcp-troubleshooting.md
  package.json
  scripts/check-free-tier-usage.js
  scripts/check-mock-status.js
  scripts/mock-stats.js
  scripts/test-new-mock-system.js
  src/lib/ai/google-ai-client.ts
  src/lib/mock/SmartFallback.ts
  src/lib/mock/core/MockBase.ts
  src/lib/mock/core/MockLogger.ts
  src/lib/mock/core/MockStats.ts
  src/lib/mock/data/scenarios.json
  src/lib/mock/data/servers.json
  src/lib/mock/data/users.json
  src/lib/mock/index.ts
  src/lib/mock/providers/GCPMock.ts
  src/lib/mock/providers/GoogleAIMock.ts
  src/lib/mock/providers/RedisMock.ts
  src/lib/mock/providers/SupabaseMock.ts
Due: eslint --fix --max-warnings 0, prettier --write

🧹 refactor: 테스트 코드 정리 및 중복 제거
  CHANGELOG.md
  docs/fix-jwt-time-issue.md
  docs/supabase-oauth-setup-guide.md
  package.json
  scripts/fix-clock-sync.sh
  src/app/auth/callback/page.tsx
  src/lib/supabase/supabase-client.ts
  src/middleware.ts
  src/services/ai/__tests__/SimplifiedQueryEngine.test.ts
  src/utils/supabase/middleware.ts
  tests/api/ai/query.test.ts
  tests/unit/api/ai/query.test.ts
  tests/unit/services/ai/UnifiedAIEngineRouter.test.ts
  tests/unit/services/auth/AuthStateManager.test.ts
  tests/unit/services/supabase/ResilientSupabaseClient.test.ts
  tests/unit/services/supabase/SupabaseTimeSeriesManager.test.ts
  tests/unit/supabase-timeseries-manager.test.ts
  tests/unit/utils-functions.test.ts
  vitest.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: 커밋/푸시 프로세스 최적화 - 타임아웃 없는 빠른 검증
  .husky/pre-push
  CHANGELOG.md
  docs/fix-jwt-time-issue.md
  docs/supabase-oauth-setup-guide.md
  package.json
  src/utils/supabase/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 fix(ci): GitHub Actions 최적화 - ESLint 타임아웃 해결 및 무료 티어 최적화
  .github/workflows/ci-backup.yml.disabled
  .github/workflows/ci-optimized.yml
Due: prettier --write

🧪 test: 테스트 시스템 전면 개선 - 스킵된 테스트 제거 및 인증 모킹 구현
  package.json
  src/services/ai/__tests__/performance-analysis.perf.test.ts
  src/services/auth/UserProfileService.ts
  tests/api/admin/auth.test.ts
  tests/integration/performance-optimized-query-engine.e2e.test.ts
  tests/utils/auth-mocks.ts
  tests/utils/test-helpers.ts
  vitest.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: CLAUDE.md 업데이트 - shadcn-ui MCP 서버 추가
  CLAUDE.md
Due: prettier --write

🔐 fix: GitHub OAuth PKCE 인증 오류 해결
  src/app/auth/callback/page.tsx
  src/utils/supabase/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔐 fix: GitHub OAuth 로그인 후 리다이렉트 문제 완전 해결
  CHANGELOG.md
  package.json
  src/app/auth/callback/page.tsx
  src/middleware.ts
  src/utils/supabase/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

♻️ refactor: 미들웨어 쿠키 처리 로직 간소화
  src/middleware.ts
  src/utils/supabase/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔐 fix: GitHub OAuth 로그인 무한 루프 해결
  docs/github-oauth-loop-fix.md
  src/app/auth/callback/page.tsx
  src/app/login/LoginClient.tsx
  src/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: OAuth 테스트 가이드 및 자동화 스크립트 추가
  docs/oauth-test-guide.md
  scripts/test-oauth-flow.sh
Due: prettier --write
