Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

fix(security): add API auth, PII filter, and optimize Cloud Run config
  cloud-run/ai-backend/cloudbuild.yaml
  cloud-run/ai-backend/src/index.ts
  cloud-run/ai-backend/src/routes/unified-stream.ts
  cloud-run/ai-backend/src/services/langgraph/checkpointer.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(cloud-run): fix package versions and add package-lock.json
  cloud-run/ai-backend/cloudbuild.yaml
  cloud-run/ai-backend/package-lock.json
  cloud-run/ai-backend/package.json
Due: prettier --write

fix(cloud-run): update @langchain/core to ^0.3.79 for peer dependency compatibility
  cloud-run/ai-backend/package-lock.json
  cloud-run/ai-backend/package.json
Due: prettier --write

feat(cloud-run): integrate Cloud Run AI backend with Vercel proxy
  src/app/api/ai/unified-stream/route.ts
  src/lib/cloud-run/proxy.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(cloud-run): read env vars dynamically for serverless
  src/lib/cloud-run/proxy.ts
Due: eslint --fix --max-warnings 0, prettier --write

debug: add cloud-run env check endpoint (temporary)
  src/app/api/debug/cloud-run/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(cloud-run): handle trailing newline in env vars with .trim()
  src/app/api/debug/cloud-run/route.ts
  src/lib/cloud-run/proxy.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove debug endpoint after Cloud Run integration verified
  src/app/api/debug/cloud-run/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(analyst-agent): integrate anomaly detection & trend prediction tools
  cloud-run/ai-backend/.env.example
  cloud-run/ai-backend/.gitignore
  cloud-run/ai-backend/docker-compose.yml
  cloud-run/ai-backend/src/services/langgraph/agents/analyst-agent.ts
  docs/core/ai/ai-architecture.md
  docs/core/architecture/AI_ENGINE_ARCHITECTURE.md
  src/app/api/ai/ml/train/route.ts
  src/components/ai/MonitoringInsights.tsx
  src/components/ai/pages/AutoReportPage.tsx
  src/components/ai/pages/IntelligentMonitoringPage.tsx
  src/hooks/useAIAssistantData.ts
  src/services/langgraph/agents/analyst-agent.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: remove unused imports (lint)
  src/components/ai/pages/AutoReportPage.tsx
  src/components/ai/pages/IntelligentMonitoringPage.tsx
  src/hooks/useAIAssistantData.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(cloud-run): add Google AI API key round-robin rotation
  cloud-run/ai-backend/cloudbuild.yaml
  cloud-run/ai-backend/src/services/langgraph/agents/analyst-agent.ts
  cloud-run/ai-backend/src/services/langgraph/agents/nlq-agent.ts
  cloud-run/ai-backend/src/services/langgraph/utils/google-api-rotator.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(hitl): implement natural language approval UX
  cloud-run/ai-backend/src/index.ts
  cloud-run/ai-backend/src/routes/approval.ts
  src/app/api/ai/approval/route.ts
  src/components/ai/AIWorkspace.tsx
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
  src/domains/ai-sidebar/components/InlineAgentStatus.tsx
  src/domains/ai-sidebar/types/ai-sidebar-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(langgraph): implement A2A delegation & Return-to-Supervisor patterns
  cloud-run/ai-backend/src/services/langgraph/agents/analyst-agent.ts
  cloud-run/ai-backend/src/services/langgraph/agents/nlq-agent.ts
  cloud-run/ai-backend/src/services/langgraph/agents/reporter-agent.ts
  cloud-run/ai-backend/src/services/langgraph/agents/supervisor.ts
  cloud-run/ai-backend/src/services/langgraph/graph-builder.ts
  cloud-run/ai-backend/src/services/langgraph/state-definition.ts
  docs/core/architecture/AI_ENGINE_ARCHITECTURE.md
Due: eslint --fix --max-warnings 0, prettier --write

docs: archive completed planning documents
  docs/planning/TODO.md
  docs/planning/analysis/system-architecture-review-2025-11.md
  docs/planning/react-nextjs-upgrade-analysis.md
Due: prettier --write

chore(release): 5.81.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(hooks): add release reminder to pre-push hook
  .husky/pre-push
Due: none

feat(code-review): add semantic version recommendation to AI review reports
  scripts/code-review/lib/ai-review-split.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: none

refactor(code-review): simplify version recommendation to one-line (v7.1.0)
  scripts/code-review/lib/ai-review-utils.sh
Due: none

chore: technical debt review - security patch, tests, package upgrades
  docs/core/ai/ai-architecture.md
  docs/core/architecture/ai-assistant-sidebar-architecture.md
  docs/core/architecture/ai-routing-architecture.md
  docs/status.md
  package-lock.json
  package.json
  src/hooks/useInitialAuth.ts
  src/lib/auth/__tests__/auth-state-manager.test.ts
  src/lib/auth/auth-state-manager.ts
  src/services/langgraph/__tests__/supervisor.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: complete script consolidation Phase 3-4 (72% reduction)
  README.md
  docs/archive/completed/2025-12-script-consolidation-completed.md
  docs/planning/TODO.md
  docs/status.md
  scripts/optimization/script-consolidation-plan.md
Due: prettier --write

fix(code-review): correct BREAKING change detection pattern (v6.9.2)
  scripts/code-review/lib/ai-review-utils.sh
Due: none

fix(code-review): add word boundary and colon to BREAKING pattern (v6.9.3)
  scripts/code-review/lib/ai-review-utils.sh
Due: none

refactor(code-review): remove version recommendation, add to CLAUDE.md (v7.2.0)
  CLAUDE.md
  scripts/code-review/lib/ai-review-split.sh
  scripts/code-review/lib/ai-review-utils.sh
Due: prettier --write

chore(release): 5.82.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: sync CLAUDE.md and GEMINI.md to v5.82.0
  CLAUDE.md
  GEMINI.md
Due: prettier --write

fix(ai): support AI SDK v5 UIMessage format in unified-stream API
  src/app/api/ai/unified-stream/route.ts
  src/components/ai/AIAssistantIconPanel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): implement AI SDK v5 Data Stream Protocol for streaming responses
  src/services/langgraph/graph-builder.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): fix Accept header check for AI SDK v5 DefaultChatTransport
  src/app/api/ai/unified-stream/route.ts
  src/app/main/page.tsx
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/shared/FeatureCardModal.tsx
  src/data/feature-cards.data.ts
  src/data/tech-stacks.data.ts
  src/domains/ai-sidebar/components/EnhancedAIChat.tsx
  src/types/feature-card.types.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): implement AI SDK v5 Data Stream Protocol for streaming responses
  src/data/tech-stacks.data.ts
  src/services/langgraph/graph-builder.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): use GEMINI_API_KEY_PRIMARY for Vercel production compatibility
  src/data/tech-stacks.data.ts
  src/services/langgraph/agents/analyst-agent.ts
  src/services/langgraph/agents/nlq-agent.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: remove redundant cloud-run/ai-backend (LangGraph runs on Vercel)
  cloud-run/ai-backend/.dockerignore
  cloud-run/ai-backend/.env.example
  cloud-run/ai-backend/.gitignore
  cloud-run/ai-backend/cloudbuild.yaml
  cloud-run/ai-backend/docker-compose.yml
  cloud-run/ai-backend/package-lock.json
  cloud-run/ai-backend/package.json
  cloud-run/ai-backend/src/index.ts
  cloud-run/ai-backend/src/routes/approval.ts
  cloud-run/ai-backend/src/routes/health.ts
  cloud-run/ai-backend/src/routes/unified-stream.ts
  cloud-run/ai-backend/src/services/langgraph/agents/analyst-agent.ts
  cloud-run/ai-backend/src/services/langgraph/agents/nlq-agent.ts
  cloud-run/ai-backend/src/services/langgraph/agents/reporter-agent.ts
  cloud-run/ai-backend/src/services/langgraph/agents/supervisor.ts
  cloud-run/ai-backend/src/services/langgraph/checkpointer.ts
  cloud-run/ai-backend/src/services/langgraph/graph-builder.ts
  cloud-run/ai-backend/src/services/langgraph/state-definition.ts
  cloud-run/ai-backend/src/services/langgraph/utils/google-api-rotator.ts
  cloud-run/ai-backend/src/services/supabase/client.ts
  cloud-run/supabase-mcp/.dockerignore
  cloud-run/supabase-mcp/.env.example
  cloud-run/supabase-mcp/Dockerfile
  cloud-run/supabase-mcp/cloudbuild.yaml
  cloud-run/supabase-mcp/package.json
  cloud-run/supabase-mcp/src/index.ts
  cloud-run/supabase-mcp/tsconfig.json
  docs/core/ai/ai-architecture.md
  docs/core/architecture/AI_ENGINE_ARCHITECTURE.md
  docs/core/architecture/ai-routing-architecture.md
  docs/environment/README.md
  src/config/ai-engine.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(langgraph): implement A2A communication patterns for multi-agent system
  src/services/langgraph/agents/analyst-agent.ts
  src/services/langgraph/agents/nlq-agent.ts
  src/services/langgraph/agents/reporter-agent.ts
  src/services/langgraph/agents/supervisor.ts
  src/services/langgraph/checkpointer.ts
  src/services/langgraph/errors.ts
  src/services/langgraph/graph-builder.ts
  src/services/langgraph/model-config.ts
  src/services/langgraph/state-definition.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: deploy supabase-mcp to Cloud Run & remove dead admin API code
  cloud-run/supabase-mcp/cloudbuild.yaml
  cloud-run/supabase-mcp/package-lock.json
  src/components/unified-profile/UnifiedSettingsPanel.tsx
  src/components/unified-profile/hooks/useSettingsData.ts
  src/components/unified-profile/services/SettingsService.ts
  src/components/unified-profile/services/sedNOfQGN
  src/components/unified-profile/services/sedg2XZ4E
Due: eslint --fix --max-warnings 0, prettier --write

docs: update AI architecture docs with A2A, RAG, and MCP integration details
  docs/core/ai/ai-architecture.md
  docs/core/architecture/AI_ENGINE_ARCHITECTURE.md
  docs/core/architecture/ai-routing-architecture.md
Due: prettier --write

docs(ai): add FigJam diagrams and State interfaces to AI_ENGINE_ARCHITECTURE
  docs/core/architecture/AI_ENGINE_ARCHITECTURE.md
Due: prettier --write

refactor(api): rename unified-stream → supervisor for LangGraph consistency
  config/ai/registry-core.yaml
  package-lock.json
  package.json
  src/app/api/ai/korean-nlp/route.ts
  src/app/api/ai/ml-analytics/route.ts
  src/app/api/ai/supervisor/route.ts
  src/app/api/ai/supervisor/security.ts
  src/components/ai/AIWorkspace.tsx
  src/data/feature-cards.data.ts
  src/domains/ai-sidebar/components/AISidebarV4.tsx
  src/domains/ai-sidebar/hooks/useAIEngine.ts
  src/mocks/handlers/nextjs/api-routes.ts
  src/services/langgraph/multi-agent-supervisor.ts
  tests/ai-free-tier-validation.test.ts
  tests/ai-sidebar/useAIEngine.test.ts
  tests/api/ai-unified-stream.integration.test.ts
  tests/api/core-endpoints.integration.test.ts
  tests/e2e/ai-network-recovery.spec.ts
  tests/e2e/ai-sidebar-live-verification.spec.ts
  tests/e2e/error-boundary.spec.ts
  tests/e2e/helpers/network-monitor.ts
  tests/integration/basic-flow-e2e.test.ts
  tests/utils/mockEnterpriseHit.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(langgraph): add finish message on streaming error for AI SDK v5 protocol compliance
  src/services/langgraph/graph-builder.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(cloud-run): add Rust ML inference service for LangGraph support
  cloud-run/rust-inference/.dockerignore
  cloud-run/rust-inference/Cargo.toml
  cloud-run/rust-inference/Dockerfile
  cloud-run/rust-inference/cloudbuild.yaml
  cloud-run/rust-inference/src/handlers/health.rs
  cloud-run/rust-inference/src/handlers/inference.rs
  cloud-run/rust-inference/src/handlers/mod.rs
  cloud-run/rust-inference/src/main.rs
  cloud-run/rust-inference/src/ml/anomaly.rs
  cloud-run/rust-inference/src/ml/mod.rs
  cloud-run/rust-inference/src/ml/trend.rs
Due: prettier --write

feat(langgraph): integrate Rust ML service with TypeScript fallback
  src/lib/rust-ml-client.ts
  src/services/langgraph/agents/analyst-agent.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(rust-ml): switch to unauthenticated Cloud Run access
  cloud-run/rust-inference/cloudbuild.yaml
  src/lib/rust-ml-client.ts
Due: eslint --fix --max-warnings 0, prettier --write
