Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix: TypeScript 타입 에러 수정 및 Phase 3 계획서 추가
  docs/specs/lint-cleanup-phase3-plan.md
  src/domains/ai-sidebar/services/RealAISidebarService.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Phase 3 계획서 최종 업데이트 (100% 달성 반영)
  docs/specs/lint-cleanup-phase3-plan.md
Due: prettier --write

feat: auto-ai-review.sh v4.0.0 - 실시간 검증 추가
  scripts/code-review/auto-ai-review.sh
Due: none

fix: auto-ai-review.sh v4.0.0 - Codex 피드백 반영
  scripts/code-review/auto-ai-review.sh
Due: none

fix: 전역 변수 사용으로 검증 결과 전달 문제 해결
  scripts/code-review/auto-ai-review.sh
Due: none

feat: auto-ai-review.sh v4.1.0 - ESLint 스마트 검증
  scripts/code-review/auto-ai-review.sh
Due: none

fix: auto-ai-review.sh v4.1.1 - Codex 피드백 3가지 버그 수정
  scripts/code-review/auto-ai-review.sh
Due: none

feat: auto-ai-review.sh v4.1.2 - Gemini 피드백 적용
  scripts/code-review/auto-ai-review.sh
Due: none

feat: 환경 변수 검증 시스템 추가
  .husky/pre-push
  .prettierrc
  eslint.config.mjs
  package.json
  scripts/check-env.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Codex 리뷰 피드백 반영 (Critical 이슈 2개 해결)
  scripts/check-env.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: 바이브 코딩 히스토리에 현재 단계(stage4) 추가
  src/components/shared/FeatureCardModal.tsx
  src/data/tech-stacks.data.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Codex 리뷰 피드백 반영 (Critical 이슈 2개 해결)
  GEMINI.md
  docs/specs/ai-engine-refactoring-plan.md
  src/components/shared/FeatureCardModal.tsx
  src/lib/ai/core/google-ai-unified-engine.ts
  src/services/ai/GoogleAIUsageTracker.ts
  src/services/ai/QueryDifficultyAnalyzer.ts
  src/services/ai/SimplifiedQueryEngine.complexity-types.ts
  src/services/ai/SimplifiedQueryEngine.processor.unified.ts
  src/services/ai/SimplifiedQueryEngine.processors.command.ts
  src/services/ai/SimplifiedQueryEngine.processors.googleai.ts
  src/services/ai/SimplifiedQueryEngine.processors.helpers.ts
  src/services/ai/SimplifiedQueryEngine.processors.ts
  src/services/ai/SimplifiedQueryEngine.ts
  src/services/ai/SimplifiedQueryEngine.types.ts
  src/services/ai/SimplifiedQueryEngine.utils.ts
  src/services/ai/__tests__/UnifiedQueryProcessor.test.ts
  src/services/ai/performance-optimized-query-engine.ts
  src/services/ai/supabase-rag-engine.ts
  src/services/mcp/CloudContextLoader.cache.ts
  src/services/mcp/CloudContextLoader.health.ts
  src/services/mcp/CloudContextLoader.rag.ts
  src/services/mcp/CloudContextLoader.storage.ts
  src/services/mcp/CloudContextLoader.ts
  src/services/mcp/CloudContextLoader.types.ts
  src/services/mcp/CloudContextLoader.utils.ts
  src/services/mcp/ContextLoader.ts
  src/services/mcp/components/MCPContextManager.ts
  src/services/mcp/components/MCPPerformanceMonitor.ts
  src/services/mcp/components/MCPServerManager.ts
  src/services/mcp/components/MCPToolHandler.ts
  src/services/mcp/index.ts
  src/services/mcp/real-mcp-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: AI 엔진 리팩토링 분석 리포트 추가
  docs/analysis/ai-engine-refactoring-analysis-2025-11-22.md
Due: prettier --write

docs: AI 엔진 종합 상태 리포트 추가 (2025-11-22)
  docs/analysis/ai-engine-comprehensive-status-2025-11-22.md
Due: prettier --write

fix: Provider 에러 핸들링 강화 (RAG, KoreanNLP, ML - undefined 체크)
  src/lib/ai/providers/korean-nlp-provider.ts
  src/lib/ai/providers/ml-provider.ts
  src/services/ai/supabase-rag-engine.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: GCP Functions 정리 - Phase 1 코드 클린업
  docs/analysis/gcp-functions-analysis-2025-11-22.md
  src/lib/gcp/resilient-ai-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: 오픈소스 도입 여부 평가 (2025-11-22)
  docs/analysis/opensource-evaluation-2025-11-22.md
Due: prettier --write

refactor: TODO 정리 및 보안 강화
  src/app/api/ai/query/route.ts
  src/lib/data-gateway.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: 테스트 API 키 인증 추가
  src/lib/api-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

security: API 키 인증 보안 강화 (Gemini 리뷰 피드백 반영)
  src/lib/api-auth.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: API 인증 보안 강화 (Codex 리뷰 피드백 반영)
  instrumentation.ts
  src/lib/api-auth.ts
  src/lib/config/env-validation.ts
  src/lib/security/security-logger.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: API 인증 보안 강화 - 2차 개선 (Codex 리뷰 피드백 반영)
  instrumentation.ts
  src/lib/api-auth.ts
  src/lib/security/security-logger.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: 코드 품질 개선 (Gemini 리뷰 피드백 반영)
  src/config/constants.ts
  src/lib/api-auth.ts
  src/lib/security/security-logger.ts
Due: eslint --fix --max-warnings 0, prettier --write

security: Phase 1 Critical Security Fixes
  .gitignore
  src/app/api/test/vercel-test-auth/route.ts
  src/config/system-constants.ts
  src/lib/config/runtime-env-decryptor.ts
  test-gemini-direct.js
  test-gemini-lite.js
Due: eslint --fix --max-warnings 0, prettier --write

test: Add node environment for API route unit tests
  config/testing/vitest.config.main.ts
  tests/api/admin/auth.test.ts
  tests/api/ai/query.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: Skip path alias tests pending proper resolution
  tests/api/admin/auth.test.ts
  tests/api/ai/query.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: Fix missing vitest imports (Quick Win #1) ✅
  tests/api/core-endpoints.integration.test.ts
  tests/api/servers.integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: Exclude E2E tests from Vitest (Quick Win #2) ✅
  config/testing/vitest.config.main.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: Skip path alias test (Quick Win #3 Revised) ✅
  tests/integration/ai-metrics-integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: Add GOOGLE_AI_API_KEY to test env (Quick Win #4)
  config/testing/vitest.config.main.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: Exclude E2E tests from Vitest (Quick Win #2 Revised) ✅
  config/testing/vitest.config.main.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: Skip localhost tests when not on Vercel ✅
  tests/ai-free-tier-validation.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Add missing navItems array declaration in Header
  src/components/landing/Header.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: Trigger Vercel redeployment for ADMIN_PASSWORD env var
  .vercel-deploy-trigger
Due: none

fix: Use client-safe environment variable access
  src/app/global-error.tsx
  src/lib/supabase-singleton.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf: Optimize useEffect with useMemo in global-error.tsx
  src/app/global-error.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor: Remove admin variant from UI components
  src/components/ai/RealTimeThinkingViewer.tsx
  src/components/shared/AnomalyFeed.tsx
  src/components/shared/GoogleAIStatusCard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
