Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

🎉 v5.66.22: GitHub OAuth 로그인 무한 루프 완전 해결
  .claude/issues/vercel-deployment-status-20250803-1458.md
  CHANGELOG.md
  package.json
Due: prettier --write

🎨 fix: 메인 페이지 4개 카드 모달 내용을 실제 프로젝트와 정확히 일치시킴
  src/components/home/FeatureCardsGrid.tsx
  src/components/shared/FeatureCardModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🧹 fix: 30일 이상 경과한 obsolete 테스트 정리
  src/services/ai/__tests__/circuit-breaker.test.ts
  tests/unit/components/unified-profile-enhanced-status.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🧪 feat: 서브에이전트 검증 시스템 테스트 완료
  docs/test-commit-process.md
Due: prettier --write

🔧 chore: ESLint 성능 최적화 설정 및 pre-push 훅 개선
  .eslintrc.performance.json
  .eslintrc.ultrafast.json
  .husky/pre-push
  .lintstagedrc.js
  package-lock.json
  package.json
  src/components/home/FeatureCardsGrid.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🎨 feat: Storybook 최적화 및 MCP 서버 체계 완성
  .claude/agents/design-system-specialist.md
  .storybook/main.ts
  .storybook/test-runner.js
  docs/mcp-servers-status-report.md
  docs/shadcn-ui-mcp-guide.md
  docs/storybook-optimization-guide.md
  docs/storybook-performance-guide.md
  docs/visual-regression-testing-guide.md
  package-lock.json
  package.json
  src/components/ui/alert.stories.tsx
  src/components/ui/badge.stories.tsx
  src/components/ui/button.stories.tsx
  src/components/ui/card.stories.tsx
  src/components/ui/input.stories.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  src/stories/templates/AIMonitoringTemplate.tsx
  src/stories/templates/ServerMonitoringTemplate.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔄 feat: Redis → Supabase Realtime 마이그레이션 완성
  .claude/redis-migration-backup/api/ai/edge/route.ts
  .claude/redis-migration-backup/api/ai/thinking/stream-v2/route.ts
  .claude/redis-migration-backup/api/ai/thinking/stream/route.ts
  docs/free-tier-usage-analysis.md
  docs/redis-dependency-removal-plan.md
  docs/redis-removal-status-report.md
  docs/redis-to-supabase-migration-guide.md
  docs/v2-api-migration-summary.md
  scripts/cleanup-redis-types.ts
  src/app/api/ai/edge-v2/route.ts
  src/app/api/ai/edge/route.ts
  src/app/api/ai/thinking/stream-v2/route.ts
  src/app/api/ai/thinking/stream/route.ts
  src/app/demo/hybrid-ai/page.tsx
  src/app/test/supabase-realtime/page.tsx
  src/components/admin/LogDashboard.tsx
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/demo/HybridAIDemo.tsx
  src/hooks/useHybridAI-v2.ts
  src/hooks/useHybridAI.ts
  src/services/ai/adapters/service-adapters.ts
  src/services/ai/adapters/supabase-realtime-adapter.ts
  src/services/ai/edge/edge-ai-router.ts
  src/services/ai/edge/edge-cache.ts
  src/services/ai/errors/distributed-error-handler.ts
  src/services/ai/formatters/unified-response-formatter.ts
  src/services/ai/interfaces/distributed-ai.interface.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔄 feat: API routes Mock 제거 완료 - Supabase 실제 데이터로 완전 전환
  src/app/api/ai/google-ai/generate/route.ts
  src/app/api/ai/korean-nlp/route.ts
  src/app/api/ai/logging/stream/route.ts
  src/app/api/ai/ml-analytics/route.ts
  src/app/api/dashboard/route.ts
  src/app/api/servers/[id]/route.ts
  src/app/api/servers/all/route.ts
  src/app/api/servers/cached/route.ts
  src/app/api/servers/next/route.ts
  src/app/api/servers/realtime/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: TypeScript 타입 시스템 개선 - v5.66.24
  CHANGELOG.md
  package-lock.json
  package.json
  src/app/api/servers/all/route.ts
  src/app/api/servers/cached/route.ts
  src/app/api/servers/realtime/route.ts
  src/app/dashboard/DashboardClient.tsx
  src/app/dev/mock-scenarios/page.tsx
  src/components/mobile/MobileServerSheet.tsx
  src/lib/cache-helper.ts
  src/schemas/index.ts
  src/services/ai/ImprovedQueryEngine.ts
  src/services/ai/SimplifiedQueryEngine.ts
  src/services/ai/UnifiedAIEngineRouter.ts
  src/services/ai/adapters/service-adapters.ts
  src/services/ai/adapters/supabase-realtime-adapter.ts
  src/services/ai/edge/edge-ai-router.ts
  src/services/ai/embedding-service.ts
  src/services/ai/errors/distributed-error-handler.ts
  src/services/ai/formatters/unified-response-formatter.ts
  src/services/ai/interfaces/distributed-ai.interface.ts
  src/services/ai/performance-optimized-query-engine.ts
  src/services/ai/supabase-rag-engine.ts
  src/stores/serverDataStore.ts
  src/types/api-responses.ts
  src/types/server.ts
  src/types/unified-server.ts
  src/types/unified.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: TypeScript strict mode 완전 준수 - 302개 에러 완전 해결
  src/middleware.ts
  src/services/ai/performance-optimized-query-engine.ts
  src/services/ai/routing/AICacheManager.ts
  src/services/ai/routing/AIErrorHandler.ts
  src/services/ai/routing/AISecurityService.ts
  src/services/ai/routing/CircuitBreakerService.ts
  src/services/ai/routing/KoreanNLPProcessor.ts
  src/services/ai/supabase-rag-engine.ts
  src/services/ai/vector-search-optimizer.ts
  src/services/ai/vectorization/VectorIndexingService.ts
  src/services/auth/AuthStateManager.ts
  src/services/collectors/cloudwatch-collector.ts
  src/services/collectors/custom-api-collector.ts
  src/services/mcp/CloudContextLoader.ts
  src/services/mcp/ServerMonitoringAgent.ts
  src/services/mcp/components/MCPContextManager.ts
  src/services/mcp/components/MCPServerManager.ts
  src/services/mcp/components/MCPToolHandler.ts
  src/services/mcp/mcp-orchestrator.ts
  src/services/mcp/real-mcp-client.ts
  src/services/monitoring/EnhancedErrorDetectionService.ts
  src/services/optimizedMetricsService.ts
  src/services/security/SecurityService.ts
  src/services/simulationEngine.ts
  src/services/system/CloudLoggingService.ts
  src/services/system/CloudVersionManager.ts
  src/services/vm/BaselineContinuityManager.ts
  src/types/database-types.ts
  src/utils/supabase/middleware.ts
  type-errors.txt
Due: eslint --fix --max-warnings 0, prettier --write

🚀 fix: Vercel 배포 에러 해결 - v5.66.25
  .vercelignore
  docs/eslint-optimization.md
  package.json
  scripts/clean-eslint-results.js
  src/mock/mockDataGenerator.ts
  src/types/ai-service-types.ts
Due: eslint --fix --max-warnings 0, prettier --write

Update mock data rotator, demo scenario manager, VM persistent data manager, and type guards
  package-lock.json
  src/mock/mockDataRotator.ts
  src/services/DemoScenarioManager.ts
  src/services/vm/VMPersistentDataManager.ts
  src/utils/type-guards.ts
Due: eslint --fix --max-warnings 0, prettier --write

Fix TDD and test metadata issues
  scripts/test-metadata.ts
  src/services/ai/__tests__/performance-analysis.perf.test.ts
  tests/integration/performance-optimized-query-engine.e2e.test.ts
  tests/unit/services/auth/UserProfileService.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

♻️ refactor: database-administrator를 Supabase 전문 에이전트로 완전 전환
  .claude/agents/database-administrator.md
  CLAUDE.md
  scripts/test-tech-stack-update.ts
  src/components/home/FeatureCardsGrid.tsx
  src/utils/TechStackAnalyzer.ts
  vitest.performance.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 chore: 메인 페이지 클라우드 플랫폼 카드 업데이트
  src/components/home/FeatureCardsGrid.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: TypeScript 타입 에러 수정
  .env.example
  src/app/api/servers/all/route.ts
  src/app/api/servers/mock/route.ts
  src/app/demo/mock-ai/page.tsx
  src/config/mock-config.ts
  src/services/ai/MockContextLoader.ts
  src/services/ai/SimplifiedQueryEngine.ts
  src/services/ai/__tests__/performance-analysis.perf.test.ts
  src/test/mocks/ai-services.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 fix: Vercel 배포 에러 해결 - v5.66.25
  package-lock.json
Due: prettier --write

🐛 fix: Vercel 빌드 에러 해결 - TokenUsageManager.ts 추가
  src/services/ai/routing/TokenUsageManager.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚨 fix: Vercel 배포 에러 5000개 해결 - ESLint 및 메모리 최적화
  .prettierrc
  .wslconfig.example
  next.config.mjs
  vercel.json
Due: prettier --write

fix: Vercel 배포 에러 해결 - postinstall.js 및 demo/mock-ai 페이지 수정
  .vercelignore
  docs/vercel-deployment-error-fix.md
  next.config.mjs
  package.json
  src/app/demo/mock-ai/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: demo/mock-ai 페이지 프리렌더링 에러 완전 해결
  src/app/demo/mock-ai/page.tsx
  src/mock/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Vercel 배포 에러 해결 - postinstall.js 및 Lightning CSS 충돌
  .vercelignore
  next.config.mjs
Due: none

📚 docs: Vercel 배포 에러 해결 가이드 v2.0 완성
  docs/vercel-deployment-error-fix.md
Due: prettier --write

🎯 fix: Vercel 배포 실패 근본 해결 - 불필요한 개발/테스트 파일 제거
  .vercelignore
  package.json
  scripts/postinstall.js
  src/app/demo/mock-ai/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🎯 fix: Feature Creep 근본 해결 - 모든 데모/테스트 페이지 제거
  src/app/demo/hybrid-ai/page.tsx
  src/components/demo/HybridAIDemo.tsx
  src/hooks/useHybridAI-v2.ts
Due: eslint --fix --max-warnings 0, prettier --write

🛡️ feat: Feature Creep 완전 방지 시스템 구축
  .vercelignore
  docs/vercel-deployment-error-fix.md
Due: prettier --write

🔧 fix: GitHub CI/CD 에러 해결 - API Route GET 메서드 추가
  src/app/api/ai/edge-v2/route.ts
  src/app/api/ai/edge/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: 문서 최신화 및 구조 정리 - v5.66.28
  CHANGELOG.md
  CLAUDE.md.backup-20250803_101240
  docs/v2-api-migration-summary.md
  docs/vercel-deployment-error-fix.md
  reports/benchmark-results-20250720-033629/korean-nlp-1.json
  reports/benchmark-results-20250720-033629/korean-nlp-10.json
  reports/benchmark-results-20250720-033629/korean-nlp-2.json
  reports/benchmark-results-20250720-033629/korean-nlp-3.json
  reports/benchmark-results-20250720-033629/korean-nlp-4.json
  reports/benchmark-results-20250720-033629/korean-nlp-5.json
  reports/benchmark-results-20250720-033629/korean-nlp-6.json
  reports/benchmark-results-20250720-033629/korean-nlp-7.json
  reports/benchmark-results-20250720-033629/korean-nlp-8.json
  reports/benchmark-results-20250720-033629/korean-nlp-9.json
  reports/benchmark-results-20250720-033629/ml-analytics-1.json
  reports/benchmark-results-20250720-033629/ml-analytics-10.json
  reports/benchmark-results-20250720-033629/ml-analytics-2.json
  reports/benchmark-results-20250720-033629/ml-analytics-3.json
  reports/benchmark-results-20250720-033629/ml-analytics-4.json
  reports/benchmark-results-20250720-033629/ml-analytics-5.json
  reports/benchmark-results-20250720-033629/ml-analytics-6.json
  reports/benchmark-results-20250720-033629/ml-analytics-7.json
  reports/benchmark-results-20250720-033629/ml-analytics-8.json
  reports/benchmark-results-20250720-033629/ml-analytics-9.json
  reports/benchmark-results-20250720-033629/unified-ai-1.json
  reports/benchmark-results-20250720-033629/unified-ai-10.json
  reports/benchmark-results-20250720-033629/unified-ai-2.json
  reports/benchmark-results-20250720-033629/unified-ai-3.json
  reports/benchmark-results-20250720-033629/unified-ai-4.json
  reports/benchmark-results-20250720-033629/unified-ai-5.json
  reports/benchmark-results-20250720-033629/unified-ai-6.json
  reports/benchmark-results-20250720-033629/unified-ai-7.json
  reports/benchmark-results-20250720-033629/unified-ai-8.json
  reports/benchmark-results-20250720-033629/unified-ai-9.json
  reports/test-metadata-report.md
Due: prettier --write

♻️ refactor: 메인 페이지 카드 시스템 대규모 리팩토링 - 58% 코드 감소
  src/components/home/FeatureCard.tsx
  src/components/home/FeatureCardsGrid.tsx
  src/components/shared/FeatureCardModal.tsx
  src/data/feature-cards.data.ts
  src/data/tech-stacks.data.ts
  src/types/feature-card.types.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: GitHub Actions 빌드 에러 해결 - Supabase 환경 변수 Lazy Loading
  src/lib/supabase/supabase-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: AI 어시스턴트 카드에 커스텀/상용 및 AI 엔진 타입 구분 추가
  src/components/shared/FeatureCardModal.tsx
  src/data/tech-stacks.data.ts
  src/types/feature-card.types.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎯 feat: 클라우드 플랫폼 카드 개선 및 기술 스택 분류 체계 완성
  src/components/shared/FeatureCardModal.tsx
  src/data/feature-cards.data.ts
  src/data/tech-stacks.data.ts
  src/types/feature-card.types.ts
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: 바이브 코딩 카드 AI 글자 그라데이션 제거 및 스토리북 추가
  src/components/home/FeatureCardsGrid.tsx
  src/stories/FeatureCardsGrid.stories.tsx
Due: eslint --fix --max-warnings 0, prettier --write

✨ feat: 모든 카드에서 AI 글자 그라데이션 효과 적용
  package-lock.json
  package.json
  src/components/home/FeatureCardsGrid.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🗑️ chore: 스토리북 완전 제거 - 메모리 문제 및 실효성 부족
  .eslintrc.json
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/test-runner.js
  package-lock.json
  package.json
  src/stories/Configure.mdx
  src/stories/FeatureCardsGrid.stories.tsx
  src/stories/ImprovedServerCard.stories.tsx
  src/stories/MockServerCard.stories.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/templates/AIMonitoringTemplate.tsx
  src/stories/templates/ServerMonitoringTemplate.tsx
  src/stories/templates/StoryTemplate.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: WSL + Claude Code 개발 환경 최적화 완성
  .tmux.conf
  docs/wsl-claude-code-guide.md
  scripts/claude-cleanup.sh
  scripts/claude-dev-env.sh
  scripts/claude-health-check.sh
  scripts/dev-tmux.sh
  scripts/setup-claude-aliases.sh
  scripts/test-in-tmux.sh
  scripts/wsl-performance.sh
Due: prettier --write

🔒 fix: WSL 개발 환경 보안 및 성능 개선
  .wslconfig.example
  scripts/claude-cleanup.sh
  scripts/claude-dev-env.sh
  scripts/claude-health-check.sh
  scripts/test-in-tmux.sh
  scripts/wsl-performance.sh
Due: none

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
