Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix(docs): align Analyst Agent description with feature table
  README.md
Due: prettier --write

docs(planning): add code improvement plan for P1-P3 priorities
  reports/planning/code-improvement-plan.md
Due: prettier --write

fix(types): remove any types from seed-logs and recharts declarations
  src/scripts/seed-logs-supabase-standalone.ts
  src/types/recharts.d.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(types): remove any types from polyfills and development-only
  .claude/rules/ai-tools.md
  KIRO.md
  docs/guides/ai/claude-code/README.md
  docs/guides/best-practices/wsl-vibe-coding-best-practices.md
  docs/guides/mcp/README.md
  src/lib/api/development-only.ts
  src/polyfills.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(code-structure): split large files into modular components
  src/components/ai/pages/AutoReportPage.tsx
  src/components/ai/pages/auto-report/AutoReportPage.tsx
  src/components/ai/pages/auto-report/ReportCard.tsx
  src/components/ai/pages/auto-report/formatters.ts
  src/components/ai/pages/auto-report/index.ts
  src/components/ai/pages/auto-report/types.ts
  src/components/ai/pages/auto-report/utils.ts
  src/lib/ai/core/types.ts
  src/lib/ai/core/types/cache.ts
  src/lib/ai/core/types/config.ts
  src/lib/ai/core/types/data.ts
  src/lib/ai/core/types/engine.ts
  src/lib/ai/core/types/enums.ts
  src/lib/ai/core/types/errors.ts
  src/lib/ai/core/types/guards.ts
  src/lib/ai/core/types/index.ts
  src/lib/ai/core/types/prompt.ts
  src/lib/ai/core/types/provider.ts
  src/lib/ai/core/types/request.ts
  src/lib/ai/core/types/response.ts
  src/lib/ai/core/types/utils.ts
  src/lib/api/development-only.ts
  src/services/ai/postgres-vector-db.ts
  src/services/ai/vector-db/index.ts
  src/services/ai/vector-db/postgres-vector-db.ts
  src/services/ai/vector-db/types.ts
  src/types/server.ts
  src/types/server/base.ts
  src/types/server/config.ts
  src/types/server/constants.ts
  src/types/server/core.ts
  src/types/server/entities.ts
  src/types/server/guards.ts
  src/types/server/index.ts
  src/types/server/metrics.ts
  src/types/server/response.ts
  src/types/server/status.ts
  src/types/server/types.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: archive P2 plan, update code improvement status
  reports/planning/TODO.md
  reports/planning/archive/2026-01/p2-large-file-split-plan.md
  reports/planning/code-improvement-plan.md
Due: prettier --write

chore(release): 5.84.3
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(logging): add Pino logger to Cloud Run AI Engine
  cloud-run/ai-engine/package-lock.json
  cloud-run/ai-engine/package.json
  cloud-run/ai-engine/src/lib/logger.ts
  cloud-run/ai-engine/src/routes/supervisor.ts
  cloud-run/ai-engine/src/server.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: code quality improvements - split large files
  reports/planning/code-quality-improvement-plan.md
  src/app/api/ai/supervisor/cache-utils.ts
  src/app/api/ai/supervisor/route.ts
  src/app/api/ai/supervisor/schemas.ts
  src/app/api/ai/supervisor/stream-parser.ts
  src/components/dashboard/transition/DebugPanel.tsx
  src/components/dashboard/transition/SystemChecklist.tsx
  src/hooks/useAuth.ts
  src/lib/ai/utils/context-compressor.ts
  src/types/system-checklist.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update planning documents - mark all tasks complete
  reports/planning/AI-ENGINE-IMPROVEMENT-PLAN.md
  reports/planning/TODO.md
  reports/planning/code-quality-improvement-plan.md
Due: prettier --write

refactor: remove dead code in services/adapters
  src/services/adapters/sedhjMhLu
  src/services/adapters/server-dashboard.transformer.ts
  src/services/adapters/server-data-adapter.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update architecture docs - remove adapters reference
  docs/reference/architecture/design/module-structure.md
  docs/reference/architecture/system/system-architecture-current.md
Due: prettier --write

fix(schemas): improve AI SDK compatibility and validation
  src/app/api/ai/supervisor/schemas.ts
  src/hooks/useAuth.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai): add dashboard warmup for Cold Start prevention
  src/app/dashboard/DashboardClient.tsx
  src/components/ai-sidebar/EnhancedAIChat.tsx
  src/hooks/ai/useHybridAIQuery.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(ai): improve Zod schema flexibility for AI SDK v5 parts
  src/app/api/ai/supervisor/schemas.ts
  src/app/api/ai/supervisor/stream/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update version to v5.84.3 and add development methodology
  CLAUDE.md
  README.md
  docs/status.md
Due: prettier --write

test: add 136 pure function tests and improve test structure
  config/testing/msw-setup.ts
  config/testing/vitest.config.ci.ts
  config/testing/vitest.config.minimal.ts
  package.json
  reports/planning/test-best-practices.md
  reports/planning/test-improvement-plan.md
  src/app/api/ai/supervisor/cache-utils.test.ts
  src/app/api/ai/supervisor/security.test.ts
  src/lib/ai/utils/context-compressor.test.ts
  src/lib/ai/utils/query-complexity.test.ts
  src/services/metrics/variation-generator.test.ts
  tests/integration/basic-flow-e2e.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.85.0
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(scripts): reduce false positives in doc-test-validator
  scripts/code-review/lib/doc-test-validator.sh
Due: none

docs: sync version references to v5.85.0
  .claude/skills/ai-code-review/skill.md
  .claude/skills/ai-report-export/skill.md
  .claude/skills/cloud-run-deploy/skill.md
  .claude/skills/lint-smoke/skill.md
  .claude/skills/mermaid-diagram/skill.md
  .claude/skills/playwright-triage/skill.md
  .claude/skills/security-audit-workflow/skill.md
  .claude/skills/validation-analysis/skill.md
  CLAUDE.md
  docs/DEVELOPMENT.md
  docs/reference/architecture/ai/ai-engine-architecture.md
  docs/reference/architecture/infrastructure/api.md
  docs/reference/architecture/system/system-architecture-current.md
  docs/reference/architecture/system/system-overview.md
  docs/status.md
  reports/planning/test-improvement-plan.md
Due: prettier --write

docs: archive outdated AI assistant inspection report
  docs/archive/2025-12/ai-assistant-inspection-2025-12-27.md
Due: prettier --write

fix(cloud-run): sync version to 5.85.0 in server.ts and logger.ts
  cloud-run/ai-engine/src/lib/logger.ts
  cloud-run/ai-engine/src/server.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): make checkRandomEvent test deterministic
  src/services/metrics/variation-generator.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): use data-testid for fullscreen button selectors
  tests/e2e/ai-fullscreen.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): resolve logger mock issues and improve test stability
  package.json
  src/lib/error-handler.test.ts
  src/services/metrics/variation-generator.test.ts
  src/test/setup.ts
  tests/ai-sidebar/useAIEngine.test.ts
  tests/api/core-endpoints.integration.test.ts
  tests/api/servers.integration.test.ts
  tests/e2e/AI_TESTS_README.md
  tests/e2e/ai-fullscreen.spec.ts
  tests/e2e/login.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(security): resolve getRandomValues TypedArray bug and update API test
  src/polyfills.ts
  tests/e2e/system-boot.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(test): improve integration test reliability per code review
  src/polyfills.ts
  tests/api/core-endpoints.integration.test.ts
  tests/api/servers.integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ai-sidebar): add new chat button and fix PWA icons
  public/ai-icon.png
  public/dashboard-icon.png
  public/icon-192.png
  public/icon-512.png
  scripts/generate-pwa-icons.mjs
  src/components/ai-sidebar/AISidebarHeader.tsx
  src/lib/ai-proxy/proxy.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(auth): require login for AI assistant feature
  src/components/dashboard/AILoginRequiredModal.tsx
  src/components/dashboard/DashboardHeader.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(security): resolve DDoS vulnerability and prompt injection, clean up stores
  src/app/api/ai/supervisor/security.ts
  src/app/dashboard/DashboardClient.tsx
  src/components/shared/UnifiedProfileHeader.tsx
  src/hooks/useAIChatSync.test.ts
  src/hooks/useAIChatSync.ts
  src/lib/security/in-memory-rate-limiter.ts
  src/lib/security/rate-limiter.ts
  src/stores/ai-chat-store.ts
  src/stores/modules/ai.store.ts
  src/stores/modules/system.store.ts
  src/stores/powerStore.ts
  src/stores/ui-store.ts
  src/stores/useSystemStatusStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(security): add XML prompt structure and circuit breaker forceOpen
  src/lib/ai/circuit-breaker.ts
  src/lib/ai/core/prompt-builder.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 5.86.0
  CHANGELOG.md
  cloud-run/ai-engine/package.json
  docs/README.md
  package-lock.json
  package.json
  public/manifest.json
  src/app/api/version/route.ts
  src/config/versions.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(vercel): reduce maxDuration to 60s for Hobby tier compatibility
  src/app/api/ai/supervisor/route.ts
  src/app/api/ai/supervisor/stream/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(vercel): add maxDuration=60 to AI proxy endpoints for Hobby tier
  src/app/api/ai/incident-report/route.ts
  src/app/api/ai/intelligent-monitoring/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

ci: add keep-alive workflow for Supabase free tier
  .github/workflows/keep-alive.yml
Due: prettier --write

fix(ci): add debug logging for keep-alive workflow
  .github/workflows/keep-alive.yml
Due: prettier --write

chore: cleanup unused archives and deprecated files
  .github/workflows/ci-backup.yml.disabled
  docs/archive/2025-12/ai-assistant-inspection-2025-12-27.md
  docs/archive/README.md
  docs/archived/QWEN.md.deprecated
  reports/planning/archive/2025-12/completed/ai-engine-improvement-plan-20251230.md
  reports/planning/archive/2025-12/completed/ai-engine-improvement-plan-v5.84.md
  reports/planning/archive/2025-12/completed/architecture-improvements-plan.md
  reports/planning/archive/2025-12/completed/context-compression-implementation-plan.md
  reports/planning/archive/2025-12/completed/job-queue-implementation-plan.md
  reports/planning/archive/2025-12/completed/langchain-to-vercel-ai-sdk-migration-plan.md
  reports/planning/archive/2025-12/completed/multi-agent-redesign-plan.md
  reports/planning/archive/2025-12/completed/upstash-redis-integration-plan.md
  reports/planning/archive/2025-12/docs-structure-improvement-plan-2025-12-19.md
  reports/planning/archive/2025-12/document-inspection-plan-2025-12-19.md
  reports/planning/archive/2025-12/improvement-workplan-2025-12-18.md
  reports/planning/archive/2025-12/templates/work-plan-template.md
  reports/planning/archive/2026-01/p2-large-file-split-plan.md
  src/app/api/[...catchall]/route.ts.disabled
  src/app/api/ai/performance/benchmark/route.ts.disabled
  supabase/migrations/archived/20241213_langgraph_checkpoints.sql
  supabase/migrations/archived/20250116_create_template_backup_tables.sql
  supabase/migrations/archived/20250127_enable_pgvector.sql
  supabase/migrations/archived/20250807_create_hourly_server_states.sql
  supabase/migrations/archived/20250906_upgrade_to_hnsw_index.sql
  supabase/migrations/archived/20250929_add_response_to_query_logs.sql
  supabase/migrations/archived/20251017_create_portfolio_server_tables.sql
  supabase/migrations/archived/20251017_seed_portfolio_server_data.sql
  supabase/migrations/archived/20251124_rate_limits_table.sql
  supabase/migrations/archived/20251204_create_ml_training_results_table.sql
  supabase/migrations/archived/20251213_create_langgraph_checkpoints.sql
  supabase/migrations/archived/README.md
Due: prettier --write

chore: remove unused SafePerformanceScript component
  src/components/security/SafePerformanceScript.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
