Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

🎯 fix: useSystemStatus useEffect 의존성 최적화 - 핵심 대시보드 훅 수정
  src/hooks/useSystemStatus.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎯 fix: DashboardContent useEffect 함수 의존성 해결 - 핵심 원인 수정
  src/components/dashboard/DashboardContent.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🚀 fix: AISidebarV3 함수 의존성 완전 해결 - Vercel 캐시 문제 핵심 해결
  src/domains/ai-sidebar/components/AISidebarV3.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🎉 fix: 대시보드 TypeError: w is not a function 완전 해결 - 13개 파일 의존성 최적화
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/profile/hooks/useProfileMenu.ts
  src/hooks/useSupabaseSession.ts
  src/stores/useAISidebarStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎉 fix: useEffect 의존성 최적화 완료 - TypeError: w is not a function 근본 해결
  src/components/dashboard/transition/SystemBootSequence.tsx
  src/hooks/useWebSocket.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎯 fix: TypeError 완전 근절 - 최종 3개 핵심 파일 의존성 최적화
  src/app/main/page.tsx
  src/components/ai/pages/InfrastructureOverviewPage.tsx
  src/hooks/useInitialAuth.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎉 fix: TypeError 완전 해결 - 추가 3개 핵심 파일 React hooks 의존성 최적화 (files 28-30)
  src/app/auth/callback/page.tsx
  src/app/auth/error/page.tsx
  src/components/dashboard/EnhancedServerModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🎯 fix: 추가 6개 파일 수정으로 TypeError: w is not a function 완전 근절
  src/app/dashboard/DashboardClient.tsx
  src/hooks/useSystemChecklist.ts
  src/hooks/useSystemControl.ts
  src/hooks/useSystemIntegration.ts
  src/hooks/useSystemState.ts
  src/hooks/useVMBackend.ts
  src/hooks/useWebSocket.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: GitHub Actions npm audit 429 에러 완전 해결 + 마지막 useEffect 의존성 최적화
  .github/workflows/security-check.yml
  .github/workflows/security-review.yml
  .npmrc
  src/app/admin/AdminClient.tsx
  src/app/auth/success/page.tsx
  src/app/login/LoginClient.tsx
  src/components/shared/FeatureCardModal.tsx
  src/components/shared/UnifiedProfileHeader.tsx
  src/components/unified-profile/UnifiedSettingsPanel.tsx
  src/domains/ai-sidebar/hooks/useAIEngine.ts
  src/domains/ai-sidebar/hooks/useAIThinking.ts
  src/stores/useAISidebarStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: GitHub Actions npm ci 429 Rate Limiting 완전 해결
  .github/workflows/ci-optimized.yml
  .github/workflows/lighthouse.yml
  .github/workflows/security-check.yml
  .github/workflows/security-review.yml
  .github/workflows/simple-deploy.yml
  .github/workflows/tdd-cleanup.yml
Due: prettier --write

🎯 fix: useEffect 의존성 완전 근절 - TypeError: w is not a function 최종 해결
  src/components/unified-profile/hooks/useSettingsData.ts
  src/hooks/api/useInfiniteQueries.ts
  src/hooks/api/useRealtimeServers.ts
  src/hooks/useAIAssistantData.ts
  src/hooks/useCachedServers.ts
  src/hooks/useOptimizedRealtime.ts
  src/hooks/useRealTimeAILogs.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: React is not defined 에러 해결 - JSX Transform 및 React alias 최적화
  next.config.mjs
  scripts/optimize/optimize-type-imports.js
  scripts/optimize/remove-unused-react-imports.js
  scripts/optimize/verify-edge-compatibility.js
  src/components/ai/shared/BasePanelLayout.tsx
  src/components/charts/AlertsChart.tsx
  src/components/charts/AvailabilityChart.tsx
  src/components/charts/PerformanceChart.tsx
  src/components/charts/TrendsChart.tsx
  src/components/dashboard/ServerModalErrorBoundary.tsx
  src/components/dashboard/transition/SmoothTransition.tsx
  src/components/performance/LazyComponentLoader.tsx
  src/components/performance/OptimizedAnimations.tsx
  src/components/performance/OptimizedLazyLoader.tsx
  src/components/providers/QueryProvider.tsx
  src/components/providers/StoreProvider.tsx
  src/components/providers/SupabaseAuthProvider.tsx
  src/components/shared/UnifiedProfileHeader.tsx
  src/components/system/SystemStateChecker.stories.tsx
  src/components/ui/alert.stories.tsx
  src/components/ui/badge.stories.tsx
  src/components/ui/button.stories.tsx
  src/components/ui/card.stories.tsx
  src/components/ui/input.stories.tsx
  src/stores/useAISidebarStore.ts
  src/types/global.d.ts
  src/types/next.d.ts
  src/types/recharts.d.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: TypeError: w is not a function 추가 해결 - 프로필 훅 useEffect 최적화
  src/components/profile/hooks/useProfileMenu.ts
  src/components/profile/hooks/useProfileSecurity.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: useEffect 함수 의존성 복구로 TypeError: w is not a function 완전 해결
  src/app/dashboard/DashboardClient.tsx
  src/app/main/page.tsx
  src/components/ai/pages/InfrastructureOverviewPage.tsx
  src/hooks/useInitialAuth.ts
  src/hooks/usePerformanceGuard.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎯 fix: 대시보드 핵심 파일들 함수 의존성 복구 - Phase 2
  src/components/dashboard/DashboardContent.tsx
  src/components/dashboard/ImprovedServerCard.tsx
  src/domains/ai-sidebar/components/AISidebarV3.tsx
  src/hooks/useServerDashboard.ts
  src/hooks/useSystemStatus.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎯 fix: useEffect 의존성 완전 근절 - TypeError: w is not a function 최종 해결
  src/components/dashboard/transition/SystemBootSequence.tsx
  src/components/profile/hooks/useProfileMenu.ts
  src/components/shared/UnifiedProfileHeader.tsx
  src/hooks/useSupabaseSession.ts
  src/hooks/useSystemChecklist.ts
  src/hooks/useSystemControl.ts
  src/hooks/useSystemIntegration.ts
  src/hooks/useSystemState.ts
  src/hooks/useVMBackend.ts
  src/hooks/useWebSocket.ts
  src/stores/useAISidebarStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎯 fix: 모든 함수 의존성 완전 복구 - TypeError: w is not a function 근절 완료
  src/app/admin/AdminClient.tsx
  src/app/auth/callback/page.tsx
  src/app/auth/success/page.tsx
  src/components/shared/FeatureCardModal.tsx
  src/components/unified-profile/hooks/useSettingsData.ts
  src/domains/ai-sidebar/hooks/useAIEngine.ts
  src/hooks/api/useInfiniteQueries.ts
  src/hooks/api/useRealtimeServers.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚨 fix: 베르셀 프로필 드롭다운 문제 완전 해결 - router 의존성 제거
  src/components/profile/hooks/useProfileAuth.ts
  src/components/profile/hooks/useProfileMenu.ts
  src/components/shared/UnifiedProfileHeader.tsx
  src/hooks/useSupabaseSession.ts
Due: eslint --fix --max-warnings 0, prettier --write

🤖 feat: AI 교차 검증 시스템 Codex 통합 검증 완료
  package.json
  scripts/copilot/generate-copilot-report.ts
  test_codex.sh
  test_codex2.sh
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Vercel "React is not defined" 에러 해결 - JSX Transform 설정 완료
  next.config.mjs
  tsconfig.json
Due: prettier --write

🔧 fix: webpack React alias 강화로 "React is not defined" 완전 해결
  next.config.mjs
Due: none

🎉 fix: AI 교차 검증으로 React is not defined 완전 해결 - react-vis 호환성 문제 근본 해결
  package-lock.json
  package.json
  src/components/charts/prototypes/RealtimeChartVis.tsx
  src/components/profile/hooks/useProfileAuth.ts
  src/components/profile/hooks/useProfileMenu.ts
  src/hooks/useSupabaseSession.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: Vercel 배포 실패 해결 - UI 컴포넌트 forwardRef import 누락 수정
  fix-remaining-ui-imports.sh
  src/components/ui/accordion.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/pagination.tsx
  src/components/ui/popover.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/switch.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/components/ui/tooltip.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: Fragment is not defined 에러 해결 - 프로필 드롭다운 완전 수정
  src/components/dashboard/SimulateProgressBar.tsx
  src/components/dashboard/StatusIcon.tsx
  src/components/dashboard/transition/ServerCardSpawner.tsx
  src/components/dashboard/transition/SystemBootSequence.tsx
  src/components/dashboard/transition/SystemChecklist.tsx
  src/components/unified-profile/EnhancedProfileStatusDisplay.tsx
  src/components/unified-profile/UnifiedSettingsPanel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: 프로필 드롭다운 React Import 문제 해결 완전 문서화
  CHANGELOG.md
  docs/troubleshooting/profile-dropdown-react-import-issue.md
  docs/troubleshooting/react-import-troubleshooting-guide.md
Due: prettier --write

🔧 fix: TypeScript 오류 대폭 해결 - 주요 타입 문제 수정 완료
  src/app/api/servers/all/route.ts
  src/components/admin/AdminDashboardCharts.optimized.tsx
  src/components/admin/AdminDashboardCharts.tsx
  src/components/admin/GCPQuotaMonitoringDashboard.tsx
  src/components/admin/LogDashboard.Analytics.tsx
  src/components/ai/AIAssistantIconPanel.tsx
  src/components/ai/AIEngineTest.tsx
Due: eslint --fix --max-warnings 0, prettier --write

✅ fix: GitHub 로그인 사용자 대시보드 접근성 완전 검증
  src/app/main/page.tsx
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/profile/components/AdminAuthModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: GCP VM 통합 시스템 완전 구축 - AI 교차 검증 기반 3-tier 아키텍처
  scripts/deploy-to-gcp-vm.sh
  scripts/gcp-vm-server.js
  scripts/test-gcp-vm-integration.sh
  src/app/api/servers/all/route.ts
  src/components/shared/ServerMetricsLineChart.tsx
  src/lib/circuit-breaker.ts
  src/lib/gcp-vm-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: Edge Runtime 호환성 문제 해결 - process.memoryUsage() 안전 처리
  src/config/serverConfig.ts
Due: eslint --fix --max-warnings 0, prettier --write

📚 docs: GCP VM 표준 메트릭 시스템 완전 문서화 - AI 분석 무결성 보장
  CHANGELOG.md
  docs/gcp/ai-analysis-integrity-guide.md
  docs/gcp/gcp-vm-ai-backend-guide.md
  docs/gcp/gcp-vm-api-versions-comparison.md
  docs/gcp/gcp-vm-standard-metrics-guide.md
Due: prettier --write

🔧 feat: GCP VM 통합 시스템 확장 및 개발 환경 최적화
  .claude/security-review-queue.txt
  .claude/settings.json
  .claude/verification-queue.txt
  .wslconfig
  cloud-shell-deploy.sh
  scripts/check-gcp-billing.sh
  scripts/cloud-shell-vm-setup.sh
  scripts/deploy-to-gcp-vm.sh
  scripts/gcp-firewall-setup.md
  scripts/gcp-vm-server.js
  scripts/gcp/vm-cleanup-phase1.sh
  scripts/github-pages-vm-data.sh
  scripts/test-gcp-vm-integration.sh
  scripts/update-nextjs-config.sh
  scripts/vm-json-generator.sh
  src/app/api/mcp/gcp-vm/route.ts
  src/config/serverConfig.ts
  src/lib/circuit-breaker.ts
  src/lib/gcp-vm-client.ts
  src/services/mcp/components/MCPServerManager.ts
  src/test/mocks/external-apis.ts
  test-vm-connection.sh
Due: eslint --fix --max-warnings 0, prettier --write

📊 feat: Supabase 스키마 개선 완료 - v5.70.3
  CHANGELOG.md
  docs/MCP-GUIDE.md
Due: prettier --write

🔧 fix: 문서에서 하드코딩된 날짜 제거
  CHANGELOG.md
  docs/MCP-GUIDE.md
Due: prettier --write

✅ feat: ANSI escape sequence 문제 완전 해결 - Task 서브에이전트 방식 전환
  .claude/settings.json
  .claude/verification-queue.txt
  .mcp.json
  docs/ai-tools/ai-cross-verification-success-history.md
  docs/mcp/mcp-complete-installation-guide-2025.md
  package.json
  scripts/wsl/apply-wsl-config.ps1
Due: prettier --write

🔧 fix: ccusage statusline 설정 완전 최적화 - AI 교차 검증 기반
  .claude/settings.json
Due: prettier --write

🔄 feat: AI 교차검증 시스템 완전 개선 - 모든 AI가 전반적 종합 검토 수행
  .claude/agents/codex-wrapper.md
  .claude/agents/external-ai-orchestrator.md
  .claude/agents/gemini-wrapper.md
  .claude/agents/qwen-wrapper.md
Due: prettier --write

🎨 fix: Vercel 그라데이션 애니메이션 완전 해결 - Tailwind 설정 누락 keyframe 추가
  tailwind.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 대시보드 서버 로딩 문제 해결 - 폴백 데이터 일관성 및 로깅 강화
  src/app/api/servers/all/route.ts
  src/lib/gcp-vm-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔒 feat: AI 분석 순수성 보장 시스템 완성 - 시나리오 정보 완전 은닉
  public/server-scenarios/afternoon-scenario.json
  public/server-scenarios/evening-scenario.json
  public/server-scenarios/lunch-peak-scenario.json
  public/server-scenarios/morning-scenario.json
  public/server-scenarios/night-maintenance-scenario.json
  scripts/gcp-vm-server.js
  src/app/api/servers/all/route.ts
  src/lib/gcp-vm-client.ts
  src/stores/serverDataStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
