Repository skyasu2/openmanager-vibe-v5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

🔧 fix: ANSI escape sequence [1;1R 문제 완전 해결
  .claude/settings.json
  CLAUDE.md
  fix-react-patterns.sh
  fix-react-types.sh
  fix-remaining-react-types.sh
  fix-remaining-ui-imports.sh
  test-vm-connection.sh
  test_codex.sh
  test_codex2.sh
  verify-wsl-environment.sh
Due: prettier --write

🐛 fix: createElement is not defined 에러 해결 - React import 누락 문제 수정
  src/components/ai/AIModeSelector.tsx
  src/components/ai/SixWPrincipleDisplay.tsx
  src/components/ai/pages/MLLearningCenter.tsx
  src/domains/ai-sidebar/components/AIEngineDropdown.tsx
  src/domains/ai-sidebar/components/AIEngineSelector.tsx
  src/domains/ai-sidebar/components/AISidebarV3.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: GCP VM 통합 완전 해결 - 10개 서버 정상 표시
  src/app/api/servers/all/route.ts
  src/lib/gcp-vm-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Vercel deprecated name property 제거
  vercel.json
Due: prettier --write

🔍 debug: GCP VM 연결 실패 상세 로깅 추가
  src/lib/gcp-vm-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Vercel Edge Runtime 제한 해결 - Node.js Runtime 전환
  vercel.json
Due: prettier --write

🔍 fix: API 응답에 GCP VM 연결 에러 디버깅 정보 추가
  src/app/api/servers/all/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 test: 베르셀 배포 트리거 테스트 - 최신 GCP 수정사항 적용
  src/app/api/servers/all/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: GCP VM Raw 데이터를 EnhancedServerMetrics로 변환하는 로직 구현
  src/lib/gcp-vm-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 베르셀 네트워크 제한 우회 - 정적 JSON 파일 폴백 시스템 구현
  public/gcp-vm-data.json
  public/gcp-vm-proxy.html
  src/lib/gcp-vm-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 정적 JSON 대신 API 라우트 사용 - 베르셀 네트워크 제한 해결
  src/app/api/gcp-vm-data/route.ts
  src/lib/gcp-vm-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 fix: 베르셀 배포 트리거 - API 라우트 로깅 추가
  src/app/api/gcp-vm-data/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: vercel.json에 gcp-vm-data API 라우트 설정 추가
  vercel.json
Due: prettier --write

🔧 fix: API 라우트 Next.js 표준 구조로 수정
  src/app/api/gcp-vm-data/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

💰 feat: 무료 티어 최적화 - 베르셀 함수 실행시간 90% 절약
  src/lib/gcp-vm-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: /api/gcp-vm-data 404 우회 - servers/all에 10개 서버 데이터 직접 통합
  src/app/api/servers/all/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: GCP VM Client Mock 데이터 10개 서버로 확장 - 완전한 통합 완료
  src/lib/gcp-vm-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔄 fix: 베르셀 재배포 트리거 - 10개 서버 데이터 적용 강제 업데이트
  .vercel-redeploy-trigger.txt
Due: none

🚀 feat: API v2 엔드포인트 추가 - 베르셀 캐시 우회로 10개 서버 데이터 직접 제공
  src/app/api/servers/v2/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: API v2 경로 수정 - 동적 라우팅 충돌 해결
  src/app/api/v2/servers/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔥 fix: 베르셀 캐시 무효화 강제 배포 - 10개 서버 데이터 확정
  .vercel-redeploy-trigger.txt
  src/app/api/servers/all/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🚀 feat: API v3 엔드포인트 추가 - 15개 서버 데이터 완전 우회 솔루션
  src/app/api/data/servers/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

⚡ feat: MCP 서버 최적화 - 토큰 사용량 15-25% 절약
  .mcp.json
Due: prettier --write

🔧 feat: MCP 서버 최적화로 27% 토큰 절약 달성
  .claude/agents/mcp-mapping.json
  CLAUDE.md
Due: prettier --write

🚀 feat: 서버 모니터링 시스템 완전 개선 - Box-Muller 정규분포 + 장애 시나리오
  src/app/api/servers/all/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Vercel 배포 오류 해결 - nodejs18.x → nodejs20.x 런타임 업데이트
  vercel.json
Due: prettier --write

🔥 fix: Vercel CLI 46.1.0 호환성 완전 해결 - runtime 필드 제거
  vercel.json
Due: prettier --write

🔧 fix: Vercel 배포 경고 완전 해결 - Edge Runtime 최적화, Node.js 버전 고정, 메모리 설정 정리
  package.json
  src/app/api/ai/edge-v2/route.ts
  src/app/api/ai/query/route.ts
  src/app/api/data/servers/route.ts
  src/app/api/mcp/query/route.ts
  src/app/api/security/csp-report/route.ts
  src/app/not-found.tsx
  src/domains/ai-sidebar/components/AISidebarV3.tsx
  src/domains/ai-sidebar/hooks/useAIEngine.ts
  src/domains/ai-sidebar/services/RealAISidebarService.ts
  src/domains/ai-sidebar/utils/aiQueryHandlers.ts
  src/services/ai/edge/edge-ai-router.ts
  src/services/ai/streaming-ai-engine.ts
  src/services/ai/ultrafast-ai-router.ts
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: 마지막 Edge Runtime 제거 - ultra-fast API 라우트 Node.js 전환
  src/app/api/ai/ultra-fast/route.ts
Due: eslint --fix --max-warnings 0, prettier --write

🔧 fix: Node.js 버전 Vercel 설정과 통일 - 경고 완전 해결
  package.json
Due: prettier --write

📚 docs: Vercel 배포 성공 문서화 및 WSL 환경 상태 업데이트
  CHANGELOG.md
  CLAUDE.md
  docs/deployment/vercel-deployment-warnings-analysis.md
Due: prettier --write

📚 docs: 문서 정리 및 최적화 완료 - 18.2% 감소 (274→224개)
  CLAUDE.md
  README.md
  docs/DOCUMENT-INDEX.md
  docs/README.md
  docs/ai-tools/AI-SYSTEMS-COMPLETE.md
  docs/ai-tools/ai-tools-comparison.md
  docs/ai-tools/sub-agent-collaboration-patterns.md
  docs/ai-tools/sub-agents-comprehensive-guide.md
  docs/ai/ai-complete-guide.md
  docs/ai/ai-system-unified-guide.md
  docs/blog/README.md
  docs/blog/ai-verification/4-ai-cross-validation-experiment.md
  docs/blog/blog-content-roadmap.md
  docs/blog/development-journey/syseng-skill-expansion-project.md
  docs/blog/development-journey/syseng-to-fullstack-transformation.md
  docs/blog/lessons-learned/syseng-practical-applications.md
  docs/claude/mcp-servers-complete-guide.md
  docs/gcp/gcp-vm-mcp-analysis-report.md
  docs/mcp/github-mcp-2025-update.md
  docs/mcp/github-mcp-troubleshooting.md
  docs/system-architecture.md
Due: prettier --write

🐛 fix: createElement 오류 및 GCP VM 제거 후 완전 수정
  src/app/admin/AdminClient.tsx
  src/app/api/servers/all/route.ts
  src/app/auth/success/page.tsx
  src/app/dashboard/page.tsx
  src/lib/gcp-vm-client.ts
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 핵심 컴포넌트 React import 누락 해결 - createElement 오류 완전 차단
  src/components/profile/components/ProfileDropdownMenu.tsx
  src/components/shared/FeatureCardModal.tsx
  src/components/shared/UnifiedProfileHeader.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: 관리자 페이지 VM 데이터 안전 처리 완료 - undefined 오류 해결
  src/app/admin/AdminClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🐛 fix: AdminClient toFixed 오류 완전 해결 - 관리자 페이지 안전성 강화
  src/app/admin/AdminClient.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🎨 feat: 대시보드 서버 카드 UX 완전 개선 - 사용자 피드백 반영
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/shared/ServerMetricsLineChart.tsx
Due: eslint --fix --max-warnings 0, prettier --write

🤖 feat: AI 교차검증 기반 대시보드 개선 완료 - 3-AI 승인 (8.1/10)
  .claude/ai-cross-verification-complete-report.md
  .claude/ai-verification-request.md
  src/components/dashboard/ImprovedServerCard.tsx
  src/components/error/ServerCardErrorBoundary.tsx
  src/utils/metricValidation.ts
Due: eslint --fix --max-warnings 0, prettier --write

🤖 feat: 4-AI 교차 검증 시스템 완전 구축 - Codex CLI 포함 완성
  .claude/agents/ai-verification-coordinator.md
  .claude/agents/external-ai-orchestrator.md
  src/app/api/servers/all/route.ts
  src/services/ai/MockContextLoader.ts
  src/services/unified-data-service.ts
Due: eslint --fix --max-warnings 0, prettier --write

🎉 feat: GCP VM 완전 제거 및 Mock 시뮬레이션 전환 완료
  .claude/agents/gcp-cloud-functions-specialist.md
  .claude/agents/gcp-vm-specialist.md
  public/gcp-vm-data.json
  public/server-scenarios/afternoon-scenario.json
  public/server-scenarios/evening-scenario.json
  public/server-scenarios/lunch-peak-scenario.json
  public/server-scenarios/morning-scenario.json
  public/server-scenarios/night-maintenance-scenario.json
  scripts/deploy-to-gcp-vm.sh
  scripts/gcp-vm-server.js
  scripts/test-gcp-vm-integration.sh
  src/app/api/gcp-vm-data/route.ts
  src/app/api/servers/all/route.ts
  src/app/api/v2/servers/route.ts
  src/data/feature-cards.data.ts
  src/hooks/useVMBackend.ts
  src/lib/env-safe.ts
  src/lib/gcp-vm-client.ts
  src/services/ai/SimplifiedQueryEngine.processors.googleai.ts
  src/services/ai/SimplifiedQueryEngine.processors.localai.ts
  src/services/ai/SimplifiedQueryEngine.ts
  src/services/ai/SimplifiedQueryEngine.types.ts
  src/services/ai/__tests__/SimplifiedQueryEngine.test.ts
  src/services/vm/VMBackendConnector.ts
  src/utils/env.ts
  vm-context-api/app.js
  vm-context-api/package.json
  vm-context-api/setup-service.js
Due: eslint --fix --max-warnings 0, prettier --write
